{% extends 'base.html.twig' %}

{% block title %}Gestion des newsletters{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-paper-plane"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Gestion des newsletters</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-cogs"></i> Compte Brevo</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa fa-user"></i></span>
                            <strong>Compte Brevo</strong>
                            {% if brevo.error %}
                                <span class="badge bg-danger">Erreur</span>
                            {% else %}
                                <br>{{ brevo.account.firstName }}
                                <span class="smallcaps">{{ brevo.account.lastName }}</span>
                                <em>{{ brevo.account.companyName }}</em>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa fa-envelope"></i></span>
                            <strong>Crédits mail</strong>
                            {% if brevo.error %}
                                <span class="badge bg-danger">Erreur</span>
                            {% else %}
                                {{ brevo.subscription }}
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa-solid fa-comment-sms"></i></span>
                            <strong>Crédits SMS</strong>
                            {% if brevo.error %}
                                <span class="badge bg-danger">Erreur</span>
                            {% else %}
                                {{ brevo.sms }}
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa-solid fa-cog"></i></span>
                            <strong>Attributs</strong>
                            {% if brevo.error %}
                                <span class="badge bg-danger">Erreur</span>
                            {% else %}
                                <br>{% for attribute in brevo.attributes %}
                                    <span class="badge bg-{%
                                        if attribute == firstnameAttribute or attribute == lastnameAttribute %}primary{% else %}secondary{% endif %}">
                                        {{ attribute }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </li>
                    </ul>

                    {% if brevo.error %}
                        <p class="alert alert-danger mt-1">
                            <strong>Erreur&nbsp;:</strong>
                            {% if brevo.errorApiKey %}
                                La clé API semble invalide
                            {% else %}
                                {{ brevo.errorMessage }}
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-solid fa-folder"></i> Dossiers existants sur Brevo</h2>
                    <ul class="list-group">
                        {% for folder in folders %}
                            <li class="list-group-item mb-1">
                                <span class="float-end text-center">
                                    {% if folder.exist %}
                                        <span class="badge bg-success">Synchronisé</span>
                                        {% if folder.enabled %}
                                            <a href="{{ path('newsletter.folder.toggle', {id: folder.id}) }}" class="text-success"><i class="fa-solid fa-toggle-on"></i></a>
                                        {% else %}
                                            <a href="{{ path('newsletter.folder.toggle', {id: folder.id}) }}" class="text-danger"><i class="fa-solid fa-toggle-off"></i></a>
                                        {% endif %}
                                    {% else %}
                                        <span class="badge bg-danger">N’existe plus dans Brevo</span>
                                        <form id="delete_form_folder_{{ folder.id }}" method="post" action="{{ path('newsletter.folder.delete', {id: folder.id}) }}" class="d-inline">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ folder.id) }}">
                                            <a class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                        </form>
                                    {% endif %}
                                </span>
                                <strong>{{ folder.name }}</strong>
                            </li>
                        {% else %}
                            <p class="alert alert-info">
                                Aucun dossier synchronisé, cliquez sur le bouton <em>Actualiser</em> ci-dessous.
                            </p>
                        {% endfor %}
                        <p class="text-center">
                            <a href="{{ path('newsletter.folder.sync') }}" class="btn btn-success"><i class="fa-solid fa-rotate"></i> Actualiser</a>
                        </p>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-solid fa-inbox"></i> Listes synchronisables avec Brevo</h2>
                    <ul class="list-group mb-1">
                        {% set folder = 0 %}
                        {% for newsletter in newsletters %}
                            {% if newsletter.entity.folder.id != folder %}
                                <li class="list-group-item">
                                    <i class="fa-solid fa-folder"></i> <strong>{{ newsletter.entity.folder.name }}</strong>
                                </li>
                                {% set folder = newsletter.entity.folder.id %}
                            {% endif %}
                            <li class="list-group-item">
                                <span class="float-end text-center">
                                    {% if newsletter.entity.exist %}
                                        <span class="badge bg-success">{{ newsletter.uniqueSubscribers }} inscrits</span>
                                        <span class="badge bg-dark">{{ newsletter.totalBlacklisted }} blacklistés</span>
                                    {% else %}
                                        <span class="badge bg-danger">N’existe plus dans Brevo</span>
                                        <form id="delete_form_newsletter_{{ newsletter.entity.id }}" method="post" action="{{ path('newsletter.list.delete', {id: newsletter.entity.id}) }}" class="d-inline">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newsletter.entity.id) }}">
                                            <a class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                        </form>
                                    {% endif %}
                                </span>
                                <span class="{% if not newsletter.entity.exist %}text-decoration-line-through text-danger{% endif %}">
                                    <a href="{{ path('newsletter.show', {id: newsletter.entity.id}) }}">{{ newsletter.entity.name }}</a>
                                </span><br>
                                <span class="text-{% if newsletter.entity.success %}success{% else %}danger{% endif %}">
                                    {% if newsletter.entity.lastSync %}
                                        {{ newsletter.entity.lastSync|date('d/m/Y H:i') }}
                                    {% else %}
                                        Jamais synchronisé
                                    {% endif %}
                                </span>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <p class="mb-0 alert alert-info">Aucune liste synchronisée, cliquez sur le bouton <em>Actualiser</em> ci-dessous.</p>
                            </li>
                        {% endfor %}
                    </ul>
                    <p class="text-center">
                        <a href="{{ path('newsletter.list.sync') }}" class="btn btn-success"><i class="fa-solid fa-rotate"></i> Actualiser</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-solid fa-rotate"></i> Synchronisation</h2>
                    <p class="text-center">
                        <a href="{{ path('newsletter.sync') }}" class="btn btn-success"><i class="fa-solid fa-rotate"></i> Synchroniser</a>
                    </p>
                    <p class="text-info text-center">
                        Une synchronisation automatique a lieu toutes les nuits. La synchro manuelle peut ne pas fonctionner à cause du temps nécessaire à celle-ci.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-solid fa-question-circle"></i> Aide</h2>
                    <p>
                        Vous n’avez besoin d’actualiser les dossiers et les listes que lorsque vous changez quelque chose sur Brevo (boutons <em>Actualiser</em>).
                        Mais, vous pouvez synchroniser les inscriptions dans les listes autant que nécessaires (bouton <em>Synchroniser</em>).
                    </p>
                    <p class="text-warning">
                        Aucun contact ne sera supprimé dans Brevo. Ils seront juste retirés des listes si besoin. Ainsi, nous vous conseillons d’aller vous même
                        supprimer les contacts qui sont dans aucune liste.
                    </p>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script defer>
        {% for folder in folders %}
        deleteAlert('#delete_form_folder_{{ folder.id }}');
        {% endfor %}
        {% for newsletter in newsletters %}
        deleteAlert('#delete_form_newsletter_{{ newsletter.entity.id }}');
        {% endfor %}
    </script>
{% endblock %}

