{% extends 'base.html.twig' %}

{% block title %}Newsletter {{ newsletter.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-paper-plane"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Newsletter <em>{{ newsletter.name }}</em></h1>
                                <p>
                                    <span class="badge bg-{% if newsletter.success %}success{% else %}danger{% endif %}">
                                        {% if newsletter.lastSync %}
                                            {{ newsletter.lastSync|date('d/m/Y H:i') }}
                                        {% else %}
                                            Jamais synchronisé
                                        {% endif %}
                                    </span>
                                    {% for aggregate in newsletter.aggregates %}
                                        <span class="badge bg-dark">
                                            <i class="fa-solid fa-list-alt"></i>
                                            {{ aggregate.name }}
                                        </span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('newsletter.index') }}" class="btn btn-primary text-white">
                                    <i class="fas fa-arrow-left"></i>
                                    Retour
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <div data-enoria-type="person" data-enoria-for="subscribedPeople" class="toolbar float-end mb-1"></div>
                    </div>
                    <div class="datatable-wide">
                        <table id="subscribedPeople" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Statut</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subscription in subscriptions  %}
                                <tr data-person-id="{{ subscription.person.id }}">
                                    <td class="text-start"
                                        data-order="{{ subscription.person.lastname }} {{ subscription.person.firstname }}"
                                        data-search="{{ subscription.person.getFullname() }}"
                                    >
                                        <p class="m-0">
                                            <a href="{{ path('person.show', {'id': subscription.person.id}) }}">{{ subscription.person.getFullname(true, true) | raw }}</a>
                                        </p>
                                    </td>
                                    <td data-search="{{ subscription.person.email }}">
                                        {{ subscription.person.email }}
                                    </td>
                                    <td>
                                    <span class="badge bg-{%
                                        if subscription.status == 'subscribed' %}success{%
                                        elseif subscription.status == 'blacklisted' %}dark{%
                                        else %}danger{%
                                        endif %}">
                                        {% if subscription.status == 'subscribed' %}
                                            synchronisé
                                        {% elseif subscription.status == 'blacklisted' %}
                                            blacklisté
                                        {% else %}
                                            non synchronisé
                                        {% endif %}
                                    </span>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script defer>
        new DataTable('#subscribedPeople', {
            pageLength: 50,
            select: {style: 'multi'},
            responsive: true,
            searching: true,
        });
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}

