{% if paymentRequests|length > 0 %}
new DataTable('#paymentRequestsList', {
    'pageLength': 10,
    'select': {style: 'multi'},
    'responsive': true,
    'searching': true,
    'order': [[0, 'desc']],
});
{% endif %}
{% if payments|length > 0 %}
new DataTable('#paymentsList', {
    'pageLength': 10,
    'select': {style: 'multi'},
    'responsive': true,
    'searching': true,
    'order': [[1, 'desc']],
});
{% endif %}
