<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2><i class="fa-solid fa-hand-holding-dollar"></i> Demandes de paiement</h2>
                <table id="paymentRequestsList" class="table table-striped table-bordered table-middle text-center">
                    <thead>
                    <tr>
                        <th class="text-center">Date</th>
                        <th>Description</th>
                        <th>Montant</th>
                        <th>Solde</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment_request in paymentRequests %}
                        <tr>
                            <td
                                data-order="{{ payment_request.datetime|date('Y-m-d H:i:s') }}"
                                data-search="{{ payment_request.datetime|date('d/m/Y') }}"
                                class="text-center"
                            >
                                <a href="{{ path('accounting.payment_request.show', {'id': payment_request.id}) }}">
                                    {{ payment_request.datetime|date('d/m/Y') }}
                                </a><br>
                                {% if payment_request.status == 'completed' %}
                                    <span class="badge bg-success">Soldée</span>
                                {% elseif payment_request.status == 'in_progress' %}
                                    <span class="badge bg-warning">En cours</span>
                                {% elseif payment_request.status == 'canceled' %}
                                    <span class="badge bg-danger">Annulée</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('accounting.payment_request.show', {'id': payment_request.id}) }}">{{ payment_request.description }}</a>
                            </td>
                            <td data-order="{{ payment_request.amount }}" data-search="{{ payment_request.amount }} {{ payment_request.amount|format_currency('EUR') }}">
                                <span class="text-{%
                                    if payment_request.amount|abs <= payment_request.amountPaid
                                %}success{% else %}danger{% endif %}">{{ payment_request.amount|format_currency('EUR') }}</span>
                            </td>
                            <td data-order="{{ payment_request.amount|abs - payment_request.amountPaid }}" data-search="{{ payment_request.amount|abs - payment_request.amountPaid }} {{ (payment_request.amount|abs - payment_request.amountPaid)|format_currency('EUR') }}">
                                <span class="text-{%
                                    if payment_request.amount|abs <= payment_request.amountPaid
                                %}success{% else %}danger{% endif %}">{{ (payment_request.amount|abs - payment_request.amountPaid)|format_currency('EUR') }}</span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                {% if emptyMessage is defined %}{{ emptyMessage }}{% else %}Aucune demande de paiement trouvé{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2><i class="fa-solid fa-file-invoice"></i> Paiements</h2>
                <table id="paymentsList" class="table table-striped table-bordered table-middle text-center">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">Date</th>
                        <th>Type</th>
                        <th>Montant</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td>
                                <a href="{{ path('accounting.payment.show', {'id': payment.id}) }}">
                                    #{{ payment.id }}
                                    {% if payment.receipt %}
                                        <i class="fa fa-receipt"></i>
                                    {% endif %}
                                </a><br>
                                <span class="badge bg-{%
                                    if payment.status == 'validated'
                                %}success{%
                                    elseif payment.status == 'canceled'
                                %}danger{%
                                    elseif payment.status == 'allocated'
                                %}primary{%
                                    else
                                %}warning{%
                                    endif
                                %}">{{ ('payment.status.' ~ payment.status)|trans({}, 'accounting') }}</span>
                            </td>
                            <td
                                data-order="{{ payment.datetime|date('Y-m-d H:i:s') }}"
                                data-search="{{ payment.datetime|date('d/m/Y') }}"
                                class="text-center"
                            >
                                <a href="{{ path('accounting.payment.show', {'id': payment.id}) }}">{{ payment.datetime|date('d/m/Y') }}</a>
                            </td>
                            <td>
                                {{ include('accounting/payment/_type.html.twig') }}
                            </td>
                            <td data-order="{{ payment.amount }}" data-search="{{ payment.amount }} {{ payment.amount|format_currency('EUR') }}">
                                <span class="text-{% if payment.amount > payment.amountAllocated %}danger{% else %}success{% endif %}">
                                    {{ payment.amount|format_currency('EUR') }}
                                </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                {% if emptyMessage is defined %}{{ emptyMessage }}{% else %}Aucun paiement trouvé{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
