{% extends 'base.html.twig' %}

{% block title %}Comptabilité{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-cash-register"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Comptabilité</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('accounting.payment_request.new') }}" class="btn btn-primary text-white"><i class="fas fa-plus"></i> Nouvelle demande de paiement</a>
                                <a href="{{ path('accounting.payment.new') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Saisir un paiement</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="text-center">
                <a href="{{ path('accounting.receipt') }}" class="btn btn-outline-primary"><i class="fa-solid fa-receipt"></i> Gestion des reçus</a>
            </p>
        </div>
        <div class="col">
            <p class="text-center">
                <a href="{{ path('accounting.sms.index') }}" class="btn btn-outline-primary"><i class="fa-solid fa-sms"></i> Facturation des SMS</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <a href="#collapseNeedPayments" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseNeedPayments" class="link-dark">
                            <h2 class="card-title collapse-title">
                                <i class="fa fa-hand-holding-dollar text-danger"></i> En attente de paiement
                            </h2>
                        </a>
                    </div>
                    <div class="collapse" id="collapseNeedPayments">
                        {{ include('accounting/payment_request/_list.html.twig', { table: 'needPayments', payment_requests: needPayments, emptyMessage: 'Aucun paiement en attente' }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <a href="#collapsePayments" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapsePayments" class="link-dark">
                            <h2 class="card-title collapse-title"><i class="fa fa-file-invoice-dollar"></i> Affectation des paiements</h2>
                        </a>
                    </div>
                    <div class="collapse" id="collapsePayments">
                        <h3>Paiements en attente d’affectation</h3>
                        {{ include('accounting/payment/_list.html.twig', { table: 'unallocatedPayments', payments: unallocatedPayments, emptyMessage: 'Tous les paiements ont été affectés' }) }}

                        <h3>Paiements affectés <em>(non validés)</em></h3>
                        <p class="alert alert-secondary">Uniquement les paiements de la période courante sont affichés</p>
                        {{ include('accounting/payment/_list.html.twig', { table: 'allocatedPayments', payments: allocatedPayments, emptyMessage: 'Aucun paiement affecté' }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <a href="#collapseValidatedPayments" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseValidatedPayments" class="col link-dark">
                            <h2 class="card-title collapse-title"><i class="fa fa-file-invoice text-success"></i> Paiements validés</h2>
                        </a>
                    </div>
                    <div class="collapse" id="collapseValidatedPayments">
                        <p class="alert alert-secondary">Uniquement les paiements de la période courante sont affichés</p>
                        {{ include('accounting/payment/_list.html.twig', { table: 'validatedPayments', payments: validatedPayments, emptyMessage: 'Aucun paiement validé' }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <a href="#collapseCompletedPayments" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseCompletedPayments" class="col link-dark">
                            <h2 class="card-title collapse-title"><i class="fa fa-receipt text-success"></i> Paiements soldés</h2>
                        </a>
                    </div>
                    <div class="collapse" id="collapseCompletedPayments">
                        <p class="alert alert-secondary">Uniquement les paiements de la période courante sont affichés</p>
                        {{ include('accounting/payment_request/_list.html.twig', { table: 'completedPayments', payment_requests: completedPayments, emptyMessage: 'Aucun paiement soldé', showBalance: false  }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <a href="#collapseCanceledPayments" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseCanceledPayments" class="col link-dark">
                            <h2 class="card-title collapse-title"><i class="fa fa-sack-xmark text-danger"></i> Paiements annulés</h2>
                        </a>
                    </div>
                    <div class="collapse" id="collapseCanceledPayments">
                        <p class="alert alert-secondary">Uniquement les paiements de la période courante sont affichés</p>

                        <h3>Demande de paiement</h3>
                        {{ include('accounting/payment_request/_list.html.twig', { table: 'canceledPaymentRequests', payment_requests: canceledPaymentRequests, emptyMessage: 'Aucune demande de paiement annulée'}) }}

                        <h3>Paiement</h3>
                        {{ include('accounting/payment/_list.html.twig', { table: 'canceledPayments', payments: canceledPayments, emptyMessage: 'Aucun paiement annulé' }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        {% if needPayments|length > 0 %}
        new DataTable('#needPayments', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[0, 'desc']],
        });
        {% endif %}

        {% if unallocatedPayments|length > 0 %}
        new DataTable('#unallocatedPayments', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[1, 'desc']],
        });
        {% endif %}

        {% if allocatedPayments|length > 0 %}
        new DataTable('#allocatedPayments', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[1, 'desc']],
        });
        {% endif %}

        {% if validatedPayments|length > 0 %}
        new DataTable('#validatedPayments', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[1, 'desc']],
        });
        {% endif %}

        {% if completedPayments|length > 0 %}
        new DataTable('#completedPayments', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[0, 'desc']],
        });
        {% endif %}

        {% if canceledPaymentRequests|length > 0 %}
        new DataTable('#canceledPaymentRequests', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[0, 'desc']],
        });
        {% endif %}

        {% if canceledPayments|length > 0 %}
        new DataTable('#canceledPayments', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[1, 'desc']],
        });
        {% endif %}
    </script>
{% endblock %}
