{% extends 'base.html.twig' %}

{% block title %}Gestion des reçus{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-receipt"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Gestion des reçus</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('accounting.index') }}" class="btn btn-primary text-white"><i class="fa-solid fa-rotate-left"></i> Revenir à la comptabilité</a>
                                <a href="{{ path('accounting.receipt.archive') }}" class="btn btn-success text-white"><i class="fa-solid fa-file-zipper"></i> Télécharger une archive</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <a href="#collapseReceipts" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseReceipts" class="link-dark">
                            <h2 class="card-title collapse-title"><i class="fa-solid fa-receipt"></i> Liste des reçus</h2>
                        </a>
                    </div>
                    <div class="collapse" id="collapseReceipts">
                        <p class="alert alert-secondary">Uniquement les reçus de la période courante sont affichés</p>
                        {{ include('accounting/receipt/_list.html.twig', { table: 'receipts', receipts: receipts, emptyMessage: 'Aucun reçu trouvé' }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <a href="#collapseMissingReceipts" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMissingReceipts" class="link-dark">
                            <h2 class="card-title collapse-title"><i class="fa-solid fa-receipt text-danger"></i> Paiements validés sans reçu</h2>
                        </a>
                    </div>
                    <div class="collapse" id="collapseMissingReceipts">
                        <p class="alert alert-secondary">Uniquement les reçus de la période courante sont affichés</p>
                        {{ include('accounting/payment/_list.html.twig', { table: 'missingReceipts', payments: missingReceipts, emptyMessage: 'Tous les paiements ont été affectés' }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <a href="#collapseMissingFiles" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMissingFiles" class="link-dark">
                            <h2 class="card-title collapse-title"><i class="fa-solid fa-file-excel text-danger"></i> Reçus non générés ou dont le fichier est manquant</h2>
                        </a>
                    </div>
                    <div class="collapse" id="collapseMissingFiles">
                        {{ include('accounting/receipt/_list.html.twig', { table: 'missingFiles', receipts: missingFiles, emptyMessage: 'Aucun fichier manquant' }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        {% if receipts|length > 0 %}
        new DataTable('#receipts', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[0, 'desc']],
        });
        {% endif %}

        {% if missingReceipts|length > 0 %}
        new DataTable('#missingReceipts', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[1, 'desc']],
        });
        {% endif %}

        {% if missingFiles|length > 0 %}
        new DataTable('#missingFiles', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            'order': [[0, 'desc']],
        });
        {% endif %}
    </script>
{% endblock %}
