{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                {{ form_row(form.name) }}
            </div>
        </div>
        <p class="alert alert-info">
            Si vous sélectionnez un agrégat, la liste des personnes appartenant à ce groupe sera écrasée à chaque
            synchronisation. Celle-ci a lieu automatiquement toutes les nuits.
        </p>
        <p class="alert alert-info">
            En rendant ce groupe visible, vous le rendrez visible pour toutes les personnes en faisant partie. Celles-ci
            pourront également afficher la fiche de chacun des membres du groupe.
        </p>
    </div>
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                {{ form_row(form.aggregate) }}
                {{ form_row(form.viewable) }}
            </div>
        </div>
    </div>
</div>

<p class="text-center">
    <a href="{{ path('volunteer.index') }}" class="btn btn-warning">
        <i class="fas fa-undo"></i> Annuler
    </a>
    <button class="btn btn-success">
        <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
        {{ button|default('Ajouter') }}
    </button>
</p>
{{ form_end(form) }}
