{% extends 'base.html.twig' %}

{% block title %}Ajouter au groupe {{ group.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card main-card bg-gradient-directional-success">
            <div class="card-content">
                <div class="media">
                    <div class="main-card-logo">
                        <i class="fa-solid fa-handshake-angle"></i>
                    </div>
                    <div class="media-body d-md-flex">
                        <div>
                            <h1>Ajouter au groupe <em>{{ group.name }}</em></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                {{ form_row(form.members) }}
            </div>
        </div>
    </div>
    <div class="col-md-6 align-self-center">
        <div class="text-center">
            <a href="{{ path('volunteer.group.show', {id: group.id}) }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
                {{ button|default('Ajouter') }}
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}
