{% extends 'base.html.twig' %}

{% block title %}Liste des bénévoles{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card main-card bg-gradient-directional-blue">
            <div class="card-content">
                <div class="media">
                    <div class="main-card-logo">
                        <i class="fa-solid fa-handshake-angle"></i>
                    </div>
                    <div class="media-body d-md-flex">
                        <div>
                            <h1>Liste des bénévoles</h1>
                        </div>
                        {% if is_granted('ROLE_VOLUNTEER_EDIT') %}
                            <div class="media-btn-group">
                                <a href="{{ path('volunteer.group.new') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Ajouter un groupe</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-0 ps-1 pb-1">
                {% for group in groups %}
                    {% if is_granted('basic_show', group) %}
                        <a href="{{ path('volunteer.group.show', {'id': group.id}) }}" class="me-1 mt-1 btn btn-secondary">{{ group.name }}</a>
                    {% endif %}
                {% else %}
                    <em class="me-1 mt-1">Aucun groupe créé</em>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if is_granted('ROLE_BASIC_SHOW') %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <div data-enoria-type="person" data-enoria-for="personList" class="toolbar float-end mb-1"></div>
                    </div>
                    <div class="datatable-wide">
                        <table id="personList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Groupe(s)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for volunteer in volunteers  %}
                                <tr data-person-id="{{ volunteer.id }}">
                                    <td class="text-start"
                                        data-order="{{ volunteer.lastname }} {{ volunteer.firstname }}"
                                        data-search="{{ volunteer.getFullname() }}"
                                    >
                                        <a href="{{ path('person.show', {'id': volunteer.id}) }}">{{ volunteer.getFullname(false, true) | raw }}</a>
                                    </td>
                                    <td data-search="{{ volunteer.email }}">
                                        {{ volunteer.email }}
                                    </td>
                                    <td>
                                        {% for group in volunteer.memberGroups|sort((a, b) => a.name <=> b.name) %}
                                            <a href="{{ path("volunteer.group.show", {id: group.id}) }}" class="badge bg-secondary">
                                                {{ group }}
                                            </a><br>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_BASIC_SHOW') %}
        <script defer>
            new DataTable('#personList', {
                pageLength: 50,
                select: {style: 'multi'},
                responsive: true,
                searching: true,
            });
        </script>
        {{ encore_entry_script_tags('Toolbar') }}
    {% endif %}
{% endblock %}
