{% extends 'base.html.twig' %}

{% block title %}Ajouter un groupe{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-handshake-angle"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Ajouter un groupe</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('volunteer.index') }}" class="btn btn-primary text-white">
                                    <i class="fas fa-undo"></i> Revenir à la liste des bénévoles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('volunteer/_form_group.html.twig') }}
{% endblock %}
