{% extends 'base.html.twig' %}

{% block title %}Bénévoles du groupe {{  group.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card main-card bg-gradient-directional-blue">
            <div class="card-content">
                <div class="media">
                    <div class="main-card-logo">
                        <i class="fa-solid fa-handshake-angle"></i>
                    </div>
                    <div class="media-body d-md-flex">
                        <div>
                            <h1>Bénévoles du groupe <em>{{  group.name }}</em></h1>
                        </div>
                        <div class="media-btn-group">
                            <a href="{{ path('volunteer.index') }}" class="btn btn-primary text-white">
                                <i class="fas fa-undo"></i> Revenir à la liste des bénévoles
                            </a>
                            {% if is_granted('ROLE_VOLUNTEER_EDIT') %}
                            <a href="{{ path('volunteer.group.edit', {id: group.id}) }}" class="btn btn-warning text-white"><i class="fas fa-edit"></i> Modifier le groupe</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-0 ps-1 pb-1">
                {% for otherGroup in groups %}
                    {% if is_granted('basic_show', otherGroup) %}
                        {% if group.id == otherGroup.id %}
                            <span class="me-1 mt-1 btn btn-outline-secondary disabled">{{ otherGroup.name }}</span>
                        {% else %}
                            <a href="{{ path('volunteer.group.show', {'id': otherGroup.id}) }}" class="me-1 mt-1 btn btn-secondary">
                                {{ otherGroup.name }}
                            </a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <em class="me-1 mt-1">Aucun groupe créé</em>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive">
                <div class="row">
                    <div class="col">
                        {% if is_granted('ROLE_VOLUNTEER_EDIT') %}
                            {% if group.aggregate is not null %}
                                <a href="{{ path('volunteer.group.sync', {id: group.id}) }}" class="btn btn-success"><i class="fas fa-rotate"></i> Synchroniser</a>
                                <span class="badge bg-dark"><i class="fa-solid fa-list-alt"></i> {{ group.aggregate }}</span>
                            {% else %}
                                <a href="{{ path('volunteer.group.add', {id: group.id}) }}" class="btn btn-success"><i class="fas fa-plus"></i> Ajouter</a>
                            {% endif %}
                            {% if group.viewable %}
                                <i class="fa-solid fa-eye text-success"></i>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col">
                        <div data-enoria-type="person" data-enoria-for="personList" class="toolbar float-end mb-1"></div>
                    </div>
                </div>
                <div class="datatable-wide">
                    <table id="personList" class="table table-striped table-bordered table-middle text-center">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            {% if group.aggregate is null %}
                                <th>Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for volunteer in group.people  %}
                            <tr data-person-id="{{ volunteer.id }}">
                                <td class="text-start"
                                    data-order="{{ volunteer.lastname }} {{ volunteer.firstname }}"
                                    data-search="{{ volunteer.getFullname() }}"
                                >
                                    <a href="{{ path('person.show', {'id': volunteer.id}) }}">{{ volunteer.getFullname(false, true) | raw }}</a>
                                </td>
                                <td data-search="{{ volunteer.email }}">
                                    {{ volunteer.email }}
                                </td>
                                {% if group.aggregate is null %}
                                    <td>
                                        <form
                                            id="delete_form_{{ volunteer.id }}"
                                            class="d-inline-block" method="post"
                                            action="{{ path('volunteer.group.remove', {group: group.id, person: volunteer.id}) }}"
                                        >
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ volunteer.id) }}">
                                            <a class="btn btn-danger btn-sm" rel="tooltip" title="Retirer du groupe">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        new DataTable('#personList', {
            pageLength: 50,
            select: {style: 'multi'},
            responsive: true,
            searching: true,
            colReorder: true,
        });

        {% if group.aggregate is null %}
        {% for volunteer in group.people %}
        deleteAlert('#delete_form_{{ volunteer.id }}');
        {% endfor %}
        {% endif %}
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
