{% extends 'emptyCard.html.twig' %}

{% block title %}Authentification à double facteur{% endblock %}

{% block body %}
    <div class="card-header border-0">
        <div class="card-title text-center">
            <img src="/assets/images/new-logo.png" alt="Logo de l'association Enoria" class="w-50">
        </div>
        <h6 class="card-subtitle line-on-side text-muted text-center pt-2">
            <span>Authentification à double facteur</span>
        </h6>
    </div>

    <div class="card-body">
        {# Authentication errors #}
        {% if authenticationError %}
            <p class="alert alert-danger">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
        {% endif %}

        {# Let the user select the authentication method #}
        {% if availableTwoFactorProviders|length > 1 %}
            <p>Changer de méthode d’authentification&nbsp;:
                {% for provider in availableTwoFactorProviders %}
                    <a
                        href="{{ path("2fa_login", {"preferProvider": provider}) }}"
                        class="btn btn-sm btn-{% if provider != twoFactorProvider %}outline-{% endif %}secondary">
                        {% if provider == 'text' %}SMS{% else %}{{ provider }}{% endif %}
                    </a>
                {% endfor %}
            </p>
        {% endif %}

        <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
            <div class="mb-1">
                <label for="_auth_code">
                    Code d’authentification
                    <strong>{% if twoFactorProvider == 'text' %}SMS{% else %}{{ twoFactorProvider }}{% endif %}</strong>
                </label>
                <input
                    id="_auth_code"
                    class="form-control"
                    type="text"
                    name="{{ authCodeParameterName }}"
                    autocomplete="one-time-code"
                    autofocus
                    pattern="[0-9]*"
                    placeholder="123456"
                />
            </div>
            {% if displayTrustedOption %}
                <div class="mb-1">
                    <input id="_trusted" class="form-check-input" type="checkbox" name="{{ trustedParameterName }}" />
                    <label class="form-check-label" for="_trusted">Je suis sur un appareil de confiance</label>
                </div>
            {% endif %}
            {% if isCsrfProtectionEnabled %}
                <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
            {% endif %}
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Connexion" />
            </div>
        </form>
    </div>

    <p class="text-center"><a href="{{ logoutPath }}">Retour à la page de connexion</a></p>
{% endblock %}
