{% if userIsGranted(user, 'ROLE_ADMIN') %}
    <span class="badge bg-danger" rel="tooltip" title="{{ 'roles.description.admin'|trans([], 'security') }}">
        <i class="fa fa-crown"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_PERSON_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.person_edit'|trans([], 'security') }}">
        <i class="fa fa-address-book"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_BASIC_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.person_show'|trans([], 'security') }}">
        <i class="fa fa-address-book"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_ORGANIZATION_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.organization_edit'|trans([], 'security') }}">
        <i class="fa fa-clone"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_BASIC_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.organization_show'|trans([], 'security') }}">
        <i class="fa fa-clone"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_DIOCESE_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.diocese_edit'|trans([], 'security') }}">
        <i class="fa fa-church"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_BASIC_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.diocese_show'|trans([], 'security') }}">
        <i class="fa fa-church"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_VOLUNTEER_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.volunteer_edit'|trans([], 'security') }}">
        <i class="fa-solid fa-handshake-angle"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_BASIC_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.volunteer_show'|trans([], 'security') }}">
        <i class="fa-solid fa-handshake-angle"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_MEMBERSHIP_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.membership_edit'|trans([], 'security') }}">
        <i class="fa fa-users"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_MEMBERSHIP_REQUEST_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.membership_request_show'|trans([], 'security') }}">
        <i class="fa fa-clipboard-list"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_BASIC_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.membership_show'|trans([], 'security') }}">
        <i class="fa fa-users"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_AGGREGATE_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.aggregate_edit'|trans([], 'security') }}">
        <i class="fa-solid fa-list-alt"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_BASIC_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.aggregate_show'|trans([], 'security') }}">
        <i class="fa-solid fa-list-alt"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_CA_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.ca_edit'|trans([], 'security') }}">
        <i class="fa fa-user-tie"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_DOC_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.doc_edit'|trans([], 'security') }}">
        <i class="fa fa-book"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_ACCOUNTING') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.accounting'|trans([], 'security') }}">
        <i class="fa fa-cash-register"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_GENERAL_MEETING_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.general_meeting_edit'|trans([], 'security') }}">
        <i class="fa-solid fa-people-roof"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_GENERAL_MEETING_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.general_meeting_show'|trans([], 'security') }}">
        <i class="fa-solid fa-people-roof"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_APPLICATION_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.application_edit'|trans([], 'security') }}">
        <i class="fa-solid fa-window-restore"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_APPLICATION_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.application_show'|trans([], 'security') }}">
        <i class="fa-solid fa-window-restore"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_STATS_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.stats_show'|trans([], 'security') }}">
        <i class="fa fa-chart-bar"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_USER_EDIT') %}
    <span class="badge bg-warning" rel="tooltip" title="{{ 'roles.description.user_edit'|trans([], 'security') }}">
        <i class="fa fa-users-cog"></i>
    </span>
{% elseif userIsGranted(user, 'ROLE_USER_SHOW') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.user_show'|trans([], 'security') }}">
        <i class="fa fa-users-cog"></i>
    </span>
{% endif %}
{% if userIsGranted(user, 'ROLE_ALLOWED_TO_SWITCH') %}
    <span class="badge bg-info" rel="tooltip" title="{{ 'roles.description.allowed_to_switch'|trans([], 'security') }}">
        <i class="fa fa-user-secret"></i>
    </span>
{% endif %}
