{% extends 'emptyCard.html.twig' %}

{% block title %}Activation de votre compte{% endblock %}

{% block body %}
    <div class="card-header border-0">
        <div class="card-title text-center">
            <img src="/assets/images/new-logo.png" alt="Logo de l'association Enoria" class="w-50">
        </div>
        <h6 class="card-subtitle line-on-side text-muted text-center pt-2">
            <span>Activation de votre compte</span>
        </h6>
    </div>

    <div class="card-body">
        <div class="alert-light mb-2 alert">
           <strong>{{ user.person.getFullName(false, true) | raw }}</strong>, choisissez un mot de passe
        </div>
        {{ form_start(form) }}
            <div class="mb-1 position-relative has-icon-left">
                {{ form_widget(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
                <div class="form-control-position">
                    <i class="fas fa-key"></i>
                </div>

                <small>{{ form_help(form.plainPassword.first) }}</small>
            </div>
            <div class="mb-1 position-relative has-icon-left">
                {{ form_widget(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
                <div class="form-control-position">
                    <i class="fas fa-key"></i>
                </div>

                <small>{{ form_help(form.plainPassword.second) }}</small>
            </div>
            <button type="submit" class="btn btn-outline-info btn-block w-100">Valider</button>
        {{ form_end(form) }}
    </div>

    <p class="text-center"><a href="{{ path('login') }}">Retour à la page de connexion</a></p>
{% endblock %}
