{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Changer mon mot de passe</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    <div class="row">
        <div class="col"></div>
        <div class="col-md-4">
            <div class="card border-warning">
                <div class="card-body">
                    {{ form_row(form.oldPassword) }}
                    {{ form_row(form.plainPassword) }}
                </div>
            </div>
            <div class="text-center">
                <a href="{{ path("users.profile") }}" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Annuler
                </a>
                <button class="btn btn-success">
                    <i class="fas fa-key"></i>
                    Modifier
                </button>
            </div>
        </div>
        <div class="col"></div>
    </div>
    {{  form_end(form) }}
{% endblock %}
