{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Ajouter un utilisateur</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            <p class="alert alert-light">
                Choisissez un <strong>nom unique et inutilisé</strong>.<br>
                Par exemple pour <em>Pierre MARTIN</em> on choisira <em>pmartin</em>
            </p>
            <p class="alert alert-light">
                La personne choisie doit obligatoirement avoir une adresse mail renseignée. Celle-ci sera utilisée pour
                recevoir le lien permettant d’activer le compte et de choisir un mot de passe.
            </p>
        </div>
        <div class="col-md-8">
            <div class="card border-success">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.person) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-end">
            <a href="{{ path("users.index") }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-plus"></i>
                Ajouter
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{%  endblock %}
