{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier l’utilisateur <em>{{ user }}</em></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            <p class="alert alert-light">
                Choisissez un <strong>nom unique et inutilisé</strong>.<br>
                Par exemple pour <em>Pierre MARTIN</em> on choisira <em>pmartin</em>
            </p>
            <p class="alert alert-light">
                La personne choisie doit obligatoirement avoir une adresse mail renseignée. Celle-ci lui sera
                nécessaire en cas de perte de son mot de passe.
            </p>
        </div>
        <div class="col-md-8">
            <div class="card border-warning">
                <div class="card-body">
                    <h2>Informations générales</h2>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.person) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="alert alert-light">
                En choisissant comme type d’utilisateur « Administrateur », vous donnez automatiquement tous les droits
                à cet utilisateur, quelles que soient les permissions sélectionnées.
            </p>
            <p class="alert alert-light">
                Le droit d’édition des utilisateurs donne automatiquement le droit de consulter la liste, même si ce droit
                n’est pas expressément accordé.
            </p>
        </div>
        <div class="col-md-8">
            <div class="card border-warning">
                <div class="card-body">
                    <h2>Gestion des permissions</h2>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.roles.user_type) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.roles.permissions) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <a href="{{ path("users.index") }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-plus"></i>
                Modifier
            </button>
        </div>
    </div>
    {{  form_end(form) }}
{% endblock %}
