{% extends 'emptyCard.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="card-header border-0">
        <div class="card-title text-center">
            <img src="/assets/images/new-logo.png" alt="Logo de l'association Enoria" class="w-50">
        </div>
        <h6 class="card-subtitle line-on-side text-muted text-center pt-2">
            <span>Zachée {% include '/_part/_version_app.html.twig' with {minor:"true"} %}</span>
        </h6>
    </div>

    <div class="card-body">
        <div class="alert-light mb-2 alert">
            Entrez votre adresse email et votre nom d’utilisateur, vous recevrez un lien vous permettant de réinitialiser votre mot de passe.
        </div>
        <form class="form-horizontal" method="post">
            <div class="mb-1 position-relative has-icon-left">
                <input type="email" class="form-control" id="inputPassword" name="email" placeholder="Votre adresse email" required="">
                <div class="form-control-position">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <div class="mb-1 position-relative has-icon-left">
                <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur" required="">
                <div class="form-control-position">
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-info btn-block w-100">Valider</button>
        </form>
    </div>

    <p class="text-center"><a href="{{ path('login') }}">Retour à la page de connexion</a></p>
{%  endblock %}