{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Liste des utilisateurs</h1>
                            </div>
                            {% if is_granted('ROLE_USER_EDIT') %}
                                <div class="media-btn-group">
                                    <a href="{{ path('users.create') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Ajouter</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <h2 class="col card-title"><i class="fa fa-toggle-on"></i> Utilisateurs activés</h2>
                        <div class="col-auto">
                            <div data-enoria-type="person" data-enoria-for="usersEnabledList" class="toolbar float-end mb-1"></div>
                        </div>
                    </div>
                    <div class="datatable-wide">
                        <table id="usersEnabledList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom d’utilisateur</th>
                                <th>Personne</th>
                                <th>Permissions</th>
                                <th>Dernière connexion</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in usersEnabled %}
                                <tr {% if user == app.user %}class="font-weight-bold"{% endif %} data-person-id="{{ user.person.id }}">
                                    <td>
                                        {% if user == app.user %}
                                            <i class="fa fa-arrow-right"></i>
                                        {% endif %}
                                        {% if user.enabled %}
                                            {{ user.username }}
                                        {% elseif not user.enabled and not user.password %}
                                            {{ user.username }} <span class="badge bg-secondary">Pas activé par l’utilisateur</span>
                                        {% else %}
                                            <del>{{ user.username }}</del>
                                        {% endif %}
                                        {% if user.isEmailAuthEnabled or user.isTextAuthEnabled or user.isGoogleAuthenticatorEnabled %}
                                            <i class="fa-solid fa-lock" title="2FA activée"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path("person.show", {id: user.person.id}) }}">{{ user.person.getFullname(false, true) | raw }}</a>
                                    </td>
                                    <td>
                                        {{ include('security/_badge_roles.html.twig') }}
                                    </td>
                                    {% if user.lastLoginAt %}
                                        <td data-order="{{ user.lastLoginAt|date("U") }}">{{ user.lastLoginAt|date("d/m/Y H:i") }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td class="text-center">
                                        {% if is_granted('user_access', user) %}
                                            {% if is_granted('ROLE_USER_EDIT') %}
                                                <a class="btn btn-warning text-white btn-sm" rel="tooltip" title="Modifier un utilisateur" href="{{ path("users.edit", {id: user.id}) }}">
                                                    <i class="fa fa-user-edit"></i>
                                                </a>
                                                {% if user.enabled and user != app.user %}
                                                    <a class="btn btn-warning text-white btn-sm" rel="tooltip" title="Désactiver un utilisateur" href="{{ path("users.toggle_enabled", {id: user.id}) }}">
                                                        <i class="fa fa-toggle-off"></i>
                                                    </a>
                                                {% endif %}
                                                {% if not user.password %}
                                                    <a class="btn btn-success text-white btn-sm" rel="tooltip" title="Renvoyer le mail d'activation" href="{{ path("users.link", {id: user.id}) }}">
                                                        <i class="fa-solid fa-envelope-circle-check"></i>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and user != app.user %}
                                                <a class="btn btn-teal text-white btn-sm"
                                                   rel="tooltip" title="Se connecter en tant que {{ user.username }}"
                                                   href="{{ path("home", {"_switch_user": user.username}) }}"
                                                >
                                                    <i class="fa fa-user-secret"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <h2 class="col card-title"><i class="fa fa-toggle-off"></i> Utilisateurs désactivés</h2>
                        <div class="col-auto">
                            <div data-enoria-type="person" data-enoria-for="usersDisabledList" class="toolbar float-end mb-1"></div>
                        </div>
                    </div>
                    <div class="datatable-wide">
                        <table id="usersDisabledList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom d’utilisateur</th>
                                <th>Personne</th>
                                <th>Permissions</th>
                                <th>Dernière connexion</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in usersDisabled %}
                                <tr {% if user == app.user %}class="font-weight-bold"{% endif %} data-person-id="{{ user.person.id }}">
                                    <td>
                                        {% if user == app.user %}
                                            <i class="fa fa-arrow-right"></i>
                                        {% endif %}
                                        {% if user.enabled %}
                                            {{ user.username }}
                                        {% elseif not user.enabled and not user.password %}
                                            {{ user.username }} <span class="badge bg-secondary">Pas activé par l’utilisateur</span>
                                        {% else %}
                                            <del>{{ user.username }}</del>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path("person.show", {id: user.person.id}) }}">{{ user.person.getFullname(false, true) | raw }}</a>
                                    </td>
                                    <td>
                                        {{ include('security/_badge_roles.html.twig') }}
                                    </td>
                                    {% if user.lastLoginAt %}
                                        <td data-order="{{ user.lastLoginAt|date("U") }}">{{ user.lastLoginAt|date("d/m/Y H:i") }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td class="text-center">
                                        {% if is_granted('user_access', user) %}
                                            {% if is_granted('ROLE_USER_EDIT') %}
                                                <a class="btn btn-warning text-white btn-sm" rel="tooltip" title="Modifier un utilisateur" href="{{ path("users.edit", {id: user.id}) }}">
                                                    <i class="fa fa-user-edit"></i>
                                                </a>
                                                {% if not user.enabled and user.password and user != app.user %}
                                                    <a class="btn btn-success text-white btn-sm" rel="tooltip" title="Activer un utilisateur" href="{{ path("users.toggle_enabled", {id: user.id}) }}">
                                                        <i class="fa fa-toggle-on"></i>
                                                    </a>
                                                {% endif %}
                                                {% if not user.password %}
                                                    <a class="btn btn-success text-white btn-sm" rel="tooltip" title="Renvoyer le mail d'activation" href="{{ path("users.link", {id: user.id}) }}">
                                                        <i class="fa-solid fa-envelope-circle-check"></i>
                                                    </a>
                                                {% endif %}
                                                <form id="delete_form_{{ user.id }}" method="post" action="{{ path('users.delete', {id: user.id}) }}" class="d-inline">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                    <a class="btn btn-danger text-white btn-sm"><i class="fas fa-trash"></i></a>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script defer>
        new DataTable('#usersEnabledList', {
            'pageLength': 30,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
        });
        new DataTable('#usersDisabledList', {
            'pageLength': 30,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
        });

        {% for user in usersDisabled %}
        deleteAlert('#delete_form_{{ user.id }}');
        {% endfor %}
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
