{% extends 'emptyCard.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="card-header border-0">
        <div class="card-title text-center">
            <img src="/assets/images/new-logo.png" alt="Logo de l'association Enoria" class="w-50">
        </div>
        <h6 class="card-subtitle line-on-side text-muted text-center pt-2">
            <span>Zachée {% include '/_part/_version_app.html.twig' with {minor:"true"} %}</span>
        </h6>
    </div>

    <div class="card-body">
        {% if error %}
            <div class="alert alert-danger">{{  error.messageKey | trans(error.messagedata, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="mb-1 position-relative has-icon-left">
                <input type="text" class="form-control" name="_username" id="username" value="{{ last_username }}{{ saveUserName|default('') }}" placeholder="Nom d'utilisateur" required>
                <div class="form-control-position">
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <div class="mb-1 position-relative has-icon-left hide-if-webauthndetected {% if webAuthnDisplay|default(false) %}d-none{% endif %}">
                <input type="password" class="form-control" name="_password" id="password" placeholder="Mot de passe" required>
                <div class="form-control-position">
                    <i class="fas fa-key"></i>
                </div>
            </div>
            <div class="mb-1 row">
                <div class="col-md-6 col-12 text-center text-sm-start">
                    <div class="form-check">
                        <input type="checkbox" id="_remember_me" name="_remember_me" class="form-check-input">
                        <label for="_remember_me" class="form-check-label">Se souvenir de moi</label>
                    </div>
                </div>
                <div class="col-md-6 col-12 text-end show-if-webauthndetected {% if not webAuthnDisplay|default(false) %}d-none{% endif %}">
                    <a href="#" id="showPasswordFieldBtn">Entrer un mot de passe</a>
                </div>
                <div class="col-md-6 col-12 float-sm-left text-center text-sm-end hide-if-webauthndetected {% if webAuthnDisplay|default(false) %}d-none{% endif %}">
                    <a href="{{ path('users.forgot_password') }}">Mot de passe oublié ?</a>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-info btn-block w-100 hide-if-webauthndetected {% if webAuthnDisplay|default(false) %}d-none{% endif %}">
                <i class="fas fa-lock-open"></i>
                Se connecter
            </button>
        </form>
        <div class="row show-if-webauthndetected {% if not webAuthnDisplay|default(false) %}d-none{% endif %}">
            <div class="col-lg-12 col-md-12">
                <button id="bioMetricTryBtn" class="w-100 btn btn-lg btn-primary" id="bioMetricTryBtn">
                    <i class="fa-solid fa-fingerprint"></i> Authentification biométrique
                </button>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        const { startAuthentication } = SimpleWebAuthnBrowser;

        document.getElementById('bioMetricTryBtn')?.addEventListener('click', async () => {
            const username = document.getElementById('username').value.trim();
            const rememberme = document.getElementById('_remember_me').checked;

            if (!username) {
                return;
            }

            try {
                const requestOptionsJSON = await jsonFetch('/webauthn/login/options', 'POST', { username: username });
                const authResponse = await startAuthentication(requestOptionsJSON);
                authResponse._remember_me = rememberme ? 'on' : '';
                const loginResponseJSON = await jsonFetch('/webauthn/login', 'POST', authResponse);

                if (loginResponseJSON.errorMessage === 'The credential ID is invalid.') {
                    alert('authentification biométrique non disponible');
                    return;
                }

                if (loginResponseJSON.status !== 'ok') {
                    throw new Error('Registration failed: ' + (loginResponseJSON.errorMessage || JSON.stringify(loginResponseJSON)));
                }

                window.location.href = '/';
            } catch (e) {
                alert(e.message || e);
                console.error(e);
            }
        });

        const showPasswordFieldBtn = document.getElementById('showPasswordFieldBtn');

        showPasswordFieldBtn?.addEventListener('click', e => {
            e.preventDefault();
            const showElements = document.querySelectorAll('.show-if-webauthndetected');
            const hideElements = document.querySelectorAll('.hide-if-webauthndetected');

            showElements.forEach(element => {
                element.classList.toggle('d-none');
            });
            hideElements.forEach(element => {
                element.classList.toggle('d-none');
            });
        });

    </script>
{% endblock %}
