{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Mon profil</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ app.user.person.getFullname(true, true) | raw }}</h2>
                    <div class="row">
                        <p class="col text-center">
                            <a href="{{ path("person.show", {id: app.user.person.id}) }}" class="btn btn-primary">
                                <i class="fa fa-address-book"></i> Accéder à ma fiche
                            </a>
                        </p>
                        <p class="col text-center">
                            <a href="{{ path("users.change_password") }}" class="btn btn-warning">
                                <i class="fa fa-key"></i> Modifier mon mot de passe
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {{ include('security/profile/2fa.html.twig') }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Mes permissions</h2>
                    <table class="table table-stripped table-bordered">
                        {% if is_granted('ROLE_ADMIN') %}
                            <tr>
                                <td>
                                    <span class="badge bg-danger"><i class="fas fa-crown"></i></span>
                                    {{ 'roles.description.admin'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_PERSON_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fas fa-address-book"></i></span>
                                    {{ 'roles.description.person_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% elseif userIsGranted(app.user, 'ROLE_BASIC_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fas fa-address-book"></i></span>
                                    {{ 'roles.description.person_show'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_ORGANIZATION_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fas fa-clone"></i></span>
                                    {{ 'roles.description.organization_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% elseif userIsGranted(app.user, 'ROLE_BASIC_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fas fa-clone"></i></span>
                                    {{ 'roles.description.organization_show'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_DIOCESE_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fas fa-church"></i></span>
                                    {{ 'roles.description.diocese_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% elseif userIsGranted(app.user, 'ROLE_BASIC_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fas fa-church"></i></span>
                                    {{ 'roles.description.diocese_show'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_VOLUNTEER_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fa-solid fa-handshake-angle"></i></span>
                                    {{ 'roles.description.volunteer_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% elseif userIsGranted(app.user, 'ROLE_BASIC_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fa-solid fa-handshake-angle"></i></span>
                                    {{ 'roles.description.volunteer_show'|trans([], 'security') }}
                                </td>
                            </tr>

                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_MEMBERSHIP_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fas fa-users"></i></span>
                                    {{ 'roles.description.membership_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% elseif userIsGranted(app.user, 'ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fas fa-clipboard-list"></i></span>
                                    {{ 'roles.description.membership_request_show'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% elseif userIsGranted(app.user, 'ROLE_BASIC_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fas fa-users"></i></span>
                                    {{ 'roles.description.membership_show'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_AGGREGATE_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fa-solid fa-list-alt"></i></span>
                                    {{ 'roles.description.aggregate_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% elseif userIsGranted(app.user, 'ROLE_BASIC_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fa-solid fa-list-alt"></i></span>
                                    {{ 'roles.description.aggregate_show'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_CA_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fas fa-user-tie"></i></span>
                                    {{ 'roles.description.ca_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_DOC_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fas fa-book"></i></span>
                                    {{ 'roles.description.doc_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_ACCOUNTING') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fa fa-cash-register"></i></span>
                                    {{ 'roles.description.accounting'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_GENERAL_MEETING_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fa-solid fa-people-roof"></i></span>
                                    {{ 'roles.description.general_meeting_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% elseif userIsGranted(app.user, 'ROLE_GENERAL_MEETING_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fa-solid fa-people-roof"></i></span>
                                    {{ 'roles.description.general_meeting_show'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_STATS_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fas fa-chart-bar"></i></span>
                                    {{ 'roles.description.stats_show'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_USER_EDIT') %}
                            <tr>
                                <td>
                                    <span class="badge bg-warning"><i class="fas fa-users-cog"></i></span>
                                    {{ 'roles.description.user_edit'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% elseif userIsGranted(app.user, 'ROLE_USER_SHOW') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fas fa-users-cog"></i></span>
                                    {{ 'roles.description.user_show'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if userIsGranted(app.user, 'ROLE_ALLOWED_TO_SWITCH') %}
                            <tr>
                                <td>
                                    <span class="badge bg-info"><i class="fas fa-user-secret"></i></span>
                                    {{ 'roles.description.allowed_to_switch'|trans([], 'security') }}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        {{ include('security/profile/2fa.js.twig') }}
    </script>
{% endblock %}
