{% extends 'pdf/letter.pdf.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .receiptNumber {
            font-size: 20pt;
        }

        .receipt_lines {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .receipt_lines th {
            border: 1px solid black;
            text-align: center;
            padding: 10px;
        }

        .receipt_lines td {
            border: 1px solid black;
            padding: 10px;
        }

        .receipt_lines .description {
            text-align: left;
        }

        .receipt_lines .amount {
            text-align: right;
        }
    </style>
{% endblock %}

{% block address %}
    {% if file.paymentRequest.organization %}
        {{ include('pdf/_address_block.pdf.twig', {name: file.paymentRequest.organization.name, address: file.paymentRequest.organization.address}) }}
    {% else %}
        {{ include('pdf/_address_block.pdf.twig', {name: file.paymentRequest.person.title ~ ' ' ~ file.paymentRequest.person.lastname|upper ~ ' ' ~ file.paymentRequest.person.firstname, address: file.paymentRequest.person.address}) }}
    {% endif %}
{% endblock %}

{% block date %}Argenteuil, le {{ file.paymentRequest.datetime|format_date(pattern="d MMMM Y") }}{% endblock %}

{% block object %}
    {% if file.paymentRequest.amount >= 0 %}
        <strong class="receiptNumber">Demande de paiement {{ file.ref }}</strong>
    {% else %}
        <strong class="receiptNumber">Reconnaissance de dette {{ file.ref }}</strong>
    {% endif %}
{% endblock %}

{% block body %}
    {% if file.paymentRequest.amount >= 0 %}
        <p>
            Nous vous prions de bien vouloir régler la somme de <b>{{ file.paymentRequest.amount|format_currency('EUR') }}</b>
            en paiement de <em>{{ file.paymentRequest.description }}</em>.
        </p>
    {% else %}
        <p>
            Nous reconnaissons vous devoir la somme de <b>{{ file.paymentRequest.amount|abs|format_currency('EUR') }}</b>
            en paiement de <em>{{ file.paymentRequest.description }}</em>.
        </p>
    {% endif %}

    <table class="receipt_lines" style="width:100%">
        <thead>
        <tr>
            <th>Dénomination</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr>
            <td class="description">{{ file.paymentRequest.description }}</td>
            <td class="amount">{{ file.paymentRequest.amount|abs|format_currency('EUR') }}</td>
        </tr>
        <tr>
            <td class="amount"><strong>Total</strong></td>
            <td class="amount"><strong>{{ file.paymentRequest.amount|abs|format_currency('EUR') }}</strong></td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block signature %}
    {{ include('pdf/_signatureTreasurer.twig') }}
{% endblock %}

