{% extends 'pdf/letter.pdf.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .receiptNumber {
            font-size: 20pt;
        }

        .receipt_lines {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .receipt_lines th {
            border: 1px solid black;
            text-align: center;
            padding: 10px;
        }

        .receipt_lines td {
            border: 1px solid black;
            padding: 10px;
        }

        .receipt_lines .description {
            text-align: left;
        }

        .receipt_lines .amount {
            text-align: right;
        }
    </style>
{% endblock %}

{% block address %}
    {{
        include(
            'pdf/_address_block.pdf.twig',
            {
                name: file.paymentRequest.dioceseMembershipSupplement.diocese.associatedOrganization.name,
                address: file.paymentRequest.dioceseMembershipSupplement.diocese.associatedOrganization.address,
            }
        )
    }}
{% endblock %}

{% block date %}Argenteuil, le {{ file.paymentRequest.datetime|format_date(pattern="d MMMM Y") }}{% endblock %}

{% block object %}
    {% if file.paymentRequest.amount > 0 %}
        <strong class="receiptNumber">Complément de cotisation</strong>
    {% else %}
        <strong class="receiptNumber">Trop perçu</strong>
    {% endif %}
{% endblock %}

{% block body %}
    <p>
        Vous avez fait le choix d’adhérer à l’Association Enoria pour votre diocèse. Conformément à nos statuts, votre
        cotisation est calculée sur la base de l’indice de Wasselynck avec une référence pour
        {{ file.paymentRequest.dioceseMembershipSupplement.period.name }} de
        {{ file.paymentRequest.dioceseMembershipSupplement.period.dioceseBaseMaxMembershipfee|format_currency('EUR') }}.
    </p>
    <p>
        Sur la base des adhésions de vos paroisses et du montant de cotisation que vous avez choisi pour chacune d’entre
        elles, il apparaît dans nos livres que
        {% if file.paymentRequest.amount > 0 %}
            la quote part de cotisation restant à régler pour
            {{ file.paymentRequest.dioceseMembershipSupplement.period.name }} est de
            {{ file.paymentRequest.amount|format_currency('EUR') }}.
        {% else %}
            nous avons reçu un trop perçu de
            {{ file.paymentRequest.amount|abs|format_currency('EUR') }} pour
            {{ file.paymentRequest.dioceseMembershipSupplement.period.name }}.
        {% endif %}
    </p>
    <p>
        Le détail du décompte est visible sur la plateforme Zachée à votre disposition.
    </p>

    <table class="receipt_lines" style="width:100%">
        <thead>
        <tr>
            <th>Dénomination</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td class="description">
                    Cotisation
                    {{ file.paymentRequest.dioceseMembershipSupplement.diocese.associatedOrganization.name }}
                    {{ file.paymentRequest.dioceseMembershipSupplement.period }}
                </td>
                <td class="amount">{{ actualAssociatedMemberships.finalMembershipFee|format_currency('EUR') }}</td>
            </tr>
            <tr>
                <td class="description">Cotisation des paroisses versées ou à percevoir</td>
                <td class="amount">{{ actualAssociatedMemberships.totalMembershipFee|format_currency('EUR') }}</td>
            </tr>
            <tr>
                <td class="amount">
                    <strong>
                        {% if file.paymentRequest.amount > 0 %}
                            Cotisation restant due
                        {% else %}
                            Trop perçu
                        {% endif %}
                    </strong>
                </td>
                <td class="amount"><strong>{{ file.paymentRequest.amount|abs|format_currency('EUR') }}</strong></td>
            </tr>
        </tbody>
    </table>

    {% if file.paymentRequest.amount > 0 %}
        <p>
            Le règlement du complément d’adhésion peut être fait par virement bancaire, RIB en annexe, en indiquant le
            nom du diocèse en intitulé ou éventuellement par chèque à l’ordre de «&nbsp;Association Enoria&nbsp;», à expédier à
            l’adresse suivante : Association Enoria – 43 rue Duguay – 95100 Argenteuil.
        </p>
    {% else %}
        <p>
            Nous avons initié le virement que vous devriez recevoir sous peu.
        </p>
    {% endif %}
{% endblock %}

{% block signature %}
    {{ include('pdf/_signatureTreasurer.twig') }}
{% endblock %}

