{% extends 'pdf/letter.pdf.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .receiptNumber {
            font-size: 20pt;
        }

        .receipt_lines {
            border-collapse: collapse;
        }

        .receipt_lines th {
            border: 1px solid black;
            text-align: center;
            padding: 10px;
        }

        .receipt_lines td {
            border: 1px solid black;
            padding: 10px;
        }

        .receipt_lines td.no-border {
            border: 0 solid black;
            padding: 10px;
        }

        .receipt_lines .date {
            text-align: center;
        }

        .receipt_lines .description {
            text-align: left;
        }

        .receipt_lines .amount {
            text-align: right;
        }
    </style>
{% endblock %}

{% block address %}
    {% if file.paymentRequest.organization %}
        {{ include('pdf/_address_block.pdf.twig', {name: file.paymentRequest.organization.name, address: file.paymentRequest.organization.address}) }}
    {% else %}
        {{ include('pdf/_address_block.pdf.twig', {name: file.paymentRequest.person.title ~ ' ' ~ file.paymentRequest.person.lastname|upper ~ ' ' ~ file.paymentRequest.person.firstname, address: file.paymentRequest.person.address}) }}
    {% endif %}
{% endblock %}

{% block date %}Argenteuil, le {{ file.paymentRequest.datetime|format_date(pattern="d MMMM Y") }}{% endblock %}

{% block object %}
    <strong class="receiptNumber">{{ file.ref }}</strong>
{% endblock %}

{% block body %}
    <p>
        Vous utilisez notre application <em>Enoria</em>, notamment pour l’envoi de SMS. Nous vous prions de bien vouloir
        nous rembourser les frais liés à ce service.
    </p>
    <p>
        Vous pouvez retrouver le détail du décompte suivant sur la page «&nbsp;Historique des SMS&nbsp;», dans la section
        concernant l’administration de votre entité&nbsp;:
    </p>

    <table class="receipt_lines" style="width:100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>Entité</th>
            <th>SMS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr>
            <td class="date">{{ file.paymentRequest.datetime|format_date(pattern="dd/MM/Y") }}</td>
            <td class="description">{{ smsBilling.entity }}</td>
            <td class="amount">{{ smsBilling.total }}</td>
        </tr>
        <tr>
            <td class="amount no-border" colspan="2"><em>Nombre total de SMS envoyés</em></td>
            <td class="amount"><em>{{ smsBilling.total }}</em></td>
        </tr>
        <tr>
            <td class="amount no-border" colspan="2"><em>Prix unitaire</em></td>
            <td class="amount"><strong>{{ '0.07'|format_currency('EUR') }}</strong></td>
        </tr>
        <tr>
            <td class="amount no-border" colspan="2"><strong>Montant à rembourser</strong></td>
            <td class="amount"><strong>{{ file.paymentRequest.amount|abs|format_currency('EUR') }}</strong></td>
        </tr>
        </tbody>
    </table>

    <p>
        Le règlement peut se faire par virement bancaire en indiquant uniquement dans l’intitulé la référence
        <em>{{ file.ref }}</em> ou par chèque à l’ordre de «&nbsp;Association Enoria&nbsp;» en indiquant au dos cette
        même référence.
    </p>
{% endblock %}

{% block signature %}
    {{ include('pdf/_signatureTreasurer.twig') }}
{% endblock %}

