{% if member.token is not null and not member.informationsValidated %}
    <a class="btn btn-primary text-white btn-sm" rel="tooltip" title="Voir le formulaire" href="{{ path("ca-member.public-form", {token: member.token}) }}" target="_blank">
        <i class="fas fa-external-link-alt"></i>
    </a>
    <a class="btn btn-primary text-white btn-sm" rel="tooltip" title="Renvoyer le lien" href="{{ path("ca-member.send-public-form", {id: member.id}) }}">
        <i class="fas fa-envelope"></i>
    </a>
{% elseif not member.informationsValidated %}
    <a class="btn btn-primary text-white btn-sm" rel="tooltip" title="Générer le formulaire" href="{{ path("ca-member.create-public-form", {id: member.id}) }}">
        <i class="fas fa-envelope"></i>
    </a>
{% endif %}
{% if not member.informationsValidated %}
    <a class="btn btn-success text-white btn-sm" rel="tooltip" title="Valider les informations" href="{{ path("ca-member.validate", {id: member.id}) }}">
        <i class="fas fa-clipboard-check"></i>
    </a>
{% endif %}
<a class="btn btn-warning text-white btn-sm" rel="tooltip" title="Modifier" href="{{ path("ca-member.edit", {id: member.id}) }}">
    <i class="fas fa-edit"></i>
</a>
