{{ form_errors(form) }}

{{ form_start(form) }}
<div class="row">
    <div class="col">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {{ form_row(form.person) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.role) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.begin) }}
                    </div>
                    {% if form.end is defined %}
                        <div class="col">
                            {{ form_row(form.end) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-address-card"></i> Informations pour la déclaration en préfecture</h2>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.birthDate) }}
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(form.birthCity) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.birthDepartment) }}
                            </div>
                        </div>
                        {{ form_row(form.birthCountry) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.nationality) }}
                        {{ form_row(form.profession) }}
                        {% if form.removeInformations is defined %}
                            {{ form_row(form.removeInformations) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-end">
        <a href="{{ path('ca-member.index') }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{  form_end(form) }}
