{% if member.birthDate %}né{% if member.person.sex == 'F' %}e{% endif%} le {{ member.birthDate|date('d/m/Y') }}{% endif %}
{% if member.birthCity %} à {{ member.birthCity }}{% endif %}
{% if member.birthCountry is not null and member.birthCountry != 'FR' %} ({{ member.birthCountry|country_name }})<br>
{% elseif member.birthDepartment %} ({{ member.birthDepartment }})<br>{% endif %}
{% if member.nationality %} nationalité {{ member.nationality }}<br>{% endif %}
{% if member.profession %} {{ member.profession }}{% endif %}
