{% extends 'base.html.twig' %}

{% block title %}Ajouter une personne au conseil d’administration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-user-tie"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Ajouter une personne au conseil d’administration</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="alert alert-success">
                La date de fin de mandat sera déterminée automatiquement selon le type du membre. Vous pourrez ensuite la corriger.
            </p>
        </div>
    </div>

    {{ include('ca-member/_form.html.twig') }}
{%  endblock %}
