{% extends 'base.html.twig' %}

{% block title %}Modifier une personne du conseil d’admnistration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-user-tie"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier une personne du conseil d’admnistration</h1>
                            </div>
                            <div class="media-btn-group">
                                <form id="remove_form" method="post" class="d-inline" action="{{ path('ca-member.remove', {id: caMember.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ caMember.id) }}">
                                    {% if caMember.active %}
                                        <button class="btn btn-danger text-white"><i class="fas fa-trash"></i> Retirer</button>
                                    {% else %}
                                        <a class="btn btn-danger text-white"><i class="fas fa-trash"></i> Supprimer</a>
                                    {% endif %}
                                </form>
                                {% if caMember.active == false %}
                                    <a class="btn btn-success" href="{{ path('ca-member.restore', {id: caMember.id}) }}"><i class="fas fa-trash-restore"></i> Restaurer</a>
                                {% else %}
                                    <a class="btn btn-success" href="{{ path('ca-member.renew', {id: caMember.id}) }}"><i class="fas fa-arrows-rotate"></i> Renouveler</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="alert alert-warning">
                <strong>Avant de renouveler un mandat</strong>,
                modifiez celui-ci pour corriger la date de fin de mandat. Ensuite, rééditez-le et cliquez sur le bouton «&nbsp;<i class="fas fa-arrows-rotate"></i>&nbsp;Renouveler&nbsp;»
            </p>
        </div>
    </div>

    {{ include('ca-member/_form.html.twig', {button: 'Modifier'}) }}
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        {% if caMember.active == false %}
        deleteAlert('#remove_form');
        {% endif %}
    </script>
{% endblock %}
