{% extends 'base.html.twig' %}

{% block title %}Liste des membres du conseil d’administration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-user-tie"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Liste des membres du conseil d’administration</h1>
                            </div>
                            {% if is_granted('ROLE_CA_EDIT') %}
                                <div class="media-btn-group">
                                    <a href="{{ path('ca-member.add') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Ajouter</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    {% if is_granted('ROLE_BASIC_SHOW') %}
                        <div class="row">
                            <div data-enoria-type="person" data-enoria-for="membersActiveList" class="toolbar float-end mb-1"></div>
                        </div>
                    {% endif %}
                    <div class="datatable-wide">
                        <table id="membersActiveList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th class="text-center">Rôle</th>
                                <th class="text-center">Début de mandat</th>
                                <th class="text-center">Fin de mandat</th>
                                {% if is_granted('ROLE_CA_EDIT') %}
                                    <th class="text-center">Informations</th>
                                    <th class="text-center">Actions</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for member in membersActive  %}
                                <tr data-person-id="{{ member.person.id }}">
                                    <td class="text-start"
                                        data-order="{{ member.person.lastname }} {{ member.person.firstname }}"
                                        data-search="{{ member.person.getFullname() }}"
                                    >
                                        <a href="{{ path('person.show', {'id': member.person.id}) }}">{{ member.person.getFullname(true, true) | raw }}</a>
                                    </td>
                                    <td>
                                        {{ member.role }}
                                    </td>
                                    <td class="text-center">
                                        {% if member.begin %}
                                            {{ member.begin|format_date('long') }}
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if member.end %}
                                            <span class="text-{%
                                                if member.end|date('Y') <'now'|date('Y')
                                            %}danger{%
                                                elseif member.end|date('Y') == 'now'|date('Y')
                                            %}warning{%
                                                else
                                            %}success{%
                                                endif
                                            %}">
                                            {{ member.end|date('Y') }}
                                        </span>
                                        {% endif %}
                                    </td>
                                    {% if is_granted('ROLE_CA_EDIT') %}
                                        <td>
                                            {{ include('ca-member/_informations.html.twig') }}
                                        </td>
                                        <td>
                                            {{ include('ca-member/_actions.html.twig') }}
                                        </td>
                                    {% endif %}
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_CA_EDIT') %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive">
                        {% if is_granted('ROLE_BASIC_SHOW') %}
                            <div class="row">
                                <h2 class="col"><i class="fa fa-history"></i> Anciens mandats</h2>
                                <div data-enoria-type="person" data-enoria-for="membersInactiveList" class="col toolbar float-end mb-1"></div>
                            </div>
                        {% endif %}
                        <div class="datatable-wide">
                            <table id="membersInactiveList" class="table table-striped table-bordered table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Rôle</th>
                                    <th>Début de mandat</th>
                                    <th>Fin de mandat</th>
                                    <th>Informations</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for member in membersInactive  %}
                                    <tr data-person-id="{{ member.person.id }}">
                                        <td class="text-start"
                                            data-order="{{ member.person.lastname }} {{ member.person.firstname }}"
                                            data-search="{{ member.person.getFullname() }}"
                                        >
                                            <a href="{{ path('person.show', {'id': member.person.id}) }}">{{ member.person.getFullname(true, true) | raw }}</a>
                                        </td>
                                        <td>
                                            {{ member.role }}
                                        </td>
                                        <td>
                                            {% if member.begin %}
                                                {{ member.begin|format_date('long') }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if member.end %}
                                                {{ member.end|format_date('long') }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ include('ca-member/_informations.html.twig') }}
                                        </td>
                                        <td>
                                            {{ include('ca-member/_actions.html.twig') }}
                                        </td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{%  endblock %}

{% block javascripts %}
    <script defer>
        new DataTable('#membersActiveList', {
            'pageLength': 50,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            colReorder: true,
            'order': [[0, 'asc']],
        });
        new DataTable('#membersInactiveList', {
            'pageLength': 50,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
            colReorder: true,
            'order': [[2, 'asc']],
        });
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
