{% extends 'public.html.twig' %}

{% block title %}Saisie des informations complémentaires pour la déclaration en préfecture{% endblock %}

{% block body %}
    <div class="row">
        <div class="col pt-2">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clipboard-list"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Informations complémentaires pour
                                    <em>{{ caMember.person.getFullname(true, true) | raw }}</em>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('_part/_alerts.html.twig') }}

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Valeurs actuelles</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Né{% if caMember.person.sex == 'F' %}e{% endif%} le {% if caMember.birthDate %}<em>{{ caMember.birthDate|date('d/m/Y') }}{% endif %}</em>
                        </li>
                        <li class="list-group-item">à <em></em>{{ caMember.birthCity }} {% if caMember.birthCountry %}(<em>{{ caMember.birthCountry|country_name }}</em>){% endif %}</li>
                        <li class="list-group-item">département n<sup>o</sup><em>{{ caMember.birthDepartment }}</em></li>
                        <li class="list-group-item">Nationalité <em>{{ caMember.nationality }}</em></li>
                        <li class="list-group-item">Profession&nbsp;: <em>{{ caMember.profession }}</em></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <p class="text-center">
                        <strong>Vous devez saisir des informations complémentaires pour la déclaration en préfecture</strong>
                    </p>
                    {{ form_errors(form) }}

                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.birthDate) }}
                            <div class="row">
                                <div class="col-6">
                                    {{ form_row(form.birthCity) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.birthDepartment) }}
                                </div>
                            </div>
                            {{ form_row(form.birthCountry) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.nationality) }}
                            {{ form_row(form.profession) }}
                        </div>
                    </div>
                    <p class="text-end">
                        <button class="btn btn-success">
                            <i class="fas fa-edit"></i> Mettre à jour
                        </button>
                    </p>
                    {{  form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
