<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <span class="float-end">
            <i class="fa fa-church fa-lg"></i>
        </span>
        {% if no_link is not defined or not no_link %}
        <a href="{{ path('diocese.show', {'id': organization.diocese.id}) }}">
        {% endif %}
            {% if organization == organization.diocese.associatedOrganization %}
                <i class="fa fa-crown"></i>
            {% endif %}
            {{ organization.diocese }}
        {% if no_link is not defined or not no_link %}
        </a>
        {% endif %}
    </li>
    {% if organization.address %}
        <li class="list-group-item">
            <span class="float-end">
                <i class="fa fa-map-marker-alt fa-lg"></i>
            </span>
            <address>
                {{ organization.address }}
                {% if organization.address.country != 'FR' %}({{ organization.address.country|country_name}}){% endif %}
            </address>
        </li>
    {% endif %}
</ul>