{{ form_errors(form) }}

{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-clone"></i> Informations</h2>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-md-6">
                        {% if form.diocese is defined %}
                            {{ form_row(form.diocese) }}
                        {% elseif organization.diocese and public is not defined %}
                            <p class="alert alert-info">
                                Cette organisation correspond à un diocèse (<a href="{{ path("diocese.show", {id: organization.diocese.id}) }}">{{ organization.diocese }}</a>).
                                Vous devez d’abord modifier celui-ci pour l’associer à une autre organisation avant de pouvoir changer le rattachement de cette organisation.
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                     {{ form_row(form.type) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-map-marker-alt"></i> Adresse</h2>
                {{ include('address/_formInput.html.twig', {form: form.address}) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-end">
        <a href="{{ referer }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{  form_end(form) }}