<script defer>
    let organizationList = new DataTable('#organizationList', {
        'pageLength': 50,
        'select': {style: 'multi'},
        'responsive': true,
        'searching': true,
    });

    const selector = document.querySelector('.organization-list-filter');
    selector.addEventListener('change',  function () {
        organizationListFilter();
    });

    function organizationListFilter() {
        organizationList.column(selector.getAttribute('data-target-column')).search(selector.value);
        organizationList.draw();
    }
</script>
{{ encore_entry_script_tags('Toolbar') }}
