<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive">
                <div class="row mb-1">
                    <div class="col">
                        {% if is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                        <select class="col form-select organization-list-filter" data-target-column="0" aria-label="Adhérent ?">
                            <option value="">Adhérent ?</option>
                            <option value="membership_validated">Membre</option>
                            <option value="membership_in_progress">Adhésion en cours</option>
                            <option value="membership_canceled">Adhésion annulée</option>
                            <option value="membership_no">Non</option>
                        </select>
                        {% endif %}
                    </div>
                    <div data-enoria-type="organization" data-enoria-for="organizationList" class="col toolbar"></div>
                </div>
                <div class="datatable-wide">
                    <table id="organizationList" class="table table-striped table-bordered table-middle text-center">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Diocèse</th>
                            <th>Ville</th>
                            <th>Code Postal</th>
                            <th>Personne(s) associée(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for organization in organizations  %}

                            {% if organization.address is not empty %}
                                {% set organization_city = organization.address.city %}
                                {% set organization_postal_code = organization.address.postalCode %}
                            {% else %}
                                {% set organization_city = '-' %}
                                {% set organization_postal_code = '-' %}
                            {% endif %}
                            <tr data-organization-id="{{ organization.id }}">
                                <td class="text-start"
                                    data-order="{{ organization.name }}"
                                    data-search="{{ organization.name }} {% for membership in organization.memberships %}
                                        {% if membership.status == 'in_progress' and is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                                            membership_in_progress
                                        {% elseif membership.status == 'validated' %}
                                            membership_validated
                                        {% elseif membership.status == 'canceled' and is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                                            membership_canceled
                                        {% else %}
                                            membership_no
                                        {% endif %}
                                    {% else %}
                                        membership_no
                                    {% endfor %}"
                                >
                                    <a href="{{ path('organization.show', {'id': organization.id}) }}">{{ organization.name }}</a>
                                    {% for membership in organization.memberships %}
                                        {% if membership.status == 'in_progress' and is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                                            <span class="badge bg-primary">Adhésion en cours</span>
                                        {% elseif membership.status == 'canceled' and is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                                            <span class="badge bg-danger">Adhésion annulée</span>
                                        {% elseif membership.status == 'validated' %}
                                            <span class="badge bg-success">Membre</span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td data-order="{{ organization.diocese.name }}" data-search="{{ organization.diocese.name }}">
                                    <a href="{{ path('diocese.show', {'id': organization.diocese.id}) }}">
                                        {% if organization.diocese.associatedOrganization == organization %}
                                            <i class="fa fa-crown"></i>
                                        {% endif %}
                                        {{ organization.diocese.name }}
                                    </a>
                                </td>
                                <td data-order="{{ organization_city }}" data-search="{{ organization_city }}">
                                    {{ organization_city }}
                                </td>
                                <td data-order="{{ organization_postal_code }}" data-search="{{ organization_postal_code }}">
                                    {{ organization_postal_code }}
                                </td>
                                <td data-search="{% for associatedPerson in organization.associatedPeople %}
                                        {{ associatedPerson.person }}
                                        {% endfor %}"
                                >
                                    {% for associatedPerson in organization.getUniqueAssociatedPeople() %}
                                        <a href="{{ path("person.show", {id: associatedPerson.person.id}) }}">
                                            {% for type in associatedPerson.types %}
                                                <i class="fa fa-{{ type.icon }}"></i>
                                            {% endfor %}
                                            {{ associatedPerson.person.getFullname(false, true) | raw }}
                                        </a><br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
