<div class="row">
    {% if memberships %}
        <div class="{% if is_granted('membership_show', organization) %}col-12{% else %}col-lg-6{% endif %}">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-users"></i> Membre</h2>
                    <div class="row">
                        <div class="{% if is_granted('membership_show', organization) %}col-lg-6{% endif %}">
                            <p>
                                Cette organisation est membre ou a été membre pour les périodes suivantes&nbsp;:
                            </p>
                            {{ include('membership/_history.html.twig') }}
                            {% if actualMembership %}
                                <p class="mt-3 text-center">
                                    {% if actualMembership.token %}
                                    <a href="{{ path('membership_public.show', {'token': actualMembership.token}) }}" class="btn btn-outline-primary">
                                        <i class="fa fa-link"></i> Lien vers la page de suivi d’adhésion
                                    </a>
                                    {% else %}
                                        <em>Le lien vers la page de suivi d’adhésion n’a pas encore été généré</em>
                                    {% endif %}
                                </p>
                                {% if actualMembership.status == 'canceled' and is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                                    <h3 class="mt-3 text-danger">Processus de restitution des données</h3>
                                    <div class="ms-2 me-2 ms-lg-5 me-lg-5">
                                        {{ include('membership/_process_cancellation.html.twig', {membership: actualMembership}) }}
                                        <p class="mt-1 text-center">
                                            <a href="{{ path('membership.cancel.edit', {id: actualMembership.id}) }}" class="btn btn-warning">
                                                <i class="fa-solid fa-edit"></i> Mettre à jour le processus
                                            </a>
                                        </p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if is_granted('membership_show', organization) %}
                        <div class="col-lg-6">
                            <p>
                                État pour la période en cours :
                            </p>
                            <div class="ms-2 me-2 ms-lg-5 me-lg-5">
                                {% if actualMembership %}
                                    <p class="text-center">
                                        {% if actualMembership.type != 'member' %}
                                            <span class="badge bg-info">{{ actualMembership.type|trans([], 'membership') }}</span>
                                        {% endif %}
                                        {% if actualMembership.status == 'in_progress' %}
                                            <span class="badge bg-primary">Adhésion en cours</span>
                                        {% elseif actualMembership.status == 'canceled' %}
                                            <span class="badge bg-danger">Adhésion annulée</span>
                                        {% elseif actualMembership.status == 'validated' %}
                                            <span class="badge bg-success">Membre</span>
                                        {% endif %}
                                        {% if not actualMembership.first %}
                                            <span class="badge bg-light text-secondary">Renouvellement</span>
                                        {% endif %}
                                    </p>
                                    {{ include('membership/_state.html.twig', {membership: actualMembership}) }}
                                {% else %}
                                    <p><em>Pas de processus d’adhésion</em></p>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
