{% extends 'base.html.twig' %}

{% block title %}Modifier une association{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clone"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier l’association de <em>{{ associatedPerson.person.getFullname(true, true) | raw }}</em> à <em>{{ associatedPerson.organization }}</em></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('organization/_form_associate.html.twig', {organization: associatedPerson.organization, button: 'Modifier'}) }}
{%  endblock %}