{% extends 'base.html.twig' %}

{% block title %}Associer une personne à {{ organization }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clone"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Associer une personne à <em>{{ organization }}</em></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('organization/_form_associate.html.twig') }}
{%  endblock %}