{% extends 'base.html.twig' %}

{% block title %}Liste des organisations{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card main-card bg-gradient-directional-blue">
            <div class="card-content">
                <div class="media">
                    <div class="main-card-logo">
                        <i class="fa fa-clone"></i>
                    </div>
                    <div class="media-body d-md-flex">
                        <div>
                            <h1>Liste des organisations</h1>
                        </div>
                        {% if is_granted('ROLE_ORGANIZATION_EDIT') %}
                            <div class="media-btn-group">
                                <a href="{{ path('organization.new') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Ajouter</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('organization/type/_list_button.html.twig', { type: {id: null} }) }}

{{ include('organization/_list.html.twig') }}
{%  endblock %}

{% block javascripts %}
    {{ include('organization/_list.js_block.twig') }}
{% endblock %}
