{% extends 'base.html.twig' %}

{% block title %}{{ organization.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clone"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Détail d’une organisation&nbsp;: <em>{{ organization.name }}</em></h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('organization.index') }}" class="btn btn-primary text-white">
                                    <i class="fas fa-arrow-left"></i>
                                    Retour à la liste des organisations
                                </a>
                                {% if is_granted('ROLE_ORGANIZATION_EDIT') %}
                                    <a href="{{ path('organization.edit', {'id': organization.id}) }}" class="btn btn-warning text-white">
                                        <i class="fas fa-edit"></i>
                                        Modifier
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h2 class="card-title col">Informations</h2>
                        <p class="col">
                            <span class="badge bg-secondary float-end">{{ organization.type }}</span>
                        </p>
                    </div>
                    {{ include('organization/_details.html.twig') }}
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h2 class="card-title">Liste des personnes appartenant à cette organisation</h2>
                        <div class="ms-auto">
                            <div data-enoria-type="person" data-enoria-for="associatedPeople" class="toolbar"></div>
                        </div>
                    </div>
                    <table id="associatedPeople" class="table table-striped table-bordered table-middle table-responsive-sm">
                        <thead>
                        <tr>
                            <th>Rôle</th>
                            <th>Nom</th>
                            {% if is_granted('ROLE_ORGANIZATION_EDIT') %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for associatedPerson in  organization.getAssociatedPeople()%}
                            <tr data-person-id="{{ associatedPerson.person.id }}">
                                <td>
                                    <i class="fa fa-{{ associatedPerson.type.icon }}"></i>  <em>{{ associatedPerson.type }}</em>
                                </td>
                                <td>
                                    <a href="{{ path('person.show', {id: associatedPerson.person.id}) }}">{{ associatedPerson.person.getFullname(true, true) | raw }}</a>
                                </td>
                                {% if is_granted('ROLE_ORGANIZATION_EDIT') %}
                                    <td class="text-center">
                                        <a href="{{ path('organization.associate.edit', {id: associatedPerson.id}) }}" class="btn btn-warning btn-sm" rel="tooltip" title="Modifier l’association">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form id="delete_form_{{ associatedPerson.id }}" class="d-inline-block" method="post" action="{{ path('organization.associate.delete', {id: associatedPerson.id}) }}">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ associatedPerson.id) }}">
                                            <a class="btn btn-danger btn-sm" rel="tooltip" title="Supprimer l’association">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if is_granted('ROLE_ORGANIZATION_EDIT') %}
                        <p class="text-end">
                            <a href="{{ path('organization.associate', {id: organization.id}) }}" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                                Associer une nouvelle personne
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ include('organization/_membership_info.html.twig') }}

    {% if is_granted('accounting_show', organization) %}
        {{ include('accounting/_showList.html.twig') }}
    {% endif %}

    {% if organization.updatedAt|date("Y") != '-0001' and organization.updatedAt > organization.address.updatedAt %}
        <p class="small">
            <em>
                Dernière modification
                {% if organization.updatedBy %}
                    par <strong>{{ organization.updatedBy.person.fullname(false, true)|raw }}</strong>
                {% else %}
                    par le lien public
                {% endif %}
                le {{ organization.updatedAt|date("d/m/Y à H:i") }}
            </em>
        </p>
    {% elseif organization.address.updatedAt|date("Y") != '-0001' %}
        <p class="small">
            <em>
                Dernière modification
                {% if organization.address.updatedBy %}
                    par <strong>{{ organization.address.updatedBy.person.fullname(false, true)|raw }}</strong>
                {% else %}
                    par le lien public
                {% endif %}
                le {{ organization.address.updatedAt|date("d/m/Y à H:i") }}
            </em>
        </p>
    {% endif %}
{%  endblock %}

{% block javascripts %}
    <script defer>
        new DataTable('#associatedPeople', {
            'pageLength': 10,
            'select': {style: 'multi'},
            'responsive': true,
            'paging': false,
            'searching': false,
            'ordering': false,
            'info': false,
        });

        {% if is_granted('accounting_show', organization) %}
        {{ include('accounting/_showList.js.twig') }}
        {% endif %}

        {% for associatedPerson in organization.getAssociatedPeople %}
        deleteAlert('#delete_form_{{ associatedPerson.id }}');
        {% endfor %}
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
