{% extends 'base.html.twig' %}

{% block title %}Modifier un type de cotisation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-circle-dollar-to-slot icon"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier un type de cotisation</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('suborganizationmembership/_form.html.twig', {'button': 'Modifier'}) }}

    <div class="row mt-2">
        <div class="col"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-12 text-center">
                    <form id="delete_form" method="post" action="{{ path('suborganizationmembership.delete', {id: suborganizationmembership.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suborganizationmembership.id) }}">
                        <a class="btn btn-danger" rel="tooltip" title="Supprimer ce type de cotisation">
                            <i class="fas fa-trash"></i> Supprimer ce type de cotisation
                        </a>
                    </form>
                    <p><em>Cela n’affectera aucune adhésion, ni aucun paiement.</em></p>
                    <p><em>Un diocèse utilisant cette cotisation s’en verra affecter une autre.</em></p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        deleteAlert('#delete_form');
    </script>
{% endblock %}
