{{ form_start(form) }}
<div class="row">
    <div class="col-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        {{ form_row(form.datetime) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.amount) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.type) }}
                    </div>
                </div>
                <div id="checkInfo">
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.checkNumber) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.checkBank) }}
                        </div>
                    </div>
                    {{ form_row(form.checkIssuer) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <p class="alert alert-info">Vous devez choisir une personne ou une organisation.</p>
                {{ form_row(form.person) }}
                {{ form_row(form.organization) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-end">
        <a href="{{ path('accounting.index') }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{ form_end(form) }}
