<table id="{{ table ?? '' }}" class="table table-striped table-bordered table-middle text-center">
    <thead>
    <tr>
        <th></th>
        <th class="text-center">Date</th>
        <th class="text-center">Organisation / Personne</th>
        <th class="text-center">Type</th>
        <th>Montant</th>
        <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
        <tr>
            <td>
                <a href="{{ path('accounting.payment.show', {'id': payment.id}) }}">
                    #{{ payment.id }}
                    {% if payment.receipt %}
                        <i class="fa fa-receipt"></i>
                    {% endif %}
                </a>
            </td>
            <td
                    data-order="{{ payment.datetime|date('Y-m-d H:i:s') }}"
                    data-search="{{ payment.datetime|date('d/m/Y') }}"
                    class="text-center"
            >
                <a href="{{ path('accounting.payment.show', {'id': payment.id}) }}">{{ payment.datetime|date('d/m/Y') }}</a>
            </td>
            {% if payment.organization %}
                <td data-order="{{ payment.organization.name }}" data-search="{{ payment.organization.name }} {{ payment.organization.diocese.deptCode }}">
                    <a href="{{ path('organization.show', { id: payment.organization.id }) }}">{{ payment.organization.name }}</a>
                </td>
            {% elseif payment.person %}
                <td data-order="{{ payment.person.fullname }}" data-search="{{ payment.person.fullname }}">
                    <a href="{{ path('person.show', { id: payment.person.id }) }}">{{ payment.person.getFullname(false, true) | raw }}</a>
                </td>
            {% else %}
                <td>
                    Erreur&nbsp;: aucune organisation ou personne associée
                </td>
            {% endif %}
            <td>
                {{ include('accounting/payment/_type.html.twig') }}
            </td>
            <td data-order="{{ payment.amount }}" data-search="{{ payment.amount }} {{ payment.amount|format_currency('EUR') }}">
                <span class="text-{% if payment.amount > payment.amountAllocated %}danger{% else %}success{% endif %}">
                    {{ payment.amount|format_currency('EUR') }}
                </span>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" rel="tooltip" title="Voir un paiement" href="{{ path('accounting.payment.show', {'id': payment.id}) }}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <a class="btn btn-warning btn-sm" rel="tooltip" title="Modifier un paiement" href="{{ path('accounting.payment.edit', {'id': payment.id}) }}">
                    <i class="fa fa-edit"></i>
                </a>
                {% if payment.status != 'canceled' %}
                    <a class="btn btn-danger btn-sm" rel="tooltip" title="Annuler un paiement" href="{{ path('accounting.payment.cancel', {'id': payment.id}) }}">
                        <i class="fa fa-trash"></i>
                    </a>
                {% else %}
                    <a class="btn btn-success btn-sm" rel="tooltip" title="Restaurer un paiement" href="{{ path('accounting.payment.restore', {'id': payment.id}) }}">
                        <i class="fa fa-trash-restore"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                {% if emptyMessage is defined %}{{ emptyMessage }}{% else %}Aucun paiement trouvé{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
