<a href="{{ path('accounting.payment.show', {'id': payment.id}) }}" title="{{ ('payment.type.' ~ payment.type)|trans({}, 'forms') }}">
    <span class="badge bg-primary">
    {% if payment.type == 'check' %}
        <i class="fa fa-money-check-dollar"></i>
    {% elseif payment.type == 'cash' %}
        <i class="fa fa-coins"></i>
    {% elseif payment.type == 'transfer' %}
        <i class="fa fa-building-columns"></i>
    {% elseif payment.type == 'cb' %}
        <i class="fa fa-credit-card"></i>
    {% endif %}
        {{ ('payment.type.' ~ payment.type)|trans({}, 'forms') }}
    </span>
    {% if payment.type == 'check' %}
        <span class="badge bg-secondary">{{ payment.checkNumber }}</span>
        <span class="badge bg-secondary">{{ payment.checkBank }}</span>
        {{ payment.checkIssuer }}
    {% endif %}
</a>
