{% extends 'base.html.twig' %}

{% block title %}Paiement #{{ payment.id }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div id="headerPayment" class="card main-card bg-gradient-directional-{%
                if payment.status == 'validated'
            %}success{%
                elseif payment.status == 'canceled'
            %}danger{%
                elseif payment.status == 'allocated'
            %}primary{%
                else
            %}warning{%
                endif
            %}">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-cash-register"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Paiement <em>#{{ payment.id }}</em></h1>
                            </div>
                            {% if is_granted('ROLE_ACCOUNTING') %}
                                <div class="media-btn-group">
                                    <a href="{{ path('accounting.index') }}" class="btn btn-primary text-white"><i class="fas fa-undo"></i> Revenir à la liste</a>
                                    <a href="{{ path('accounting.payment.new') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Saisir un paiement</a>
                                    {% if payment.status != 'validated' %}
                                        <a href="{{ path('accounting.payment.edit', {id: payment.id}) }}" class="btn btn-warning text-white"><i class="fas fa-edit"></i> Modifier le paiement</a>
                                        {% if payment.status != 'canceled' %}
                                            <a class="btn btn-danger" rel="tooltip" href="{{ path('accounting.payment.cancel', {'id': payment.id}) }}">
                                                <i class="fa fa-trash"></i> Annuler le paiement
                                            </a>
                                        {% else %}
                                            <a class="btn btn-success" rel="tooltip" href="{{ path('accounting.payment.restore', {'id': payment.id}) }}">
                                                <i class="fa fa-trash-restore"></i> Restaurer
                                            </a>
                                        {% endif %}
                                    {% elseif is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-danger" rel="tooltip" href="{{ path('accounting.payment.invalidate', {'id': payment.id}) }}">
                                            <i class="fa fa-trash-restore"></i> Invalider
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body row align-items-center">
                    <div class="col-auto text-center">
                        <div class="rounded-2 bg-light p-2" style="width: 7em">
                            <i class="fa fa-3x fa-euro-sign"></i>
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="text-muted">Somme</h4>
                        <p class="mb-0">
                            <span class="mb-0 h1 display-6 fw-bold">{{ payment.amount|format_currency('EUR') }}</span><span id="badgePaymentStatus" class="position-absolute bottom-0 end-0 m-1 badge bg-{%
                                if payment.status == 'validated'
                            %}success{%
                                elseif payment.status == 'canceled'
                            %}danger{%
                                elseif payment.status == 'allocated'
                            %}primary{%
                                else
                            %}warning{%
                                endif
                            %}">{{ ('payment.status.' ~ payment.status)|trans({}, 'accounting') }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body row align-items-center">
                    <div class="col-auto text-center">
                        <div class="rounded-2 bg-light p-2">
                            <i class="fa fa-3x fa-calendar"></i>
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="text-muted">Date</h4>
                        <p class="mb-0">
                            <span class="mb-0 h1 display-6 fw-bold">{{ payment.datetime ? payment.datetime|date('d/m/Y') : '' }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body row align-items-center">
                    <div class="col-auto text-center">
                        <div class="rounded-2 bg-light p-2" style="width: 7em">
                            {% if payment.type == 'check' %}
                                <i class="fa fa-3x fa-money-check-dollar"></i>
                            {% elseif payment.type == 'cash' %}
                                <i class="fa fa-3x fa-coins"></i>
                            {% elseif payment.type == 'transfer' %}
                                <i class="fa fa-3x fa-building-columns"></i>
                            {% elseif payment.type == 'cb' %}
                                <i class="fa fa-3x fa-credit-card"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="text-muted">Moyen de paiement</h4>
                        <div class="row">
                            <p class="col-auto mb-0 align-self-center h1 display-6 fw-bold">{{ ('payment.type.' ~ payment.type)|trans({}, 'forms') }}</p>
                            {% if payment.type == 'check' %}
                                <p class="col mb-0 align-self-center text-end"><span class="badge bg-secondary">{{ payment.checkNumber }}</span></p>
                            {% endif %}
                        </div>
                        {% if payment.type == 'check' %}
                            <div class="row">
                                <p class="col-auto mb-0 align-self-center">
                                    {{ payment.checkIssuer }}
                                </p>
                                <p class="col mb-0 align-self-center text-end"><span class="badge bg-secondary">{{ payment.checkBank }}</span></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body row align-items-center">
                    <div class="col-auto text-center">
                        <div class="rounded-2 bg-light p-2" style="width: 7em">
                            <i class="fa fa-3x fa-{%
                                if payment.organization
                            %}clone{%
                                else
                            %}address-book{%
                                endif
                            %}"></i>
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="text-muted">Émetteur du paiement</h4>
                        <span class="mb-0 h3 fw-bold">
                            <a href="{%
                                if payment.organization
                            %}{{ path('organization.show', {id: payment.organization.id}) }}{%
                                elseif payment.person
                            %}{{ path('person.show', {id: payment.person.id}) }}{%
                                else
                            %}#{%
                                endif
                            %}">
                                {% if payment.organization %}
                                    {{ payment.organization }}
                                {% elseif payment.person %}
                                    {{ payment.person.getFullname(false, true) | raw }}
                                {% endif %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="allocations" data-enoria-payment="{{ payment.id }}" data-enoria-can-edit="{{ is_granted('ROLE_ACCOUNTING') }}"></div>

    <div class="payment-receipt" data-enoria-payment="{{ payment.id }}" data-enoria-can-edit="{{ is_granted('ROLE_ACCOUNTING') }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('Allocations') }}
    {{ encore_entry_script_tags('PaymentReceipt') }}
{% endblock %}
