{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-window-restore"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier un utilisateur de <em>{{ application }}</em></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('application/user/_form.html.twig', {'button': 'Modifier'}) }}
{% endblock %}
