{{ form_errors(form) }}

{{ form_start(form) }}
{% if form.associatedOrganization is defined %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                Pour définir l’organisation associée à ce diocèse, vous devez d’abord manuellement rattacher celle-ci à celui-ci.
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.name) }}
                        {% if form.associatedOrganization is defined %}
                            {{ form_row(form.associatedOrganization) }}
                        {% else %}
                            <p class="alert alert-info">Après la création de ce diocèse, vous pourrez lui rattacher une organisation</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {{ form_errors(form.wasselynck) }}
                        {% for wasselynckType in form.wasselynck %}
                            {{ form_errors(wasselynckType) }}
                            {{ form_widget(wasselynckType) }}
                        {% endfor %}
                        {{ form_row(form.subOrganizationMembershipFee) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.deptCode) }}
                        {{ form_row(form.country) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-end">
        <a href="{{ referer }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{  form_end(form) }}