{% extends 'base.html.twig' %}

{% block title %}Modifier un diocèse : {{ diocese.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-church"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier un diocèse&nbsp;: <em>{{ diocese.name }}</em></h1>
                            </div>
                            <div class="media-btn-group">
                                <form id="delete_form" method="post" action="{{ path('diocese.delete', {id: diocese.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ diocese.id) }}">
                                    <a class="btn btn-danger text-white"><i class="fas fa-trash"></i> Supprimer</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('diocese/_form.html.twig', {button: 'Modifier'}) }}
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        deleteAlert('#delete_form');
    </script>
{% endblock %}
