{% extends 'base.html.twig' %}

{% block title %}Liste des diocèses{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-church"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Liste des diocèses</h1>
                            </div>
                            {% if is_granted('ROLE_DIOCESE_EDIT') %}
                                <div class="media-btn-group">
                                    <a href="{{ path('diocese.new') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Ajouter</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <a href="#collapseDiocesesMap" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseDiocesesMap" class="link-dark">
                            <h2 class="card-title collapse-title">
                                <i class="fa-solid fa-map"></i> Carte des diocèses
                            </h2>
                        </a>
                    </div>
                    <div class="collapse text-center" id="collapseDiocesesMap">
                        <div id="dioceses-map" class="img-fluid">
                            {{ include('diocese/_diocesesFr.html.twig') }}
                        </div>
                        <div style="max-width: 618px" class="mx-auto text-start">
                            <div class="row">
                                <div class="col"><i class="fa fa-crown success"></i> Diocèse adhérent</div>
                                <div class="col"><i class="fa fa-crown warning"></i> Diocèse en cours d’adhésion</div>
                            </div>
                            <div class="row">
                                <div class="col"><i class="fa fa-crown primary"></i> Diocèse non adhérent avec paroisses utilisatrices</div>
                                <div class="col"><i class="fa fa-crown"></i> Aucune paroisse adhérente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <table id="dioceseList" class="table table-striped table-bordered text-center">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Indice Wasselynck</th>
                            <th>Tarif maximum</th>
                            <th>Cotisation paroisse</th>
                            <th>Nombre d’organisations adhérentes</th>
                            <th>Solde à percevoir</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for diocese in dioceses  %}
                            <tr>
                                <td data-order="{{ diocese.name }}" data-search="{{ diocese.name }} {{ diocese.deptCode }} {{ diocese.country|country_name }}">
                                    <a href="{{ path('diocese.show', {'id': diocese.id}) }}">
                                        {{ diocese.name }}
                                        {% if diocese.deptCode %}
                                            <em>({{ diocese.deptCode }})</em>
                                        {% endif %}
                                        {% if diocese.country != 'FR'  %}
                                            <em>({{ diocese.country|country_name }})</em>
                                        {% endif %}
                                        {% if diocese.associatedOrganization and diocese.associatedOrganization.memberships is not empty %}
                                            <i class="fa fa-crown {{ (diocese.associatedOrganization.memberships|last).status == 'validated' ? 'success' : ((diocese.associatedOrganization.memberships|last).status == 'in_progress' ? 'warning' : 'grey') }}"></i>
                                        {% endif %}
                                    </a>
                                </td>
                                {% if diocese.wasselynck.count() == 0 %}
                                    <td>
                                        <em>Non défini</em>
                                    </td>
                                    <td>
                                        <em>Non défini</em>
                                    </td>
                                {% else %}
                                    <td class="text-end" data-order="{{ diocese.wasselynck[0] }}">
                                        {{ diocese.wasselynck[0] }}
                                    </td>
                                    <td class="text-end" data-order="{{ getDiocesePricing(diocese.wasselynck[0].indice, app.user.period) }}">
                                        {{ getDiocesePricing(diocese.wasselynck[0].indice, app.user.period)|format_currency('EUR') }}
                                    </td>
                                {% endif %}
                                <td>
                                    <em>{{ diocese.subOrganizationMembershipFee }}</em> {{ diocese.subOrganizationMembershipFee.getFee(app.user.period)|format_currency('EUR') }}
                                </td>
                                <td>
                                    {{ dioceses_data[diocese.id].nbOrganizations }}
                                </td>
                                {% if diocese.associatedOrganization and diocese.associatedOrganization.memberships is not empty %}
                                <td data-order="{{ dioceses_data[diocese.id].total }}">
                                    <span class="text-{%
                                        if dioceses_data[diocese.id].total > 0 %}danger{%
                                        elseif dioceses_data[diocese.id].total < 0 %}warning{%
                                        else %}success{%
                                        endif %}">{{ dioceses_data[diocese.id].total|format_currency('EUR') }}</span>
                                </td>
                                {% else %}
                                <td data-order="0">
                                    <span class="text-secondary">na</span>
                                </td>
                                {% endif %}
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        new DataTable('#dioceseList', {
            'pageLength': 50,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
        });

        const diocesesMap = document.querySelector('#dioceses-map > svg');
        let diocese;
        {% for diocese in dioceses %}
        {% if diocese.country == 'FR' %}
        diocese = diocesesMap.getElementById('{{ diocese.name|lower|slug }}');
        if (diocese !== null) {
            let color = '#d3d6dd';
            {% if dioceses_data[diocese.id].nbOrganizations > 0 %}
            color = '#666ee8';
            {% endif %}
            {% if diocese.associatedOrganization and diocese.associatedOrganization.memberships is not empty %}
            color = {{ (diocese.associatedOrganization.memberships|last).status == 'validated' ? '"#28d094"' : ((diocese.associatedOrganization.memberships|last).status == 'in_progress' ? '"#ff9149"' : 'color') }};
            {% endif %}
            diocese.setAttribute('fill', color);
            diocese.addEventListener('click', () => {
                window.location.href = '{{ path('diocese.show', {'id': diocese.id}) }}';
            });
            diocese.addEventListener('mouseover', (elm) => {
                elm.target.setAttribute('fill', 'yellow');
            }, false);
            diocese.addEventListener('mouseout', (elm) => {
                elm.target.setAttribute('fill', color);
            }, false);
        } else {
            console.info('Diocèse français absent de la carte : {{ diocese.name|lower|slug }}');
        }
        {% endif %}
        {% endfor %}
    </script>
{% endblock %}
