{% extends 'base.html.twig' %}

{% block title %}Détail d’un diocèse : {{ diocese.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-church"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Détail d’un diocèse&nbsp;:
                                    <em>{{ diocese.name }}</em>
                                    {% if diocese.deptCode %}
                                        ({{ diocese.deptCode }})
                                    {% endif %}
                                    {% if diocese.country != 'FR'  %}
                                        ({{ diocese.country|country_name }})
                                    {% endif %}
                                </h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('diocese.index') }}" class="btn btn-primary text-white">
                                    <i class="fas fa-arrow-left"></i>
                                    Retour à la liste des diocèses
                                </a>
                                {% if is_granted('ROLE_DIOCESE_EDIT') %}
                                    <a href="{{ path('diocese.edit', {'id': diocese.id}) }}" class="btn btn-warning text-white">
                                        <i class="fas fa-edit"></i>
                                        Modifier
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Informations</h2>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th class="text-end">Indice de Wasselynck</th>
                            <td>
                                {% if wasselynck %}
                                    {{ wasselynck }}
                                {% else %}
                                    <em>Non défini</em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Tarif maximum</th>
                            <td>
                                {% if wasselynck %}
                                    {{ getDiocesePricing(wasselynck.indice, app.user.period)|format_currency('EUR') }}
                                {% else %}
                                    <em>Non défini</em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Cotisation d’une paroisse</th>
                            <td>
                                {% if actualMembership %}
                                    <em>{{ diocese.subOrganizationMembershipFee }}</em>
                                    {{ diocese.subOrganizationMembershipFee.getFee(app.user.period)|format_currency('EUR') }}
                                {% else %}
                                    {{ app.user.period.membershipfeeLegal|format_currency('EUR') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Organisation associée</th>
                            <td>
                                {% if diocese.associatedOrganization %}
                                    <a href="{{ path("organization.show", {id: diocese.associatedOrganization.id}) }}">
                                        {{ diocese.associatedOrganization }}
                                    </a>
                                {% else %}
                                    <em>Aucune</em>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="d-flex">
                        <h2 class="card-title">Liste des organisations de ce diocèse</h2>
                        <div class="ms-auto">
                            <div data-enoria-type="organization" data-enoria-for="organizations" class="toolbar"></div>
                        </div>
                    </div>
                    {% if diocese.getOrganizations().count() %}
                        <div class="datatable-wide">
                            <table id="organizations" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>État</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for organization in diocese.getOrganizations()|sort((a, b) => a.name <=> b.name) %}
                                    {% set nothing = true %}
                                    {% set organizationActualMembership = null %}
                                    {% for membership in organization.memberships %}
                                        {% if membership.period == app.user.period %}
                                            {% set nothing = false %}
                                            {% set organizationActualMembership = membership %}
                                        {% endif %}
                                    {% endfor %}
                                    <tr
                                        data-organization-id="{{ organization.id }}"
                                        data-membership-id="{% if not nothing %}{{ organizationActualMembership.id }}{% endif %}"
                                    >
                                        <td>
                                            <a href="{{ path("organization.show", {id: organization.id}) }}">
                                                {% if organization == diocese.associatedOrganization %}
                                                    <i class="fa fa-crown"></i>
                                                {% endif %}
                                                {{ organization }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if organization.memberships.count == 0 and is_granted('membership_show', organization) %}
                                                <span class="badge bg-light">Pas d’adhésion en cours</span>
                                            {% elseif not nothing %}
                                                {% if organizationActualMembership.status == 'in_progress' and is_granted('membership_show', organization) %}
                                                    <span class="badge bg-primary">Adhésion en cours</span>
                                                {% elseif organizationActualMembership.status == 'canceled' and is_granted('membership_show', organization) %}
                                                    <span class="badge bg-danger">Adhésion annulée</span>
                                                {% elseif organizationActualMembership.status == 'validated' %}
                                                    <span class="badge bg-success">Membre</span>
                                                {% endif %}
                                            {% elseif is_granted('membership_show', organization) %}
                                                <span class="badge bg-light">Pas d’adhésion en cours</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
                            <p class="text-end">
                                <button id="mailRenewDiocese" class="btn btn-outline-info"><i class="fas fa-at"></i> Mail auto aux renouvelants sélectionnés</button>
                            </p>
                        {% endif %}
                    {% else %}
                        <p><em>Aucune</em></p>
                    {% endif %}
                    {% if is_granted('ROLE_DIOCESE_EDIT') %}
                        <p class="text-end text-italic">
                            Pour associer une organisation à un diocèse, allez sur la page de modification de l’organisation.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if diocese.associatedOrganization and is_granted('membership_show', diocese.associatedOrganization) %}
        {{ include('organization/_membership_info.html.twig', {memberships: diocese.associatedOrganization.memberships, organization: diocese.associatedOrganization}) }}
    {% endif %}

    {% if actualMembership %}
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa fa-money-check"></i> Détail de la cotisation</h2>
                        {% if actualMembership.hosting == 'self' %}
                            <p>
                                Ce diocèse a choisi l’<span class="badge bg-success">Auto-hébergement</span>, sa cotisation est donc de 25&nbsp;% de la
                                valeur calculée avec l’indice de Wasselynck.
                            </p>
                            <p class="text-center">
                                <strong>
                                    {% if wasselynck %}
                                        {{ (getDiocesePricing(wasselynck.indice, app.user.period) * 0.25)|format_currency('EUR') }}
                                    {% else %}
                                        <em>Non défini</em>
                                    {% endif %}
                                </strong>
                            </p>
                        {% else %}
                            <p>
                                Ce diocèse a choisi d’être hébergé par l’association, la somme des cotisations de ses paroisses et celle du diocèse ne
                                peut excéder la valeur calculée avec l’indice de Wasselynck.
                            </p>
                            <p class="text-center">
                                <strong>
                                    {% if wasselynck %}
                                        {{ getDiocesePricing(wasselynck.indice, app.user.period)|format_currency('EUR') }}
                                    {% else %}
                                        <em>Non défini</em>
                                    {% endif %}
                                </strong>
                            </p>

                            <h3><i class="fa fa-clone"></i> Détail par organisation</h3>
                            {% if actualAssociatedMembershipsResult|length %}
                                <table id="organizations" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">Nom</th>
                                        <th colspan="2">Cotisation</th>
                                    </tr>
                                    <tr>
                                        <th>demandée</th>
                                        <th>versée</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for actualAssociatedMembership in actualAssociatedMembershipsResult %}
                                        <tr data-organization-id="{{ actualAssociatedMembership.organization.id }}">
                                            <td>
                                                <a href="{{ path("organization.show", {id: actualAssociatedMembership.organization.id}) }}">
                                                    {% if actualAssociatedMembership.organization == diocese.associatedOrganization %}
                                                        <i class="fa fa-crown"></i>
                                                    {% endif %}
                                                    {{ actualAssociatedMembership.organization }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ actualAssociatedMembership.membershipFee|format_currency('EUR') }}
                                            </td>
                                            <td>
                                                {{ actualAssociatedMembership.paymentRequest.amountPaid|format_currency('EUR') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p><em>Aucune</em></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if actualMembership.hosting != 'self' %}
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title"><i class="fa fa-receipt"></i> Solde à percevoir</h2>
                            <p class="text-italic">
                                Cette valeur est calculée à partir des cotisations demandées à chacune des organisations de ce diocèse et en supposant que
                                chacune d’entre elles en a réglé la totalité.
                            </p>
                            <table class="table table-striped table-bordered text-end">
                                    <th>Nombre d’organisation membre pour cette période</th>
                                    <td>{{ actualAssociatedMemberships.nbOrganizations }}</td>
                                </tr>
                                <tr>
                                    <th>Total des cotisations déjà demandées</th>
                                    <td>{{ actualAssociatedMemberships.totalMembershipFee|format_currency('EUR') }}</td>
                                </tr>
                                <tr>
                                    <th>
                                        Total à percevoir
                                        {% if actualAssociatedMemberships.isMaximum %}<em>(maximum atteint)</em>{% endif %}
                                    </th>
                                    <td>{{ actualAssociatedMemberships.finalMembershipFee|format_currency('EUR') }}</td>
                                </tr>
                                {% if membershipSupplement and membershipSupplement.paymentRequest.status != 'canceled' %}
                                    <tr>
                                        <th>
                                            {% if membershipSupplement.paymentRequest.amount < 0 %}
                                                Trop perçu remboursé
                                            {% else %}
                                                Complément demandé
                                            {% endif %}
                                        </th>
                                        <td>
                                            {% if is_granted('ROLE_ACCOUNTING') %}
                                                <a href="{{ path('accounting.payment_request.show', {id: membershipSupplement.paymentRequest.id}) }}"><i class="fa-solid fa-magnifying-glass"></i>
                                            {% endif %}
                                                {% if membershipSupplement.paymentRequest.status != 'completed' %}
                                                    <span class="text-danger">{{ membershipSupplement.paymentRequest.amount|format_currency('EUR') }}</span>
                                                {% else %}
                                                    <span class="text-success">{{ membershipSupplement.paymentRequest.amount|format_currency('EUR') }}</span>
                                                {% endif %}
                                            {% if is_granted('ROLE_ACCOUNTING') %}</a>{% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    {% if actualAssociatedMemberships.total <= 0 %}
                                        <th>Crédit en votre faveur</th>
                                        <td><span class="text-success">{{ (-actualAssociatedMemberships.total)|format_currency('EUR') }}</span></td>
                                    {% else %}
                                        <th>Solde à percevoir</th>
                                        <td><span class="text-danger">{{ actualAssociatedMemberships.total|format_currency('EUR') }}</span></td>
                                    {% endif %}
                                </tr>
                            </table>

                            {% if is_granted('ROLE_ACCOUNTING') %}
                                {% if membershipSupplement is null and actualAssociatedMemberships.total > 0 %}
                                    <p class="text-center">
                                        <a href="{{ path('accounting.payment_request.diocese_supplement.new', {id: diocese.id}) }}" class="btn btn-success">
                                            <i class="fa fa-hand-holding-dollar"></i> Demander un complément
                                        </a>
                                    </p>
                                {% elseif membershipSupplement is not null and actualAssociatedMemberships.total > 0 %}
                                    <p class="text-center">
                                        <a href="{{ path('accounting.payment_request.show', {id: membershipSupplement.paymentRequest.id}) }}" class="btn btn-warning">
                                            <i class="fa fa-hand-holding-dollar"></i> Une demande de complément a été annulée ou est insuffisante
                                        </a>
                                    </p>
                                {% elseif membershipSupplement is null and actualAssociatedMemberships.total < 0 %}
                                    <p class="text-center">
                                        <a href="{{ path('accounting.payment_request.diocese_supplement.new', {id: diocese.id}) }}" class="btn btn-success">
                                            <i class="fa fa-hand-holding-dollar"></i> Rembourser un trop perçu
                                        </a>
                                    </p>
                                {% elseif membershipSupplement is not null and actualAssociatedMemberships.total > 0 %}
                                    <p class="text-center">
                                        <a href="{{ path('accounting.payment_request.show', {id: membershipSupplement.paymentRequest.id}) }}" class="btn btn-warning">
                                            <i class="fa fa-hand-holding-dollar"></i> Un remboursement de trop perçu a été annulé ou est insuffisant
                                        </a>
                                    </p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{%  endblock %}

{% block javascripts %}
    <script defer>
        const organizations = new DataTable('#organizations', {
            'pageLength': 10,
            'select': {style: 'multi'},
            'responsive': true,
            'paging': false,
            'searching': false,
            'ordering': false,
            'info': false,
        });

        document.getElementById('mailRenewDiocese').addEventListener('click', function () {
            if (!organizations.rows({ selected: true }).nodes().length){
                alert('Vous devez choisir des lignes.');
            } else {
                let url = '{{ path('membership_request.mailall', {type: 'diocese'}) }}?m=';
                organizations.rows('.selected').nodes().map(item => {
                    url += item.getAttribute('data-membership-id')+',';
                });
                window.location.href = url;
            }
        });
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
