<h2 class="text-center">CONDITIONS GÉNÉRALES D’UTILISATION</h2>
<p class="text-center">Application Zachée</p>

<h3>1. GÉNÉRALITÉS – PRÉSENTATION ET ÉTENDUE DES SERVICES</h3>
<p>
    1.1 La plateforme «&nbsp;Zachée&nbsp;» (ci-après «&nbsp;<strong>Plateforme ZACHÉE</strong>&nbsp;»
    ou «&nbsp;<strong>Plateforme</strong>&nbsp;») est exploitée sous le nom de domaine
    <a href="https://zachee.association-enoria.org">https://zachee.association-enoria.org</a> par
    l’Association Enoria, dont le siège social est sis 43, rue Duguay – 95100 Argenteuil (ci-après
    «&nbsp;<strong>ENORIA</strong>&nbsp;» ou l’«&nbsp;<strong>Association</strong>&nbsp;»).
</p>
<p>
    1.2 La Plateforme Zachée est un outil interne à l’Association qui permet à ses Utilisateurs de
    satisfaire les besoins administratifs et organisationnels de l’Association.
</p>
<p>
    1.3 L’accès à la Plateforme est exclusivement réservé aux personnes auxquelles ENORIA a accordé un
    droit d’accès exprès par courriel (ci-après le(s) «&nbsp;<strong>Utilisateur</strong>(s)&nbsp;») et aux personnes
    représentantes des membres de l’Association par saisie d’un mot de passe ou par authentification forte
    par mail ou SMS.
</p>
<p>
    1.4 La Plateforme est accessible par les Utilisateurs via l’URL
    <a href="https://zachee.association-enoria.org">https://zachee.association-enoria.org</a> par saisie
    d’un identifiant et d’un mot de passe.
</p>
<p>
    1.5 Les présentes conditions générales d’utilisation (ci-après les «&nbsp;<strong>Conditions Générales d’Utilisation</strong>&nbsp;»)
    déterminent les conditions et modalités d’utilisation de la Plateforme ZACHÉE.
</p>

<h3>2. INSCRIPTION</h3>
<p>
    2.1 L’Association, après avoir créé le compte de l’Utilisateur, lui envoie un courriel d’activation
    contenant un lien.
</p>
<p>
    2.2 Les Utilisateurs sont informés que leur inscription sur la Plateforme permet d’accéder à un compte
    personnel conformément à l’article&nbsp;3 des présentes Conditions Générales d’Utilisation.
</p>
<p>
    2.3 Lors de son inscription sur la Plateforme, l’Utilisateur est tenu de renseigner des informations
    complètes et exactes. Dans le cas où sa situation viendrait à évoluer, l’Utilisateur s’engage à
    notifier, sans délai, les modifications afférentes à ses nouvelles informations par courriel à
    l’adresse électronique suivante&nbsp;: secretariat@association-enoria.org
</p>

<h3>3. CONNEXION</h3>
<p>
    3.1 Pour se connecter à son espace personnel sur la Plateforme, l’Utilisateur inscrit conformément
    à l’article&nbsp;2 doit renseigner ses identifiants de connexion, à savoir son nom d’utilisateur
    et son mot de passe personnel avant de cliquer sur le bouton «&nbsp;Se connecter&nbsp;».
</p>
<p>
    3.2 En cas d’oubli de son mot de passe, l’Utilisateur inscrit peut cliquer sur le lien hypertexte
    «&nbsp;<strong>Mot de passe oublié&nbsp;?</strong>&nbsp;» sur la page de connexion.
</p>

<h3>4. SÉCURITÉ ET MODIFICATION DES IDENTIFIANTS DE CONNEXION</h3>
<p>
    4.1. Les identifiants de connexion sont confidentiels, uniques et personnels.
</p>
<p>
    4.2. Les Utilisateurs sont responsables de toutes les activités réalisées à l’aide de leurs identifiants
    de connexion et sont responsables des conséquences de l’utilisation anormale de ces données. Les
    Utilisateurs doivent donc tout particulièrement veiller à ne pas transmettre leurs identifiants de
    connexion à une tierce personne mais également à un autre Utilisateur. ENORIA exclut sa responsabilité
    en cas de perte ou de vol des identifiants de connexion qui ne seraient pas imputables à un manquement
    de sa part en matière de sécurité.
</p>
<p>
    4.3. Il est interdit à tout Utilisateur non autorisé d’accéder à l’espace personnel d’un autre Utilisateur.
    Un tel accès sera considéré comme un accès frauduleux au sens des dispositions du code pénal.
</p>
<p>
    4.4. Si l’un de ses identifiants de connexion est perdu ou volé, l’Utilisateur doit en informer sans
    délai l’Association qui procédera alors aux actions nécessaires à la sécurisation du compte concerné.
</p>
<p>
    4.5. Si un Utilisateur non autorisé entrait dans un espace personnel réservé à un autre Utilisateur,
    sans droit, par inadvertance, il s’engage à en informer ENORIA à l’adresse électronique suivante&nbsp;:
    rgpd@association-enoria.org. L’Utilisateur devra considérer que toutes les données dont il aura eu
    connaissance à l’occasion d’un tel accès à l’espace personnel sont des données confidentielles et
    s’engage, en conséquence, à ne pas les divulguer.
</p>
<p>
    4.6. Par ailleurs, toute suspicion d’utilisation frauduleuse par des tiers de l’espace personnel d’un
    Utilisateur doit faire l’objet d’un signalement immédiat auprès d’ENORIA par courriel à l’adresse
    électronique suivante&nbsp;: rgpd@association-enoria.org.
</p>

<h3>5. OBLIGATIONS DES UTILISATEURS</h3>
<p>
    5.1. L’Utilisateur s’engage à&nbsp;:
</p>
<ol type="i">
    <li>
        lire, accepter et respecter les présentes Conditions Générales d’Utilisation&nbsp;;
    </li>
    <li>
        communiquer et confirmer à ENORIA, sans délai, toutes les informations nécessaires à son inscription
        sur la Plateforme ZACHÉE et à actualiser ces informations, l’Utilisateur étant seul responsable des
        conséquences liées à un défaut ou un retard d’actualisation desdites informations&nbsp;;
    </li>
    <li>
        assurer la fourniture, l’installation et la maintenance de l’infrastructure permettant l’accès
        à la Plateforme ZACHÉE ainsi que les frais de communications électroniques (tels que les coûts téléphoniques
        et les coûts d’accès à Internet) résultant de son utilisation qui sont à la charge exclusive de
        l’Utilisateur, étant précisé qu’il est de sa responsabilité de s’informer du prix d’utilisation desdits
        services auprès des opérateurs concernés&nbsp;;
    </li>
    <li>
        se prémunir contre les risques de perte ou de piratage de données, fichiers et programmes en utilisant
        des logiciels antivirus régulièrement mis à jour&nbsp;;
    </li>
    <li>
        restreindre l’accès et observer la plus grande confidentialité s’agissant des modes d’accès à la
        Plateforme ZACHÉE, quels qu’ils soient, et d’une manière générale, à sécuriser ces modes d’accès
        afin d’empêcher une utilisation non autorisée de la Plateforme&nbsp;;
    </li>
    <li>
        utiliser la Plateforme ZACHÉE dans le respect des lois et règlements en vigueur&nbsp;;
    </li>
    <li>
        ne pas utiliser la Plateforme ZACHÉE d’une façon qui serait susceptible de nuire à la réputation
        et/ou à l’image de la Plateforme, de l’Association Enoria, de tout adhérent de cette association,
        de tout Utilisateur ou de toute autre personne&nbsp;;
    </li>
    <li>
        prendre les précautions nécessaires pour sécuriser leurs systèmes, en particulier d’utiliser les
        paramètres de sécurité standard du navigateur et d’utiliser des mécanismes de protection actualisés
        pour se défendre contre les logiciels malveillants&nbsp;;
    </li>
    <li>
        n’entreprendre aucune activité visant à rendre la Plateforme ZACHÉE inopérante ou à rendre son
        accès ou son utilisation plus difficile. Les Utilisateurs sont informés qu’ils ne peuvent prendre
        aucune mesure qui pourrait entraîner une charge déraisonnable ou excessive sur l’infrastructure de
        la Plateforme ZACHÉE. Les Utilisateurs ne sont pas non plus autorisés à bloquer ou à modifier les
        contenus de la Plateforme en dehors des fonctions de la Plateforme prévues à cet effet ou à
        interférer de toute autre manière avec le fonctionnement de la Plateforme. Les Utilisateurs ne
        peuvent pas extraire, réutiliser, intégrer dans une application, logiciel ou dans un autre site
        Internet, relier et/ou connecter de toute autre manière tout ou partie de la Plateforme ZACHÉE.
        L’utilisation de programmes et de techniques d’exploration de données, de robots, de grattage et/ou
        de collecte et d’extraction de données similaires est interdite&nbsp;
    </li>
    <li>
        ne pas extraire, réutiliser, intégrer dans une application, logiciel dans un autre site Internet ou
        sur tout autre support, numérique ou papier, tout ou partie de la Plateforme ZACHÉE, notamment tout
        ou partie des annonces publiées par les Utilisateurs inscrits.
    </li>
    <li>
        ne pas utiliser la Plateforme ZACHÉE ou son contenu&nbsp;:
        <ol type="a">
            <li>
                à des fins illégales&nbsp;;
            </li>
            <li>
                pour inciter des tiers à réaliser des actes illégaux ou à y prendre part&nbsp;;
            </li>
            <li>
                pour enfreindre toute ordonnance régionale ou toute loi, règle ou régulation internationale,
                fédérale, provinciale ou étatique&nbsp;;
            </li>
            <li>
                pour porter atteinte ou violer des droits de propriété intellectuelle ou ceux de tierces
                parties&nbsp;;
            </li>
            <li>
                pour harceler, maltraiter, insulter, blesser, diffamer, calomnier, dénigrer, intimider ou
                discriminer quiconque en fonction du sexe, de l’orientation sexuelle, de la religion, de
                l’origine ethnique, de la race, de l’âge, de l’origine nationale, ou d’un handicap&nbsp;;
            </li>
            <li>
                pour soumettre des renseignements faux ou trompeurs&nbsp;;
            </li>
            <li>
                pour téléverser ou transmettre des virus ou tout autre type de code malveillant qui sera
                ou pourrait être utilisé de manière à compromettre la fonctionnalité ou le fonctionnement de
                la Plateforme ou de tout autre site web associé, indépendant, ou d’Internet&nbsp;;
            </li>
            <li>
                pour recueillir ou suivre les renseignements personnels d’autrui&nbsp;;
            </li>
            <li>
                pour polluposter, hameçonner, détourner un domaine, extorquer des informations, parcourir,
                explorer ou balayer le web (ou toute autre ressource)&nbsp;;
            </li>
            <li>
                à des fins obscènes ou immorales ; ou (k) pour porter atteinte ou contourner les mesures
                de sécurité de la Plateforme ou de tout autre logiciel, application, site web, ou d’Internet&nbsp;;
            </li>
        </ol>
    </li>
</ol>
<p>
    5.2. ENORIA se réserve le droit de suspendre ou de supprimer le compte de l’Utilisateur et de résilier
    ou de bloquer tout accès ou utilisation de la Plateforme ZACHÉE ou de tout autre site web ou toute
    application connexe pour avoir enfreint les règles mentionnées au présent article.
</p>

<h3>6. OBLIGATIONS DE L’ASSOCIATION ENORIA</h3>
<p>
    6.1. ENORIA s’engage à mettre en œuvre toutes les mesures de sécurité requises au titre des lois et
    règlements applicables.
</p>

<h3>7. RESPONSABILITÉ</h3>
<h4>7.1. Responsabilité relative au fonctionnement de la Plateforme</h4>
<p>
    7.1.1. La responsabilité de ENORIA ne peut être engagée en cas de défaillance, panne, difficulté ou
    interruption de fonctionnement, empêchant l’accès à la Plateforme ZACHÉE ou à une de ses fonctionnalités.
</p>
<p>
    7.1.2. L’Utilisateur est par ailleurs le seul responsable des sites et données qu’il consulte en dehors
    de son utilisation de ZACHÉE.
</p>
<p>
    7.1.3. ENORIA se réserve le droit de restreindre temporairement l’accès à la Plateforme ou à certaines
    fonctionnalités si cela s’avère nécessaire en raison de limites de capacité, de la sécurité ou de
    l’intégrité des serveurs ou pour prendre des mesures techniques et si cela sert à la fourniture correcte
    ou améliorée des services (travaux de maintenance).
</p>
<p>
    7.1.4. ENORIA n’est pas responsable des dommages causés à l’Utilisateur ou à des tiers si la cause du dommage
    provient d’un problème de connexion de l’Utilisateur ou de son utilisation de la Plateforme ZACHÉE.
    L’Utilisateur renonce à toute action contre ENORIA de ce fait.
</p>
<h4>7.2. Responsabilité relative à l’utilisation de la Plateforme</h4>
<p>
    7.2.1. ENORIA ne pourra être tenue responsable en cas de poursuites judiciaires exercées par des tiers
    à l’encontre de l’Utilisateur
<ol type="a">
    <li>du fait de son usage de la Plateforme ZACHÉE ou de tout serviceaccessible via Internet&nbsp;</li>
    <li>du fait du non-respect par l’Utilisateur des présentes Conditions Générales d’Utilisation.</li>
</ol>
</p>
<p>
    7.2.2. Dans le cas où ENORIA viendrait à faire l’objet d’une procédure amiable ou judiciaire à raison
    de l’utilisation fautive de la Plateforme par l’Utilisateur, elle pourra se retourner contre l’Utilisateur
    pour obtenir une indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient
    découler de cette procédure.
</p>

<h3>8. EXCLUSION D’UN UTILISATEUR</h3>
<h4>8.1. Violation des Conditions Générales</h4>
<p>
    8.1.1. En cas de violation des présentes Conditions Générales par un Utilisateur, et notamment du
    non-respect des obligations stipulées à l’article 5 ci-avant, ENORIA se réserve le droit de procéder
    à l’exclusion de l’Utilisateur concerné de la Plateforme.
</p>
<h4>8.2. Conséquences d’une exclusion</h4>
<p>
    8.2.1. L’exclusion prévue à l’article 8.1. ci-avant se traduit par la suppression de l’accès au compte
    personnel de l’Utilisateur ainsi qu’à l’impossibilité pour ce dernier d’obtenir un nouvel accès à la
    Plateforme.
</p>

<h3>9. DURÉE ET SUPPRESSION</h3>
<h4>9.1. DURÉE</h4>
<p>
    9.1.1. Le contrat conclu entre les Utilisateurs et l’Association ENORIA reflété par les présentes
    Conditions Générales d’Utilisation prend effet à compter de l’inscription d’un Utilisateur sur la
    Plateforme ZACHÉE conformément à l’article&nbsp;2 et dure jusqu’à la suppression ou la désactivation
    du compte Utilisateur.
</p>
<h4>9.2. SUPPRESSION</h4>
<p>
    9.2.1. L’Utilisateur est informé que ses accès peuvent être modifiés ou supprimés dans les cas suivants&nbsp;:
</p>
<ul>
    <li>Modification du mandat au sein de l’Association&nbsp;;</li>
    <li>Modification de son mandat de représentation d’un adhérent à l’Association.</li>
</ul>
<p>
    9.2.2. ENORIA se réserve la possibilité de résilier le présent contrat à tout moment pour l’un quelconque
    des motifs d’exclusion mentionnés à l’article&nbsp;9 ci-avant. Le cas échéant, la responsabilité de
    ENORIA ne pourra pas être engagée.
</p>

<h3>10. PROTECTION DES DONNÉES</h3>
<p>
    10.1. ENORIA s’engage à respecter la réglementation applicable en matière de protection des données,
    composée notamment du règlement européen général sur la protection des données (RGPD)
    nᵒ 2016/679, de la loi française relative à l’informatique, aux fichiers et aux libertés n° 78-17,
    ainsi que son décret d’application.
</p>
<p>
    10.2. Dans le cadre de l’exploitation de la Plateforme, l’Association Enoria a la qualité de responsable
    du traitement.
</p>
<p>
    10.3. Les détails sur le traitement des données personnelles et le fonctionnement de cookies lors de
    l’utilisation de la Plateforme ZACHÉE peuvent être consultés dans la Politique de confidentialité
    disponible au sein de la Plateforme.
</p>

<h3>11. PROPRIÉTÉ INTELLECTUELLE</h3>
<p>
    11.1. Le contenu accessible sur la Plateforme ZACHÉE, et la Plateforme elle-même, sont susceptibles
    d’être protégés par des droits de propriété intellectuelle (droits d’auteur, marques déposées).
</p>
<p>
    11.2. Ce contenu, ses caractéristiques et ses fonctionnalités sont la propriété exclusive de l’Association
    Enoria. Aucune disposition des présentes Conditions Générales d’Utilisation ne peut être interprétée
    comme une cession de droits de propriété intellectuelle.
</p>
<p>
    11.3. ENORIA concède aux Utilisateurs un droit d’utilisation personnel, non exclusif et non cessible
    de la Plateforme ZACHÉE.
</p>
<p>
    11.4. Les Utilisateurs s’engagent à ne pas
</p>
<ul>
    <li>
        tenter d’accéder ou copier les codes sources et/ou codes objets de la Plateforme&nbsp;;
    </li>
    <li>
        utiliser la Plateforme à d’autres fins que celles prévues par les présentes Conditions Générales d’Utilisation&nbsp;;
    </li>
    <li>
        créer des copies de la Plateforme&nbsp;;
    </li>
    <li>
        reproduire, corriger, extraire, modifier, traduire en toutes langues ou tous langages, réutiliser,
        arranger, adapter, décompiler (à l’exception et dans la seule mesure où la loi applicable
        l’autorise de manière expresse), ni incorporer la Plateforme dans un autre site web, logiciel,
        application ou créer des travaux dérivés sur la base de la Plateforme quels qu’en soient le moyen
        et le support;
    </li>
    <li>
        revendre, louer, ou exploiter commercialement la Plateforme, ni céder/concéder les services de
        la Plateforme à un tiers&nbsp;;
    </li>
    <li>
        faire des tests d’intrusion ou tenter d’obtenir un déni de service sur les services mis à disposition
        sur la Plateforme.
    </li>
</ul>
<p>
    11.5. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de
    tout ou partie de ces éléments, tels que la charte graphique, les codes sources et/ou codes objets ou
    applications informatiques, sans l’accord préalable et écrit de l’Association Enoria est strictement
    interdite en dehors de la licence open source applicable.
</p>
<p>
    11.6. Le fait pour l’Association Enoria de ne pas engager de procédure dès la prise de connaissance
    de ces utilisations, reproduction ou représentation, non autorisées, ne vaut ni acceptation ni renonciation
    aux poursuites.
</p>
<p>
    11.7. Toute violation du présent article sans autorisation préalable et écrite de ENORIA est susceptible
    de constituer une contrefaçon et d’engager la responsabilité civile et/ou pénale de son auteur.
</p>

<h3>12. DISSOCIABILITÉ</h3>
<p>
    12.1. Dans le cas où une disposition des présentes Conditions Générales d’Utilisation serait jugée comme
    étant illégale, nulle ou inapplicable, cette disposition pourra néanmoins être appliquée dans la pleine
    mesure permise par la loi, et la partie non applicable devra être considérée comme étant dissociée de ces
    Conditions Générales d’Utilisation, cette dissociation ne devra pas affecter la validité et l’applicabilité
    de toutes les autres dispositions restantes.
</p>

<h3>13. MODIFICATIONS APPORTÉES AUX CONDITIONS GÉNÉRALES</h3>
<p>
    13.1. L’Utilisateur est en mesure de consulter la version la plus récente des Conditions Générales
    d’Utilisation de la Plateforme ZACHÉE à tout moment. ENORIA dispose du droit, à sa seule discrétion,
    de mettre à jour, de modifier ou de remplacer tout ou partie de ces Conditions Générales d’Utilisation
    en publiant les mises à jour et les changements sur la Plateforme ZACHÉE.
</p>
<p>
    13.2. Les Utilisateurs seront invités à accepter toute nouvelle version des conditions générales
    d’utilisation produite par l’Association.
</p>

<h3>14. LOI APPLICABLE ET JURIDICTION COMPÉTENTE</h3>
<p>
    14.1. Les présentes Conditions Générales d’Utilisation sont soumises à la loi française.
</p>
<p>
    <strong>
        14.2. EN CAS DE LITIGE ENTRE L’ADHÉRENT ET L’ASSOCIATION ENORIA, COMPÉTENCE EXPRESSE EST ATTRIBUÉE
        AUX TRIBUNAUX COMPÉTENTS DU LIEU DU SIÈGE DE L’ASSOCIATION ENORIA NONOBSTANT LA PLURALITÉ DE
        DÉFENDEURS, DEMANDE INCIDENTE OU APPEL EN GARANTIE, MÊME POUR LES PROCÉDURES D’URGENCE OU POUR LES
        PROCÉDURES CONSERVATOIRES, EN RÉFÉRÉ OU PAR REQUÊTE.
    </strong>
</p>
