{% extends base ~ '.html.twig' %}

{%  block title %}Conditions Générales d’Utilisation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12{% if base == 'public' %} pt-2{% endif %}">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-file-contract"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Conditions Générales d’Utilisation</h1>
                            </div>
                            <div class="media-btn-group">
                                {% if base == 'base' %}
                                    <a href="{{ path('home') }}" class="btn btn-primary text-white">
                                        <i class="fas fa-arrow-left"></i>
                                        Retour à l’accueil
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if app.user %}
                        <p class="text-end text-italic">
                            {% if app.user.cguValidatedAt is not null %}
                                Vous avez validé les Conditions générales d’utilisation le
                                {{ app.user.cguValidatedAt|date('d/m/Y à H:i') }}
                            {% else %}
                                Vous n’avez pas encore validé les Conditions générales d’utilisation
                            {% endif %}
                        </p>
                    {% endif %}

                    {{ include('pages/_cgu.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
        </div>
        <div class="col-4">
        </div>
    </div>

    </div>
{%  endblock %}
