{% extends 'base.html.twig' %}

{%  block title %}Historique des changements{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Historique des changements</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('home') }}" class="btn btn-primary text-white">
                                    <i class="fas fa-arrow-left"></i>
                                    Retour à l’accueil
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>?? mars 2025 <span class="badge bg-light text-secondary font-small-3">v. 2.13.1</span></h3>
                    <ul>
                        <li>Ajout d’une liste d’applications pour enregistrer les listes des usernames des contacts ayant des accès aux applications de l’association</li>
                        <li>La recherche globale fonctionne également pour les adresses mail est les numéros de téléphone</li>
                        <li>Un critère permet de sélectionner les primo-adhérents ou non dans les agrégats</li>
                    </ul>

                    <h3>25 février 2025 <span class="badge bg-light text-secondary font-small-3">v. 2.13.0</span></h3>
                    <ul>
                        <li>Ajout d’un tag <code>ag-multi</code> pour rendre disponible un document pour plusieurs assemblées générales</li>
                        <li>Amélioration du changelog avec un système d’accordéons pour que la page soit moins longue</li>
                        <li>Quelques détails cosmétiques sur la page des assemblées générales</li>
                        <li>Ajout d’une barre de recherche globale</li>
                        <li>Redesign de la top barre et du menu&nbsp;: à terme, l’interface sera plus proche de la version actuelle d’Enoria</li>
                        <li>Suppression du bouton de validation pour les demandes d’adhésion qui ne sont pas validables</li>
                        <li>Ajout de boutons pour copier le numéro de téléphone ou l’adresse email d’une personne</li>
                        <li>Mises à jour des dépendances PHP et JavaScript</li>
                    </ul>
                    <h3>4 février 2025 <span class="badge bg-light text-secondary font-small-3">v. 2.12.0</span></h3>
                    <ul>
                        <li>Ajout des Conditions Générales d’Utilisation</li>
                        <li>Correction des permissions affichées dans la page «&nbsp;Mon profil&nbsp;»</li>
                        <li>Ajout de l’authentification à deux facteurs via un code reçu par email ou SMS ou via Google Authenticator</li>
                        <li>Une sécurité anti brute-force bloque l’identification pendant 15 minutes après trois tentatives échouées</li>
                        <li>Ajout de l’authentification râce à WebAuthn qui permet aussi l’utilisation de clés biométriques</li>
                        <li>Amélioration du rendu de l’image de fond de la page de connexion (pour les écrans très larges)</li>
                    </ul>
                    <h3>28 janvier 2025 <span class="badge bg-light text-secondary font-small-3">v. 2.11.3</span></h3>
                    <ul>
                        <li>Ajout d’un bouton pour affecter le solde d’un paiement directement en don</li>
                        <li>Lorsqu’un paiement est totalement affecté, la page s’actualise pour afficher la génération du reçu</li>
                        <li>Quelques mises à jour des dépendances PHP</li>
                        <li>Affiche la bonne cotisation des paroisses dans les informations de la page «&nbsp;Détail d’un diocèse&nbsp;» (selon que le diocèse est adhérent ou non)</li>
                        <li>Corrections de la mise-à-jour automatique du statut des entités</li>
                    </ul>
                    <h3>10 janvier 2025 <span class="badge bg-light text-secondary font-small-3">v. 2.11.2</span></h3>
                    <ul>
                        <li>Mises à jour des dépendances PHP et JavaScript</li>
                        <li>Corrections de divers bugs JavaScript</li>
                        <li>Ajout d’un footer pour accéder directement aux mentions légales et à la politique de confidentialité sur la page de login</li>
                        <li>Corrections des droits pour l’affichage des documents de la base documentaire</li>
                        <li>Correction du rendu de l’arborescence de la base documentaire</li>
                        <li>Corrections des droits pour l’affichage des personnes, organisations, diocèses et paiements</li>
                    </ul>
                    <h3>11 décembre 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.11.1</span></h3>
                    <ul>
                        <li>Indexation interdite pour les moteurs de recherche</li>
                        <li>Sécurisation des accès aux documents grâce aux tags</li>
                        <li>Sécurisation des accès aux fiches d’inscription</li>
                        <li>Sécurisation des accès aux documents de pouvoirs des assemblées générales</li>
                        <li>Sécurisation des accès aux documents de demandes de paiement</li>
                        <li>Sécurisation des accès aux reçus</li>
                    </ul>
                    <h3>4 décembre 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.11.0</span></h3>
                    <ul>
                        <li>Lorsqu’une demande d’aide est acceptée, un mail est automatiquement envoyé au membre</li>
                        <li>Lors du renouvellement des adhésions, les notes et la demande d’aide ne sont pas importées</li>
                        <li>Le renouvellement fonctionne désormais pour les grands nombres d’adhésions</li>
                        <li>Une entité aura un message invitant à saisir les informations si la fiche n’est pas transmise</li>
                        <li>Lors de la création d’une adhésion, le statut de l’entité n’est pas mise-à-jour, cela sera fait à la première modification ou envoi de mail</li>
                    </ul>
                    <h3>16 septembre 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.10.2</span></h3>
                    <ul>
                        <li>Les rôles, lors de l’association d’une personne à une organisation, sont affichés dans l’ordre alphabétique</li>
                        <li>La liste des organisations est filtrable par membres adhérents ou non</li>
                        <li>Les relances d’adhésion peuvent être mises en pause</li>
                        <li>Les mails auto de renouvellement peuvent être aussi envoyés pour les personnes physiques</li>
                        <li>Les mails auto de renouvellement peuvent être envoyés depuis le détail d’un diocèse</li>
                        <li>Il est possible de suivre les désactivations et restitution de données suite à l’annulation d’une adhésion</li>
                    </ul>
                    <h3>30 juillet 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.10.1</span></h3>
                    <ul>
                        <li>Nettoyage interne de quelques fonctions</li>
                        <li>Quelques mises à jour des dépendances PHP et JavaScript</li>
                        <li>La tâche cron de synchronisation avec Enoria retourne une erreur si cela n’a pas correctement fonctionné avec toutes les instances</li>
                        <li>Les statuts d’une entité «&nbsp;Attente/Retard de paiement&nbsp;» ne sont définis automatiquement que si la demande de paiement correspondante a été transmise au membre (date de relance définie)</li>
                        <li>Correction d’un bug qui rendait impossible l’exécution de la tâche cron <code>entity_status_update</code></li>
                    </ul>
                    <h3>27 juillet 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.10.0</span></h3>
                    <ul>
                        <li>Une légende accompagne la carte des diocèses</li>
                        <li>La facturation des SMS des instances Enoria est gérable depuis Zachée</li>
                        <li>Correction du tri des diocèses selon l’indice Wasselynck</li>
                        <li>Possibilité de changer le statut d’une entité directement depuis Zachée</li>
                        <li>Mise-à-jour automatique des statuts des entités en fonction de l’état de l’adhésion (tâche cron quotidienne)</li>
                        <li>La validation des infos d’une adhésion met à jour automatiquement le statut d’une entité</li>
                        <li>Un paiement complété met à jour automatiquement le statut d’une entité</li>
                    </ul>
                    <h3>10 juillet 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.9.2</span></h3>
                    <ul>
                        <li>Quelques mises à jour des dépendances PHP et JavaScript</li>
                        <li>Corrections de la carte des diocèses</li>
                        <li>Possibilité de voir les montants déjà réglés des cotisations des organisations filles sur la page de détail d’un diocèse</li>
                        <li>L’ordre de l’avancement et les explications données ont été revus sur la page publique adhésion</li>
                        <li>La synchronisation quotidienne des newsletters a été désactivée</li>
                        <li>Correction de bugs avec la fusion des doublons</li>
                        <li>La fiche d’une personne indique sa présence aux AG</li>
                        <li>Le nombre de membres présents ou représentés est désormais affiché dans la page de l’AG</li>
                        <li>Correction du mail de compte-rendu de l’AG</li>
                    </ul>
                    <h3>23 mai 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.9.1</span></h3>
                    <ul>
                        <li>Quelques mises à jour des dépendances PHP et JavaScript</li>
                        <li>La gestion des présences est fonctionnelle pour les AG</li>
                        <li>Plus de copies au secrétariat pour l’envoi des mails liés aux AG</li>
                    </ul>
                    <h3>21 avril 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.9.0</span></h3>
                    <ul>
                        <li>Création d’un module de gestion pour les assemblées générales</li>
                        <li>On peut taguer des rôles dans la configuration de ceux-ci</li>
                        <li>Une page publique existe pour qu’un membre puisse donner un pouvoir ou nommer un représentant (cela indiquera dans son adhésion que des informations sont à valider)</li>
                        <li>Un module sur la page d’accueil permet de lister les adhésions pour lesquelles des informations sont à valider</li>
                        <li>Plus de détails sont affichés sur la page d’une personne physique concernant son adhésion</li>
                        <li>La page d’une organisation ou d’une personne contient un bouton pour valider les informations de son adhésion</li>
                        <li><em>Attention&nbsp;: la gestion des présence est non fonctionnelle</em></li>
                    </ul>
                    <h3>2 février 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.8.3</span></h3>
                    <ul>
                        <li>La carte des diocèses affiche aussi ceux ayant au moins une paroisse adhérente</li>
                        <li>Ajout de l’API OVH pour les SMS (sera utilisé dans le futur pour de nouvelles fonctionnalités)</li>
                        <li>La suppression d’une personne redirige ensuite l’utilisateur vers la liste des personnes supprimables</li>
                        <li>Les liste des cotisations d’un diocèse membre indique également le nombre de diocèses associés</li>
                        <li>Correction dans le mail de renouvellement des adhésions</li>
                    </ul>
                    <h3>23 janvier 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.8.2</span></h3>
                    <ul>
                        <li>Plus d’actions sont disponibles dans le header de la page affichant le détail d’une personne</li>
                        <li>On peut ajouter directement une personne à un groupe depuis sa fiche</li>
                        <li>La liste des membres et les adhésions en cours indiquent à quels groupes appartient un membre <em>personne physique</em></li>
                        <li>La page de détail d’une organisation contient maintenant un lien vers la page de suivi d’adhésion pour la période en cours</li>
                        <li>Une belle carte est disponible sur la page des diocèses</li>
                    </ul>
                    <h3>8 janvier 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.8.1</span></h3>
                    <ul>
                        <li>Zachée utilise maintenant Symfony 7</li>
                        <li>Page de maintenance corrigée</li>
                        <li>Lors du renouvellement des adhésions, il y avait une erreur dans l’intitulé de la demande de paiement</li>
                    </ul>
                    <h3>6 janvier 2024 <span class="badge bg-light text-secondary font-small-3">v. 2.8.0</span></h3>
                    <ul>
                        <li>Correction d’un bug empêchant le renouvellement des adhésions</li>
                        <li>Le fichier généré pour les demandes de paiements affiche toujours la référence interne</li>
                        <li>On peut gérer un remboursement (l’association doit de l’argent à quelqu’un)</li>
                        <li>On peut déclarer un trop perçu pour un diocèse</li>
                    </ul>
                    <h3>29 novembre 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.7.4</span></h3>
                    <ul>
                        <li>Quelques mises à jour des dépendences PHP et JavaScript</li>
                        <li>Le statut « Attente Infos » des entités est correctement affiché</li>
                        <li>Application non indexable par les robots (<code>noindex</code>)</li>
                        <li>Le solde à percevoir n’est précisé que pour les diocèses adhérents</li>
                        <li>Le solde à percevoir tient en compte des aides accordées</li>
                    </ul>
                    <h3>8 août 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.7.3</span></h3>
                    <ul>
                        <li>Ajout du type CB pour les paiements</li>
                    </ul>
                    <h3>6 juillet 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.7.2</span></h3>
                    <ul>
                        <li>La validation des informations, lors du processus d’adhésion sur la page publique, ne sera possible que si la case est cochée</li>
                        <li>Mise à jour de la politique de confidentialité et lien vers celle-ci sur la page publique d’édition des informations</li>
                        <li>Les entités des instances Enoria et les rapprochements SMS sont maintenant automatiquement synchronisées toutes les nuits (on peut forcer la synchronisation dans la configuration)</li>
                    </ul>
                    <h3>28 juin 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.7.1</span></h3>
                    <ul>
                        <li>Ajout d’une page concernant la politique de confidentialité de l’application</li>
                        <li>Ajout d’un footer pour accéder directement aux mentions légales et à la politique de confidentialité (sur toutes les pages)</li>
                        <li>Un mail est automatiquement envoyé aux organisations primo-adhérente lors de la validation de leur adhésion</li>
                        <li>On commence à supprimer jQuery pour utiliser des choses plus modernes côté JavaScript</li>
                        <li>Petite amélioration de la synchronisation des newsletters</li>
                    </ul>
                    <h3>17 juin 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.7.0</span></h3>
                    <ul>
                        <li>On peut attacher et générer des fichiers avec une demande de paiement</li>
                        <li>Un rappel est automatiquement envoyé, tous les 15&nbsp;jours, pour les demandes de paiement</li>
                        <li>Petite mise à jour de la page d’accueil pour mettre en valeur le lien vers un diocèse auquel l’utilisateur est associé</li>
                        <li>On peut afficher la liste de toutes les personnes qui peuvent être supprimées, car n’étant rattachées à aucun autre élément</li>
                        <li>On peut maintenant rechercher et fusionner des doublons</li>
                        <li>Les listes des paiements et des demandes de paiements apparaissent désormais sur les pages affichant le détail d’une organisation ou d’une personne. Un utilisateur verra également ces informations si cela le concerne.</li>
                        <li>Un groupe peut être associé à un agrégat. Ainsi, il sera automatiquement synchronisé avec le résultat de ce dernier (un bouton permet de déclencher celle-ci, sinon elle a lieu toutes les nuits)</li>
                    </ul>
                    <h3>11 juin 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.6.2</span></h3>
                    <ul>
                        <li>Correction d’un bug concernant l’affectation des paiements et l’affichage des reçus</li>
                        <li>Le changelog a été déplacé</li>
                    </ul>
                    <h3>10 juin 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.6.1</span></h3>
                    <ul>
                        <li>On peut ajouter ou modifier un titre (Monsieur, Madame...)</li>
                        <li>On peut modifier la liste des rôles disponibles pour l’association des personnes à une organisation</li>
                        <li>On peut associer directement une personne à une organisation depuis la page de détails de la première</li>
                        <li>Corrige quelques bugs concernant les agrégats et les newsletters</li>
                    </ul>
                    <h3>9 juin 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.6.0</span></h3>
                    <ul>
                        <li>Ajoute un système d’agrégats</li>
                        <li>Ajoute la synchronisation des newsletters avec Brevo</li>
                        <li>Mise à jour des dépendances JS et de Symfony</li>
                        <li>Mise à jour des mentions légales</li>
                        <li>Corrections orthographe</li>
                        <li>Modification du texte de la page de suivi d’adhésion</li>
                    </ul>
                    <h3>2 juin 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.5.1</span></h3>
                    <ul>
                        <li>Corrige un bug dans l’auto-validation des adhésions</li>
                    </ul>
                    <h3>1<sup>er</sup> juin 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.5.0</span></h3>
                    <ul>
                        <li>Si la cotisation a été réglée, on ne peut plus demander d’aide en validant les informations</li>
                        <li>Dans la liste pour sélectionner une instance associée à un membre, l’id de celle-ci s’affiche désormais</li>
                        <li>On peut maintenant supprimer un utilisateur désactivé n’ayant effectué aucune action d’édition dans Zachée</li>
                        <li>Les adhésions sont automatiquement validées (plus besoin de cliquer sur le bouton)</li>
                        <li>Correction de l’URL du lien de suivi des adhésions dans les mails envoyés par la tâche cron</li>
                    </ul>
                    <h3>27 mai 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.4.0</span></h3>
                    <ul>
                        <li>Les marqueurs de la carte des statistiques s’affichent correctement sur les écrans Retina</li>
                        <li>Amélioration des boutons d’action sur la page du Conseil d’Administration</li>
                        <li>Les mails envoyés par Zachée sont bien plus beaux maintenant</li>
                        <li>La sélection du titre d’une personne, modifie automatiquement son sexe</li>
                        <li>Ajout d’un filtre sur la page des membres et on affiche la date de la dernière mise-à-jour au lieu de l’entité</li>
                        <li>C’est le nombre d’organisations adhérentes pour la période courante qui est désormais affiché dans la liste des diocèses</li>
                        <li>Les notes d’une adhésion peuvent être très longues</li>
                        <li>La date de dernière relance des adhésions est enregistrée et on peut l’éditer</li>
                        <li>Le menu a été modifié pour pouvoir afficher plus d’élément sans scroller</li>
                        <li>On peut gérer des tâches cron</li>
                        <li>Tous les mardis, un mail automatique de relance est envoyé si besoin (pour une cotisation, on attend 15 jours avant de relancer)</li>
                    </ul>
                    <h3>15 mai 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.3.0</span></h3>
                    <ul>
                        <li>Mise à jour des dépendances JS et de Symfony</li>
                        <li>Corrige l’icône pour la liste des anciens mandats du CA</li>
                        <li>Possibilité de saisir les informations nécessaires à la déclaration en préfecture du CA (formulaire public disponible)</li>
                        <li>Ajout d’un bouton dans l’édition d’un membre du CA pour renouveler son mandat</li>
                        <li>Corrige le rendu des marqueurs dans les cartes des statistiques</li>
                        <li>Correction dans la récupération des adresses mail lorsque l’on sélectionnait trop de personnes ou d’organisations</li>
                        <li>Changement de l’ordre des boutons de validation des adhésions (dans le formulaire d’édition)</li>
                        <li>Début de l’intégration de <em>Brevo</em></li>
                    </ul>
                    <h3>18 avril 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.2.1</span></h3>
                    <ul>
                        <li>Des boutons permettent de naviguer plus facilement dans la page des adhésions en cours</li>
                        <li>On peut gérer les mandats des membres du Conseil d’Administration</li>
                        <li>La page de suivi des adhésions distingue mieux le téléchargement de plusieurs reçu</li>
                        <li>La base documentaire peut utiliser des tags en liens avec le type des organisations</li>
                        <li>La liste des documents disponibles sur la page de suivi d’une adhésion utilise aussi le tag correspondant au type d’organisation</li>
                        <li>Un utilisateur vera au moins les documents correspondant aux types de l’organisation à laquelle il est associé (en plus des documents publics et ceux liés à ses droits dans Zachée)</li>
                        <li>Une fiche ajoutée dans l’édition d’une adhésion n’a pas besoin d’être validée</li>
                    </ul>
                    <h3>13 avril 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.2.0</span></h3>
                    <ul>
                        <li>Le chargement des statistiques est désormais asynchrone pour plus de réactivité</li>
                        <li>Afficher la liste des différents types de contact possibles sur la page de validations des infos</li>
                        <li>Lorsqu’un membre téléverse sa fiche, le secrétariat doit maintenant la valider</li>
                        <li>Le contact «&nbsp;Technique&nbsp;» est devenu «&nbsp;Admin référent&nbsp;»</li>
                        <li>On peut filtrer les adhésions entre les primo-adhésions et les renouvellements</li>
                        <li>Le filtre sur le statut du règlement de la cotisation fonctionne de nouveau</li>
                    </ul>
                    <h3>8 avril 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.1.1</span></h3>
                    <ul>
                        <li>La navigation dans les types d’organisations est plus aisée</li>
                        <li>Quand on affichait les organisations par types, le statut des adhésions de toutes les années apparaissait, maintenant c’est juste pour la période courante</li>
                        <li>On n’affiche plus le solde d’un paiement soldé (vaut 0,00&nbsp;€)</li>
                        <li>Corrige le tri des colonnes avec un montant</li>
                        <li>Correction des montants maximum dans l’affectation des paiements</li>
                        <li>Amélioration des reçus générés</li>
                    </ul>
                    <h3>31 mars 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.1.0</span></h3>
                    <ul>
                        <li>Les organisations ont désormais un type, des statistiques sont également disponibles</li>
                        <li>Les mois s’affichent sans erreurs dans les statistiques</li>
                        <li>Les statistiques annuelles d’adhésions ne prennent en compte que les adhésions en cours ou validées</li>
                        <li>Les statistiques annuelles d’adhésions distinguent les personnes morales des personnes physiques</li>
                    </ul>
                    <h3>30 mars 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.0.2</span></h3>
                    <ul>
                        <li>Le nom du diocèse apparait dans la liste des organisations pour l’affectation d’un paiement</li>
                        <li>La génération des reçus utilise le montant affecté et non le montant demandé</li>
                        <li>Changement de l’ordre des types de paiements</li>
                        <li>Pour saisir l’émetteur d’un chèque, on dispose désormais de 255 caractères</li>
                        <li>Amélioration du rendu de la page affichant le détail d’un paiement</li>
                    </ul>
                    <h3>29 mars 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.0.1</span></h3>
                    <ul>
                        <li>Un admin peut invalider un paiement</li>
                        <li>La recherche avec les accents fonctionne</li>
                        <li>Tous les tableaux de la comptabilité sont réduits par défaut, on peut cliquer sur le titre pour les afficher</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <a href="#changelog-1" data-bs-toggle="collapse" aria-expanded="false" aria-controls="changelog-1" class="link-dark">
                        <h2 class="card-title collapse-title">
                            Versions <code>1.*</code>
                        </h2>
                    </a>
                </div>
                <div class="collapse" id="changelog-1">
                    <h3>28 mars 2023 <span class="badge bg-light text-secondary font-small-3">v. 2.0.0</span></h3>
                    <ul>
                        <li>Nouveau système de comptabilité</li>
                        <li>Nouvelle section «&nbsp;Bénévoles&nbsp;»</li>
                        <li>Les documents s’ouvrent dans un nouvel onglet</li>
                        <li>On peut enregistrer des numéros de téléphone de l’île de la Réunion</li>
                        <li>Si une erreur intervient, elle est maintenant envoyée sur un canal de notre instance Mattermost</li>
                        <li>Il n’est plus obligatoire de définir une adresse pour une personne</li>
                    </ul>
                    <h3>27 février 2023 <span class="badge bg-light text-secondary font-small-3">v. 1.6.10</span></h3>
                    <ul>
                        <li>Mise à jour des dépendances JS et de Symfony</li>
                        <li>Gestion plus fine du montant des cotisations des organisations d’un diocèse membre</li>
                    </ul>
                    <h3>25 janvier 2023 <span class="badge bg-light text-secondary font-small-3">v. 1.6.9</span></h3>
                    <ul>
                        <li>Ajout du lien vers les contacts à vérifier dans le mail de reçu</li>
                        <li>Correction des colonnes affichées</li>
                        <li>Correction de l’adresse de l’association</li>
                        <li>Correction des statistiques d’adhésion mensuelles</li>
                        <li>Changement du mail de support</li>
                        <li>Modification de la couleur des lignes sélectionnées</li>
                        <li>Possibilité de télécharger le reçu sur la page de suivi d’adhésion</li>
                    </ul>
                    <h3>04 janvier 2023 <span class="badge bg-light text-secondary font-small-3">v. 1.6.8</span></h3>
                    <ul>
                        <li>Amélioration de la sélection des destinataires des mails</li>
                        <li>Modification du mail de suivi d’adhésion</li>
                        <li>Modification de l’adresse de contact du support</li>
                    </ul>
                    <h3>03 janvier 2023 <span class="badge bg-light text-secondary font-small-3">v. 1.6.7</span></h3>
                    <ul>
                        <li>Correction des reçus de paiement</li>
                        <li>Amélioration de l’affichage de la page des adhésions</li>
                        <li>Amélioration de l’affichage de la page de suivi d’adhésion</li>
                        <li>Ajout de la possibilité de renvoyer le mail d’activation du compte utilisateur de Zachée</li>
                        <li>Correction des types de paiement disponibles et saisie du numéro de chèque</li>
                    </ul>
                    <h3>02 janvier 2023 <span class="badge bg-light text-secondary font-small-3">v. 1.6.6</span></h3>
                    <ul>
                        <li>Correction de l’environnement de développement local</li>
                        <li>Correction des statistiques vides</li>
                        <li>Correction du mail de renouvellement 2023</li>
                        <li>Correction de l’adresse de l’association</li>
                        <li>Mise à jour des logos de l’association</li>
                        <li>Amélioration du tableau des adhésions </li>
                        <li>Ajout des reçus de paiement automatiques</li>
                        <li>Correction du montant calculé restant dû pour les diocèses</li>
                    </ul>
                    <h3>18 juin 2022 <span class="badge bg-light text-secondary font-small-3">v. 1.6.5</span></h3>
                    <ul>
                        <li>Modification du mail de renouvellement d’adhésion</li>
                        <li>Modification du mail envoyé via le lien public</li>
                        <li>Ajout d’une colonne du montant restant dû par les diocèses</li>
                        <li>Amélioration de l’affichage des notes</li>
                        <li>Recherche d’une organisation sur la ville et le code postal</li>
                        <li>Recherche d’une personne sur l’email</li>
                        <li>Ajout de filtres sur les adhésions en cours</li>
                        <li>Ajout d’une page statistiques de l’association</li>
                        <li>Déplacement du bouton d’ajout d’entité dans les instances</li>
                        <li>Résolution de bug de focus sur les select2</li>
                    </ul>
                    <h3>14 mars 2022 <span class="badge bg-light text-secondary font-small-3">v. 1.6.4</span></h3>
                    <ul>
                        <li>Modification de l’adresse de correspondance</li>
                        <li>Ajout du type de contact "secrétaire"</li>
                        <li>Ajout de la date de création de l’adhésion dans le détail de l’organisation</li>
                        <li>Inversion des listes d’adhérents</li>
                    </ul>
                    <h3>07 novembre 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.6.3</span></h3>
                    <ul>
                        <li>Allongement par défaut du tableau des adhésions</li>
                        <li>Disparition du tableau des adhésions physiques si aucune en cours</li>
                        <li>Ajout d’une couleur sur la couronne des diocèses en fonction de leur adhésion</li>
                    </ul>
                    <h3>06 novembre 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.6.2</span></h3>
                    <ul>
                        <li>Ajout tri sur cotisations</li>
                        <li>Régression temporaire de Chart.js</li>
                    </ul>
                    <h3>05 novembre 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.6.1</span></h3>
                    <ul>
                        <li>Ajout des statistiques d’entrées du journal (v1)</li>
                        <li>Fix tri sur date de création des adhésions en cours</li>
                        <li>Ajout d’une image sur la page d’accueil</li>
                        <li>Mise à jour des dépendances JS et de Symfony</li>
                    </ul>
                    <h3>14 février 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.6</span></h3>
                    <ul>
                        <li>L’application s’appelle maintenant officiellement Zachée</li>
                        <li>Un centre d’aide donne accès à des documents pour aider l’utilisateur</li>
                        <li>Les documents de la page publique de suivi d’adhésion proviennent de la base documentaire</li>
                        <li>Une lettre de demande de cotisation est automatiquement générée pour chaque adhésion (permet d’avoir une pièce comptable)</li>
                        <li>Corrections diverses</li>
                    </ul>
                    <h3>11 février 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.5</span></h3>
                    <ul>
                        <li>Pour chaque diocèse, on peut préciser son numéro de département et son pays</li>
                        <li>Différents statuts pour les demandes d’aide (non traitées, en attente d’information / du CA, acceptée, refusée)</li>
                        <li>Les administrateurs peuvent voir sur une fiche personne si un utilisateur Zachée lui est associé, ainsi que ses droits</li>
                        <li>Une base documentaire est disponible</li>
                        <li>Amélioration de la page publique de suivi d’adhésion</li>
                        <li>Ajout d’une page statistiques des instances</li>
                        <li>Corrections de quelques bugs ou erreurs</li>
                    </ul>
                    <h3>29 janvier 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.4</span></h3>
                    <ul>
                        <li>Ajout d’un journal des actions des utilisateurs</li>
                        <li>Indications de la date de dernière modification d’une fiche personne et organisation</li>
                        <li>Ajout de la date de création et de modification d’une adhésion</li>
                    </ul>
                    <h3>26 janvier 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.3</span></h3>
                    <ul>
                        <li>Le montant des cotisations par défaut peut varier d’une période à l’autre</li>
                        <li>L’indice de Wasselynck peut varier d’une période à l’autre</li>
                        <li>Tri alphabétique dans tous les champs de sélection de personnes</li>
                    </ul>
                    <h3>21 janvier 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.2</span></h3>
                    <ul>
                        <li>On ouvre Zachée aux responsables des diocèses membres pour suivre les adhésions de leurs paroisses</li>
                        <li>Le champ « reply-to » des mails d’envoi du lien publique des adhésions est défini</li>
                        <li>Modification de la taille minimum pour l’envoi des fiches d’adhésion (maintenant fixée à 2 Mo)</li>
                        <li>Bouton pour modifier une adhésion directement sur la page affichant le détail d’une organisation, d’un diocèse ou d’une personne</li>
                        <li>Le détail d’un diocèse donne la cotisation perçue pour chaque organisation</li>
                        <li>Améliorations de sécurité</li>
                        <li>Ajout d’un lien pour signaler un bug ou une erreur</li>
                    </ul>
                    <h3>18 janvier 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.1</span></h3>
                    <ul>
                        <li>Affichage sur la page d’accueil des organisations auxquelles l’utilisateur est associé</li>
                        <li>Amélioration de l’affichage de la liste des diocèses</li>
                        <li>Le détail d’un diocèse comporte beaucoup plus d’informations sur son adhésion</li>
                        <li>Le détail d’une organisation comporte beaucoup plus d’informations sur son adhésion</li>
                        <li>Par défaut, un utilisateur ne peut voir que les infos le concernant ou celles des organisations auxquelles il est associé</li>
                        <li>La liste des membres du conseil d’administration est disponible pour tout le monde</li>
                    </ul>
                    <h3>15 janvier 2021 <span class="badge bg-light text-secondary font-small-3">v. 1.0</span></h3>
                    <ul>
                        <li>On peut exporter des listes de mails depuis les différentes vues</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <a href="#changelog-0" data-bs-toggle="collapse" aria-expanded="false" aria-controls="changelog-0" class="link-dark">
                        <h2 class="card-title collapse-title">
                            Versions <code>0.*</code>
                        </h2>
                    </a>
                </div>
                <div class="collapse" id="changelog-0">
                    <h3>08 janvier 2021 <span class="badge bg-light text-secondary font-small-3">v. 0.7</span></h3>
                    <ul>
                        <li>La liste des personnes et des organisations indique qui est membre</li>
                        <li>Le nom du diocèse est affiché dans la liste des organisations du formulaire d’une nouvelle adhésion</li>
                        <li>Nouvelle version du thème, peu de changements visibles, mais prêt pour l’avenir</li>
                        <li>Amélioration de la page d’accueil</li>
                        <li>Quelques optimisations sur certaines pages</li>
                        <li>Après l’ajout d’une personne ou d’une organisation on est redirigé sur la fiche de ce qui vient d’être ajouté</li>
                    </ul>
                    <h3>06 janvier 2021 <span class="badge bg-light text-secondary font-small-3">v. 0.6</span></h3>
                    <ul>
                        <li>Mise à jour des dépendences</li>
                        <li>Corrections orthographe et interface</li>
                        <li>Amélioration des erreurs systèmes</li>
                    </ul>
                    <h3>21 novembre 2020 <span class="badge bg-light text-secondary font-small-3">v. 0.5</span></h3>
                    <ul>
                        <li>Possibilité de modifier ses informations dans le processus d’adhésion</li>
                        <li>Gestion des réadhésions (renouvellement des cotisations)</li>
                    </ul>
                    <h3>20 novembre 2020</h3>
                    <ul>
                        <li>Gestion des adhésions côté back</li>
                        <li>Les membres et futurs membres peuvent suivre l’état d’avancement du processus d’adhésion</li>
                    </ul>
                    <h3>17 novembre 2020</h3>
                    <ul>
                        <li>Gestion des périodes</li>
                        <li>Gestion des instances et des entités</li>
                    </ul>
                    <h3>13 novembre 2020 <span class="badge bg-light text-secondary font-small-3">v. 0.4</span></h3>
                    <ul>
                        <li>Gestion du conseil d’administration</li>
                    </ul>
                    <h3>12 novembre 2020 <span class="badge bg-light text-secondary font-small-3">v. 0.3</span></h3>
                    <ul>
                        <li>Possibilité d’ajouter, de modifier et de supprimer un utilisateur</li>
                        <li>Gestion des droits pour les utilisateurs et fonctionnalité d’impersonator</li>
                    </ul>
                    <h3>6 novembre 2020 <span class="badge bg-light text-secondary font-small-3">v. 0.2</span></h3>
                    <ul>
                        <li>Possibilité de lister, d’afficher, d’ajouter et de supprimer une personne</li>
                        <li>Possibilité de lister, d’afficher, d’ajouter et de supprimer une organisation (personne morale)</li>
                        <li>On peut lier des personnes à une organisation et des organisations à un diocèse</li>
                    </ul>
                    <h3>2 novembre 2020</h3>
                    <ul>
                        <li>On peut consulter, modifier, ajouter, supprimer un diocèse</li>
                        <li>Esthétique symblable à Enoria</li>
                    </ul>
                    <h3>29 octobre 2020</h3>
                    <ul>
                        <li>Outils de développement fonctionnels</li>
                        <li>Quand la sidebar est minimalisée, elle s’agrandit au survol de la souris</li>
                    </ul>
                    <h3>26 octobre 2020 <span class="badge bg-light text-secondary font-small-3">v. 0.0.1</span></h3>
                    <ul>
                        <li>Vous pouvez consulter l’indice de Wasselynck des diocèses</li>
                        <li>Si vous perdez votre mot de passe, il existe un système pour le récupérer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{%  endblock %}
