{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user and app.user.cguValidatedAt is null %}
        <div class="modal" tabindex="-1" id="cguValidation">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ include('pages/_cgu.html.twig') }}
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('cgu.validate') }}" class="btn btn-primary">Accepter les conditions</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Zachée : Outils de gestion de l’<em>Association Enoria</em></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p>
                        Connecté en tant que
                        <a href="{{ path('person.show', {'id': app.user.person.id}) }}"><strong>{{ app.user.person.getFullname(false, true) | raw }}</strong></a>
                        <em>({{ app.user.username }})</em>
                    </p>
                    {% if actualMembership %}
                        <p class="text-end">
                            Pour la période sélectionnée&nbsp;:
                            {% if actualMembership.status == 'in_progress' %}
                                <span class="badge bg-primary">Adhésion en cours</span>
                            {% elseif actualMembership.status == 'canceled' %}
                                <span class="badge bg-danger">Adhésion annulée</span>
                            {% elseif actualMembership.status == 'validated' %}
                                <span class="badge bg-success">Membre</span>
                            {% endif %}
                        </p>
                    {% endif %}
                    {%  if associatedOrganizations %}
                        <h3>Organisations associées&nbsp;:</h3>
                        <ul>
                            {% for associatedOrganization in associatedOrganizations %}
                                <li>
                                    {% if associatedOrganization.diocese.associatedOrganization == associatedOrganization %}
                                        <a href="{{ path('diocese.show', {'id': associatedOrganization.diocese.id}) }}">
                                            <i class="fa-solid fa-church"></i>
                                            {{ associatedOrganization.name }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('organization.show', {'id': associatedOrganization.id}) }}">
                                            {{ associatedOrganization.name }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-bug"></i> Un bug, une erreur ?</h2>
                    <p>Si vous découvrez un bug ou voyez une erreur d’orthographe, vous pouvez nous aider en le signalant :</p>
                    <ul>
                        <li>Par mail : <i class="fa fa-envelope"></i> <a href="mailto:support@enoria.app">support@enoria.app</a></li>
                        <li>
                            Via l’outil de gestion de projet :
                            <a href="https://gitlab.com/enoria-paroisse/zachee/-/issues"><i class="fab fa-gitlab"></i> GitLab</a><br>
                            <small>(il vous sera nécessaire de créer un compte)</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-solid fa-circle-info"></i> À propos de Zachée</h2>
                    <div class="list-group list-group-flush">
                        <a href="{{ path('legal') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                            <span class="ms-2 me-auto text-primary">Mentions légales</span>
                            <i class="fa-solid fa-scale-balanced"></i>
                        </a>
                        <a href="{{ path('privacy-policy') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                            <span class="ms-2 me-auto text-primary">Politique de confidentialité</span>
                            <i class="fa-solid fa-lock"></i>
                        </a>
                        <a href="{{ path('cgu') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                            <span class="ms-2 me-auto text-primary">Conditions Générales d’Utilisation</span>
                            <i class="fa-solid fa-file-contract"></i>
                        </a>
                        <a href="https://www.association-enoria.org" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                            <span class="ms-2 me-auto text-primary">L’Association Enoria</span>
                            <i class="fa-solid fa-briefcase"></i>
                        </a>
                        <a href="{{ path('changelog') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                            <span class="ms-2 me-2">
                                Version
                                <span class="badge bg-light text-secondary">{{ include('_part/_version_app.html.twig') }}</span>
                            </span>
                            <span class="ms-2 me-auto text-primary">Voir l’historique des changements</span>
                            <i class="fa-solid fa-code-branch"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_MEMBERSHIP_EDIT') and infos|length > 0 %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa-solid fa-magnifying-glass-plus warning"></i> Informations à valider</h2>
                        <ul class="list-group list-group-flush">
                            {% for info in infos %}
                                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                    {% if info.person is not null %}
                                        <a href="{{ path('person.show', {id: info.person.id}) }}"
                                           class="ms-2 me-auto text-primary"
                                        >
                                            <i class="fa-solid fa-person{% if info.person.sex == 'F' %}-dress{% endif %}"></i>
                                            {{ info.person }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('organization.show', {id: info.organization.id}) }}"
                                           class="ms-2 me-auto text-primary"
                                        >
                                            <i class="fa-solid fa-clone"></i>
                                            {{ info.organization }}
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('membership.validate-infos', {id: info.id}) }}" class="btn btn-sm btn-success" title="Valider les informations">
                                        <i class="fa-solid fa-check"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if applications|length > 0 %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa-solid fa-window-restore"></i> Liens vers les applications</h2>
                        <div class="list-group list-group-flush">
                            {% for application in applications %}
                                <a href="{{ path('application.show', {id: application.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                    <span class="ms-2 me-auto text-primary">{{ application.name }}</span>
                                    {% if application.icon %}
                                        <img
                                            src="{{ path('show_uploads.application-icons', {'icon': application.icon}) }}"
                                            alt="Icône {{ application.name }}"
                                            style="width: 18px;"
                                        >
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.user and app.user.cguValidatedAt is null %}
    <script defer>
        const cguModal = new bootstrap.Modal(document.getElementById('cguValidation'));
        cguModal.show();
    </script>
    {% endif %}
{% endblock %}
