{% extends 'empty.html.twig' %}

{% block title %}Services en maintenance{% endblock %}

{% block body %}
    <div class="container">
        <div class="m-1">
            <div class="row">
                <div class="col"></div>
                <div class="col-md-8 text-center">
                    <img src="{{ asset('assets/images/new-logo.png') }}" class="w-25">
                </div>
                <div class="col"></div>
            </div>
            <div class="row mt-5">
                <h3 class="col-12 text-uppercase text-center font-weight-bold warning">
                    Zachée sera bientôt de retour
                </h3>
                <p class="text-italic text-center w-100">
                    Nous travaillons actuellement à améliorer Zachée pour votre confort ou à mettre en place de nouvelles fonctionnalités… merci de patienter quelques minutes.
                </p>
                {% if message %}
                    <div class="w-100">{{ message|raw }}</div>
                {% endif %}
            </div>
            <div class="row mt-1">
                <img src="{{ asset('assets/images/maintenance.png') }}" class="w-100">
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <a href="mailto:support@enoria.app" class="btn btn-light btn-block text-black-50">
                        <i class="fas fa-envelope"></i> Contacter le support
                    </a>
                </div>
            </div>
            <div class="row mt-1">
                <p class="text-muted text-center col-12">
                    Association Enoria - <em>Zachée {{ include('_part/_version_app.html.twig') }}</em> - {{ 'now'|date('Y') }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        const request = new Request('{{ path('home') }}', {method: 'GET'});
        const delay = 60000;

        const testMaintenanceMode = function () {
            fetch(request).then(response => {
                if (response.status < 500) {
                    location.reload();
                } else {
                    setTimeout(testMaintenanceMode, delay);
                }
            }).catch(error => {
                console.error(error);
            });
        };
        setTimeout(testMaintenanceMode, delay);
    </script>
{% endblock %}
