{% extends base ~ '.html.twig' %}

{%  block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12{% if base == 'public' %} pt-2{% endif %}">
        <div class="card main-card bg-gradient-directional-blue">
            <div class="card-content">
                <div class="media">
                    <div class="main-card-logo">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="media-body d-md-flex">
                        <div>
                            <h1>Politique de confidentialité</h1>
                        </div>
                        <div class="media-btn-group">
                            {% if base == 'base' %}
                                <a href="{{ path('home') }}" class="btn btn-primary text-white">
                                    <i class="fas fa-arrow-left"></i>
                                    Retour à l’accueil
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Cookies</h2>
                    <p>
                        Aucun cookie nécessitant le consentement préalable des utilisateurs n’est déposé sur votre navigateur
                        lorsque vous consultez la plateforme <a href="https://zachee.association-enoria.org">https://zachee.association-enoria.org</a>
                    </p>

                    <h2>Politique relative aux données à caractère personnel</h2>
                    <p>
                        La plateforme Zachée est mise à votre disposition afin que vous puissiez suivre votre adhésion ou
                        celle de la personne morale que vous représentez. Vous pouvez accéder à cette plateforme via un
                        lien généré, sans avoir à décliner votre identité pour consulter les données en notre possession.
                    </p>
                    <p>
                        Les responsables diocésains, dont le diocèse est adhérent à l’association, ont un accès en
                        visualisation aux données du diocèse et de ces paroisses au moyen d’un identifiant et d’un mot de
                        passe personnel.
                    </p>
                    <p>
                        Toute personne enregistrée sur Zachée peut se connecter à l’aide de leur adresse mail et / ou
                        numéro de téléphone. Dans ce cas, elle ne verra que ses données, celle des organisations auxquelles
                        elle est rattachée et les groupes auxquels elle appartient.
                    </p>
                    <p>
                        Nous vous rappelons que vos accès personnels ne doivent pas être communiqués à une tierce personne.
                    </p>

                    <h3>Responsable du fichier</h3>
                    <p>
                        Association Enoria, 43 Rue Duguay 95100 Argenteuil
                    </p>

                    <h3>Finalités du traitement</h3>
                    <ul>
                        <li>Gestion administrative des adhérents</li>
                        <li>Gestion administrative des donateurs</li>
                        <li>Gestion administrative des bénévoles</li>
                        <li>Organisation de temps de formation à destination de nos adhérents</li>
                    </ul>

                    <h3>Type de données collectées</h3>
                    <ul>
                        <li>Pour un adhérent «&nbsp;Personne morale&nbsp;»</li>
                        <ul>
                            <li>Nom de la personne morale et adresse de celle-ci</li>
                            <li>Nom + Prénom + mail et téléphone du responsable légal de l’entité</li>
                        </ul>
                    </ul>
                    <p>
                        Peuvent être indiqué par les membres adhérents en plus&nbsp;:
                    </p>
                    <ul>
                        <li>Nom + Prénom + mail et/ou téléphone du secrétariat de l’entité</li>
                        <li>Nom + Prénom + mail et/ou téléphone du comptable de l’entité</li>
                        <li>Nom + Prénom + mail et/ou téléphone du responsable du déploiement d’Enoria</li>
                        <li>Nom + Prénom + mail et/ou téléphone du représentant désigné pour l’assemblée Générale</li>
                        <li>Pour un adhérent «&nbsp;Personne physique&nbsp;» ou un bénévole</li>
                        <ul>
                            <li>Nom + Prénom + adresse postale + mail et n<sup>o</sup> téléphone de l’adhérent</li>
                        </ul>
                        <li>Pour les membres du Conseil d’Administration</li>
                        <ul>
                            <li>
                                Nom + Prénom + adresse postale + mail + n<sup>o</sup> de téléphone + profession
                                + date et lieu de naissance afin de répondre à l’obligation légale de déclaration en
                                préfecture de la composition du conseil d’administration de l’association.
                            </li>
                        </ul>
                    </ul>

                    <p>
                        Les données collectées le sont dans l’intérêt légitime de l’association afin d’en garantir le bon
                        fonctionnement. Les données collectées seront accessibles uniquement par les membres du bureau
                        de l’association.
                    </p>
                    <p>
                        L’association Enoria s’engage à ne jamais communiquer vos informations personnelles à un organisme
                        tiers, sauf pour les membres du conseil d’administration dont la composition est soumise à déclaration
                        en préfecture.
                    </p>
                    <p>
                        Les données sont conservées dix ans après la date de fin d’adhésion.
                    </p>
                    <p>
                        Les membres de l’association, les bénévoles et les personnes désignées par les personnes morales
                        adhérentes ont la possibilité de nous contacter par courriel
                        (<a href="mailto:secretariat@association-enoria.org">secretariat@association-enoria.org</a>) ou
                        courrier afin de connaître les informations en notre possession et nous signifier tout changement
                        de coordonnées.
                    </p>

                    <h3>Mails envoyés</h3>
                    <p>
                        Dans le cadre de votre adhésion à l’Association Enoria, des communications par mail vous seront envoyées.
                        Nous nous engageons à vous solliciter le moins possible. En fonction de votre rôle au sein de votre
                        organisation les informations suivantes vous seront transmises&nbsp;:
                    </p>
                    <ul>
                        <li>
                            <u>Responsable d’entité&nbsp;:</u>
                            mails de suivi et de renouvellement d’adhésion, convocation à l’assemblée générale, informations
                            concernant l’association, modifications majeures dans l’application
                        </li>
                        <li>
                            <u>Représentant d’entité&nbsp;:</u>
                            mails de suivi et de renouvellement d’adhésion, convocation à l’assemblée générale
                        </li>
                        <li>
                            <u>Admin référent&nbsp;:</u>
                            mails de suivi et de renouvellement d’adhésion, modifications majeures dans l’application,
                            propositions de formation
                        </li>
                        <li>
                            <u>Comptable&nbsp;:</u>
                            appel à cotisation et transmission du reçu de cotisation
                        </li>
                        <li>
                            <u>Secrétaire&nbsp;:</u>
                            mails de suivi et de renouvellement d’adhésion
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
