{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-chart-bar"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Statistiques administratives</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nouvelles adhésions mensuelles</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            {% if stats.new_membership_by_month %}
                            <canvas id="stat-membership-month" data-dataset="{{ stats.new_membership_by_month | json_encode }}" class="chartjs-render-monitor" style="display: block; height: 350px; width: 400px;"></canvas>
                            {% else %}
                                Pas de données.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row card-title">
                            <h4 class="col-auto">Adhésions annuelles</h4>
                            <p class="col-auto ms-auto"><em>Ne tient compte que des adhésions validées ou en cours</em></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            {% if stats.membership_by_year %}
                                <canvas id="stat-membership-year" data-dataset="{{ stats.membership_by_year | json_encode }}" class="chartjs-render-monitor" style="display: block; height: 350px; width: 400px;"></canvas>
                            {% else %}
                                Pas de données.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row card-title">
                            <h4 class="col-auto">Types d’organisation</h4>
                            <p class="col-auto ms-auto"><em>Ne tient compte que des adhésions validées ou en cours de la période courante</em></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            {% if stats.organization_types %}
                                <canvas id="stat-organization-types" data-dataset="{{ stats.organization_types|json_encode }}" class="chartjs-render-monitor" style="display: block; height: 350px; width: 400px;"></canvas>
                            {% else %}
                                Pas de données.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Entités par instance</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            {% if stats.entities_by_instance %}
                                <canvas id="stat-entities-by-instance" data-labels="{{ stats.entities_by_instance.label | json_encode }}" data-dataset="{{ stats.entities_by_instance.data | json_encode }}" class="chartjs-render-monitor" style="display: block; height: 350px; width: 400px;"></canvas>
                            {% else %}
                                Pas de données.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Entités par diocèse</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            {% if stats.entities_by_diocese %}
                                <canvas id="stat-entities-by-diocese" data-labels="{{ stats.entities_by_diocese.label | json_encode }}" data-dataset="{{ stats.entities_by_diocese.data | json_encode }}" class="chartjs-render-monitor" style="display: block; height: 350px; width: 400px;"></canvas>
                            {% else %}
                                Pas de données.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('internal-stats') }}
{% endblock %}
