{% extends 'emails/base.txt.twig' %}

{% block title %}Demande de réduction de cotisation{% endblock %}

{% block body %}
    Madame, Monsieur, Monsieur l’Abbé,

    Nous vous informons que le Bureau de notre association a accepté votre demande de réduction de cotisation au titre
    de l’année {{ membership.period.name }}.

    Le montant de cotisation a réglé est donc de {{ membership.membershipFee|format_currency('EUR', locale='fr') }}.

    Vous retrouverez tous les renseignements utiles sur la page de suivi d’adhésion :
    {% if domain is defined %}{{ domain }}{{ path('membership_public.show', {'token': membership.token}) }}{% else %}{{ url('membership_public.show', {'token': membership.token}) }}{% endif %}
    
    Notre secrétariat se tient à votre disposition pour tout complément d’information : secretariat@association-enoria.org
    ou par téléphone sur rendez-vous pour toute question.

    {{ include('emails/_toList.txt.twig') }}

    Cordialement,
    {{ include('emails/_fromBureau.txt.twig') }}
{% endblock %}
