{% extends 'emails/base.html.twig' %}

{% block title %}Demande de réduction de cotisation{% endblock %}

{% block body %}
    <p>Madame, Monsieur, Monsieur l’Abbé,</p>
    <p>
        Nous vous informons que le Bureau de notre association a accepté votre demande de réduction de cotisation au titre
        de l’année {{ membership.period.name }}.
    </p>
    <p>
        Le montant de cotisation a réglé est donc de <strong>{{ membership.membershipFee|format_currency('EUR', locale='fr') }}</strong>.
    </p>
    <p>
        Vous retrouverez tous les renseignements utiles sur la
    </p>
    <p class="btn-container">
        <a class="btn bg-primary" href="{% if domain is defined %}{{ domain }}{{ path('membership_public.show', {'token': membership.token}) }}{% else %}{{ url('membership_public.show', {'token': membership.token}) }}{% endif %}">
            Page de suivi d’adhésion
        </a>
    </p>
    <p>
        Notre secrétariat se tient à votre disposition pour tout complément d’information :
        <a href="mailto:secretariat@association-enoria.org" target="_blank">secretariat@association-enoria.org</a>
        ou par téléphone sur rendez-vous pour toute question.
    </p>

    {{ include('emails/_toList.html.twig') }}

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromBureau.txt.twig') }}
    </p>
{% endblock %}
