{% extends 'emails/base.html.twig' %}

{% block title %}Bienvenue dans l’Association Enoria{% endblock %}

{% block body %}
    <p>Madame, Monsieur, Monsieur l’Abbé,</p>
    <p>
        Nous sommes heureux de vous accueillir officiellement au sein de l’Association Enoria.
    </p>
    <p>
        Un mail vous a été adressé afin de vous informer de la création de votre espace et de vous inviter à créer votre
        mot de passe.
    </p>
    <p>
        L’esprit ecclésial et collaboratif qui règne dans notre association suggère qu’une paroisse primo-adhérente reçoive
        une paroisse marraine plus expérimentée afin de l’accompagner dans ses débuts et la configuration de l’outil.
    </p>
    <p>
        Ainsi donc pour vous lancer dans votre projet, n’hésitez pas à contacter de notre part votre paroisse marraine
        dont vous retrouverez les coordonnées en vous connectant dans l'application.
    </p>
    <p>
        Par ailleurs pour vous lancer dans votre projet, voici 4 supports d’aide&nbsp;:
    </p>
    <ul>
        <li>
            Dans la rubrique d’aide d’Enoria, vous trouverez de nombreux documents et vidéos de formation&nbsp;:
            <a href="https://docs.enoria.app">https://docs.enoria.app</a>
        </li>
        <li>
            Le forum des utilisateurs&nbsp;: un lieu d’échange où vous pourrez poser vos questions et consulter celles
            déjà posées. <a href="https://web.enoria.app/forum">https://web.enoria.app/forum</a>
        </li>
        <li>
            Le livret de bienvenue est destiné à vous faciliter la prise en main de l’application et devrait déjà répondre
            à plusieurs questions initiales. Accès&nbsp;:
            <a href="https://drive.google.com/file/d/1GbpHKC9w4YMeKZGwTK06O5zMNRQHuthU/view?usp=sharing">https://drive.google.com/file/d/1GbpHKC9w4YMeKZGwTK06O5zMNRQHuthU/view?usp=sharing</a>
        </li>
        <li>
            Des formations mensuelles à destination des nouveaux administrateurs et utilisateurs, d'une durée de deux
            heures, sont organisées par notre association. Vous pourrez vous y inscrire directement dans l’application.
        </li>
    </ul>
    <p>
        En cas de bugs suspectés ou avérés, votre paroisse marraine ou vous-même avez la possibilité de solliciter l’équipe
        support&nbsp;: <a href="mailto:support@enoria.app">support@enoria.app</a>, qui mettra tout en œuvre pour trouver
        une solution adaptée dans les meilleurs délais.
    </p>
    <p>
        Nous vous souhaitons une belle découverte et à nouveau bienvenue dans l’association
    </p>
    <p>
        Cordialement,<br/>
        {{ include('emails/_fromBureau.txt.twig') }}
    </p>
{% endblock %}
