{% extends 'emails/base.txt.twig' %}

{% block title %}Bienvenue dans l’Association Enoria{% endblock %}

{% block body %}
    Madame, Monsieur,

    Nous sommes heureux de vous accueillir officiellement au sein de l’Association Enoria.

    Un mail vous a été adressé afin de vous informer de la création de votre espace et de vous inviter à créer votre
    mot de passe.

    M. Stéphane BOBILLIER, administrateur pour le diocèse de Besançon : s-bobillier@diocese-besancon.fr vous contactera
    prochainement pour vous parler du «&nbsp;Comité Diocèse&nbsp;», réunissant tous les mois les administrateurs des
    diocèses adhérant à l'association.

    Par ailleurs pour vous lancer dans votre projet, voici 3 supports d’aide :

    - Dans la rubrique d’aide d’Enoria, vous trouverez de nombreux documents et vidéos de formation : https://docs.enoria.app
    - Le forum des utilisateurs : un lieu d’échange où vous pourrez poser vos questions ou apporter des réponses. https://web.enoria.app/forum
    - Le livret de bienvenue, destiné à vous faciliter la prise en main de l’application et qui devrait déjà répondre à
      plusieurs questions initiales. Accès : https://drive.google.com/file/d/1GxPe1QvAch21xMFbmNFGa0I--H1cM-Rp/view?usp=sharing

    En cas de difficultés, un canal de discussion dédié aux administrateurs diocésains a été créé dans notre outil de
    messagerie interne. N’hésitez pas à y poser vos interrogations auxquelles les autres administrateurs pourront répondre.

    Nous vous souhaitons une belle découverte et à nouveau bienvenue dans l’association

    Cordialement,
    {{ include('emails/_fromBureau.txt.twig') }}
{% endblock %}
