{% extends 'emails/base.html.twig' %}

{% block title %}Bienvenue dans l’Association Enoria{% endblock %}

{% block body %}
    <p>Madame, Monsieur,</p>
    <p>
        Nous sommes heureux de vous accueillir officiellement au sein de l’Association Enoria.
    </p>
    <p>
        Un mail vous a été adressé afin de vous informer de la création de votre espace et de vous inviter à créer votre
        mot de passe.
    </p>
    <p>
        M. Stéphane BOBILLIER, administrateur pour le diocèse de Besançon&nbsp;:
        <a href="mailto:s-bobillier@diocese-besancon.fr">s-bobillier@diocese-besancon.fr</a> vous contactera prochainement
        pour vous parler du «&nbsp;Comité Diocèse&nbsp;», réunissant tous les mois les administrateurs des diocèses adhérant
        à l'association.
    </p>
    <p>
        Par ailleurs pour vous lancer dans votre projet, voici 3 supports d’aide&nbsp;:
    </p>
    <ul>
        <li>
            Dans la rubrique d’aide d’Enoria, vous trouverez de nombreux documents et vidéos de formation&nbsp;:
            <a href="https://docs.enoria.app">https://docs.enoria.app</a></li>
        <li>
            Le forum des utilisateurs&nbsp;: un lieu d’échange où vous pourrez poser vos questions ou apporter des réponses.
            <a href="https://web.enoria.app/forum">https://web.enoria.app/forum</a>
        </li>
        <li>
            Le livret de bienvenue, destiné à vous faciliter la prise en main de l’application et qui devrait déjà répondre
            à plusieurs questions initiales. Accès&nbsp;:
            <a href="https://drive.google.com/file/d/1GxPe1QvAch21xMFbmNFGa0I--H1cM-Rp/view?usp=sharing">https://drive.google.com/file/d/1GxPe1QvAch21xMFbmNFGa0I--H1cM-Rp/view?usp=sharing</a>
        </li>
    </ul>
    <p>
        En cas de difficultés, un canal de discussion dédié aux administrateurs diocésains a été créé dans notre outil de
        messagerie interne. N’hésitez pas à y poser vos interrogations auxquelles les autres administrateurs pourront répondre.
    </p>
    <p>
        Nous vous souhaitons une belle découverte et à nouveau bienvenue dans l’association
    </p>
    <p>
        Cordialement,<br/>
        {{ include('emails/_fromBureau.txt.twig') }}
    </p>
{% endblock %}
