{% extends 'emails/base.txt.twig' %}

{% block title %}Bienvenue dans l’Association Enoria{% endblock %}

{% block body %}
    Madame, Monsieur, Monsieur l’Abbé,

    Nous sommes heureux de vous accueillir officiellement au sein de l’Association Enoria.

    Un mail vous a été adressé afin de vous informer de la création de votre espace et de vous inviter à créer votre mot
    de passe.

    L’esprit ecclésial et collaboratif qui règne dans notre association suggère qu’une paroisse primo-adhérente reçoive
    une paroisse marraine plus expérimentée afin de l’accompagner dans ses débuts et la configuration de l’outil.

    Ainsi donc pour vous lancer dans votre projet, n’hésitez pas à contacter de notre part votre paroisse marraine dont
    vous retrouverez les coordonnées en vous connectant dans l'application.

    Par ailleurs pour vous lancer dans votre projet, voici 4 supports d’aide :

    - Dans la rubrique d’aide d’Enoria, vous trouverez de nombreux documents et vidéos de formation : https://docs.enoria.app
    - Le forum des utilisateurs : un lieu d’échange où vous pourrez poser vos questions et consulter celles déjà posées. https://web.enoria.app/forum
    - Le livret de bienvenue est destiné à vous faciliter la prise en main de l’application et devrait déjà répondre à plusieurs questions initiales. Accès : https://drive.google.com/file/d/1GbpHKC9w4YMeKZGwTK06O5zMNRQHuthU/view?usp=drive_link
    - Des formations mensuelles à destination des nouveaux administrateurs et utilisateurs, d'une durée de deux heures, sont organisées par notre association. Vous pourrez vous y inscrire directement dans l’application.

    En cas de bugs suspectés ou avérés, votre paroisse marraine ou vous-même avez la possibilité de solliciter l’équipe
    support : support@enoria.app qui mettra tout en œuvre pour trouver une solution adaptée dans les meilleurs délais.

    Nous vous souhaitons une belle découverte et à nouveau bienvenue dans l’association

    Cordialement,
    {{ include('emails/_fromBureau.txt.twig') }}
{% endblock %}
