{% extends 'base.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Configuration de l’application</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body table-responsive">
                    <h2 class="card-title"><i class="fa fa-server"></i> Gestion des instances</h2>
                    <div class="datatable-wide">
                        <table id="instanceList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Url</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for instance in instances %}
                                <tr>
                                    <td>
                                        <a href="{{ path('instance.show', {'id': instance.id}) }}">
                                            {{ instance.name }}
                                            {% if instance.smsBilling %}
                                                <i class="fa-solid fa-sms"></i>
                                            {% endif %}
                                            {% if instance.syncUpEnabled %}
                                                <i class="fa-solid fa-upload"></i>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ instance.url }}">{{ instance.url }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('instance.edit', {id: instance.id}) }}" class="btn btn-warning btn-sm" rel="tooltip" title="Modifier l’instance">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form id="delete_instance_form_{{ instance.id }}" class="d-inline-block" method="post" action="{{ path('instance.delete', {id: instance.id}) }}">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instance.id) }}">
                                            <a class="btn btn-danger btn-sm" rel="tooltip" title="Supprimer l’instance">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p class="text-end">
                        <a href="{{ path('instance.sync') }}" class="btn btn-outline-success">
                            <i class="fa-solid fa-rotate"></i>
                            Synchroniser
                        </a>
                        <a href="{{ path('instance.new') }}" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                            Ajouter une nouvelle instance
                        </a>
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa-solid fa-sms"></i> Gestion des SMS</h2>
                    <ul class="list-group mb-1">
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa-solid fa-gears"></i></span>
                            <strong>API OVH Cloud</strong>
                            {% if sms.connected and sms.error == '' %}
                                <span class="badge bg-success">Connectée</span>
                            {% elseif sms.connected %}
                                <span class="badge bg-warning">Connectée</span><br>
                                <span class="text-danger">{{ sms.error }}</span>
                            {% else %}
                                <span class="badge bg-danger">Non connectée</span><br>
                                <span class="text-danger">{{ sms.error }}</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa-solid fa-circle-info"></i></span>
                            <strong>Service SMS</strong>
                            <code>{{ sms.serviceName }}</code> <em>{{ sms.serviceDescription }}</em>
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa-solid fa-sms"></i></span>
                            <strong>Crédit SMS restant</strong>
                            {{ sms.creditsLeft }}
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa-solid fa-pen-fancy"></i></span>
                            <strong>Expéditeurs</strong>
                            {% for sender in sms.senders %}
                                <span class="badge bg-{% if sender == sms.sender %}primary{% else %}secondary{% endif %}">{{ sender }}</span>
                            {% else %}
                                <em class="text-warning">Aucun expéditeur trouvé dans l’API</em>
                            {% endfor %}
                        </li>
                    </ul>

                    <p class="text-center">
                        <a href="{{ path('config.sms_test') }}" class="btn btn-primary">
                            <i class="fa fa-paper-plane"></i> Tester
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-envelope-open-text"></i> Configuration des mails</h2>
                    <ul class="list-group mb-1">
                        <li class="list-group-item">
                            Configuration SMTP
                            {% if not brevo.error %}
                                {% if brevo.useSmtp %}
                                    <span class="badge bg-success">Utilise Brevo</span>
                                {% else %}
                                    <span class="badge bg-secondary">N’utilise pas Brevo</span>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-danger">Impossible de vérifier</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa fa-cogs"></i></span>
                            <strong>Administrateur</strong>
                            {{ mails.admin.name }}
                            <code><a href="mailto:{{ mails.admin.mail }}">{{ mails.admin.mail }}</a></code>
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa fa-pen-fancy"></i></span>
                            <strong>Secrétariat</strong>
                            {{ mails.secretariat.name }}
                            <code><a href="mailto:{{ mails.secretariat.mail }}">{{ mails.secretariat.mail }}</a></code>
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa fa-money-check"></i></span>
                            <strong>Trésorier</strong>
                            {{ mails.treasurer.name }}
                            <code><a href="mailto:{{ mails.treasurer.mail }}">{{ mails.treasurer.mail }}</a></code>
                        </li>
                        <li class="list-group-item">
                            <span class="float-end"><i class="fa fa-user"></i></span>
                            <strong>Compte Brevo</strong>
                            {% if brevo.error %}
                                <span class="badge bg-danger">Erreur</span>
                            {% else %}
                                {{ brevo.account.firstName }}
                                <span class="smallcaps">{{ brevo.account.lastName }}</span>
                                <em>{{ brevo.account.companyName }}</em>
                            {% endif %}
                        </li>
                    </ul>

                    {% if brevo.error %}
                        <p class="alert alert-danger">
                            <strong>Erreur&nbsp;:</strong>
                            {% if brevo.errorApiKey %}
                                La clé API semble invalide
                            {% else %}
                                {{ brevo.errorMessage }}
                            {% endif %}
                        </p>
                    {% endif %}

                    <p class="text-center mt-1">
                        <a href="{{ path('config.mail_test') }}" class="btn btn-primary">
                            <i class="fa fa-paper-plane"></i> Tester
                        </a>
                    </p>
                </div>
            </div>

            <div>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa-solid fa-bug"></i> Reporting des erreurs dans <em>Mattermost</em></h2>
                        <p class="text-center">
                            <a href="{{ path('config.error_test') }}" target="_blank" class="btn btn-primary"><i class="fa fa-bug"></i> Envoyer une erreur</a>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa-solid fa-file-contract"></i> Conditions Générales d’Utilisation</h2>
                        <form id="renew_cgu_validation" class="text-center mb-1" method="post" action="{{ path('config.cgu-renew-validation') }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('renew_cgu_validation') }}">
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="fa-solid fa-redo"></i> Redemander la validation
                            </button>
                        </form>
                        <p class="text-italic">
                            Tous les utilisateurs devrons revalider les conditions générales d’utilisation lors de leur prochaine visite.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h2 class="card-title"><i class="fa fa-history"></i> Gestion des périodes</h2>
                    <div class="datatable-wide">
                        <table id="periodList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th rowspan="2">Nom</th>
                                <th rowspan="2">Début</th>
                                <th rowspan="2">Fin</th>
                                <th colspan="2">Indice de Wasselynck</th>
                                <th colspan="3">Cotisations personne</th>
                                <th rowspan="2">Actions</th>
                            </tr>
                            <tr>
                                <th>Cot. max</th>
                                <th>Base indice</th>
                                <th>Physique</th>
                                <th>Morale</th>
                                <th>d’un diocèse membre</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for period in periods %}
                                <tr>
                                    <td>
                                        {% if period == app.user.period %}
                                            <i class="fa fa-arrow-right"></i>
                                        {% endif %}
                                        {{ period.name }}
                                    </td>
                                    <td data-order="{{ period.start|date("U") }}">{{ period.start|date("d/m/Y") }}</td>
                                    <td data-order="{{ period.end|date("U") }}">{{ period.end|date("d/m/Y") }}</td>
                                    <td>{{ period.dioceseBaseMaxMembershipfee|format_currency('EUR') }}</td>
                                    <td>{{ period.dioceseBaseWasselynck }}</td>
                                    <td>{{ period.membershipfeeNatural|format_currency('EUR') }}</td>
                                    <td>{{ period.membershipfeeLegal|format_currency('EUR') }}</td>
                                    <td>
                                        {% for subMembershipFee in period.subOrganizationMembershipFeePeriods|sort((a, b) => a.subOrganizationMembershipFee.name <=> b.subOrganizationMembershipFee.name) %}
                                            <p class="row">
                                                <span class="col"><a href="{{ path('period.suborganizationmembershipfee.edit', {id: subMembershipFee.id}) }}">{{ subMembershipFee.subOrganizationMembershipFee.name }}</a></span>
                                                <span class="col"><a href="{{ path('period.suborganizationmembershipfee.edit', {id: subMembershipFee.id}) }}">{{ subMembershipFee.membershipFee|format_currency('EUR') }}</a></span>
                                            </p>
                                        {% else %}
                                            <em>Aucune valeur définie</em>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{{ path('period.edit', {id: period.id}) }}" class="btn btn-warning btn-sm" rel="tooltip" title="Modifier la période">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form id="delete_period_form_{{ period.id }}" class="d-inline-block" method="post" action="{{ path('period.delete', {id: period.id}) }}">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ period.id) }}">
                                            <a class="btn btn-danger btn-sm" rel="tooltip" title="Supprimer la période">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p class="text-end">
                        <a href="{{ path('period.add') }}" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                            Ajouter une nouvelle période
                        </a>
                    </p>

                    <h3>Gestion des cotisations d’un diocèse membre</h3>
                    <p>
                        {%  for subOrganizationMembershipFee in subOrganizationMembershipFees %}
                        <a
                            class="btn btn-secondary"
                            href="{{ path('suborganizationmembership.edit', {id: subOrganizationMembershipFee.id}) }}"
                        >
                            {{ subOrganizationMembershipFee.name }}
                            <span class="badge text-bg-light rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Nombre de diocèse utilisant cette valeur">
                                {{ subOrganizationMembershipFee.dioceses|length }}
                            </span>
                        </a>
                        {% endfor %}
                        <a href="{{ path('suborganizationmembership.new') }}" class="btn btn-success"><i class="fa fa-plus"></i>
                            Ajouter une nouvelle cotisation</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body table-responsive">
                    <h2 class="card-title">Gestion des titres de personnes</h2>
                    <div class="datatable-wide">
                        <table id="titleList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th class="text-center">Sexe</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for title in titles %}
                                <tr>
                                    <td>
                                        {% if title.sex == 'M' %}
                                            <span class="badge bg-blue">Homme</span>
                                        {% else %}
                                            <span class="badge bg-red">Femme</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ title.name }}</td>
                                    <td>
                                        <a href="{{ path('config.title.edit', {id: title.id}) }}" class="btn btn-warning btn-sm" rel="tooltip" title="Modifier le titre">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p class="text-end">
                        <a href="{{ path('config.title.new') }}" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                            Ajouter un nouveau titre
                        </a>
                    </p>
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                <div class="card-body table-responsive">
                    <h2 class="card-title">Gestion des rôles</h2>
                    <div class="datatable-wide">
                        <table id="typeList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Icône</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for type in types %}
                                <tr>
                                    <td><strong>{{ type.name }}</strong></td>
                                    <td>
                                        {{ type.description }}
                                        {% if type.tags|length > 0 %}
                                            <br>
                                        {% endif %}
                                        {% for tag in type.tags %}
                                            <span class="badge bg-secondary">{{ tag }}</span>
                                        {% endfor %}
                                    </td>
                                    <td><i class="fa-2x fa-solid fa-{{ type.icon }}"></i></td>
                                    <td>
                                        <a href="{{ path('config.type-associated-person.edit', {id: type.id}) }}" class="btn btn-warning btn-sm" rel="tooltip" title="Modifier le rôle">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p class="text-end">
                        <a href="{{ path('config.type-associated-person.new') }}" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                            Ajouter un nouveau rôle
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        new DataTable('#periodList', {
            'pageLength': 10,
            'responsive': true,
            'searching': true,
        });

        new DataTable('#instanceList', {
            'pageLength': 10,
            'responsive': true,
            'searching': true,
        });

        new DataTable('#titleList', {
            'pageLength': 10,
            'responsive': true,
            'searching': false,
            'order': [[1, 'asc']],
        });

        new DataTable('#typeList', {
            'pageLength': 10,
            'responsive': true,
            'searching': false,
            'order': [[0, 'asc']],
        });

        {% for period in periods %}
        deleteAlert('#delete_period_form_{{ period.id }}');
        {% endfor %}

        {% for instance in instances %}
        deleteAlert('#delete_instance_form_{{ instance.id }}');
        {% endfor %}

        deleteAlert('#renew_cgu_validation', 'Êtes-vous sûr de vouloir demander à tous les utilisateurs de revalider les CGU ?');
    </script>
{% endblock %}
