{{ form_errors(form) }}

{{ form_start(form) }}
<div class="row">
    <div class="col">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.start) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.end) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-church"></i> Adhésion d’un diocèse</h2>
                {{ form_row(form.dioceseBaseMaxMembershipfee) }}
                {{ form_row(form.dioceseBaseWasselynck) }}
                {% if button is not defined or (button != 'Modifier') %}
                    <p class="alert alert-info">
                        L’indice de Wasselynck de chacun des diocèse sera importé depuis la période courante.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-money-check"></i> Cotisations</h2>
                {{ form_row(form.membershipfeeLegal) }}
                {{ form_row(form.membershipfeeNatural) }}

                <h3>Cotisations des organisations d’un diocèse membre</h3>
                <table class="table table-striped table-bordered">
                {% for subOrganizationMembershipFeePeriod in period.subOrganizationMembershipFeePeriods|sort((a, b) => a.subOrganizationMembershipFee.name <=> b.subOrganizationMembershipFee.name) %}
                    <tr>
                        <th class="text-end">{{ subOrganizationMembershipFeePeriod.subOrganizationMembershipFee.name }}</th>
                        <td>
                            {{ subOrganizationMembershipFeePeriod.membershipFee|format_currency('EUR') }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
                <p class="alert alert-info">Pour modifier une de ces valeurs, cliquer sur celle-ci dans la page de configuration</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-end">
        <a href="{{ path('config.index') }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{  form_end(form) }}
