<a class="nav-link dropdown-toggle" href="#" id="navbarPeriodMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="btn btn-secondary">
        <i class="fa fa-history"></i>
        <strong>{{ app.user.period.name }}</strong>
    </span>
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
    {% for period in periods %}
        <li>
            <a class="dropdown-item{% if period == app.user.period %} active{% endif %}" href="{{ path('period.change', {id: period.id}) }}">
                {{ period.name }}
            </a>
        </li>
    {% endfor %}
</ul>