{% extends 'base.html.twig' %}

{% block title %}Modifier une cotisation des organisations d’un diocèse membre{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier une cotisation des organisations d’un diocèse membre <em>{{ subOrganizationMembershipFeePeriod.subOrganizationMembershipFee.name }} {{ period.name }}</em></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="card border-warning">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-history"></i> Période <em>{{ period.name }}</em></h2>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th class="text-end">Début</th>
                            <td>
                                {{ period.start|date("d/m/Y") }}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Fin</th>
                            <td>
                                {{ period.end|date("d/m/Y") }}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Cotisation maximum</th>
                            <td>
                                {{ period.dioceseBaseMaxMembershipfee|format_currency('EUR') }}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Base indice de Wasselynck</th>
                            <td>
                                {{ period.dioceseBaseWasselynck }}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Cotisations personne physique</th>
                            <td>
                                {{ period.membershipfeeNatural|format_currency('EUR') }}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Cotisations personne morale</th>
                            <td>
                                {{ period.membershipfeeLegal|format_currency('EUR') }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-warning">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-money-check"></i> Cotisation <em>{{ subOrganizationMembershipFeePeriod.subOrganizationMembershipFee.name }}</em></h2>
                    {{ form_row(form.membershipFee) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-end">
            <a href="{{ path('config.index') }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
                Modifier
            </button>
        </div>
    </div>
    {{  form_end(form) }}
{%  endblock %}
