{% extends 'emails/base.html.twig' %}

{% block title %}Compte rendu de l’Assemblée Générale{% endblock %}

{% block body %}
    <p>Madame, Monsieur, Monsieur l’Abbé</p>
    <p>
        Nous avons le plaisir de vous communiquer le compte rendu de l’Assemblée Générale {{ general_meeting.type|trans([], 'forms') }}
        du <strong>{{ general_meeting.datetime|format_date('full') }}</strong>.
    </p>

    <h3>Document{% if general_meeting.reportDocs|length > 1 %}s{% endif %}</h3>
    <ul>
        {% for doc in general_meeting.reportDocs %}
            <li>
                <a href="{% if domain is defined %}{{ domain }}{% endif %}{{ path('show_uploads.doc', {file: doc.file}) }}">
                    {{ doc.name }}
                </a>
            </li>
        {% else %}
            <li><em>Aucun</em></li>
        {% endfor %}
    </ul>

    {% if summons.membership.organization is not null %}
        <p>
            Ce mail vous a été envoyé, car vous appartenez à l’organisation&nbsp;:<br>
            <em>{{ summons.membership.organization }}</em>
        </p>
    {% endif %}

    {{ include('emails/_toList.html.twig') }}

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromBureau.txt.twig') }}
    </p>
{% endblock %}
