{% extends 'emails/base.txt.twig' %}

{% block title %}Compte rendu de l’Assemblée Générale{% endblock %}

{% block body %}
    Madame, Monsieur, Monsieur l’Abbé

    Nous avons le plaisir de vous communiquer le compte rendu de l’Assemblée Générale {{ general_meeting.type|trans([], 'forms') }}
    du {{ general_meeting.datetime|format_date('full')|upper }}.

    DOCUMENT{% if general_meeting.reportDocs|length > 1 %}S{% endif %}

    {% for doc in general_meeting.reportDocs %}
        - {{ doc.name }} {% if domain is defined %}{{ domain }}{% endif %}{{ path('show_uploads.doc', {file: doc.file}) }}
    {% else %}
        - Aucun
    {% endfor %}

    {% if summons.membership.organization is not null %}
        Ce mail vous a été envoyé, car vous appartenez à l’organisation :
        {{ summons.membership.organization }}
    {% endif %}

    {{ include('emails/_toList.txt.twig') }}

    Cordialement,
    {{ include('emails/_fromBureau.txt.twig') }}
{% endblock %}
