{% extends 'emails/base.html.twig' %}

{% block title %}Convocation à l’Assemblée Générale{% endblock %}

{% block body %}
    <p>Madame, Monsieur, Monsieur l’Abbé</p>
    <p>
        Nous avons le plaisir de vous informer que la prochaine Assemblée Générale {{ general_meeting.type|trans([], 'forms') }}
        se tiendra le <strong>{{ general_meeting.datetime|format_date('full') }} à {{ general_meeting.datetime|format_time(pattern="H 'h' mm") }}</strong>.
    </p>

    <h3>Document{% if general_meeting.summonsDocs|length > 1 %}s{% endif %} de la convocation</h3>
    <ul>
        {% for doc in general_meeting.summonsDocs %}
            <li>
                <a href="{% if domain is defined %}{{ domain }}{% endif %}{{ path('show_uploads.doc', {file: doc.file}) }}">
                    {{ doc.name }}
                </a>
            </li>
        {% else %}
            <li><em>Aucun</em></li>
        {% endfor %}
    </ul>

    <h3>Attention</h3>
    <p>
        Seuls les membres à jour de leur cotisation peuvent voter aux assemblées générales.
    </p>

    <h3>{% if summons.membership.organization is not null %}Représentant et pouvoir{% else %}Pouvoir{% endif %}</h3>
    {% if summons.membership.organization is not null %}
    <p>
        Vous devez désigner un représentant pour votre organisation si cela n’a pas été fait au moment de votre adhésion
        ou de son renouvellement.
    </p>
    {% endif %}
    <p>
        Vous pouvez donner votre pouvoir à un autre membre. Pour rappel, seuls les membres à jour de leur cotisation
        peuvent voter et chacun ne peut recevoir plus de deux pouvoirs.
    </p>
    <p class="btn-container">
        <a class="btn bg-primary" href="{% if domain is defined %}{{ domain }}{{ path('general_meeting.public.index', {token: general_meeting.token}) }}{% else %}{{ url('general_meeting.public.index', {token: general_meeting.token}) }}{% endif %}">
            {% if summons.membership.organization is not null %}
                Pour nommer un représentant ou donner un pouvoir
            {% else %}
                Pour donner un pouvoir
            {% endif %}
        </a>
    </p>

    {% if summons.membership.organization is not null %}
        <p>
            Ce mail vous a été envoyé, car vous appartenez à l’organisation&nbsp;:<br>
            <em>{{ summons.membership.organization }}</em>
        </p>
    {% endif %}

    {{ include('emails/_toList.html.twig') }}

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromBureau.txt.twig') }}
    </p>
{% endblock %}
