{% extends 'emails/base.txt.twig' %}

{% block title %}Lien vers la visio de l’Assemblée Générale{% endblock %}

{% block body %}
    Madame, Monsieur, Monsieur l’Abbé

    Pour rappel, la prochaine Assemblée Générale {{ general_meeting.type|trans([], 'forms') }} se tiendra le
    {{ general_meeting.datetime|format_date('full')|upper }} À {{ general_meeting.datetime|format_time(pattern="H 'h' mm")|upper }}.

    LIEN VERS LA VISIO

        - Lien : {{ general_meeting.meetingLink }}
        - Meeting ID: {{ general_meeting.meetingId }}
        - Passcode: {{ general_meeting.meetingPasscode }}

    ATTENTION

    Seuls les membres à jour de leur cotisation peuvent voter aux assemblées générales.

    {% if summons.membership.organization is not null %}REPRÉSENTANT ET POUVOIR{% else %}POUVOIR{% endif %}
    {% if summons.membership.organization is not null %}
        Vous devez désigner un représentant pour votre organisation si cela n’a pas été fait au moment de votre adhésion
        ou de son renouvellement.
    {% endif %}

    Vous pouvez donner votre pouvoir à un autre membre. Pour rappel, seuls les membres à jour de leur cotisation
    peuvent voter et chacun ne peut recevoir plus de deux pouvoirs.

    {% if summons.membership.organization is not null %}
        Pour nommer un représentant ou donner un pouvoir :
    {% else %}
        Pour donner un pouvoir :
    {% endif %}
    {% if domain is defined %}{{ domain }}{{ path('general_meeting.public.index', {token: general_meeting.token}) }}{% else %}{{ url('general_meeting.public.index', {token: general_meeting.token}) }}{% endif %}


    {% if summons.membership.organization is not null %}
        Ce mail vous a été envoyé, car vous appartenez à l’organisation :
        {{ summons.membership.organization }}
    {% endif %}

    {{ include('emails/_toList.txt.twig') }}

    Cordialement,
    {{ include('emails/_fromBureau.txt.twig') }}
{% endblock %}
