{% if object == 'Proxies\\__CG__\\Address' or object == 'Address' %}
    <span class="badge bg-dark" title="Adresse"><i class="fa fa-map-marker-alt"></i></span>
{% elseif object == 'AssociatedPerson' %}
    <span class="badge bg-dark" title="Personne associée à une organisation"><i class="fa fa-clone"></i></span>
{% elseif object == 'CaMember' %}
    <span class="badge bg-dark" title="Conseil d’Administration"><i class="fa fa-user-tie"></i></span>
{% elseif object == 'Diocese' %}
    <span class="badge bg-dark" title="Diocèse"><i class="fa fa-church"></i></span>
{% elseif object == 'Entity' or object == 'Proxies\\__CG__\\Entity' %}
    <span class="badge bg-dark" title="Entité"><i class="fa fa-server"></i></span>
{% elseif object == 'Instance' %}
    <span class="badge bg-dark" title="Instance"><i class="fa fa-server"></i></span>
{% elseif object == 'Membership' or object == 'Proxies\\__CG__\\Membership' %}
    <span class="badge bg-dark" title="Adhésion"><i class="fa fa-users"></i></span>
{% elseif object == 'Organization' %}
    <span class="badge bg-dark" title="Organisation"><i class="fa fa-clone"></i></span>
{% elseif object == 'OrganizationType' or object == 'Proxies\\__CG__\\OrganizationType' %}
    <span class="badge bg-dark" title="Type d’organisation"><i class="fa fa-clone"></i></span>
{% elseif object == 'Period' %}
    <span class="badge bg-dark" title="Période"><i class="fa fa-history"></i></span>
{% elseif object == 'Proxies\\__CG__\\Person' or object == 'Person' %}
    <span class="badge bg-dark" title="Personne"><i class="fa fa-address-book"></i></span>
{% elseif object == 'Proxies\\__CG__\\Group' or object == 'Group' %}
    <span class="badge bg-dark" title="Groupe"><i class="fa-solid fa-handshake-angle"></i></span>
{% elseif object == 'User' %}
    <span class="badge bg-dark" title="Utilisateur"><i class="fa fa-users-cog"></i></span>
{% elseif object == 'Wasselynck' %}
    <span class="badge bg-dark" title="Indice de Wasselynck"><i class="fa fa-church"></i></span>
{% elseif object == 'Folder' %}
    <span class="badge bg-dark" title="Dossier"><i class="fa fa-folder"></i></span>
{% elseif object == 'Doc' %}
    <span class="badge bg-dark" title="Document"><i class="fa fa-file"></i></span>
{% elseif object == 'PaymentRequest' or object == 'Proxies\\__CG__\\PaymentRequest' %}
    <span class="badge bg-dark" title="Demande de paiement"><i class="fa fa-hand-holding-dollar"></i></span>
{% elseif object == 'PaymentRequestFile' or object == 'Proxies\\__CG__\\PaymentRequestFile' %}
    <span class="badge bg-dark" title="Demande de paiement"><i class="fa fa-hand-holding-dollar"></i> <i class="fa-solid fa-file-lines"></i></span>
{% elseif object == 'Payment' or object == 'Proxies\\__CG__\\Payment' %}
    <span class="badge bg-dark" title="Paiement"><i class="fa fa-cash-register"></i></span>
{% elseif object == 'PaymentAllocation' or object == 'Proxies\\__CG__\\PaymentAllocation' %}
    <span class="badge bg-dark" title="Affectation de paiement"><i class="fa fa-cash-register"></i></span>
{% elseif object == 'Receipt' or object == 'Proxies\\__CG__\\Receipt' %}
    <span class="badge bg-dark" title="Reçu"><i class="fa-solid fa-receipt"></i></span>
{% elseif object == 'SmsBilling' or object == 'Proxies\\__CG__\\SmsBilling' %}
    <span class="badge bg-dark" title="Reçu"><i class="fa-solid fa-sms"></i></span>
{% elseif object == 'NewsletterFolder' or object == 'Proxies\\__CG__\\NewsletterFolder'  %}
    <span class="badge bg-dark" title="Reçu"><i class="fa-solid fa-paper-plane"></i> <i class="fa-solid fa-folder"></i></span>
{% elseif object == 'Newsletter' or object == 'Proxies\\__CG__\\Newsletter'  %}
    <span class="badge bg-dark" title="Newsletter"><i class="fa-solid fa-paper-plane"></i></span>
{% elseif object == 'NewsletterSubscription' or object == 'Proxies\\__CG__\\NewsletterSubscription'  %}
    <span class="badge bg-dark" title="Inscription à une newsletter"><i class="fa-solid fa-paper-plane"></i></span>
{% elseif object == 'Aggregate' or object == 'Proxies\\__CG__\\Aggregate'  %}
    <span class="badge bg-dark" title="Agrégat"><i class="fa-solid fa-list-alt"></i></span>
{% elseif object == 'GeneralMeeting' or object == 'Proxies\\__CG__\\GeneralMeeting'  %}
    <span class="badge bg-dark" title="Assemblée Générale"><i class="fa-solid fa-people-roof"></i></span>
{% elseif object == 'Application' or object == 'Proxies\\__CG__\\Application'  %}
    <span class="badge bg-dark" title="Application"><i class="fa-solid fa-window-restore"></i></span>
{% elseif object == 'ApplicationUser' or object == 'Proxies\\__CG__\\ApplicationUser'  %}
    <span class="badge bg-dark" title="Application"><i class="fa-solid fa-window-restore"></i></span>
{% elseif object == 'Exception' or object == 'Proxies\\__CG__\\Exception'  %}
    <span class="badge bg-danger" title="Exception"><i class="fa-solid fa-circle-exclamation"></i></span>
{% endif %}
