{% if log.object %}
    {% if log.object == 'Proxies\\__CG__\\Address' or log.object == 'Address' %}
        Adresse
    {% elseif log.object == 'Diocese' and log.objectId %}
        <a href="{{ path('diocese.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif log.object == 'Instance' and log.objectId %}
        <a href="{{ path('instance.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif log.object == 'Organization' and log.objectId %}
        <a href="{{ path('organization.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif (log.object == 'Proxies\\__CG__\\OrganizationType' or log.object == 'OrganizationType') and log.objectId %}
        <a href="{{ path('organization.type.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif (log.object == 'Proxies\\__CG__\\Person' or log.object == 'Person') and log.objectId is not null %}
        <a href="{{ path('person.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif (log.object == 'Proxies\\__CG__\\Group' or log.object == 'Group') and log.objectId %}
        <a href="{{ path('volunteer.group.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif (log.object == 'Proxies\\__CG__\\PaymentRequest' or log.object == 'PaymentRequest') and log.objectId %}
        <a href="{{ path('accounting.payment_request.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif log.object == 'PaymentRequestFile' or log.object == 'Proxies\\__CG__\\PaymentRequestFile' %}
        Fichier associé à une demande de paiement
    {% elseif (log.object == 'Proxies\\__CG__\\Payment' or log.object == 'Payment') and log.objectId %}
        <a href="{{ path('accounting.payment.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif (log.object == 'Proxies\\__CG__\\Receipt' or log.object == 'Receipt') and log.objectId %}
        <a href="{{ path('accounting.receipt.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif (log.object == 'Aggregate' or log.object == 'Proxies\\__CG__\\Aggregate') and log.objectId %}
        <a href="{{ path('aggregate.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif (log.object == 'GeneralMeeting' or log.object == 'Proxies\\__CG__\\GeneralMeeting') and log.objectId %}
        <a href="{{ path('general_meeting.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif (log.object == 'Application' or log.object == 'Proxies\\__CG__\\Application') and log.objectId %}
        <a href="{{ path('general_meeting.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif (log.object == 'ApplicationUser' or log.object == 'Proxies\\__CG__\\ApplicationUser') and log.objectId %}
        <a href="{{ path('general_meeting.show', {id: log.objectId}) }}">{{ log.description }}</a>
    {% elseif log.description %}
        {{ log.description }}
    {% else %}
        {{ log.object }}
    {% endif %}
{% endif %}

{% if log.objectId %}
    #{{ log.objectId }}
{% endif %}
