{% extends 'base.html.twig' %}

{% block title %}Journal des actions{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-coins"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Journal des actions</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% if not is_granted('ROLE_ADMIN') %}
            <div class="col-12">
                <p class="alert alert-warning">Comme vous n’êtes pas administrateur/trice, seules vos propres actions sont listées.</p>
            </div>
        {% endif%}

        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <table id="logList" class="table table-striped table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Utilisateur</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Type</th>
                                <th>Objet</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for log in logs  %}
                            <tr>
                                {% if log.user %}
                                    <td class="text-start"
                                        data-order="{{ log.user.person.lastname }} {{ log.user.person.firstname }}"
                                        data-search="{{ log.user.person.getFullname() }}"
                                    >
                                        <a href="{{ path('person.show', {id: log.user.person.id}) }}">{{ log.user.person.getFullname(false, true) | raw }}</a>
                                    </td>
                                {% elseif log.isFromCli %}
                                    <td class="text-start">
                                        <em>CLI ou cron</em>
                                    </td>
                                {% else %}
                                    <td class="text-start">
                                        <em>Public</em>
                                    </td>
                                {% endif %}
                                <td data-order="{{ log.date|date("U") }}" class="text-center">
                                    {{ log.date|date("d/m/Y H:i") }}
                                </td>
                                <td>
                                    {{ include('log/_iconObject.html.twig', {object: log.object}) }}

                                    {% if log.type == 'add' %}
                                        <span class="badge bg-success">Ajout</span>
                                    {% elseif log.type == 'update' %}
                                        <span class="badge bg-warning">Édition</span>
                                    {% elseif log.type == 'delete' %}
                                        <span class="badge bg-danger">Suppression</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ include('log/_object.html.twig') }}
                                </td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        new DataTable('#logList', {
            'pageLength': 50,
            'select': false,
            'responsive': true,
            'searching': true,
            'order': [[1, 'desc']],
        });
    </script>
{% endblock %}
