{% extends 'public.html.twig' %}

{% block title %}Assemblée générale - Login{% endblock %}

{% block body %}
    <div class="row">
        <div class="col pt-2">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-people-roof"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Assemblée Générale
                                    <small>
                                        {{ general_meeting.type|trans([], 'forms') }}
                                        du {{ general_meeting.datetime|date('d/m/Y')}}
                                    </small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-self-center">
        <div class="col col-lg-3"></div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">S’identifier</h2>
                    <p>
                        Félicitations <strong>{{ person.getFullname(true, true) | raw }}</strong>, nous avons retrouvé votre profil personnel.
                    </p>
                    {% if method == 'phone' %}
                        <p>
                            Un code de vérification à 6 chiffres vient de vous être envoyé sur votre téléphone au numéro&nbsp;:
                            XX XX XX {{ person.phone|auto_phone_number_format()|split(' ')[3:]|join(' ') }}.
                            Veuillez l’entrer ci-dessous pour accéder à la page&nbsp;:
                        </p>
                    {% else %}
                        <p>
                            Un mail vous a été adressé avec un code de vérification à 6 chiffres.
                            Veuillez l’entrer ci-dessous pour accéder à la page&nbsp;:
                        </p>
                    {% endif %}

                    {{ include('_part/_alerts.html.twig') }}

                    {{ form_start(form) }}
                    <div class="mb-1">
                        {{ form_widget(form.code) }}
                    </div>
                    <button type="submit" class="btn btn-outline-info btn-block w-100 mb-1">
                        Envoyer
                    </button>
                    {{ form_end(form) }}

                    {% if method == 'phone' %}
                        <p class="text-italic">
                            Si vous n’avez reçu pas le code, cliquez sur
                            <a href="{{ path('general_meeting.public.reset', {token: general_meeting.token}) }}">ce lien</a>
                            pour recommencer.
                        </p>
                    {% else %}
                        <p class="text-italic">
                            Si vous n’avez pas reçu le mail, vérifiez votre dossier «&nbsp;Courrier indésirable&nbsp;»
                            ou «&nbsp;spam&nbsp;», sinon cliquez sur
                            <a href="{{ path('general_meeting.public.reset', {token: general_meeting.token}) }}">ce lien</a>
                            pour recommencer.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col col-lg-3"></div>
    </div>
{% endblock %}
