{% extends 'public.html.twig' %}

{% block title %}Assemblée générale{% endblock %}

{% block body %}
    <div class="row">
        <div class="col pt-2">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-people-roof"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Assemblée Générale
                                    <small>
                                        {{ general_meeting.type|trans([], 'forms') }}
                                        du {{ general_meeting.datetime|date('d/m/Y')}}
                                    </small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ person.getFullname(true, true) | raw }}</h2>
                    {% if natural %}
                        <p>
                            <i class="fa-solid fa-address-book"></i> Vous êtes personnellement adhérent.
                        </p>
                    {% endif %}
                    {% for type, organizationList in organizations %}
                        <p>
                            <i class="fa-solid fa-{{ typesById[type].icon }}"></i> Vous êtes {{ typesById[type] }} des entités suivantes&nbsp;:
                        </p>
                        <ul>
                            {% for organization in organizationList %}
                                <li>{{ organization }}</li>
                            {% else %}
                                <li><em>Aucune</em></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            {{ include('general_meeting/_details.html.twig') }}
        </div>
    </div>

    {% if general_meeting.locked == false %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            <i class="fa-solid fa-question-circle"></i> Aide
                        </h2>

                        <p>
                            Vous pouvez désigner ici ceux qui peuvent représenter votre organisation aux assemblées générales.
                        </p>
                        <p>
                            Si personne ne peut se rendre disponible, vous pouvez donner votre pouvoir à un autre membre
                            (personne morale ou physique), conformément à nos statuts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {{ include('_part/_alerts.html.twig') }}

    {% for summons in summonsList %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            {% if summons.membership.organization is null %}
                                <i class="fa-solid fa-address-book"></i>
                                Convocation pour {{ summons.membership.person }}
                            {% else %}
                                <i class="fa-solid fa-clone"></i>
                                Convocation pour {{ summons.membership.organization }}
                            {% endif %}
                        </h2>
                        <div class="row">
                            <div class="col">
                                {% if summons.membership.paymentRequest.status == 'completed' %}
                                    <p class="text-success">
                                        Cotisation à jour&nbsp;: <span class="badge bg-success">Vous pouvez voter</span>
                                    </p>
                                {% else %}
                                    <p class="text-danger">
                                        Cotisation non réglée&nbsp;: <span class="badge bg-danger">Vous ne pouvez pas voter</span>
                                    </p>
                                {% endif%}

                                {% if summons.membership.organization is not null %}
                                    <h3>
                                        Personnes pouvant représenter votre organisation
                                    </h3>
                                    <ul class="ms-1 ms-md-4 list-unstyled">
                                        {% for associatedPerson in summons.membership.organization.associatedPeople %}
                                            {% if associatedPerson.type in types %}
                                                <li>
                                                    <i class="fa-solid fa-{{ associatedPerson.type.icon }}" title="{{ associatedPerson.type.name }}"></i>
                                                    {{ associatedPerson.person.getFullname(true, true) | raw }}
                                                </li>
                                            {% endif %}
                                        {% else %}
                                            <li><em>Aucune</em></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <h3>
                                    Pouvoirs
                                </h3>
                                <ul class="ms-1 ms-md-4 list-unstyled">
                                    {% if summons.mandate %}
                                        <li>
                                            <i class="fa-solid fa-arrow-right"></i>
                                            Pouvoir donné à
                                            {% if summons.mandate.membership.organization is null %}
                                                {{ summons.mandate.membership.person }}
                                            {% else %}
                                                {{ summons.mandate.membership.organization }}
                                            {% endif %}
                                            <a
                                                href="{{ path('general_meeting.public.mandate.remove', {token: general_meeting.token, summons_id: summons.id}) }}"
                                                class="btn btn-sm btn-danger"
                                                title="Retirer le pouvoir"
                                            >
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for mandate in summons.mandates %}
                                        <li>
                                            <i class="fa-solid fa-arrow-left"></i>
                                            Pouvoir reçu de
                                            {% if mandate.membership.organization is null %}
                                                {{ mandate.membership.person }}
                                            {% else %}
                                                {{ mandate.membership.organization }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    {% if not summons.mandate and summons.mandates|length == 0 %}
                                        <li><em>Aucun pouvoir</em></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col">
                                {% if general_meeting.locked == false %}
                                    {% if summons.membership.organization is not null %}
                                        <h3>
                                            Désigner un nouveau représentant
                                        </h3>
                                        <p>
                                            <a href="#{{ formsSelect[summons.id].vars.id }}_collapse" data-bs-toggle="collapse"
                                               class="btn btn-primary" role="button" aria-expanded="false"
                                               aria-controls="{{ formsPerson[summons.id].vars.id }}_collapse">
                                                Sélectionner une personne de votre organisation
                                            </a>
                                            <a href="#{{ formsPerson[summons.id].vars.id }}_collapse" data-bs-toggle="collapse"
                                               class="btn btn-primary" role="button" aria-expanded="false"
                                               aria-controls="{{ formsPerson[summons.id].vars.id }}_collapse">
                                                Créer une nouvelle personne
                                            </a>
                                        </p>
                                        <div class="collapse" id="{{ formsPerson[summons.id].vars.id }}_collapse">
                                            {{ form_errors(formsPerson[summons.id]) }}
                                            {{ form_start(formsPerson[summons.id]) }}
                                            <div class="card border-success">
                                                <div class="card-body">
                                                    <h2 class="card-title"><i class="fa fa-address-card"></i> Identité</h2>
                                                    <div class="row">
                                                        <div class="col">
                                                            {{ form_row(formsPerson[summons.id].type) }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            {{ form_row(formsPerson[summons.id].person.firstname) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_row(formsPerson[summons.id].person.lastname) }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            {{ form_row(formsPerson[summons.id].person.title) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_row(formsPerson[summons.id].person.sex) }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            {{ form_row(formsPerson[summons.id].person.phone) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_row(formsPerson[summons.id].person.email) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
                                                <div class="card-body">
                                                    <h2 class="card-title"><i class="fa fa-map-marker-alt"></i> Adresse</h2>
                                                    {% if formsPerson[summons.id].person.address is defined %}
                                                        {{ include('address/_formInput.html.twig', {form: formsPerson[summons.id].person.address}) }}
                                                        {% if formsPerson[summons.id].person.deleteAddress is defined %}
                                                            {{ form_row(formsPerson[summons.id].person.deleteAddress) }}
                                                        {% endif %}
                                                    {% else %}
                                                        <p class="alert alert-warning">L’adresse a été marquée comme à supprimer</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="alert alert-info">
                                                {% for type in types %}
                                                    <p>
                                                        <i class="fa fa-{{ type.icon }}"></i> <strong>{{ type.name }}</strong>
                                                        {{ type.description }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <p class="text-center">
                                                <a href="#{{ formsPerson[summons.id].vars.id }}_collapse" data-bs-toggle="collapse"
                                                   class="btn btn-warning" role="button" aria-expanded="false"
                                                   aria-controls="{{ formsPerson[summons.id].vars.id }}_collapse">
                                                    <i class="fa-solid fa-undo"></i> Annuler
                                                </a>
                                                <button class="btn btn-success">
                                                    <i class="fa-solid fa-plus"></i> Ajouter
                                                </button>
                                            </p>
                                            {{ form_row(formsPerson[summons.id]._token) }}
                                            {{ form_end(formsPerson[summons.id], {'render_rest': false}) }}
                                        </div>

                                        <div class="collapse" id="{{ formsSelect[summons.id].vars.id }}_collapse">
                                            {{ form_start(formsSelect[summons.id]) }}
                                            {{ form_row(formsSelect[summons.id].type) }}
                                            {{ form_row(formsSelect[summons.id].person) }}
                                            <div class="alert alert-info">
                                                {% for type in types %}
                                                    <p>
                                                        <i class="fa fa-{{ type.icon }}"></i> <strong>{{ type.name }}</strong>
                                                        {{ type.description }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                            <p class="text-center">
                                                <a href="#{{ formsSelect[summons.id].vars.id }}_collapse" data-bs-toggle="collapse"
                                                   class="btn btn-warning" role="button" aria-expanded="false"
                                                   aria-controls="{{ formsSelect[summons.id].vars.id }}_collapse">
                                                    <i class="fa-solid fa-undo"></i> Annuler
                                                </a>
                                                <button class="btn btn-success">
                                                    <i class="fa-solid fa-floppy-disk"></i> Enregistrer
                                                </button>
                                            </p>
                                            {{ form_end(formsSelect[summons.id]) }}
                                        </div>
                                    {% endif %}

                                    {% if summons.mandate is null %}
                                        <h3>
                                            Donner un pouvoir
                                        </h3>
                                        {{ form_start(formsMandate[summons.id]) }}
                                        {{ form_row(formsMandate[summons.id].mandate) }}
                                        <p class="text-center">
                                            <button class="btn btn-success">
                                                <i class="fa-solid fa-floppy-disk"></i> Enregistrer
                                            </button>
                                        </p>
                                        {{ form_end(formsMandate[summons.id]) }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <p class="text-center text-muted col-12">
        <a href="{{ path('general_meeting.public.reset', {token: general_meeting.token}) }}">
            <i class="fa-solid fa-sign-out-alt"></i> Se déconnecter
        </a>
    </p>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('intl-tel-input') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('intl-tel-input') }}
    <script defer>
        {% if general_meeting.locked == false %}
            {% for form in formsPerson %}
                intlTelInput(document.querySelector('#{{ form.person.phone.vars.id }}'), intlTelOptions);
                {{ include('person/_form.js.twig', { person_form_prefix: form.vars.id~'_', first: loop.first }) }}
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
