{% extends 'public.html.twig' %}

{% block title %}Assemblée générale - Login{% endblock %}

{% block body %}
    <div class="row">
        <div class="col pt-2">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-people-roof"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Assemblée Générale
                                    <small>
                                        {{ general_meeting.type|trans([], 'forms') }}
                                        du {{ general_meeting.datetime|date('d/m/Y')}}
                                    </small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-self-center">
        <div class="col col-lg-3"></div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">S’identifier</h2>
                    <p>
                        Afin d’accéder aux informations concernant l’assemblée générale et de pouvoir également désigner
                        un représentant ou donner un pouvoir, vous devez vous identifier.
                    </p>
                    <p>
                        Merci de saisir ici votre nom de famille et votre adresse mail ou votre numéro de téléphone portable.
                    </p>
                    <p class="text-warning text-center">
                        Seuls les rôles suivants peuvent voter aux AG et donc accéder à cette page&nbsp;:<br>
                        {% for type in types %}
                            {{ type|lower }}{% if not loop.last %},{% else %}.{% endif %}
                        {% endfor %}
                    </p>
                    {% if app.session.flashbag.peekAll|length > 0 %}
                        {{ include('_part/_alerts.html.twig') }}
                    {% else %}
                        <p class="alert alert-success d-flex align-items-center">
                            <i class="fa-solid fa-shield-alt"></i>
                            <span class="ms-1">
                                Vos données sont <strong>sécurisées</strong>&nbsp;: saisissez-les en toute confiance&nbsp;!
                            </span>
                        </p>
                    {% endif %}
                    {{ form_start(form) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                    <button type="submit" class="btn btn-outline-info btn-block w-100">
                        Envoyer
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col col-lg-3"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('intl-tel-input') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('intl-tel-input') }}
    <script defer>
        const publicLoginPhone = document.getElementById('public_login_phone');
        if (publicLoginPhone !== null ) {
            intlTelInput(publicLoginPhone, intlTelOptions);
        }
    </script>
{% endblock %}
