{% extends 'base.html.twig' %}

{% block title %}Modifier l’application {{ application.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-window-restore"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier l’application <em>{{ application.name }}</em></h1>
                            </div>
                            <div class="media-btn-group">
                                <form id="delete_form" method="post" action="{{ path('application.delete', {'id': application.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
                                    <a class="btn btn-danger text-white"><i class="fa-solid fa-trash"></i> Supprimer</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('application/_form.html.twig', {'button': 'Modifier'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        deleteAlert('#delete_form');
    </script>
{% endblock %}
