{% extends 'base.html.twig' %}

{% block title %}Liste des applications{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-window-restore"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Liste des applications</h1>
                            </div>
                            {% if is_granted('ROLE_APPLICATION_EDIT') %}
                                <div class="media-btn-group">
                                    <a href="{{ path('application.new') }}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Ajouter</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <table id="applications-list" class="table table-striped table-bordered table-middle">
                        <thead>
                            <tr>
                                <th>Icône</th>
                                <th>Nom</th>
                                <th>Url</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for application in applications %}
                            <tr>
                                <td class="text-center">
                                    {% if application.icon %}
                                        <img
                                                src="{{ path('show_uploads.application-icons', {'icon': application.icon}) }}"
                                                alt="Icône {{ application.name }}"
                                                style="width: 36px;"
                                        >
                                        <form id="delete_icon_{{ application.id }}" class="d-inline" method="post" action="{{ path('application.icon.delete', {'id': application.id}) }}">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
                                            <a href="#" class="ms-1 text-danger" title="Supprimer l’icône">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </form>
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('application.show', {'id': application.id}) }}">{{ application.name }}</a></td>
                                <td><a href="{{ application.url }}" target="_blank">{{ application.url }}</a></td>
                                <td class="text-center">
                                    <a
                                        href="{{ path('application.show', {'id': application.id}) }}"
                                        class="btn btn-sm btn-primary"
                                        title="Voir"
                                    >
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                    <a
                                        href="{{ path('application.edit', {'id': application.id}) }}"
                                        class="btn btn-sm btn-warning"
                                        title="Modifier"
                                    >
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script defer>
        new DataTable('#applications-list', {
            pageLength: 50,
            select: false,
            searching: false,
        });

        {% for application in applications %}
            {% if application.icon %}
        deleteAlert('#delete_icon_{{ application.id }}', 'Êtes-vous sûr de vouloir supprimer cette icône ?');
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}
