{% extends 'base.html.twig' %}

{% block title %}Ajouter une application{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-window-restore"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Ajouter une application</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('application/_form.html.twig') }}
{% endblock %}
