{% extends 'base.html.twig' %}

{% block title %}Application {{ application.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            {% if application.icon %}
                                <img
                                    src="{{ path('show_uploads.application-icons', {'icon': application.icon}) }}"
                                    alt="Icône {{ application.name }}"
                                    style="width: 36px;"
                                >
                            {% else %}
                                <i class="fa-solid fa-window-restore"></i>
                            {% endif %}
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Liste des utilisateurs associés à l’application <em>{{ application.name }}</em></h1>
                                <p class="mt-1">
                                    <a href="{{ application.url }}" target="_blank" class="p-1 rounded-2 bg-white">
                                        {{ application.url }}
                                    </a>
                                </p>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('application.index') }}" class="btn btn-secondary">
                                    <i class="fa-solid fa-arrow-left"></i>
                                    Retour à la liste
                                </a>
                                {% if is_granted('ROLE_APPLICATION_EDIT') %}
                                    <a href="{{ path('application.edit', {id: application.id}) }}" class="btn btn-warning"><i class="fa-solid fa-edit"></i> Modifier</a>
                                    <a href="{{ path('application.user.new', {id: application.id}) }}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Ajouter</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <table id="application-list" class="table table-striped table-bordered table-middle">
                        <thead>
                        <tr>
                            <th>Personne</th>
                            <th>Nom d’utilisateur</th>
                            <th>Infos</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in application.users %}
                            <tr>
                                <td
                                    data-order="{{ user.person.lastname }} {{ user.person.firstname }}"
                                    data-search="{{ user.person.getFullname() }}"
                                >
                                    <a href="{{ path('person.show', {'id': user.person.id}) }}">{{ user.person.getFullname(true, true) | raw }}</a>
                                </td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.infos }}</td>
                                <td class="text-center">
                                    <a
                                        href="{{ path('application.user.edit', {id: user.id}) }}"
                                        class="btn btn-sm btn-warning"
                                        title="Modifier"
                                    >
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                    <form id="delete_form_{{ user.id }}" class="d-inline" method="post" action="{{ path('application.user.delete', {'id': user.id}) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                        <a
                                                class="btn btn-sm btn-danger"
                                                title="Supprimer"
                                        >
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script defer>
        new DataTable('#application-list', {
            pageLength: 50,
            select: false,
            searching: true,
        });
        {% for user in application.users %}
        deleteAlert('#delete_form_{{ user.id }}');
        {% endfor %}
    </script>
{% endblock %}
