{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
               {{ form_row(form.name) }}
            </div>
        </div>
    </div>
    <div class="col-md-6 align-self-center">
        <div class="text-center">
            <a href="{{ path('organization.index') }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
                {{ button|default('Ajouter') }}
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}
