<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-0 ps-1 pb-1">
                {% if type.id == null %}
                    <a href="{{ path('organization.index') }}" class="me-1 mt-1 btn btn-outline-primary">Toutes</a>
                {% else %}
                    <a href="{{ path('organization.index') }}" class="me-1 mt-1 btn btn-primary">Toutes</a>
                {% endif %}
                {% for otherType in types %}
                    {% if type.id == otherType.id %}
                        <span class="me-1 mt-1 btn btn-outline-secondary disabled">{{ otherType.name }}</span>
                    {% else %}
                        <a href="{{ path('organization.type.show', {'id': otherType.id}) }}" class="me-1 mt-1 btn btn-secondary">
                            {{ otherType.name }}
                        </a>
                    {% endif %}
                {% else %}
                    <em>Aucun type créé</em>
                {% endfor %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('organization.type.new') }}" class="me-1 mt-1 btn btn-success"><i class="fa fa-plus"></i> Ajouter un type</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
