{% extends 'base.html.twig' %}

{% block title %}Modifier le type {{ type }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card main-card bg-gradient-directional-secondary">
            <div class="card-content">
                <div class="media">
                    <div class="main-card-logo">
                        <i class="fa fa-clone"></i>
                    </div>
                    <div class="media-body d-md-flex">
                        <div>
                            <h1>Modifier le type <em>{{ type }}</em></h1>
                        </div>
                        <div class="media-btn-group">
                            <a href="{{ path('organization.type.show', {id: type.id}) }}" class="btn btn-primary text-white"><i class="fa fa-undo"></i> Revenir à la liste</a>
                            <form id="delete_form" method="post" action="{{ path('organization.type.delete', {id: type.id}) }}" class="d-inline">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
                                <a class="btn btn-danger text-white"><i class="fas fa-trash"></i> Supprimer</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('organization/type/_list_button.html.twig') }}


{{ include('organization/type/_form.html.twig', {'button': 'Modifier'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        deleteAlert('#delete_form');
    </script>
{% endblock %}
