{% extends 'base.html.twig' %}

{% block title %}Ajouter un type{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card main-card bg-gradient-directional-secondary">
            <div class="card-content">
                <div class="media">
                    <div class="main-card-logo">
                        <i class="fa fa-clone"></i>
                    </div>
                    <div class="media-body d-md-flex">
                        <div>
                            <h1>Ajouter un type</h1>
                        </div>
                        <div class="media-btn-group">
                            <a href="{{ path('organization.index') }}" class="btn btn-primary text-white"><i class="fa fa-undo"></i> Revenir à la liste</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-0 ps-1 pb-1">
                {% for otherType in types %}
                    <a href="{{ path('organization.type.edit', {'id': otherType.id}) }}" class="me-1 mt-1 btn btn-secondary">
                        {{ otherType.name }}
                    </a>
                {% else %}
                    <em>Aucun groupe créé</em>
                {% endfor %}
                <a href="{{ path('organization.type.new') }}" class="me-1 mt-1 btn btn-success"><i class="fa fa-plus"></i> Ajouter un type</a>
            </div>
        </div>
    </div>
</div>

{{ include('organization/type/_form.html.twig') }}
{% endblock %}
