{% extends 'base.html.twig' %}

{% block title %}Liste des organisations - {{ type }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clone"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Liste des organisations <em>{{ type }}</em></h1>
                            </div>
                                <div class="media-btn-group">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('organization.type.edit', {id: type.id}) }}" class="btn btn-secondary text-white"><i class="fa fa-cog"></i> Paramètres</a>
                                    {% endif %}
                                    {% if is_granted('ROLE_ORGANIZATION_EDIT') %}
                                        <a href="{{ path('organization.new') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Ajouter</a>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ include('organization/type/_list_button.html.twig') }}

{{ include('organization/_list.html.twig', {organizations: type.organizations}) }}
{%  endblock %}

{% block javascripts %}
    {{ include('organization/_list.js_block.twig') }}
{% endblock %}
