<table id="{{ table ?? '' }}" class="table table-striped table-bordered table-middle text-center">
    <thead>
    <tr>
        <th class="text-center">Référence</th>
        <th class="text-center">Date du paiement</th>
        <th class="text-center">Organisation / Personne</th>
        <th>Montant</th>
        <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for receipt in receipts %}
        <tr>
            <td>
                <a href="{{ path('accounting.payment.show', {'id': receipt.payment.id}) }}">
                    N<sup>o</sup> {{ receipt.ref }}
                </a>
            </td>
            <td
                data-order="{{ receipt.payment.datetime|date('Y-m-d H:i:s') }}"
                data-search="{{ receipt.payment.datetime|date('d/m/Y') }}"
                class="text-center"
            >
                <a href="{{ path('accounting.payment.show', {'id': receipt.payment.id}) }}">{{ receipt.payment.datetime|date('d/m/Y') }}</a>
            </td>
            {% if receipt.payment.organization %}
                <td data-order="{{ receipt.payment.organization.name }}" data-search="{{ receipt.payment.organization.name }} {{ receipt.payment.organization.diocese.deptCode }}">
                    <a href="{{ path('organization.show', { id: receipt.payment.organization.id }) }}">{{ receipt.payment.organization.name }}</a>
                </td>
            {% elseif receipt.payment.person %}
                <td data-order="{{ receipt.payment.person.fullname }}" data-search="{{ receipt.payment.person.fullname }}">
                    <a href="{{ path('person.show', { id: receipt.payment.person.id }) }}">{{ receipt.payment.person.getFullname(false, true) | raw }}</a>
                </td>
            {% else %}
                <td>
                    Erreur&nbsp;: aucune organisation ou personne associée
                </td>
            {% endif %}
            <td data-order="{{ receipt.payment.amount }}" data-search="{{ receipt.payment.amount }} {{ receipt.payment.amount|format_currency('EUR') }}">
                <span class="text-{% if receipt.payment.amount > receipt.payment.amountAllocated %}danger{% else %}success{% endif %}">
                    {{ receipt.payment.amount|format_currency('EUR') }}
                </span>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" rel="tooltip" title="Voir un paiement" href="{{ path('accounting.payment.show', {'id': receipt.payment.id}) }}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                {% if emptyMessage is defined %}{{ emptyMessage }}{% else %}Aucun reçu trouvé{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
