/**
 * @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */


.form-control-position {
  display: block;
  height: 2.5rem;
  line-height: 3.2rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 1px;
  width: 2.5rem;
  z-index: 2;
}

.has-icon-left .form-control-position {
  left: inherit;
  right: auto;
}

.has-icon-left .form-control {
  padding-left: 2.5rem;
  padding-right: 1rem;
}

.position-relative .form-control {
  padding-right: calc(1.25em + 1.5rem + 2px);
}