/**
 * @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */

.table th,
.table td {
  border-bottom: 1px solid $table_border_color;
  padding: 0.75rem 2rem;
}

.table-middle td {
  vertical-align: middle;
}

.table-borderless td,
.table-borderless th {
  border: none;
}

.table-bordered {
  border: 1px solid $table_border_color;

  th,
  td {
    border: 1px solid $table_border_color;
  }
}

.table thead th {
  border-bottom: 2px solid $table_border_color;
  border-top: 1px solid $table_border_color;
  vertical-align: bottom;
}

.border-custom-color td {
  border-bottom: inherit;
  border-top: inherit;
}

.table-borderless {
  thead th {
    border-top: 1px solid $table_border_color;
  }

  > tbody > tr > {
    td,
    th {
      border: 0;
    }
  }
}

.table {
  &.table-xl {
    th,
    td {
      padding: 1.25rem 2rem;
    }
  }

  &.table-lg {
    th,
    td {
      padding: 0.9rem 2rem;
    }
  }

  &.table-de {
    th,
    td {
      padding: 0.75rem 2rem;
    }
  }

  &.table-sm {
    th,
    td {
      padding: 0.6rem 2rem;
    }
  }

  &.table-xs {
    th,
    td {
      padding: 0.4rem 2rem;
    }
  }

  &.table-column th,
  &.table-column td {
    border: none;
    border-left: 1px solid #e3ebf3;
  }

  & > thead > tr {
    &.border-solid > th {
      border-bottom-width: 2px;
    }

    &.border-double > th {
      border-bottom-style: double;
      border-bottom-width: 4px;
    }
  }

  & > tbody > tr.border-dashed > td {
    border-top-style: dashed;
  }

  &.table-column {
     th:first-child,
     td:first-child {
       border-left: none;
     }
  }
}

.table-inverse {
  background-color: #00a5a8;
  color: #eceeef;
}
