{{ form_start(form) }}
<div class="row">
    <div class="col">
        <h2>
            <small>Convocation de </small>
            {% if summons.membership.organization is null %}
                {{ summons.membership.person }}
            {% else %}
                {{ summons.membership.organization }}
            {% endif %}
        </h2>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-12 col-lg-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                {{ form_row(form.mandate) }}
                {{ form_row(form.fileMandate) }}
                {{ form_row(form.mandate_actions) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 text-center">
        <a href="{{ path('general_meeting.show', {id: summons.generalMeeting.id}) }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{ form_end(form) }}
