{% extends 'base.html.twig' %}

{% block title %}Modifier une convocation pour l’Assemblée Générale {{ summons.generalMeeting.type|trans([], 'forms') }} du {{ summons.generalMeeting.datetime|date('d/m/Y') }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-people-roof"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Modifier une convocation pour l’Assemblée Générale
                                    <small>
                                        {{ summons.generalMeeting.type|trans([], 'forms') }}
                                        du {{ summons.generalMeeting.datetime|date('d/m/Y')}}
                                    </small>
                                </h1>
                            </div>
                            <div class="media-btn-group">
                                <form id="delete_form" method="post" action="{{ path('general_meeting.summons.delete', {'id': summons.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ summons.id) }}">
                                    <a class="btn btn-danger text-white"><i class="fa-solid fa-trash"></i> Supprimer</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('general_meeting/summons/_form.html.twig', {'button': 'Modifier'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        deleteAlert('#delete_form');
    </script>
{% endblock %}
