<form method="post" action="{{ path('aggregate.delete', {'id': aggregate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aggregate.id) }}">
    <button class="btn">Delete</button>
</form>
