{{ form_errors(form) }}

{{ form_start(form) }}
<div class="row">
    <div class="col">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.newsletters) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                {{ form_row(form.personOrOrganization) }}
                {{ form_row(form.membership) }}
                <div id="form-for-organizations">
                    {{ form_row(form.organizationTypes) }}
                    {{ form_row(form.associatedPersonTypes) }}
                </div>
                <div id="form-for-people">
                    {{ form_row(form.personGroups) }}
                </div>
            </div>
        </div>

        <p class="text-center">
            <a href="{{ path('aggregate.index') }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
                {{ button|default('Ajouter') }}
            </button>
        </p>
    </div>

    <div class="col">
        <p class="alert alert-info">
            Si la liste désirée n’apparait pas, veuillez resynchroniser Zachée avec Brevo.
        </p>
        <p class="alert alert-warning">
            La synchronisation écrasera complètement la composition des listes associées avec Zachée&nbsp;:
            un contact présent dans une liste sur Brevo, mais pas dans Zachée, sera retiré de la liste&nbsp;!
        </p>
        <p class="alert alert-info">
            Laisser un champ vide pour indiquer de sélectionner tout.
        </p>
        <p class="alert alert-info">
            Si un statut d’adhésion est défini, alors la recherche s’exécutera en fonction de ce critère. Dans le cas
            contraire, on cherchera parmi toutes les personnes ou toutes les organisations qu’elles soient adhérentes ou non.
        </p>
        <p class="alert alert-warning">
            Pour la recherche en fonction du statut d’adhésion, c'est la période définie dans Zachée par l’utilisateur qui
            est retenue. Mais c'est la période courante, en fonction de la date actuelle, qui est prise en compte pour la
            synchronisation de la newsletter.
        </p>
    </div>
</div>
{{  form_end(form) }}
