{% extends 'base.html.twig' %}

{% block title %}Modifier un agrégat{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-list-alt"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier un agrégat</h1>
                            </div>
                            <div class="media-btn-group">
                                <form id="delete_form_{{ aggregate.id }}" method="post" action="{{ path('aggregate.delete', {id: aggregate.id}) }}" class="d-inline">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aggregate.id) }}">
                                    <a class="btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                        Supprimer
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('aggregate/_form.html.twig', {'button': 'Modifier'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        deleteAlert('#delete_form_{{ aggregate.id }}');
        {{ include('aggregate/_form.js.twig') }}
    </script>
{% endblock %}
