{% extends 'base.html.twig' %}

{% block title %}Agrégats{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-list-alt"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Agrégats</h1>
                            </div>
                            {% if is_granted('ROLE_AGGREGATE_EDIT') %}
                                <div class="media-btn-group">
                                    <a href="{{ path('aggregate.new') }}" class="btn btn-success text-white">
                                        <i class="fa-solid fa-plus"></i>
                                        Créer un agrégat
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <table id="aggregatesList" class="table table-striped table-bordered text-center">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Type</th>
                            {% if is_granted('ROLE_AGGREGATE_EDIT') %}
                                <th>Newsletters</th>
                            {% endif %}
                            <th>Membre</th>
                            <th>Type d’organisation</th>
                            <th>Rôle</th>
                            <th>Bénévole</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for aggregate in aggregates %}
                                <tr>
                                    <td>
                                        <a href="{{ path('aggregate.show', {id: aggregate.id}) }}">{{ aggregate.name }}</a>
                                    </td>
                                    <td>
                                        {% if aggregate.personOrOrganization == 'person' %}
                                            <span class="badge bg-secondary"><i class="fa fa-address-book"></i> {{ aggregate.personOrOrganization|trans(domain='forms') }}</span>
                                        {% elseif aggregate.personOrOrganization == 'organization' %}
                                            <span class="badge bg-secondary"><i class="fa fa-clone"></i> {{ aggregate.personOrOrganization|trans(domain='forms') }}</span>
                                        {% endif %}
                                    </td>
                                    {% if is_granted('ROLE_AGGREGATE_EDIT') %}
                                        <td>
                                            {% for newsletter in aggregate.newsletters %}
                                                <span class="badge bg-dark">{{ newsletter.name }}</span>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {% for membership in aggregate.membership %}
                                            {% if membership == 'validated' %}
                                                <span class="badge bg-success">Membre</span>
                                            {% elseif membership == 'in_progress' %}
                                                <span class="badge bg-primary">Adhésion en cours</span>
                                            {% elseif membership == 'canceled' %}
                                                <span class="badge bg-danger">Adhésion annulée</span>
                                            {% elseif membership == 'is_first' %}
                                                <span class="badge bg-secondary">Primo-adhésion</span>
                                            {% elseif membership == 'not_first' %}
                                                <span class="badge bg-secondary">Renouvellement</span>
                                            {% elseif membership == 'non_member' %}
                                                <span class="badge bg-dark">Non membre</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="badge bg-secondary">Peu importe</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if aggregate.personOrOrganization == 'organization' %}
                                            {% for type in aggregate.organizationTypes %}
                                                <span class="badge bg-secondary">{{ type.name }}</span>
                                            {% else %}
                                                <span class="badge bg-primary">Tous</span>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if aggregate.personOrOrganization == 'organization' %}
                                            {% for type in aggregate.associatedPersonTypes %}
                                                <span class="badge bg-secondary"><i class="fa fa-{{ type.icon }}"></i> {{ type.name }}</span>
                                            {% else %}
                                                <span class="badge bg-primary">Tous</span>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if aggregate.personOrOrganization == 'person' %}
                                            {% for group in aggregate.personGroups %}
                                                <span class="badge bg-secondary">{{ group.name }}</span>
                                            {% else %}
                                                <span class="badge bg-primary">Peu importe</span>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        new DataTable('#aggregatesList', {
            'pageLength': 50,
            'select': false,
            'responsive': true,
            'searching': true,
            'order': [[0, 'asc']],
        });
    </script>
{% endblock %}
