{% extends 'base.html.twig' %}

{% block title %}Créer un agrégat{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-list-alt"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Créer un agrégat</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('aggregate/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        {{ include('aggregate/_form.js.twig') }}
    </script>
{% endblock %}
