{% extends 'base.html.twig' %}

{% block title %}Agrégat {{ aggregate.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-list-alt"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Agrégat <em>{{ aggregate.name }}</em></h1>
                            </div>
                            <div class="media-btn-group">
                                {% if is_granted('ROLE_AGGREGATE_EDIT') %}
                                    {% for newsletter in aggregate.newsletters %}
                                        <span class="badge bg-dark">{{ newsletter.name }}</span>
                                    {% endfor %}
                                {% endif %}
                                <a href="{{ path('aggregate.index') }}" class="btn btn-primary text-white">
                                    <i class="fas fa-arrow-left"></i>
                                    Retour
                                </a>
                                {% if is_granted('ROLE_AGGREGATE_EDIT') %}
                                    <a href="{{ path('aggregate.edit', {'id': aggregate.id}) }}" class="btn btn-warning text-white">
                                        <i class="fas fa-edit"></i>
                                        Modifier
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ include('person/_list.html.twig', {tableId: 'result'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        {{ include('person/_list.js.twig', {tableId: 'result'}) }}
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
