/**
 * @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */

@import '../variables';

.card.main-card {
  color: $white;

  .card-content .media {
    align-items: center;

    & > .media-body {
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1.5rem !important;

      h1 {
        color: $white;
      }

      .media-btn-group {
        text-align: right;
      }
    }
  }

  .main-card-logo {
    padding: 1.5rem;
    text-align: center;

    & > i {
      font-size: 3rem;
    }
  }
}

@media (max-width: 767px) {
  .main-card-logo {
    position: absolute;
    left: 0;
    opacity: 0.4;
    z-index: 100;
  }

  .media-body {
    z-index: 200;
  }
}