/**
 * @copyright Copyright (c) 2023 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */

.sex-switch {
    display: none;
}

.sex-switch-element {
    position: relative;
    height: 3rem;
    width: 170px;
    border: 1px solid #babfc7;
    border-radius: 0.375rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: clip;
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;

    span {
        position: absolute;
        top: 0;
        width: 90px;
        display: block;
        padding: .75rem 1rem;
        text-align: center;
        opacity: .5;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    }

    .sex-switch-male, .sex-switch-female {
        color: #fff;
        transform-origin: 0;
    }

    .sex-switch-male {
        left: 0;
        background: #337ab7;
        transform: translate(-40px);
    }

    .sex-switch-label {
        left: 40px;
    }

    .sex-switch-female {
        right: 0;
        background: #d9534f;
        transform: translate(40px);
    }

    &.male-selected, &.female-selected {
        span {
            opacity: 1;
        }
    }

    &.male-selected {
        .sex-switch-male {
            transform: translate(0);
        }

        .sex-switch-label {
            transform: translate(40px);
        }

        .sex-switch-female {
            transform: translate(80px);
        }
    }

    &.female-selected {
        .sex-switch-male {
            transform: translate(-80px);
        }

        .sex-switch-label {
            transform: translate(-40px);
        }

        .sex-switch-female {
            transform: translate(0px);
        }
    }
}


