{% extends 'base.html.twig' %}

{% block title %}Détail d’une instance{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-server"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Détail de l’instance
                                    <em><u><a href="{{ instance.url }}" class="text-white">{{ instance.name }}</a></u></em>
                                    {% if instance.smsBilling %}
                                        <i class="fa-solid fa-sms"></i>
                                    {% endif %}
                                    {% if instance.syncUpEnabled %}
                                        <i class="fa-solid fa-upload"></i>
                                    {% endif %}
                                </h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('config.index') }}" class="btn btn-primary text-white">
                                    <i class="fas fa-arrow-left"></i>
                                    Retour à la configuration
                                </a>
                                <a href="{{ path('instance.edit', {'id': instance.id}) }}" class="btn btn-warning text-white">
                                    <i class="fas fa-edit"></i>
                                    Modifier
                                </a>
                                <a href="{{ path('entity.new', {id: instance.id}) }}" class="btn btn-success">
                                    <i class="fa fa-plus"></i>
                                    Ajouter une nouvelle entité
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Mettre à jour le statut d’une entité</h2>
                    {% if instance.syncUpEnabled %}
                    {{ include('entity/_formUpdateStatus.html.twig') }}
                    {% else %}
                    <p class="text-warning">
                        La synchronisation vers Enoria est désactivée pour cette instance.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <h2 class="card-title">Liste des entités de cette instance</h2>
                    <div class="datatable-wide">
                        <table id="entityList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Statut</th>
                                <th>Id dans l’instance</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>
                                        {% if entity.enable %}
                                            {{ entity.name }}
                                        {% else %}
                                            <del>{{ entity.name }}</del>
                                        {% endif %}
                                        {% if entity.memberships.count %}
                                            <span class="badge bg-success">Utilisée par un membre</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ include('entity/_status.html.twig', {status: entity.status}) }}
                                    </td>
                                    <td>{{ entity.idInInstance }}</td>
                                    <td>
                                        <a href="{{ path('entity.edit', {id: entity.id}) }}" class="btn btn-warning btn-sm" rel="tooltip" title="Éditer l’entité">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form id="delete_entity_form_{{ entity.id }}" class="d-inline-block" method="post" action="{{ path('entity.delete', {id: entity.id}) }}">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
                                            <a class="btn btn-danger btn-sm" rel="tooltip" title="Supprimer l’entité">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        new DataTable('#entityList', {
            'pageLength': 30,
            'responsive': true,
            'searching': true,
        });

        {% for entity in instance.entities %}
        deleteAlert('#delete_entity_form_{{ entity.id }}');
        {% endfor %}
    </script>
{% endblock %}
