<h2 class="card-title"><i class="fa-solid fa-lock"></i> Connexion sécurisée (2FA)</h2>
{% if is_granted('IS_IMPERSONATOR') %}
    <p class="alert alert-warning">
        Cette section n’est modifiable que par l’utilisateur lui-même et pas par ceux connectés
        «&nbsp;en tant que&nbsp;».
    </p>
{% else %}
    <div class="row">
        <div class="col">
            <h4><i class="fa-solid fa-qrcode"></i> Google Authenticator</h4>
            {% if not app.user.isGoogleAuthenticatorEnabled %}
                <p class="alert alert-warning">
                    <i class="fa-solid fa-square-xmark"></i> Inactif
                </p>
                <p class="text-center">
                    <button id="googleAuthenticatorEnableButton" class="btn btn-outline-success">
                        <i class="fa-solid fa-square-check"></i> Activer Google Authenticator
                    </button>
                </p>
            {% else %}
                <p class="alert alert-success">
                    <i class="fa-solid fa-square-check"></i> <strong>Activé</strong>
                </p>
                <form action="{{ path('profile.2fa.google-auth.disable') }}" method="post" class="text-center">
                    <input type="hidden" id="_token" name="_token" value="{{ csrf_token('google-auth-disable') }}">
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="fa-solid fa-square-xmark"></i> Désactiver Google Authenticator
                    </button>
                </form>
            {% endif %}
            <div>
                Utilisez les liens ci-dessous pour télécharger les applications correspondantes
                <div class="btn-group">
                    <a href="https://apps.apple.com/fr/app/google-authenticator/id388497605" target="_blank" class="btn btn-sm btn-light">
                        <i class="fa-brands fa-app-store-ios"></i> app iOS
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=fr&amp;gl=US" target="_blank" class="btn btn-sm btn-light">
                        <i class="fa-brands fa-google-play"></i> app Android
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <h4><i class="fa-solid fa-hashtag"></i> Code par email ou SMS</h4>
            {% if app.user.isEmailAuthEnabled or app.user.isTextAuthEnabled %}
                <p class="alert alert-success">
                    <i class="fa-solid fa-square-check"></i> <strong>Activé</strong>
                </p>
                <p>
                    <strong>Email&nbsp;:</strong> {{ app.user.person.email }}
                </p>
                {% if app.user.isTextAuthEnabled %}
                    <p>
                        <strong>SMS&nbsp;:</strong> {{ app.user.person.phone|auto_phone_number_format() }}
                    </p>
                {% endif %}
            {% else %}
                <p class="alert alert-warning">
                    <i class="fa-solid fa-square-xmark"></i> <strong>Inactif</strong>
                </p>
                <p class="text-center">
                    <a href="{{ path('profile.2fa.email.enable') }}" class="btn btn-outline-success">
                        <i class="fa-solid fa-square-check"></i> Activer l’authentification par email
                    </a>
                </p>
            {% endif %}
        </div>
    </div>

    <hr>

    <h3><i class="fa-solid fa-fingerprint"></i> Connexion sécurisée par clé (biométrie)</h3>
    {% if webauthnCredentials is not empty %}
        <p class="alert alert-success">
            <i class="fa-solid fa-square-check"></i> Votre authentification biométrique est activée.
        </p>
    {% else %}
        <p class="alert alert-warning">
            <i class="fa-solid fa-square-xmark"></i> Vous avez la possibilité de définir ici l'authentification biométrique.
        </p>
    {% endif %}
    <div class="row">
        <div class="col">
            <div class="list-group-item">
                <ul class="list-group">
                    {% for webauthnCredential in webauthnCredentials  %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <code>{{ webauthnCredential.keyName|default(webauthnCredential.id) }}</code>
                            <form
                                id="webauthn_device_delete_{{ webauthnCredential.id }}"
                                class="float-end"
                                method="post" action="{{ path('webauthn.device.delete', {id: webauthnCredential.id}) }}"
                            >
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete_webauthn'~webauthnCredential.id) }}">
                                <a class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
                {% if browserHaveWebAuthnCookie %}
                <form class="mt-1 text-center" method="post" action="{{ path('webauthn.delete_cookie') }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete_webauthn_cookie') }}">
                    <button type="submit" class="btn btn-sm btn-danger">Désactiver pour ce navigateur (ne révoquera pas la clé)</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="col" id="webauthnForm">
            <p class="alert alert-danger visually-hidden">
                La connexion sécurisée par clé ne peut pas fonctionner si vous n’êtes pas en HTTPS.
            </p>
            <form
                method="post"
                class="form text-center visually-hidden"
                action=""
            >
                <div class="mb-1">
                    <input class="form-control" type="text" name="keyName" id="keyName" placeholder="Nom de votre appareil / de la clé"/ required>
                    <input type="hidden" name="username" value="{{ app.user.username }}" />
                </div>
                <button type="submit" class="btn btn-outline-success">Enregistrer une authentification biométrique</button>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <h4><i class="fa-solid fa-life-ring"></i> Code de récupération</h4>
            <p class="alert alert-light">
                Le code unique de récupération vous permettra de vous connecter si vous perdez votre
                appareil 2FA.
            </p>
            <p class="text-center">
                <button id="generateBackupCode" class="btn btn-outline-primary">
                    <i class="fa-solid fa-life-ring"></i> Générer un code de récupération 2FA
                </button>
            </p>
        </div>
        <div class="col">
            <h4><i class="fa-solid fa-desktop"></i> Appareils de confiance</h4>
            <p class="alert alert-light">
                En cliquant sur ce bouton vous révoquez tous les appareils de confiance et obligez une
                nouvelle authentification 2FA.
            </p>
            <p class="text-center">
                <a href="{{ path('profile.2fa.revoke-trusted-devices') }}" class="btn btn-outline-warning">
                    <i class="fa-solid fa-trash-list"></i> Révoquer mes appareils de confiance
                </a>
            </p>
        </div>
    </div>

    <div class="modal fade" id="backupCodeError" tabindex="-1" aria-labelledby="backupCodeErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="backupCodeErrorLabel">
                        <i class="fa-solid fa-life-ring"></i> Code de récupération
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Une erreur est survenue lors de la génération du code de récupération 2FA.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="backupCodeSuccess" tabindex="-1" aria-labelledby="backupCodeSuccessLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="backupCodeSuccessLabel">
                        <i class="fa-solid fa-life-ring"></i> Code de récupération
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center">Votre code de récupération est le suivant&nbsp;:</p>
                    <p class="text-center font-large-1 text-bold-500" id="generatedBackupCode">
                        5351-3274-1371-4574
                    </p>
                    <p class="text-center">
                        Veillez bien à le garder précieusement. Il est à usage unique&nbsp;: pensez à le régénérer si vous
                        l’utilisez&nbsp;!
                    </p>
                    <p class="text-center">
                        Astuce&nbsp;: vous pouvez générer plusieurs codes.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="googleAuthenticator" tabindex="-1" aria-labelledby="googleAuthenticatorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="googleAuthenticatorLabel">
                        <i class="fa-solid fa-qrcode"></i> Activation de Google Authenticator
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-success text-center">
                        Veuillez utiliser l’application Google Authenticator pour scanner ce code QR puis entrez le code
                        donné par l’application.
                    </p>
                    <p class="alert alert-danger text-center visually-hidden">test</p>
                    <div class="text-center" id="googleAuthenticatorSpinner">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Chargement...</span>
                        </div>
                    </div>
                    <form action="#" id="googleAuthenticatorForm" class="visually-hidden">
                        <div class="text-center">
                            <img src="" class="w-75" alt="Image du QRCode GA">
                        </div>
                        <div class="text-center mt-2">
                            <input
                                id="ga-code"
                                class="form-control mx-auto w-40 text-center form-control-lg"
                                aria-label="Code de vérification"
                                placeholder="123 456"
                                maxlength="6"
                                type="text"
                                name="code"
                                autocomplete="one-time-code"
                                autofocus
                                pattern="[0-9]*"
                            >
                            <div class="text-center mt-2">
                                <button id="ga-code-submit" type="submit" class="btn btn-success">
                                    <i class="fa-solid fa-check"></i> J’ai scanné le QRCode
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
