/**
 * Backup Token
 */

let generateBackupToken = "{{ csrf_token('generate-backup') }}";
const generateBackupCodeButton = document.getElementById('generateBackupCode');
const generatedBackupCode = document.getElementById('generatedBackupCode');

generateBackupCodeButton.addEventListener('click', async event => {
    event.preventDefault();
    try {
        const response = await fetch("{{ path('profile.2fa.generate-backup-code') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({token: generateBackupToken}),
        });
        const result = await response.json();
        if (response.status !== 200) {
            if (result.message !== '') {
                throw new Error(result.message);
            }
            throw new Error(response.statusText);
        }
        if (result.token) {
            generateBackupToken = result.token;
        }
        const successModal = new bootstrap.Modal(document.getElementById('backupCodeSuccess'));
        successModal.show();
        generatedBackupCode.innerHTML = result.code;
    } catch (error) {
        console.error(`Erreur lors de la génération du code : ${error.message}`);

        const errorModal = new bootstrap.Modal(document.getElementById('backupCodeError'));
        errorModal.show();
    }
});

/**
 * Google Authenticator
 */

let googleAuthenticatorToken = "{{ csrf_token('google-auth') }}";
const googleAuthenticatorEnableButton = document.getElementById('googleAuthenticatorEnableButton');

if (googleAuthenticatorEnableButton) {
    googleAuthenticatorEnableButton.addEventListener('click', async event => {
        event.preventDefault();

        const testResponse = (response, result) => {
            if (response.status !== 200) {
                if (result.error !== '') {
                    throw new Error(result.error);
                }
                throw new Error(response.statusText);
            }
        };
        const googleAuthenticatorModal = new bootstrap.Modal(document.getElementById('googleAuthenticator'));
        const googleAuthenticatorSpinner = document.getElementById('googleAuthenticatorSpinner');
        const googleAuthenticatorForm = document.getElementById('googleAuthenticatorForm');
        const googleAuthenticatorError = document.querySelector('#googleAuthenticator p.alert-danger');

        const catchError = (error, message) => {
            console.log(error);
            console.error(`Erreur lors de la génération du code : ${error.message}`);
            googleAuthenticatorError.innerHTML = message;
            googleAuthenticatorError.classList.remove('visually-hidden');
            googleAuthenticatorSpinner.classList.add('visually-hidden');
        };

        googleAuthenticatorSpinner.classList.remove('visually-hidden');
        googleAuthenticatorForm.classList.add('visually-hidden');
        googleAuthenticatorError.classList.add('visually-hidden');
        googleAuthenticatorModal.show();

        try {
            const response = await fetch("{{ path('profile.2fa.google-auth.enable') }}");
            const result = await response.json();
            testResponse(response, result);

            document.querySelector('#googleAuthenticator img').setAttribute('src', result.qrCode);
            googleAuthenticatorSpinner.classList.add('visually-hidden');
            googleAuthenticatorForm.classList.remove('visually-hidden');

            googleAuthenticatorForm.addEventListener('submit', async event => {
                event.preventDefault();

                try {
                    const response = await fetch("{{ path('profile.2fa.google-auth.enable') }}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            token: googleAuthenticatorToken,
                            code: document.getElementById('ga-code').value,
                        }),
                    });
                    const result = await response.json();
                    testResponse(response, result);
                    window.location.reload();
                } catch (error) {
                    catchError(error, 'Le code entré n’est pas valide&nbsp;!');
                }
            });
        } catch (error) {
            catchError(error, 'Une erreur est survenue dans la génération du QR Code&nbsp;!');
        }
    });
}

/**
 * Webauthn
 */

if (location.protocol !== 'https:') {
    document.querySelector('#webauthnForm > p').classList.remove('visually-hidden');
} else {
    {% for webauthnCredential in webauthnCredentials %}
    deleteAlert('#webauthn_device_delete_{{ webauthnCredential.id }}');
    {% endfor %}



    const { startRegistration } = SimpleWebAuthnBrowser;

    document.querySelector('#webauthnForm > form').classList.remove('visually-hidden');
    document.querySelector('#webauthnForm > form')?.addEventListener('submit', async (e) => {
        e.preventDefault();

        const data = new FormData(e.target);
        const username = data.get('username');
        const keyName = data.get('keyName');
        console.log(keyName);

        try {
            const body = { username: username };
            const creationOptionsJSON = await jsonFetch('/webauthn/devices/add/options', 'POST', body);
            const registrationResponse = await startRegistration(creationOptionsJSON);
            const registerResponseJSON = await jsonFetch('/webauthn/devices/add', 'POST', registrationResponse);

            if (registerResponseJSON.status !== 'ok') {
                throw new Error('Registration failed: ' + JSON.stringify(registerResponseJSON));
            }

            if (keyName.trim().length > 0) {
                await jsonFetch('/profile/webauthn/devices/rename', 'POST', { credentialId: registrationResponse.id, keyName: keyName });
            }

            // Create a cookie allowing to display the biometric authentication button
            await jsonFetch('/profile/webauthn/create-cookie');

            window.location.reload();
        } catch (e) {
            // If an error occurred during registration, it can be because the user already has the key registered
            alert(e.message || e);
            console.error(e);
        }
    });
}
