/***********
Based on https://github.com/seanpowell/Email-Boilerplate Licence MIT
Originally based on The MailChimp Reset from Fabio Carneiro, MailChimp User Experience Design
More info and templates on Github: https://github.com/mailchimp/Email-Blueprints
http://www.mailchimp.com & http://www.fabio-carneiro.com
INLINE: No.
***********/
/* Client-specific Styles */
#outlook a { /* Force Outlook to provide a "view in browser" menu link. */
    padding: 0;
}
body { /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
    width: 100% !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}
.ExternalClass { /* Force Hotmail to display emails at full width */
    width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { /* Force Hotmail to display normal line spacing. */
    line-height: 100%;
}
#backgroundTable {
    margin: 0;
    padding: 0;
    width: 100% !important;
    line-height: 100% !important;
}
/* End reset */

/* Some sensible defaults for images
1. "-ms-interpolation-mode: bicubic" works to help ie properly resize images in IE. (if you are resizing them using the width and height attributes)
2. "border:none" removes border when linking images.
3. Updated the common Gmail/Hotmail image display fix: Gmail and Hotmail unwantedly adds in an extra space below images when using non IE browsers. You may not always want all of your images to be block elements. Apply the "image_fix" class to any image you need to fix.
Bring inline: Yes.
*/
img {
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
}
a img {
    border: none;
}
.image_fix {
    display: block;
}

/** Yahoo paragraph fix: removes the proper spacing or the paragraph (p) tag. To correct we set the top/bottom margin to 1em in the head of the document. Simple fix with little effect on other styling. NOTE: It is also common to use two breaks instead of the paragraph tag but I think this way is cleaner and more semantic. NOTE: This example recommends 1em. More info on setting web defaults: http://www.w3.org/TR/CSS21/sample.html or http://meiert.com/en/blog/20070922/user-agent-style-sheets/
Bring inline: Yes.
**/
p {
    margin: 1em 0;
}

/** Hotmail header color reset: Hotmail replaces your header color styles with a green color on H2, H3, H4, H5, and H6 tags. In this example, the color is reset to black for a non-linked header, blue for a linked header, red for an active header (limited support), and purple for a visited header (limited support).  Replace with your choice of color. The !important is really what is overriding Hotmail's styling. Hotmail also sets the H1 and H2 tags to the same size.
Bring inline: Yes.
**/
h1, h2, h3, h4, h5, h6 {
    color: #697a8d !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #008486 !important;
}

h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
    color: #008486 !important; /* Preferably not the same color as the normal header link color.  There is limited support for pseudo classes in email clients, this was added just for good measure. */
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #008486 !important; /* Preferably not the same color as the normal header link color. There is limited support for pseudo classes in email clients, this was added just for good measure. */
}

/** Outlook 07, 10 Padding issue: These "newer" versions of Outlook add some padding around table cells potentially throwing off your perfectly pixeled table.  The issue can cause added space and also throw off borders completely.  Use this fix in your header or inline to safely fix your table woes.
More info: http://www.ianhoar.com/2008/04/29/outlook-2007-borders-and-1px-padding-on-table-cells/
http://www.campaignmonitor.com/blog/post/3392/1px-borders-padding-on-table-cells-in-outlook-07/
H/T @edmelly
Bring inline: No.
**/
table td {
    border-collapse: collapse;
}

/** Remove spacing around Outlook 07, 10 tables
More info : http://www.campaignmonitor.com/blog/post/3694/removing-spacing-from-around-tables-in-outlook-2007-and-2010/
Bring inline: Yes
**/
table {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}

/* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email, bring your styles inline.  Your link colors will be uniform across clients when brought inline.
Bring inline: Yes. */
a {
    color: #008486;
}
a:link {
    color: #008486;
}
a:visited {
    color: #008486;
}
a:hover {
    color: #008486;
}

/***************************************************
****************************************************
MOBILE TARGETING
Use @media queries with care.  You should not bring these styles inline -- so it's recommended to apply them AFTER you bring the other stlying inline.
Note: test carefully with Yahoo.
Note 2: Don't bring anything below this line inline.
****************************************************
***************************************************/

/* NOTE: To properly use @media queries and play nice with yahoo mail, use attribute selectors in place of class, id declarations.
table[class=classname]
Read more: http://www.campaignmonitor.com/blog/post/3457/media-query-issues-in-yahoo-mail-mobile-email/
*/
@media only screen and (max-device-width: 480px) {

    /* A nice and clean way to target phone numbers you want clickable and avoid a mobile phone from linking other numbers that look like, but are not phone numbers.  Use these two blocks of code to "unstyle" any numbers that may be linked.  The second block gives you a class to apply with a span tag to the numbers you would like linked and styled.
    Inspired by Campaign Monitor's article on using phone numbers in email: http://www.campaignmonitor.com/blog/post/3571/using-phone-numbers-in-html-email/.
    Step 1 (Step 2: line 224)
    */
    a[href^="tel"], a[href^="sms"] {
        text-decoration: none;
        color: black; /* or whatever your want */
        pointer-events: none;
        cursor: default;
    }

    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
        text-decoration: default;
        color: #008486 !important; /* or whatever your want */
        pointer-events: auto;
        cursor: default;
    }
}

/* More Specific Targeting */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* You guessed it, ipad (tablets, smaller screens, etc) */

    /* Step 1a: Repeating for the iPad */
    a[href^="tel"], a[href^="sms"] {
        text-decoration: none;
        color: blue; /* or whatever your want */
        pointer-events: none;
        cursor: default;
    }

    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
        text-decoration: default;
        color: #008486 !important;
        pointer-events: auto;
        cursor: default;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* Put your iPhone 4g styles in here */
}

/* Following Android targeting from:
http://developer.android.com/guide/webapps/targeting.html
http://pugetworks.com/2011/04/css-media-queries-for-targeting-different-mobile-devices/  */
@media only screen and (-webkit-device-pixel-ratio:.75){
    /* Put CSS for low density (ldpi) Android layouts in here */
}
@media only screen and (-webkit-device-pixel-ratio:1){
    /* Put CSS for medium density (mdpi) Android layouts in here */
}
@media only screen and (-webkit-device-pixel-ratio:1.5){
    /* Put CSS for high density (hdpi) Android layouts in here */
}


/* ZACHÉE */
body {
    padding: 10px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #ffffff;
}

table.card {
    table-layout: fixed;
    width: 600px;
}

table.card > tbody > tr > td {
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-container {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn {
    padding: 0.75em 1em;
    border: 1px solid;
    border-radius: 0.375em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}

a.btn {
    text-decoration: none;
    color: #ffffff !important;
}

.badge {
    padding: 0.35em 0.65em;
    font-size: 0.85em;
    font-weight: bold;
    border-radius: 0.375em;
    color: #ffffff;
}

.bg-primary {
    background-color: #666ee8;
    border-color: #666ee8;
}
.bg-secondary {
    background-color: #6b6f82;
    border-color: #6b6f82;
}
.bg-success {
    background-color: #28d094;
    border-color: #28d094;
}
.bg-info {
    background-color: #1e9ff2;
    border-color: #1e9ff2;
}
.bg-warning {
    background-color: #ff9149;
    border-color: #ff9149;
}
.bg-danger {
    background-color: #ff4961;
    border-color: #ff4961;
}
.bg-dark {
    background-color: #424242;
    border-color: #424242;
}

a.btn.bg-primary:hover {
    background-color: #36a9f3;
}
a.btn.bg-secondary:hover {
    background-color: #777b8f;
}
a.btn.bg-success:hover {
    background-color: #39d9a0;
}
a.btn.bg-info:hover {
    background-color: #36a9f3;
}
a.btn.bg-warning:hover {
    background-color: #ffa063;
}
a.btn.bg-danger:hover {
    background-color: #ff6377;
}
a.btn.bg-dark:hover {
    background-color: #616161;
}

.text-primary {
    color: #666ee8 !important;
}
.text-secondary {
    color: #6b6f82 !important;
}
.text-success {
    color: #28d094 !important;
}
.text-info {
    color: #1e9ff2 !important;
}
.text-warning {
    color: #ff9149 !important;
}
.text-danger {
    color: #ff4961 !important;
}
.text-dark {
    color: #424242 !important;
}

.text-big {
    font-size: 2em;
}

.membership td, .membership th {
    padding: 10px;
    border: #e4e7ed solid 1px;
}

.membership th {
    text-align: left;
}

.membership td {
    text-align: right;
}

.signature {
    margin-top: 2em;
    text-align: center;
    font-size: 0.9em;
    color: rgb(107, 111, 130);
}
