/**
 * @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'variables';

body {
  background-color: $teal;
  background-image: url('../../public/assets/images/rome.jpg'),;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body > main {
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
}

body > main > .content-center {
  background-color: $white;
  margin: auto;
  width: 30%;
}

footer.copyright {
    background: none;
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
}

@media (max-width: 768px) {
  body > main > .content-center {
    margin: 0 1em;
    width: 100%;
  }
}
