/**
 * @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */

/**
 * Main layout
 */

@import 'variables';

/**
 * General layout
 */
body > main {
    margin-left: 0;
    margin-top: 5rem;
    transition: margin-left 300ms ease;
}

.layout-overlay {
    display: none !important;
    background: #000;
    height: 100vh;
    width: 100%;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    z-index: 1010;
}

.top-blur {
    position: fixed;
    top: 0;
    left: 0.5rem;
    right: 0.5rem;
    height: 2rem;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

/**
 * Both
 */
/* stylelint-disable no-descending-specificity */
#sidebar header .navbar-brand, #headerbar {
    .brand-text {
        display: none;
        font-weight: 500;
        margin: 0;
    }

    .brand-logo-full {
        display: none;
        height: 60px;
    }

    .brand-logo-small {
        display: inline-block;
        width: 36px;
    }
}

#headerbar,
#sidebar {
    .brand-logo-small {
        display: none;
    }
}

#headerbar .brand-logo-small {
    display: inline-block;
    width: 36px;
}
/* stylelint-enable no-descending-specificity */

/**
 * Sidebar
 */
#sidebar {
    transition: all 300ms ease;
    position: fixed;
    top: 0;
    left: -$sidebar-maxi-size;
    width: $sidebar-maxi-size;
    height: 100vh;
    z-index: 1020;
    background-color: $white;
    font-family: $font-family-monospace;
    font-size: 1.15rem;
    white-space: nowrap;
    overflow: hidden;

    header {
        transition: all 300ms ease;
        position: fixed;
        top: 0;
        left: -$sidebar-maxi-size;
        width: $sidebar-maxi-size;
        z-index: 1030;

        .navbar-brand {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0.5em 0;

            .brand-logo-small {
                width: 60px;
            }
        }
    }

    #sidebarCollapse {
        position: absolute;
        right: -25px;
        top: 50px;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: $enoria;
        border: 10px solid $white;
        border-radius: 50%;
        color: $white;
        font-size: .75rem !important;
        transition: all .3s ease;

        &.rotate {
            transform: rotate(180deg);
        }
    }

    .menu-content {
        padding-top: 80px;
        height: 100%;
        overflow-y: scroll;

        ul:not(.nav-inside) li {
            margin-top: 0.5rem;
            padding: 0.5rem 1rem;
        }
    }

    .nav-inside {
        padding: 0;

        &.flex-column {
            padding-left: 1em;
        }
    }

    ul {
        padding: 0 1rem 0.5rem 1rem;
        list-style: none;
    }

    ul.nav.flex-column {
        padding-top: 0;
    }

    .nav-item {
        padding: 0.4em 0;
    }

    .nav-item a {
        color: $body-color;
    }

    .nav-item:hover {
        background-color: $body-bg;
        border-radius: $border-radius-sm;
    }

    .nav-item a i {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }

    .nav-separator {
        display: flex;
        padding-left: 0 !important;
        font-size: small;
    }

    .nav-separator::after {
        position: relative;
        top: 1em;
        flex-grow: 1;
        height: 1px;
        min-width: 1rem;
        margin-left: 1rem;
        background-color: rgba(0,0,0,.1);
        content: "";
    }

    .menu-title {
        opacity: 1;
        transition: opacity 300ms ease;
    }
}

/**
 * Header bar
 */
#headerbar {
    transition: all 300ms ease;
    z-index: 1000;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    border-radius: $border-radius-lg;
    box-shadow: rgba(0, 0, 0, 0.075) 0 2px 4px 0;
    font-family: $font-family-monospace;

    .username {
        margin-top: 0.3rem;
    }

    ul.navbar-nav li > a.nav-link {
        font-size: 1.15rem;
    }

    .nav-item a i {
        margin-right: 0.3rem;
    }

    .nav-link > .btn {
        padding: 0.3rem;
    }

    .dropdown-toggle::after {
        display: none;
    }
}

/**
 * Large screen
 */
@media (min-width: 993px) {
    .top-blur {
        left: calc($sidebar-maxi-size + 2rem);
        right: 1.5rem;
    }

    body > main {
        margin-left: calc($sidebar-mini-size + 0.5rem);
    }
    body.sidebar-large > main {
        margin-left: calc($sidebar-maxi-size + 0.5rem);
    }

    #headerbar {
        margin-left: calc($sidebar-maxi-size + 2rem);
        margin-right: 1.5rem;

        .brand-logo-small {
            display: none;
        }
    }

    body.sidebar-large, body.sidebar-active {
        #sidebar {
            left: 0;

            header {
                left: 0;
            }

            .brand-text {
                display: inline-block;
            }

            .brand-logo-full {
                display: inline-block;
            }

            .brand-logo-small {
                display: none;
            }
        }

        #sidebarCollapse {
            display: inline-block !important;
            border-color: $body-bg !important;
        }
    }

    body:not(.sidebar-large) {
        #sidebar {
            width: $sidebar-mini-size;

            header {
                width: $sidebar-mini-size;
            }

            .brand-text {
                display: none;
            }

            .brand-logo-full {
                display: none;
            }

            .brand-logo-small {
                display: inline-block;
            }

            ul:not(.nav-inside) li {
                text-align: center;
            }

            .menu-title {
                opacity: 0;
                display: none;
            }

            .nav-separator {
                border-top: 1px solid rgba(0,0,0,.1);
                font-size: 0;
                height: 0;
            }

            .nav-separator::after {
                display: none;
            }
            .nav-item a i {
                 font-size: 1.5rem;
                 margin-right: 0;
            }
        }

        #headerbar {
            margin-left: calc($sidebar-mini-size + 2rem);
        }
    }
}

/**
 * Small screen
 */
@media (max-width: 992px) {
    body.sidebar-active {
        .layout-overlay {
            display: block !important;
        }

        #sidebar {
            left: 0;

            header {
                left: 0;
            }

            .brand-text {
                display: inline-block;
            }

            .brand-logo-full {
                display: inline-block;
            }

            .brand-logo-small {
                display: none;
            }
        }

        #sidebarCollapse {
            display: inline-block !important;
            transform: rotate(360deg) !important;
        }
    }

    #headerbar {
        .dropdown-menu {
            border-left: none;
            border-radius: 0;
            border-right: none;
            width: 100%;
        }
    }
}
