/**
 * @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'variables';

@import '~bootstrap/scss/bootstrap';

// Our styles
@import 'colors/colors';
@import 'core/types';
@import 'core/tables';
@import 'core/forms';
@import 'layout';
@import 'main-searchbar';
@import 'components/card';
@import 'components/media';
@import 'components/main-card';
@import 'components/datatables';
@import 'components/choicesjs';
@import 'components/doc';
@import 'components/sex-switch';

.smallcaps {
  font-variant: small-caps;
}

.line-on-side {
  border-bottom: 1px solid #dadada;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.line-on-side span {
  background: #fff;
  padding: 0 10px;
}

#sidebar header.bg-gradient-striped-yellow {
    background: repeating-linear-gradient(45deg, #fff, #fff 0.9rem, #fedd31 0, #fedd31 1.8rem) !important;
}

#sidebar header.bg-gradient-striped-teal {
    background: repeating-linear-gradient(45deg, #fff, #fff 0.9rem, #80cbc4 0, #80cbc4 1.8rem) !important;
}

a[data-bs-toggle="collapse"] {
  & > .collapse-title::after {
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    margin-left: 1em;
  }

  &[aria-expanded="false"] > .collapse-title::after {
    content: "\f078";
  }
  &[aria-expanded="true"] > .collapse-title::after {
    content: "\f077";
  }
}
