/**
 * @copyright Copyright (c) 2025 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'variables';

#searchbar-link {
    display: inline-block;
    flex-grow: 1000;
    color: $body-color !important;
    font-size: 1.15rem;

    & > i {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 1.5rem;
    }
}

#searchbar-form {
    display: none;
    width: 100%;

    & > i {
        position: absolute;
        top: 1.1rem;
        left: 0.5em;
        font-size: 1.5rem;
    }

    input {
        background-color: $white;
        border: none;
        padding-left: 3em;
        font-size: 1.15rem;
    }

    .spinner-border {
        position: absolute;
        top: 1.1rem;
        right: 0.5em;
    }

    // Results
    & ul {
        position: absolute;
        top: 4.2rem;
        left: 0;
        right: 0;
        max-height: 40em;
        overflow: scroll;
        padding: 0;
        border-radius: $border-radius-lg;
        background-color: $card-bg;
        border: 1px $gray-100 solid;

        & li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        & a {
            display: block;
            margin: 0.3em;
            padding: 0.5em 1.5em;
            border-radius: $border-radius-sm;
            text-decoration: none;
            color: $body-color;

            &:hover {
                background-color: $gray-100;
            }
        }

        & .main-searchbar-title {
            margin-top: 0.5em;
            padding: 0.5em 0.5em;
            font-weight: bold;
        }

        & .main-searchbar-no-result {
            padding: 0.5em 1.5em;
        }
    }
}

#headerbar.searchbar-active {
    border: 1px solid $enoria;
    box-shadow: 0 0 2px 2px rgba(0, 132, 134, .2);

    #searchbar-link {
        display: none;
    }

    #searchbar-form {
        display: inline-block;
    }

    .headerbar-elem {
        display: none !important;
    }
}

/*#main-searchbar {
    & .input-group {
        padding: 0 1em 0 1em;

        & > input {
            animation-name: show-bar;
            animation-duration: 300ms;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
    }
}

@media (max-width: 992px) {
    #main-searchbar {
        flex-grow: 1;

        & .input-group {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding: 0;
            background-color: $white;
            border-radius: 0 0 $border-radius-lg $border-radius-lg;
        }

        ul {
            left: 0;
            right: 0;
            top: 4rem;
            margin: 3rem 0 0 0;
        }
    }
}*/
