/**
 * @copyright Copyright (c) 2025 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */

/**
 * Public layout
 */

@import 'variables';

body.public-layout {
    #headerbar {
        .brand-text {
            display: inline-block;
            position: relative;
            top: 4px;
        }
    }
    & > .container {
        margin-top: 4.5rem;
    }
}

@media (min-width: 577px) {
    body.public-layout {
        #headerbar {
            margin-left: auto;
            margin-right: auto;
            max-width: 540px;
        }
    }
}
@media (min-width: 769px) {
    body.public-layout {
        #headerbar {
            max-width: 720px;
        }
    }
}
@media (min-width: 993px) {
    body.public-layout {
        .top-blur {
            left: 1.5rem !important;
            right: 1.5rem;
        }

        #headerbar {
            max-width: 960px;
        }
    }

    .brand-logo-full {
        display: inline-block !important;
        height: 36px !important;
        margin-right: 1rem;
    }
}
@media (min-width: 1201px) {
    body.public-layout {
        #headerbar {
            max-width: 1140px;
        }
    }
}

@media (min-width: 1401px) {
    body.public-layout {
        #headerbar {
            max-width: 1320px;
        }
    }
}
