/**
 * @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */
@use "sass:color";
@use "sass:map";

@import 'palette-gradient';
@import 'palette-variables';

@mixin bg-opacity($color, $opacity: 1) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map.get($colors, ...)

@function color-function($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map.get($colors, $color);

    @if map-has-key($curr_color, $type) {
      @return map.get($curr_color, $type);
    }
  }
  //@warn "Unknown `#{$color}` - `#{$type}` in $colors.";
  @return $color;
}

// Color Classes
//   Text color: .color .lighten-* / .darken-* / .accent-*
//   Background: .bg-color .bg-lighten-* / .bg-darken-* / .bg-accent-*
//   border: .border-color .border-lighten-* / .border-darken-* / .border-accent-*
//   border-top: .border-top-color .border-top-lighten-* / .border-top-darken-* / .border-top-accent-*
//   border-bottom: .border-bottom-color .border-bottom-lighten-* / .border-bottom-darken-* / .border-bottom-accent-*
//   border-left: .border-left-color .border-left-lighten-* / .border-left-darken-* / .border-left-accent-*
//   border-right: .border-right-color .border-right-lighten-* / .border-right-darken-* / .border-right-accent-*

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == 'base' {
      .#{$color_name} {
        color: $color_value !important;
      }
      .bg-#{$color_name} {
        background-color: $color_value !important;

        .card-header,
        .card-footer {
          background-color: transparent;
        }

        &.bg-glow {
          box-shadow: 0 1px 20px 1px rgba($color_value, 0.6);
        }
      }

      .selectboxit {
        &.selectboxit-btn {
          &.bg-#{$color_name} {
            background-color: $color_value !important;
          }
        }
      }
      .alert-#{$color_name} {
        background-color: color.adjust($color_value, $lightness: 14%) !important;
        border-color: $color_value !important;
        color: color.adjust($color_value, $lightness: -35%) !important;

        .alert-link {
          color: color.adjust($color_value, $lightness: -43%) !important;
        }
      }
      .border-#{$color_name} {
        border-color: $color_value;
        border: 1px solid $color_value !important;
      }
      .overlay-#{$color_name} {
        @include bg-opacity($color_value, 0.8);
      }

      .color-info {
        &.#{$color_name} {
          background-color: $color_value !important;
        }
      }
      .btn-#{$color_name} {
        background-color: $color_value !important;
        border-color: $color_name !important;
        color: #fff;

        &:hover {
          background-color: color-function($color_name, 'lighten-1') !important;
          border-color: color-function($color_name, 'darken-1') !important;
          color: #fff !important;
        }

        &:focus,
        &:active {
          background-color: color-function($color_name, 'darken-3') !important;
          border-color: color-function($color_name, 'darken-2') !important;
          color: #fff !important;
        }

        &.btn-glow {
          box-shadow: 0 1px 20px 1px rgba($color_value, 0.6);
        }
      }
      .btn-outline-#{$color_name} {
        background-color: transparent;
        border-color: $color_value;
        color: $color_value;

        &:hover {
          background-color: $color_value;
          color: #fff !important;
        }

        &.btn-glow {
          box-shadow: 0 1px 20px 1px rgba($color_value, 0.6);
        }
      }

      input {
        &[type="checkbox"].bg-#{$color_name},
        &[type="radio"].bg-#{$color_name} {
          +.custom-control-label {
            &::before {
              background-color: $color_value !important;
            }
          }
        }
      }
      input:focus ~ .bg-#{$color_name} {
        box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.21rem $color_value !important;
      }
      .border-top-#{$color_name} {
        border-top: 1px solid $color_value;
      }
      .border-bottom-#{$color_name} {
        border-bottom: 1px solid $color_value;
      }
      .border-left-#{$color_name} {
        border-left: 1px solid $color_value;
      }
      .border-right-#{$color_name} {
        border-right: 1px solid $color_value;
      }
    }

    @else {
      .#{$color_name}.#{$color_type} {
        color: $color_value !important;
      }
      .bg-#{$color_name}.bg-#{$color_type} {
        background-color: $color_value !important;

        &.bg-glow {
          box-shadow: 0 1px 20px 1px rgba($color_value, 0.6);
        }
      }
      .btn-#{$color_name}.btn-#{$color_type} {
        background-color: $color_value !important;
        border-color: color-function($color_name, 'darken-2') !important;

        &:hover {
          background-color: color-function($color_name, 'darken-3') !important;
          border-color: color-function($color_name, 'darken-2') !important;
        }

        &:focus,
        &:active {
          background-color: color-function($color_name, 'darken-4') !important;
          border-color: color-function($color_name, 'darken-3') !important;
        }
      }
      .btn-outline-#{$color_name}.btn-outline-#{$color_type} {
        border-color: $color_value !important;
        color: $color_value !important;

        &:hover {
          background-color: $color_value !important;
        }
      }
      .progress-#{$color_name}.progress-#{$color_type} {
        // @include progress-variant($color_value);
      }
      input:focus ~ .bg-#{$color_name} {
        box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.21rem $color_value !important;
      }
      .border-#{$color_name}.border-#{$color_type} {
        border: 1px solid $color_value !important;
      }
      .border-top-#{$color_name}.border-top-#{$color_type} {
        border-top: 1px solid $color_value !important;
      }
      .border-bottom-#{$color_name}.border-bottom-#{$color_type} {
        border-bottom: 1px solid $color_value !important;
      }
      .border-left-#{$color_name}.border-left-#{$color_type} {
        border-left: 1px solid $color_value !important;
      }
      .border-right-#{$color_name}.border-right-#{$color_type} {
        border-right: 1px solid $color_value !important;
      }
      .overlay-#{$color_name}.overlay-#{$color_type} {
        @include bg-opacity($color_value, 0.8);
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    color: $color_value;
  }
  .bg-#{$color} {
    background-color: $color_value;

    &.bg-glow {
      box-shadow: 0 1px 20px 1px rgba($color_value, 0.6);
    }
  }
  input:focus ~ .bg-#{$color} {
    box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.21rem $color_value;
  }
  .border-#{$color} {
    border: 1px solid $color_value;
  }
  .border-top-#{$color} {
    border-top: 1px solid $color_value;
  }
  .border-bottom-#{$color} {
    border-bottom: 1px solid $color_value;
  }
  .border-left-#{$color} {
    border-left: 1px solid $color_value;
  }
  .border-right-#{$color} {
    border-right: 1px solid $color_value;
  }
}
