/**
 * @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
 * @license AGPL-3.0
 *
 * This file is part of Zachée Association Enoria.
 *
 * Zachée Association Enoria is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or any later version.
 *
 * Zachée Association Enoria is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero Public License for more details.
 *
 * You should have received a copy of the GNU Affero Public License
 * along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 */
@use "sass:color";
@use "sass:map";

@import 'palette-variables';
@import '~bootstrap/scss/mixins/gradients';

@function color-function($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map.get($colors, $color);

    @if map-has-key($curr_color, $type) {
      @return map.get($curr_color, $type);
    }
  }

  //@warn "Unknown `#{$color}` - `#{$type}` in $colors.";
  @return $color;
}

@each $color_name,
  $color in $colors {
  @each $color_type,
    $color_value in $color {
    @if $color_type == 'base' {
      .bg-gradient-x-#{$color_name} {
        @if (color-function($color_name, 'darken-2')) {
          @include gradient-x(map.get(($color), 'darken-2'), map.get(($color), 'lighten-2'));
        }
      }

      .bg-gradient-y-#{$color_name} {
        @if (color-function($color_name, 'darken-2')) {
          @include gradient-y(map.get(($color), 'darken-2'), map.get(($color), 'lighten-2'));
        }
      }

      .bg-gradient-directional-#{$color_name} {
        @if (color-function($color_name, 'darken-2')) {
          @include gradient-directional(map.get(($color), 'darken-2'), map.get(($color), 'lighten-2'));
        }
      }

      .bg-gradient-x2-#{$color_name} {
        @if (color-function($color_name, 'darken-2')) {
          @include gradient-x-three-colors(map.get(($color), 'lighten-2'), $color_value, 50%, map.get(($color), 'lighten-3'));
        }
      }

      .bg-gradient-y2-#{$color_name} {
        @if (color-function($color_name, 'darken-2')) {
          @include gradient-y-three-colors(map.get(($color), 'lighten-2'), $color_value, 50%, map.get(($color), 'lighten-3'));
        }
      }

      .bg-gradient-radial-#{$color_name} {
        @if (color-function($color_name, 'darken-2')) {
          @include gradient-radial(map.get(($color), 'darken-2'), map.get(($color), 'lighten-2'));
        }
      }

      .bg-gradient-striped-#{$color_name} {
        @if (color-function($color_name, 'lighten-3')) {
          @include gradient-striped(map.get(($color), 'lighten-3'));
        }
      }

      .bg-gradient-x-#{$color_name},
      .bg-gradient-y-#{$color_name},
      .bg-gradient-directional-#{$color_name},
      .bg-gradient-radial-#{$color_name},
      .bg-gradient-striped-#{$color_name},
      .bg-gradient-x2-#{$color_name},
      .bg-gradient-y2-#{$color_name} {
        .card-header,
        .card-footer {
          background-color: transparent;
        }
      }
    }
  }
}
