{{ form_start(form, {action: path('entity.updateStatus')}) }}
<div class="row g-3">
    <div class="col">
        {{ form_row(form.entity) }}
    </div>
    <div class="col">
        {{ form_row(form.status) }}
    </div>
    <div class="col-auto text-center align-content-center">
        <button class="btn btn-success">
            <i class="fa-solid fa-floppy-disk"></i>
            Mettre à jour
        </button>
    </div>
</div>
{{ form_end(form) }}
