{{ form_errors(form) }}

{{ form_start(form) }}
<div class="row">
    <div class="col"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-12">
                <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
                    <div class="card-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.idInInstance) }}
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="{{ path('instance.show', {id: entity.instance.id}) }}" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Annuler
                </a>
                <button class="btn btn-success">
                    <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
                    {{ button|default('Ajouter') }}
                </button>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{{  form_end(form) }}
