{% if status == 'A' %}
    <span class="badge bg-success">Actif</span>
{% elseif status == 'F' %}
    <span class="badge bg-dark">Désactivé</span>
{% elseif status == 'AP' %}
    <span class="badge bg-warning">Attente de paiement</span>
{% elseif status == 'AI' %}
    <span class="badge bg-warning">Attente Infos</span>
{% elseif status == 'RP' %}
    <span class="badge bg-danger">Retard de paiement</span>
{% else %}
    {{ status }}
{% endif %}
