<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            Détails de l’Assemblée Générale
            <small>
                <span class="badge bg-secondary">{{ general_meeting.type|trans([], 'forms') }}</span>
                du {{ general_meeting.datetime|format_date('full') }}
            </small>
        </h2>

        <p class="ms-1 ms-md-4 h4">
            <i class="fa-solid fa-clock"></i> à {{ general_meeting.datetime|format_time(pattern="H 'h' mm") }}
        </p>

        <h3>Document{% if general_meeting.summonsDocs|length > 1 %}s{% endif %} de la convocation</h3>
        <ul class="ms-1 ms-md-4 list-unstyled">
            {% for doc in general_meeting.summonsDocs %}
                <li>
                    <a href="{{ path('show_uploads.doc', {file: doc.file}) }}" target="_blank">
                        <i class="fa-solid fa-file"></i>
                        {{ doc.name }}
                    </a>
                </li>
            {% else %}
                <li><em>Aucun</em></li>
            {% endfor %}
        </ul>

        <h3>Document{% if general_meeting.reportDocs|length > 1 %}s{% endif %} du compte rendu</h3>
        <ul class="ms-1 ms-md-4 list-unstyled">
            {% for doc in general_meeting.reportDocs %}
                <li>
                    <a href="{{ path('show_uploads.doc', {file: doc.file}) }}" target="_blank">
                        <i class="fa-solid fa-file"></i>
                        {{ doc.name }}
                    </a>
                </li>
            {% else %}
                <li><em>Aucun</em></li>
            {% endfor %}
        </ul>

        {% if general_meeting.meetingLink %}
            <h3>
                <i class="fa-solid fa-video"></i>
                Lien vers la visio
            </h3>
            <p class="ms-1 ms-md-4">
                <a href="{{ general_meeting.meetingLink }}" target="_blank">{{ general_meeting.meetingLink }}</a><br>
                Meeting ID: <code>{{ general_meeting.meetingId }}</code><br>
                Passcode: <code>{{ general_meeting.meetingPasscode }}</code>
            </p>
        {% endif %}
    </div>
</div>
