{{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <h2 class="card-title">
                        <i class="fa-solid fa-circle-info"></i>
                        Informations générales
                    </h2>
                    {{ form_row(form.type) }}
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.datetime.date) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.datetime.time) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <p class="alert alert-info">
                        Les documents associables à une AG doivent au préalable être chargés dans la
                        <a class="alert-link" href="{{ path('doc.index') }}">base documentaire</a>. Ils doivent être également
                        tagués <code>ag</code>.
                        <strong>Attention</strong>, un document ne peut être associé qu’une seule fois et à une seule AG.
                    </p>
                    {{ form_row(form.summonsDocs) }}
                    {{ form_row(form.reportDocs) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
                <div class="card-body">
                    <h2 class="card-title">
                        <i class="fa-solid fa-video"></i>
                        Lien vers la visio
                    </h2>
                    {{ form_row(form.meetingLink) }}
                    {{ form_row(form.meetingId) }}
                    {{ form_row(form.meetingPasscode) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <a
                href="{%
                    if button is defined and (button == 'Modifier')
                        %}{{ path('general_meeting.show', {id: general_meeting.id}) }}{%
                    else %}{{ path('general_meeting.index') }}{%
                    endif %}" class="btn btn-warning"
            >
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
                {{ button|default('Ajouter') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
