{% extends 'base.html.twig' %}

{% block title %}Assemblées générales{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-people-roof"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Assemblées générales</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if types|length == 0 and is_granted('ROLE_GENERAL_MEETING_SHOW') %}
        <div class="row">
            <div class="col">
                <p class="alert alert-danger">
                    Erreur&nbsp;: aucun rôle n’est tagué <code>ag</code>&nbsp;! Contactez votre administrateur pour
                    qu’il corrige cela.
                </p>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body table-responsive">
                    <h2 class="card-title">Liste des assemblées générales</h2>
                    <div class="datatable-wide">
                        <table class="table table-striped table-bordered table-middle text-center" id="gm-list">
                            <thead>
                            <tr>
                                <th class="text-center">Type</th>
                                <th class="text-center">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for general_meeting in general_meetings %}
                                <tr>
                                    <td class="text-center">
                                        <a href="{{ path('general_meeting.show', {'id': general_meeting.id}) }}" title="voir">
                                            <span class="badge bg-secondary">{{ general_meeting.type|trans([], 'forms') }}</span>
                                        </a>
                                    </td>
                                    <td data-order="{{ general_meeting.datetime|date('Y-m-d') }}" class="text-center">
                                        <a href="{{ path('general_meeting.show', {'id': general_meeting.id}) }}" title="voir">
                                            {{ general_meeting.datetime|date('Y-m-d')|date('d/m/Y') }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if is_granted('ROLE_GENERAL_MEETING_EDIT') %}
                        <p class="text-center">
                            <a class="btn btn-success" href="{{ path('general_meeting.new') }}">
                                <i class="fa-solid fa-plus"></i> Ajouter une AG
                            </a>
                        </p>
                    {% endif %}
                </div>

            </div>
        </div>
        {% if general_meeting is not null  %}
            <div class="col-12 col-lg-8">
                {{ include('general_meeting/_details.html.twig') }}

                <div class="row mb-2">
                    <div class="col text-start">
                        {% if is_granted('ROLE_GENERAL_MEETING_EDIT') and general_meeting.locked != true %}
                            <a class="btn btn-warning" href="{{ path('general_meeting.edit', {'id': general_meeting.id}) }}">
                                <i class="fa-solid fa-edit"></i> Modifier
                            </a>
                        {% endif %}
                    </div>
                    <div class="col text-center">
                        {% if is_granted('ROLE_GENERAL_MEETING_EDIT') %}
                            <a href="{{ path('general_meeting.presence', {'id': general_meeting.id}) }}" class="btn btn-success">Gérer la présence</a>
                        {% endif %}
                    </div>
                    <div class="col text-center">
                        {% if is_granted('ROLE_GENERAL_MEETING_EDIT') %}
                            <a
                                href="{{ path('general_meeting.lock', {id: general_meeting.id}) }}"
                                class="btn btn{% if general_meeting.locked %}-outline{% endif %}-secondary"
                            >
                                <i class="fa-solid fa-lock{% if general_meeting.locked %}-open{% endif %}"></i>
                                {% if general_meeting.locked %}Déverrouiller{% else %}Verrouiller{% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="col text-end">
                        <a class="btn btn-primary" href="{{ path('general_meeting.public.index', {'token': general_meeting.token}) }}" target="_blank">
                            <i class="fa-solid fa-external-link"></i> Voir la page publique
                        </a>
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_GENERAL_MEETING_SHOW') %}
                <div class="col">
                    <div class="card">
                        <div class="card-body table-responsive">
                            <div class="row">
                                <h2 class="col-12 col-lg-4 card-title">
                                    Convocations et pouvoirs
                                </h2>
                                <div class="col-12 col-lg-8 text-end">
                                    {% if is_granted('ROLE_GENERAL_MEETING_EDIT') %}
                                    <div class="btn-group" role="group">
                                        {% if general_meeting.locked == false %}
                                            <a href="{{ path('general_meeting.summons.generate', {id: general_meeting.id}) }}"
                                                class="btn btn-outline-success">
                                                <i class="fa-solid fa-plus"></i>
                                                Générer les convocations
                                            </a>
                                            <a id="sendSummonsAllButton"
                                                href="{{ path('general_meeting.send.summons.all', {id: general_meeting.id}) }}"
                                                class="btn btn-outline-primary">
                                                <i class="fa-solid fa-paper-plane"></i>
                                                Envoyer les convocations
                                            </a>
                                            <a id="sendVideoAllButton"
                                                href="{{ path('general_meeting.send.video.all', {id: general_meeting.id}) }}"
                                                class="btn btn-outline-secondary">
                                                <i class="fa-solid fa-video"></i>
                                                Envoyer lien vers la visio
                                            </a>
                                        {% endif %}
                                        <a id="sendReportAllButton"
                                            href="{{ path('general_meeting.send.report.all', {id: general_meeting.id}) }}"
                                            class="btn btn-outline-primary">
                                            <i class="fa-solid fa-file-lines"></i>
                                            Envoyer le compte rendu
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <p class="text-italic">
                                        La couleur du badge du type de personne correspond à la possibilité de
                                        <span class="badge bg-success">voter</span> ou <span class="badge bg-danger">non</span>,
                                        selon que la cotisation a été réglée ou pas.
                                    </p>

                                    <p class="text-italic">
                                        <i class="fa-solid fa-arrow-right"></i> Donné à
                                        <i class="fa-solid fa-arrow-left ms-2"></i> Reçu de
                                        <i class="fa-solid fa-file ms-2"></i> Voir le document
                                        <i class="fa-solid fa-desktop ms-2"></i> Pouvoir donné via la page publique
                                    </p>

                                    <p class="text-italic">
                                        Seuls les rôles suivants peuvent voter aux AG&nbsp;:
                                        {% for type in types %}
                                            {{ type|lower }}{% if not loop.last %},{% else %}.{% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-12 col-lg-4 text-end align-self-center">
                                    {% if general_meeting.arePresent|length > 0 %}
                                        <p>
                                            <span class="fs-1">{{
                                                general_meeting.summons|filter(s => s.isPresent)|length
                                            }}</span>
                                            membres présents ou représentés
                                        </p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="datatable-wide">
                                <table class="table table-striped table-bordered table-middle text-center" id="gm-summons">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Personne</th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Pouvoirs</th>
                                        <th class="text-center">Présence</th>
                                        <th class="text-center">Mails</th>
                                        {% if is_granted('ROLE_GENERAL_MEETING_EDIT') %}
                                            <th class="text-center">Actions</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for summons in general_meeting.summons %}
                                        <tr>
                                            <td>
                                                {% if summons.membership.organization is null %}
                                                    <span class="badge bg-{%
                                                        if summons.membership.paymentRequest.status == 'completed' %}success{%
                                                        else %}danger{%
                                                        endif%}"><i class="fa-solid fa-address-book"></i> physique</span>
                                                {% else %}
                                                    <span class="badge bg-{%
                                                        if summons.membership.paymentRequest.status == 'completed' %}success{%
                                                        else %}danger{%
                                                        endif%}"><i class="fa-solid fa-clone"></i> morale</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if summons.membership.organization is null %}
                                                    <a href="{{ path('person.show', {id: summons.membership.person.id}) }}">
                                                        {{ summons.membership.person }}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('organization.show', {id: summons.membership.organization.id}) }}">
                                                        {{ summons.membership.organization }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if summons.mandate %}
                                                    <p class="m-0">
                                                        <i class="fa-solid fa-arrow-right" title="Donné à"></i>
                                                        {% if summons.mandate.membership.organization is null %}
                                                            <a href="{{ path('person.show', {id: summons.mandate.membership.person.id}) }}">
                                                                {{ summons.mandate.membership.person }}
                                                            </a>
                                                        {% else %}
                                                            <a href="{{ path('organization.show', {id: summons.mandate.membership.organization.id}) }}">
                                                                {{ summons.mandate.membership.organization }}
                                                            </a>
                                                        {% endif %}

                                                        {% if summons.fileMandate %}
                                                            <a href="{{ path('show_uploads.mandate', {fileMandate: summons.fileMandate}) }}" target="_blank" class="ms-1">
                                                                <i class="fa-solid fa-file"></i>
                                                            </a>
                                                        {% elseif summons.whoGiveMandate %}
                                                            <a href="{{ path('person.show', {id: summons.whoGiveMandate.id}) }}" class="ms-1" title="{{ summons.whoGiveMandate }}">
                                                                <i class="fa-solid fa-desktop"></i>
                                                            </a>
                                                        {% endif %}
                                                    </p>
                                                {% endif %}
                                                {% for mandate in summons.mandates %}
                                                    <p class="m-0">
                                                        <i class="fa-solid fa-arrow-left" title="Reçu de"></i>
                                                        {% if mandate.membership.organization is null %}
                                                            <a href="{{ path('person.show', {id: mandate.membership.person.id}) }}">
                                                                {{ mandate.membership.person }}
                                                            </a>
                                                        {% else %}
                                                            <a href="{{ path('organization.show', {id: mandate.membership.organization.id}) }}">
                                                                {{ mandate.membership.organization }}
                                                            </a>
                                                        {% endif %}
                                                    </p>
                                                {% endfor %}
                                                {% if not summons.mandate and summons.mandates|length == 0 %}
                                                    <em>Aucun</em>
                                                {% endif %}
                                            </td>
                                            <td data-order="{% if summons.isPresent %}présent{% elseif general_meeting.arePresent|length > 0 %}absent{% else %}?{% endif %}">
                                                {% if summons.isPresent %}
                                                    <i class="fa-2x fa-solid fa-person text-success" title="présent"></i>
                                                {% elseif general_meeting.arePresent|length > 0 %}
                                                    <i class="fa-2x fa-solid fa-person-circle-xmark text-danger" title="absent"></i>
                                                {% else %}
                                                    <i class="fa-2x fa-solid fa-person-circle-question text-black-50" title="?"></i>
                                                {% endif %}
                                            </td>
                                            <td data-order="{% if summons.date %}{{ summons.date|date('Y-m-d') }}{% else %}0000-00-00{% endif %}" class="text-center">
                                                <i class="fa-solid fa-paper-plane" title="convocation"></i> {% if summons.date %}{{ summons.date|date('d/m/Y') }}{% else %}<em>Non envoyée</em>{% endif %}<br>
                                                <i class="fa-solid fa-video" title="lien vers la visio"></i> {% if summons.dateVideo %}{{ summons.dateVideo|date('d/m/Y') }}{% else %}<em>Non envoyée</em>{% endif %}<br>
                                                <i class="fa-solid fa-file-lines" title="compte rendu"></i> {% if summons.dateReport %}{{ summons.dateReport|date('d/m/Y') }}{% else %}<em>Non envoyée</em>{% endif %}
                                            </td>
                                            {% if is_granted('ROLE_GENERAL_MEETING_EDIT') %}
                                                <td>
                                                    <div class="btn-group">
                                                        {% if general_meeting.locked == false %}
                                                            <a href="{{ path('general_meeting.summons.edit', {id: summons.id}) }}" class="btn btn-warning btn-sm" title="Éditer">
                                                                <i class="fa-solid fa-edit"></i>
                                                            </a>
                                                            <a href="{{ path('general_meeting.send.summons.one', {id: general_meeting.id, summons_id: summons.id}) }}" class="btn btn-info btn-sm" title="Renvoyer la convocation">
                                                                <i class="fa-solid fa-paper-plane"></i>
                                                            </a>
                                                            <a href="{{ path('general_meeting.send.video.one', {id: general_meeting.id, summons_id: summons.id}) }}" class="btn btn-secondary btn-sm" title="Renvoyer le lien vers la visio">
                                                                <i class="fa-solid fa-video"></i>
                                                            </a>
                                                        {% endif %}
                                                        <a href="{{ path('general_meeting.send.report.one', {id: general_meeting.id, summons_id: summons.id}) }}" class="btn btn-info btn-sm" title="Renvoyer le compte rendu">
                                                            <i class="fa-solid fa-file-lines"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="col-12 col-lg-8">
                <p class="alert alert-info">Aucune AG créée</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script defer>
        new DataTable('#gm-list', {
            pageLength: 5,
            order: [1, 'desc'],
            responsive: true,
            searching: false,
            info: false,
            lengthChange: false,
        });
        new DataTable('#gm-summons', {
            pageLength: 25,
            order: [1, 'asc'],
            responsive: true,
            searching: true,
            info: true,
            lengthChange: true,
        });

        const sendSummonsAllButton = document.getElementById('sendSummonsAllButton');
        const sendVideoAllButton = document.getElementById('sendVideoAllButton');
        const sendReportAllButton = document.getElementById('sendReportAllButton');

        if(sendSummonsAllButton !== null) {
            sendSummonsAllButton.addEventListener('click', (e) => {
                e.preventDefault();
                Swal.fire({
                    title: 'Êtes-vous sûr de vouloir envoyer la convocation à tous les membres qui ne l’ont pas encore reçue ?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Oui',
                    cancelButtonText: 'Annuler',
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = sendSummonsAllButton.attributes.getNamedItem('href').value;
                    }
                });
            });
        }
        if(sendVideoAllButton !== null) {
            sendVideoAllButton.addEventListener('click', (e) => {
                e.preventDefault();
                Swal.fire({
                    title: 'Êtes-vous sûr de vouloir envoyer les informations de la visio à tous les membres ?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Oui',
                    cancelButtonText: 'Annuler',
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = sendVideoAllButton.attributes.getNamedItem('href').value;
                    }
                });
            });
        }
        if(sendReportAllButton !== null) {
            sendReportAllButton.addEventListener('click', (e) => {
                e.preventDefault();
                Swal.fire({
                    title: 'Êtes-vous sûr de vouloir envoyer le compte rendu à tous les membres ?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Oui',
                    cancelButtonText: 'Annuler',
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = sendReportAllButton.attributes.getNamedItem('href').value;
                    }
                });
            });
        }
    </script>
{% endblock %}
