{% extends 'base.html.twig' %}

{% block title %}Présences à l’Assemblées générales {{ general_meeting.type|trans([], 'forms') }} du {{ general_meeting.datetime|date('d/m/Y') }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-people-roof"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Présences à l’Assemblée Générale
                                    <small>
                                        {{ general_meeting.type|trans([], 'forms') }}
                                        du {{ general_meeting.datetime|date('d/m/Y')}}
                                    </small>
                                </h1>
                            </div>
                            <div class="media-btn-group">
                                <a class="btn btn-secondary" href="{{ path('general_meeting.show', {id: general_meeting.id}) }}">
                                    <i class="fa-solid fa-arrow-left"></i> Retour
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div
                        class="presences"
                        data-enoria-general-meetting="{{ general_meeting.id }}"
                        data-enoria-can-edit="{{ is_granted('ROLE_GENERAL_MEETING_EDIT') and not general_meeting.locked }}"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('Presences') }}
{% endblock %}
