{{ form_errors(form) }}
    {{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-address-card"></i> Identité</h2>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.type) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.person.firstname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.person.lastname) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.person.title) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.person.sex) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.person.phone) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.person.email) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-map-marker-alt"></i> Adresse</h2>
                {% if form.person.address is defined %}
                    {{ include('address/_formInput.html.twig', {form: form.person.address}) }}
                    {% if form.person.deleteAddress is defined %}
                        {{ form_row(form.person.deleteAddress) }}
                    {% endif %}
                {% else %}
                    <p class="alert alert-warning">L’adresse a été marquée comme à supprimer</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            {% for type in types|sort((a, b) => a.name <=> b.name) %}
                <p>
                    <i class="fa fa-{{ type.icon }}"></i> <strong>{{ type.name }}</strong>
                    {{ type.description }}
                </p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <a href="{{ path('membership_public.infos', {'token': membership.token}) }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
