{% extends 'public.html.twig' %}

{% block title %}Associer une personne à {{ membership.organization }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col pt-2">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clone"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Associer une personne à <em>{{ membership.organization }}</em>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('membership/public/_form_edit_associated_person.html.twig') }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('intl-tel-input') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('intl-tel-input') }}
    <script defer>
        intlTelInput(document.querySelector('#membership_public_info_edit_person_phone'), intlTelOptions);
        {{ include('person/_form.js.twig', { person_form_prefix: 'membership_public_info_edit_' }) }}
    </script>
{% endblock %}
