{% extends 'public.html.twig' %}

{% block title %}Modifier {% if membership.isNaturalPerson() %}{{ membership.person }}{% else %}{{ membership.organization }}{% endif %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col pt-2">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-{% if membership.isNaturalPerson() %}address-book{% else %}clone{% endif %}"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Modifier
                                    <em>
                                        {% if membership.isNaturalPerson() %}{{ membership.person.getFullname(false, true) | raw }}{% else %}{{ membership.organization }}{% endif %}
                                    </em>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if membership.isNaturalPerson() %}
        {{ include('person/_form.html.twig', {button: 'Modifier', 'person': membership.person}) }}
    {% else %}
        {{ include('organization/_form.html.twig', {button: 'Modifier', 'organization': membership.organization, 'public': true}) }}
    {% endif %}
{%  endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if membership.isNaturalPerson() %}
    {{ encore_entry_link_tags('intl-tel-input') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if membership.isNaturalPerson() %}
    {{ encore_entry_script_tags('intl-tel-input') }}
    <script defer>
        intlTelInput(document.querySelector('#person_phone'), intlTelOptions);
        deleteAlert('#delete_form');
        {{ include('person/_form.js.twig', { person_form_prefix: 'membership_public_info_edit_' }) }}
    </script>
    {% endif %}
{% endblock %}
