{% extends 'public.html.twig' %}

{% block title %}Validation des informations{% endblock %}

{% block body %}
    <div class="row">
        <div class="col pt-2">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clipboard-list"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Validation des informations
                                    <em>{% if membership.person %}{{ membership.person.getFullname(false, true) | raw }}{% else %} {{ membership.organization }}{% endif %}</em>
                                    ({{ membership.period }})
                                </h1>
                            </div>
                            <p>
                                {% if membership.type != 'member' %}
                                    <span class="badge bg-info">{{ membership.type|trans([], 'membership') }}</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('_part/_alerts.html.twig') }}


    <div class="row">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {% if membership.person %}
                        <h2>
                            <i class="fa fa-{% if membership.person.sex == 'M' %}male text-primary{% else %}female text-danger{% endif %}"></i>
                            {{ membership.person.getFullname(true, true) | raw }}
                        </h2>
                        {{ include('person/_details.html.twig', {'person': membership.person}) }}
                    {% else %}
                        <h2>
                            <i class="fa fa-clone"></i>
                            {{ membership.organization.name }}
                        </h2>
                        {{ include('organization/_details.html.twig', {'organization': membership.organization, 'no_link': true}) }}
                    {% endif %}
                    <p class="text-center">
                        <a href="{{ path('membership_public.edit_main', {'token': membership.token}) }}" class="btn btn-warning">
                            <i class="fa fa-edit"></i> Modifier
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    {% if membership.organization %}
        <div class="row">
            <div class="col-12">
                <p class="alert alert-info">
                    Vous pouvez modifier, ajouter et supprimer des personnes liées à votre organisation.
                </p>
            </div>
        {% for associatedPerson in membership.organization.associatedPeople %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2>
                            <i class="fa fa-{% if associatedPerson.person.sex == 'M' %}male text-primary{% else %}female text-danger{% endif %}"></i>
                            {{ associatedPerson.person.getFullname(true, true) | raw }}
                        </h2>
                        <p class="text-center">
                            <span class="badge bg-primary">
                                <i class="fa fa-{{ associatedPerson.type.icon }}"></i> {{ associatedPerson.type.name }}
                            </span>
                        </p>
                        {{ include('person/_details.html.twig', {'person': associatedPerson.person}) }}
                        <div class="text-center">
                            <p class="d-inline-block">
                                <a href="{{ path('membership_public.edit', {'associated_id': associatedPerson.id, 'token': membership.token}) }}" class="btn btn-warning">
                                    <i class="fa fa-edit"></i> Modifier
                                </a>
                            </p>
                            <form id="delete_form_{{ associatedPerson.id }}" class="d-inline-block" method="post" action="{{ path('membership_public.remove', {'associated_id': associatedPerson.id, 'token': membership.token}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ associatedPerson.id) }}">
                                <a class="btn btn-danger">
                                    <i class="fa fa-trash"></i> Supprimer
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="col-md-6">
                <div class="alert alert-info">
                    {% for type in types %}
                        <p>
                            <i class="fa fa-{{ type.icon }}"></i> <strong>{{ type.name }}</strong>
                            {{ type.description }}
                        </p>
                    {% endfor %}
                </div>
                <p class="alert alert-light">
                    Dans le cadre de l’adhésion de votre organisation à l’Association Enoria, nous vous solliciterons
                    ponctuellement par email. Vous trouverez dans notre
                    <a href="{{ path('public.privacy-policy') }}" target="_blank">politique de confidentialité</a> la liste détaillée
                    des occasions pour lesquelles vous serez contacté.
                </p>
            </div>
            <div class="col-12 align-self-center text-center mb-2">
                <a href="{{ path('membership_public.add', {'token': membership.token}) }}" class="btn btn-success">
                    <i class="fa fa-plus"></i> Ajouter
                </a>
            </div>
        </div>
    {% endif %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-7">
            <div class="alert alert-warning">
                La validation des informations est définitive, en cas d’erreur, veuillez nous contacter.
            </div>
            <div class="alert alert-warning">
                N’oubliez pas de sélectionner la demande d’aide si vous souhaitez soumettre au conseil d’administration
                une demande de réduction de votre cotisation. Vous devrez également envoyer un mail au trésorier
                (<a href="mailto:tresorier@association-enoria.org">tresorier@association-enoria.org</a>) pour justifier
                votre demande.
            </div>
        </div>
        <div class="col-md-5">
            <div class="card border-warning">
                <div class="card-body">
                    {{ form_widget(form.informationSubmitted) }}
                    {% if form.helpRequest is defined %}
                        {{ form_widget(form.helpRequest) }}
                    {% endif %}
                </div>
            </div>
            <div class="text-center">
                <a href="{{ path('membership_public.show', {'token': membership.token}) }}" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Annuler
                </a>
                <button class="btn btn-success" id="validate_button">
                    <i class="fa-solid fa-check"></i> Envoyer
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        {% if membership.isLegalPerson() %}
        {% for associatedPerson in membership.organization.getAssociatedPeople %}
        deleteAlert('#delete_form_{{ associatedPerson.id }}');
        {% endfor %}
        {% endif %}

        const infoSubmitted = document.getElementById('membership_public_info_informationSubmitted');
        const validateButton = document.getElementById('validate_button');
        if (null !== infoSubmitted && null !== validateButton && infoSubmitted instanceof HTMLInputElement) {
            function updateButton(enable) {
                if (!enable) validateButton.setAttribute('disabled', 'disabled');
                else validateButton.removeAttribute('disabled');
            }
            updateButton(infoSubmitted.checked);
            infoSubmitted.addEventListener('change', () => {
                updateButton(infoSubmitted.checked);
            });
        }
    </script>
{% endblock %}
