{% extends 'pdf/letter.pdf.twig' %}

{% block title %}Demande de cotisation{% endblock %}

{% block address %}
    {% if membership.organization %}
        {{ include('pdf/_address_block.pdf.twig', {name: membership.organization.name, address: membership.organization.address}) }}
    {% else %}
        {{ include('pdf/_address_block.pdf.twig', {name: membership.person.title ~ ' ' ~ membership.person.lastname|upper ~ ' ' ~ membership.person.firstname, address: membership.person.address}) }}
    {% endif %}
{% endblock %}

{% block date %}Argenteuil, le {{ membership.updatedAt|format_date(pattern="d MMMM Y") }}{% endblock %}

{% block object %}
    <u>Objet :</u>
    {% if membership.first %}Adhésion{% else %}Renouvellement d’adhésion{% endif %} à l’Association Enoria
{% endblock %}

{% block body %}
    {% if membership.first %}
        <p>
            <strong>Bienvenue dans l’aventure Enoria !</strong>
        </p>
    {% endif %}
    <p>
        Dans le cadre de la procédure {% if membership.first %}d’adhésion{% else %}de renouvellement de votre adhésion{% endif %}
        à l’Association Enoria, vous devez vous acquitter d’une cotisation annuelle pour l’année {{ membership.period }} de
        <strong>{{ membership.membershipFee|format_currency('EUR') }}</strong>.
    </p>
    <p>
        Pour les informations concernant les moyens de règlement, veuillez consulter la page de suivi :
    </p>
    {% if membership.token is not null %}
        <p class="center">
            <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('membership_public.show', {'token': membership.token}) }}">
                {{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('membership_public.show', {'token': membership.token}) }}
            </a>
        </p>
    {% else %}
        <p class="center">
            <em>Il semble avoir eu une erreur dans la génération du lien</em>
        </p>
    {% endif %}
    <p>
        Nous restons bien évidemment à votre disposition pour toute information complémentaire. Vous pouvez notamment
        contacter :
    </p>
    <ul>
        <li>Le secrétariat <a href="mailto:secretariat@association-enoria.org">secretariat@association-enoria.org</a></li>
        <li>Le trésorier <a href="mailto:tresorier@association-enoria.org">tresorier@association-enoria.org</a></li>
    </ul>
{% endblock %}

{% block signature %}Le bureau de l’association{% endblock %}
