{% extends 'public.html.twig' %}

{% block title %}Envoi de la fiche d’adhésion{% endblock %}

{% block body %}
    <div class="row">
        <div class="col pt-2">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clipboard-list"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Envoi de la fiche d’adhésion
                                    <em>{% if membership.person %}{{ membership.person.getFullname(false, true) | raw }}{% else %} {{ membership.organization }}{% endif %}</em>
                                    ({{ membership.period }})
                                </h1>
                            </div>
                            <p>
                                {% if membership.type != 'member' %}
                                    <span class="badge bg-info">{{ membership.type|trans([], 'membership') }}</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('_part/_alerts.html.twig') }}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-info">
                Veuillez nous transmettre votre fiche d’adhésion remplie et signée. Nous n’acceptons que les fichiers PDF.
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    {{ form_widget(form.sheet) }}
                    {{ form_errors(form.sheet) }}
                </div>
            </div>
            <div class="text-center">
                <a href="{{ path('membership_public.show', {'token': membership.token}) }}" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Annuler
                </a>
                <button class="btn btn-success">
                    <i class="fas fa-file-upload"></i> Envoyer
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
