{% extends 'public.html.twig' %}

{% block title %}{% if membership.first %}Adhésion{% else %}Renouvellement d’adhésion{% endif %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col pt-2">
            <div class="card main-card bg-gradient-directional-{% if membership.status == 'canceled' %}danger{% elseif membership.status == 'validated' %}success{% else %}blue{% endif %}">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clipboard-list"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    {% if membership.first %}Adhésion{% else %}Renouvellement d’adhésion{% endif %}
                                    {% if membership.status == 'validated' %}validé{% if membership.first %}e{% endif %}{% else %}en cours{% endif %}
                                    <em>{% if membership.person %}{{ membership.person.getFullname(false, true) | raw }}{% else %} {{ membership.organization }}{% endif %}</em>
                                    ({{ membership.period }})
                                </h1>
                            </div>
                            <p>
                                {% if membership.type != 'member' %}
                                    <span class="badge bg-info">{{ membership.type|trans([], 'membership') }}</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('_part/_alerts.html.twig') }}

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-tasks"></i> Avancement</h2>
                    {{ include('membership/_state.html.twig') }}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% if membership.status == 'canceled' %}
                <div class="alert alert-danger">
                    Votre procédure {{ membership.first ? 'd’adhésion' : 'de renouvellement' }} a été annulée. Vous pouvez nous contacter si vous souhaitez la réactiver.
                </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Bienvenue sur l’outil de suivi de votre {{ membership.first ? '' : 'renouvellement d’' }}adhésion</h2>
                    <p>
                        Votre adhésion pour la période {{ membership.period }} sera effective lorsque toutes les étapes seront
                        accomplies. Vous pouvez revenir régulièrement ici pour suivre l’état d’avancement.
                    </p>
                    {% if membership.first %}
                        <p class="alert alert-info text-center">
                            <strong>
                                Veuillez lire entièrement la suite pour comprendre la procédure d’adhésion.
                            </strong>
                        </p>
                    {% endif %}

                    <h3>Documents disponibles au sujet de l’association Enoria</h3>
                    <ul class="ms-1 ms-md-4 list-unstyled">
                        {% for doc in docs %}
                        <li>
                            <a href="{{ path('show_uploads.doc', {file: doc.file}) }}" target="_blank">
                                <i class="fa fa-file"></i> {{ doc }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="text-center">
                        <a href="{{ path('membership_public.letter', {'token': membership.token}) }}" target="_blank" class="btn btn-success">
                            <i class="fa fa-download"></i> Télécharger la demande de cotisation
                        </a>

                        {% set receipts = [] %}
                        {% for paymentAllocation in membership.paymentRequest.paymentAllocations %}
                            {% if paymentAllocation.payment.receipt %}
                                {% set receipts = receipts|merge([paymentAllocation.payment.receipt]) %}
                            {%endif%}
                        {% endfor %}
                        {% if receipts|length > 0 %}
                            <a class="btn btn-success" data-bs-toggle="collapse" href="#receipts-download-list" role="button" aria-expanded="false" aria-controls="receipts-download-list">
                                <i class="fa fa-download"></i> Télécharger les reçus
                            </a>
                        {% endif %}
                    </p>
                    {% if receipts|length > 0 %}
                        <ul class="collapse ms-1 ms-md-4 list-unstyled" id="receipts-download-list">
                            {% for receipt in receipts %}
                                <li>
                                    <a href="{{ asset('uploads/receipts/' ~ receipt.file) }}" target="_blank">
                                        <i class="fa-solid fa-receipt"></i> Reçu n<sup>o</sup> {{ receipt.ref }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h3>Informations</h3>
                    <p>
                        Chaque année, vous devez vérifier et mettre à jour vos informations personnelles ou celles de l’entité
                        que vous représentez. Celles-ci seront ensuite validées par notre secrétariat.
                    </p>
                    {% if membership.informationSubmitted %}
                        <p class="text-center text-bold-700">
                            Vous avez déjà validé vos informations. Merci.
                        </p>
                    {% else %}
                        <p class="text-center">
                            <a href="{{ path('membership_public.infos', {'token': membership.token}) }}" class="btn btn-warning">Compléter et valider vos informations personnelles</a>
                        </p>
                    {% endif %}

                    {% if membership.first or not membership.sheet %}
                        <h3>Fiche d’adhésion</h3>
                        <p>
                            Dans les documents disponibles en haut de cette page, vous trouverez la fiche d’adhésion à
                            télécharger et à nous retourner dûment complétée. Vous pouvez la téléverser directement en
                            utilisant le bouton ci-après.
                        </p>
                        {% if not membership.sheet %}
                            <p class="text-center">
                                <a href="{{ path('membership_public.sheet', {'token': membership.token}) }}" class="btn btn-warning">Transmettre la fiche d’adhésion</a>
                            </p>
                        {% else %}
                            <p class="text-center text-bold-700">
                                Vous avez déjà transmis la fiche. Merci.
                            </p>
                        {% endif %}
                    {% endif %}

                    <h3>Aide financière / Solidarité ecclésiale</h3>
                    <p>
                        En cas de difficultés financières, vous pouvez nous solliciter afin de bénéficier d’une cotisation
                        réduite. Cette demande s’effectue en deux temps&nbsp;:
                    </p>
                    <ol>
                        <li>Cocher la demande d’aide sur la page de saisie de vos informations</li>
                        <li>Envoyer un mail de demande motivée au trésorier&nbsp;: <a href="mailto:tresorier@association-enoria.org">tresorier@association-enoria.org</a></li>
                    </ol>
                    <p>
                        Votre demande sera ensuite soumise au bureau du conseil d’administration de l’association qui se
                        réunit toutes les deux semaines.
                    </p>

                    <h3>Cotisation</h3>
                    <p>
                        Vous pouvez régler votre cotisation par virement bancaire, carte bancaire ou chèque. Vous
                        trouverez toutes les informations dans le document «&nbsp;Modalités de règlement&nbsp;» en haut
                        de cette page.
                    </p>
                    <div class="alert alert-warning p-1 mb-1">
                        <h4 class="font-weight-bold text-danger">Attention</h4>
                        <p>
                            Veuillez inscrire votre code postal, ou celui de l’entité que vous représentez pour les personnes
                            morales, au dos du chèque ou dans l’intitulé du virement</p>
                        <p>
                            (ne notez rien d’autre, le système bancaire à tendance à tronquer les intitulés et nous nous retrouvons
                            trop régulièrement avec des «&nbsp;Adhésion de la paroisse&nbsp;» sans possibilité de retracer
                            efficacement l’origine du virement).
                        </p>
                    </div>

                    {% if membership.organization and membership.first %}
                        <h3>Entité</h3>
                        <p>
                            Dès lors que votre adhésion à l’association sera validée, une entité sera créée dans l’instance
                            principale de l’association. Vous recevrez un mail contenant vos codes d’accès et pourrez commencer
                            à utiliser l’application.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
