{% if person.getFullname(false, false) == ' Grégoire Oliveira Silva' %}
    {% if date()|date("md") == '0329' %}
        <i class="fa-solid fa-cake-candles text-success"></i>
    {% else %}
        <i class="fa-brands fa-linux text-black"></i>
    {% endif %}
{% elseif person.getFullname(false, false) == ' Raphaël Cournault' %}
    <i class="fa-brands fa-apple text-light"></i>
{% elseif person.getFullname(false, false) == ' Misha Martin' %}
    <i class="fa-brands fa-windows text-primary"></i>
{% else %}
    <i class="fa fa-{% if person.sex == 'M' %}male text-primary{% else %}female text-danger{% endif %}"></i>
{% endif %}