<ul class="list-group list-group-flush">
    {% if person.phone %}
        <li class="list-group-item">
            <span class="float-end">
                <i class="fa fa-phone fa-lg"></i>
            </span>
            <a href="tel:{{ person.phone|phone_number_format('INTERNATIONAL') }}">{{ person.phone|auto_phone_number_format() }} </a>
            <a href="#" class="copy-clipboard btn btn-sm btn-outline-secondary ms-1" data-value="{{ person.phone|phone_number_format('INTERNATIONAL') }}">
                <i class="fa-solid fa-clone"></i>
            </a>
            {% if person.phone is phone_number_of_type('MOBILE') %}
                <a href="sms:{{ person.phone|phone_number_format('INTERNATIONAL') }}" target="_blank" class="badge float-end me-2 text-primary"><i class="fa fa-sms fa-2x"></i></a>
            {% endif %}
        </li>
    {% endif %}
    {%  if person.email %}
        <li class="list-group-item">
            <span class="float-end">
                <i class="fa fa-envelope fa-lg"></i>
            </span>
            <a href="mailto:{{ person.email }}">{{ person.email }}</a>
            <a href="#" class="copy-clipboard btn btn-sm btn-outline-secondary ms-1" data-value="{{ person.email }}">
                <i class="fa-solid fa-clone"></i>
            </a>
        </li>
    {% endif %}
    {% if person.address %}
        <li class="list-group-item">
            <span class="float-end">
                <i class="fa fa-map-marker-alt fa-lg"></i>
            </span>
            {{ person.address }}
            {% if person.address.country != 'FR' %}({{ person.address.country|country_name}}){% endif %}
        </li>
    {% endif %}
    {% if is_granted('ROLE_USER_SHOW') and person.user %}
        <li class="list-group-item">
            <span class="float-end">
                <i class="fa fa-users fa-lg"></i>
            </span>
            Compte sur Zachée : {{ person.user.username }} <br>
            {{ include('security/_badge_roles.html.twig', {user: person.user}) }}
        </li>
    {% endif %}
    {% if (is_granted('ROLE_APPLICATION_SHOW') or person == app.user.person) and person.applicationUsers|length > 0 %}
        <li class="list-group-item">
            <span class="float-end">
                <i class="fa-solid fa-window-restore fa-lg"></i>
            </span>
            {% for user in person.applicationUsers %}
                <p class="m-0">
                    {% if is_granted('ROLE_APPLICATION_EDIT') %}
                        <a href="{{ path('application.user.edit', {id: user.id}) }}" class="me-1 text-warning">
                            <i class="fa-solid fa-edit"></i>
                        </a>
                    {% endif %}
                    {{ user.username }}
                    <i class="fa-solid fa-at"></i>
                    <a href="{{ path('application.show', {id: user.application.id}) }}">
                        {{ user.application.name }}
                        {% if user.application.icon %}
                            <img
                                src="{{ path('show_uploads.application-icons', {'icon': user.application.icon}) }}"
                                alt="Icône {{ user.application.name }}"
                                style="width: 18px;"
                            >
                        {% endif %}
                    </a>
                </p>
                {% if user.infos %}
                    <p class="m-0 ps-3">
                        {{ user.infos }}
                    </p>
                {% endif %}
            {% endfor %}
        </li>
    {% endif %}
    {% if is_granted('ROLE_AGGREGATE_EDIT') %}
        <li class="list-group-item">
            {% for newsletter in person.newsletters %}
                <span class="badge bg-{%
                    if newsletter.status == 'subscribed' %}success{%
                    elseif newsletter.status == 'blacklisted' %}dark{%
                    else %}danger{%
                    endif %}"
                    title="{%
                    if newsletter.status == 'subscribed' %}Synchronisé{%
                    elseif newsletter.status == 'blacklisted' %}Blacklisté{%
                    else %}Non synchronisé{%
                    endif %}"
                >
                    <i class="fa-solid fa-paper-plane"></i> {{ newsletter.newsletter.name }}
                </span>
            {% else %}
                <span class="badge bg-light">
                    <i class="fa-solid fa-paper-plane"></i> aucune
                </span>
            {% endfor %}
        </li>
    {% endif %}
</ul>
