{{ form_errors(form) }}

{{ form_start(form) }}
<div class="row">
    <div class="{% if button is defined and (button == 'Modifier') %}col-md-6{% else %}col-12{% endif %}">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <div class="row">
                    {% if button is defined and (button == 'Modifier') %}
                        <div class="col-12">
                            {{ form_row(form.type) }}
                        </div>
                    {% else %}
                        <div class="col-md-3">
                            {{ form_row(form.type) }}
                        </div>
                        <div class="col-md-9">
                            {{ form_row(form.organization) }}
                        </div>
                    {% endif %}
                </div>
                <div class="alert alert-info">
                    {% for type in types %}
                        <p>
                            <i class="fa fa-{{ type.icon }}"></i> <strong>{{ type.name }}</strong>
                            {{ type.description }}
                        </p>
                    {% endfor %}{#  peut être plus jolie #}
                </div>
            </div>
        </div>
    </div>
    {% if button is defined and (button == 'Modifier') %}
        <div class="col-md-6 text-center align-self-center">
            <a href="{{ path("organization.show", {id: organization.id}) }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
                {{ button|default('Associer') }}
            </button>
        </div>
    {% endif %}
</div>
{% if button is not defined or (button != 'Modifier') %}
    <div class="row">
        <div class="col-12 text-end">
            <a href="{{ path("person.show", {id: person.id}) }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
                {{ button|default('Associer') }}
            </button>
        </div>
    </div>
{% endif %}
{{  form_end(form) }}
