{% if person_form_prefix is not defined %}
    {% set person_form_prefix = '' %}
{% endif %}

{% if first is not defined or first == true %}let{% endif %} selectTitle = document.getElementById('{{ person_form_prefix }}person_title');
{% if first is not defined or first == true %}let{% endif %} selectSex = document.getElementById('{{ person_form_prefix }}person_sex');

if (selectTitle instanceof HTMLSelectElement) {
    selectTitle.addEventListener('change', (ev) => {
        if (selectTitle.selectedIndex > -1) {
            selectSex.value = selectTitle.options[selectTitle.selectedIndex].getAttribute('data-sex');
            selectSex.dispatchEvent(new Event('change'));
        }
    });
}
