{{ form_errors(form) }}

{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-address-card"></i> Identité</h2>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastname) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.sex) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-map-marker-alt"></i> Adresse</h2>
                {% if form.address is defined %}
                    {{ include('address/_formInput.html.twig', {form: form.address}) }}
                    {% if form.deleteAddress is defined %}
                        {{ form_row(form.deleteAddress) }}
                    {% endif %}
                {% else %}
                    <p class="alert alert-warning">L’adresse a été marquée comme à supprimer</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-end">
        <a href="{{ referer }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{ form_row(form._token) }}
{{  form_end(form, {'render_rest': false}) }}
