{% if tableId is not defined %}
    {% set tableId = 'personList' %}
{% endif %}
{% if people is not defined %}
    {% set people = [] %}
{% endif %}

<div class="row">
    <div data-enoria-type="person" data-enoria-for="{{ tableId }}" class="toolbar float-end mb-1"></div>
</div>
<div class="datatable-wide">
    <table id="{{ tableId }}" class="table table-striped table-bordered table-middle text-center">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Organisation(s)</th>
        </tr>
        </thead>
        <tbody>
        {% for person in people  %}
            <tr data-person-id="{{ person.id }}">
                <td class="text-start"
                    data-order="{{ person.lastname }} {{ person.firstname }}"
                    data-search="{{ person.getFullname() }}"
                >
                    <p class="m-0">
                        <a href="{{ path('person.show', {'id': person.id}) }}">{{ person.getFullname(true, true) | raw }}</a>
                        {% for membership in person.memberships %}
                            {% if membership.status == 'in_progress' and is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                                <span class="badge bg-primary">Adhésion en cours</span>
                            {% elseif membership.status == 'canceled' and is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                                <span class="badge bg-danger">Adhésion annulée</span>
                            {% elseif membership.status == 'validated' %}
                                <span class="badge bg-success">Membre</span>
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% if is_granted('ROLE_BASIC_SHOW') %}
                        {% if person.memberGroups|length > 0 %}
                            <p class="mt-1 mb-0">
                                {% for group in person.memberGroups %}
                                    <span class="badge bg-secondary">{{ group }}</span>
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endif %}
                </td>
                <td data-search="{{ person.email }}">
                    {{ person.email }}
                </td>
                <td>
                    {% for associatedOrganization in person.getUniqueAssociatedOrganizations() %}
                        <a href="{{ path("organization.show", {id: associatedOrganization.organization.id}) }}">
                            {% for type in associatedOrganization.types %}
                                <i class="fa fa-{{ type.icon }}"></i>
                            {% endfor %}
                            {{ associatedOrganization.organization }}
                        </a><br>
                    {% endfor %}
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
</div>
