{% if tableId is not defined %}
    {% set tableId = 'personList' %}
{% endif %}

new DataTable('#{{ tableId }}', {
    pageLength: 50,
    select: {style: 'multi'},
    responsive: true,
    searching: true,
});
