{% extends 'base.html.twig' %}

{% block title %}Liste des personnes supprimables{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-danger">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-address-book"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Liste des personnes supprimables</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('person.index') }}" class="btn btn-primary"><i class="fa-solid fa-undo"></i> Revenir à la liste des personnes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <div data-enoria-type="person" data-enoria-for="personList" class="toolbar float-end mb-1"></div>
                    </div>
                    <div class="datatable-wide">
                        <table id="personList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for person in people %}
                                <tr data-person-id="{{ person.id }}">
                                    <td class="text-start"
                                        data-order="{{ person.lastname }} {{ person.firstname }}"
                                        data-search="{{ person.getFullname() }}"
                                    >
                                        <a href="{{ path('person.show', {'id': person.id}) }}">{{ person.getFullname(true, true) | raw }}</a>
                                    </td>
                                    <td data-search="{{ person.email }}">
                                        {{ person.email }}
                                    </td>
                                    <td>
                                        <form
                                            id="delete_form_{{ person.id }}"
                                            class="d-inline-block" method="post"
                                            action="{{ path('person.delete', {id: person.id}) }}"
                                        >
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
                                            <a class="btn btn-danger btn-sm" rel="tooltip" title="Supprimer la fiche">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="alert alert-info">
                <p>
                    Une personne supprimable est une personne&nbsp;:
                </p>
                <ul>
                    <li>n’ayant aucune adhésion,</li>
                    <li>aucun paiement ou demande de paiement,</li>
                    <li>aucun utilisateur ou aucune organisation d’associé,</li>
                    <li>n’ayant jamais fait partie du Conseil d’Administration,</li>
                    <li>n’est membre d’aucun groupe.</li>
                </ul>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script defer>
        new DataTable('#personList', {
            pageLength: 50,
            select: {style: 'multi'},
            responsive: true,
            searching: true,
        });

        {% for person in people %}
        deleteAlert('#delete_form_{{ person.id }}');
        {% endfor %}
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
