{% extends 'base.html.twig' %}

{% block title %}Détection des doublons{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue-grey">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-people-arrows"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Détection des doublons</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('person.index') }}" class="btn btn-primary"><i class="fa-solid fa-undo"></i> Revenir à la liste des personnes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="alert alert-secondary">
                        Si vous cochez une case, cela ajoute un critère
                    </p>
                    <p class="alert alert-danger">
                        Attention, la <strong>fusion des doublons est un processus complexe et délicat</strong> pouvant
                        dans certains cas complexes entrainer des pertes d’une partie des données fusionnées.
                        <strong>Fonctionnalité à utiliser en ayant conscience des risques.</strong> Une donnée perdue
                        n’est plus récupérable.
                    </p>
                    {{ form_start(formSearch) }}
                    <div class="row is-invalid">
                        <div class="col-md-2">
                            {{ form_row(formSearch.firstname) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(formSearch.lastname) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(formSearch.sex) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(formSearch.email) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(formSearch.phone) }}
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-outline-secondary">
                                <i class="fa-solid fa-filter"></i>
                                Filtrer
                            </button>
                        </div>
                    </div>
                    {{ form_errors(formSearch) }}
                    {{  form_end(formSearch) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form action="{{ path('person.fusion') }}" method="get">
                        <div class="row">
                            <h2 class="col-md-9 card-title">
                                <i class="fa-solid fa-people-arrows"></i>
                                Liste des doublons potentiels
                            </h2>
                            <div class="col-md-3 text-end">
                                <button class="btn btn-warning">Fusionner</button>
                            </div>
                        </div>
                        <div class="datatable-wide">
                            <table id="personList" class="table table-striped table-bordered table-middle text-center">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Titre</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for person in people %}
                                    <tr data-person-id="{{ person.id }}">
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" value="{{ person.id }}" name="selected-people[]">
                                        </td>
                                        <td>{{ person.title }}</td>
                                        <td class="text-start"
                                            data-order="{{ person.lastname }}"
                                            data-search="{{ person.lastname }}"
                                        >
                                            <a href="{{ path('person.show', {'id': person.id}) }}">
                                                <span class="smallcaps">{{ person.lastname }}</span>
                                            </a>
                                        </td>
                                        <td class="text-start"
                                            data-order="{{ person.firstname }}"
                                            data-search="{{ person.firstname }}"
                                        >
                                            <a href="{{ path('person.show', {'id': person.id}) }}">{{ person.firstname }}</a>
                                        </td>
                                        <td data-search="{{ person.email }}">
                                            {{ person.email }}
                                        </td>
                                        {% if person.phone is not null %}
                                            <td data-search="{{ person.phone|auto_phone_number_format() }}">
                                                <a href="tel:{{ person.phone|phone_number_format('INTERNATIONAL') }}">{{ person.phone|auto_phone_number_format() }} </a>
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script defer>
        new DataTable('#personList', {
            pageLength: 50,
            select: {style: 'multi'},
            responsive: true,
            searching: true,
            order: [[2, 'asc'], [3, 'asc']],
        });
    </script>
{% endblock %}
