{% extends 'base.html.twig' %}

{% block title %}Modifier {{ person }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-address-book"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier <em>{{ person.getFullname(false, true) | raw }}</em></h1>
                            </div>
                            <div class="media-btn-group">
                                <form id="delete_form" method="post" action="{{ path('person.delete', {id: person.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
                                    <a class="btn btn-danger text-white"><i class="fas fa-trash"></i> Supprimer</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('person/_form.html.twig', {button: 'Modifier'}) }}
{%  endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('intl-tel-input') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('intl-tel-input') }}
    <script defer>
        intlTelInput(document.querySelector('#person_phone'), intlTelOptions);
        deleteAlert('#delete_form');
        {{ include('person/_form.js.twig') }}
    </script>
{% endblock %}
