{% extends 'base.html.twig' %}

{% block title %}Fusion des doublons{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue-grey">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-people-arrows"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Fusion des doublons</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('person.duplicates') }}" class="btn btn-primary"><i class="fa-solid fa-undo"></i> Revenir à la liste des doublons</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">
                    <i class="fa-solid fa-people-arrows"></i> Liste des doublons
                </h2>

                <form action="{{ path('person.fusion') }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('fusion') }}"/>
                    <input type="hidden" name="people" value="{% for person in people %}{{ person.id }},{% endfor %}">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for person in people %}
                                        <th class="text-center">
                                            <a href="{{ path('person.show', {id: person.id}) }}">{{ person.getFullname(true, true) | raw }}</a><br>
                                            <small class="text-light">
                                                {% if person.updatedAt|date("Y") != '-0001' and (person.address is null or (person.address is not null and person.updatedAt > person.address.updatedAt)) %}
                                                    Mise à jour le {{ person.updatedAt|date("d/m/Y à H:i") }}
                                                {% elseif person.address is not null and person.address.updatedAt|date("Y") != '-0001' %}
                                                    Mise à jour le {{ person.address.updatedAt|date("d/m/Y à H:i") }}
                                                {% elseif person.createdAt|date("Y") != '-0001' and (person.address is null or (person.address is not null and person.createdAt > person.address.createdAt)) %}
                                                    Créé le {{ person.createdAt|date("d/m/Y à H:i") }}
                                                {% elseif person.address is not null and person.address.createdAt|date("Y") != '-0001' %}
                                                    Créé le {{ person.address.createdAt|date("d/m/Y à H:i") }}
                                                {% endif %}
                                            </small>
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th colspan="{{ (people|length) + 1 }}" class="bg-secondary">Personne</th>
                                </tr>
                                <tr>
                                    <th>Titre</th>
                                    {% set first = true %}
                                    {% for person in people %}
                                        <td>
                                            <input class="form-check-input" type="radio" name="fusion-title" value="{{ person.id }}" {% if first %}checked{% endif %}>
                                            {{ person.title }}
                                        </td>
                                        {% set first = false %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    {% set first = true %}
                                    {% for person in people %}
                                        <td>
                                            <input class="form-check-input" type="radio" name="fusion-lastname" value="{{ person.id }}" {% if first %}checked{% endif %}>
                                            <span class="smallcaps">{{ person.lastname }}</span>
                                        </td>
                                        {% set first = false %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    {% set first = true %}
                                    {% for person in people %}
                                        <td>
                                            <input class="form-check-input" type="radio" name="fusion-firstname" value="{{ person.id }}" {% if first %}checked{% endif %}>
                                            {{ person.firstname }}
                                        </td>
                                        {% set first = false %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Sexe</th>
                                    {% set first = true %}
                                    {% for person in people %}
                                        <td>
                                            <input class="form-check-input" type="radio" name="fusion-sex" value="{{ person.id }}" {% if first %}checked{% endif %}>
                                            {% if person.sex == 'M' %}
                                                Homme
                                            {% elseif person.sex == 'F' %}
                                                Femme
                                            {% endif %}
                                        </td>
                                        {% set first = false %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    {% set first = true %}
                                    {% for person in people %}
                                        <td>
                                            <input class="form-check-input" type="radio" name="fusion-email" value="{{ person.id }}" {% if first %}checked{% endif %}>
                                            {% if person.email %}
                                                {{ person.email }}
                                            {% else %}
                                                <em>Aucune</em>
                                            {% endif %}
                                        </td>
                                        {% set first = false %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    {% set first = true %}
                                    {% for person in people %}
                                        <td>
                                            <input class="form-check-input" type="radio" name="fusion-phone" value="{{ person.id }}" {% if first %}checked{% endif %}>
                                            {% if person.phone %}
                                                {{ person.phone|auto_phone_number_format() }}
                                            {% else %}
                                                <em>Aucun</em>
                                            {% endif %}
                                        </td>
                                        {% set first = false %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    {% set first = true %}
                                    {% for person in people %}
                                        <td>
                                            <input class="form-check-input" type="radio" name="fusion-address" value="{{ person.id }}" {% if first %}checked{% endif %}>
                                            {% if person.address %}
                                                {{ person.address }}
                                                {% if person.address.country != 'FR' %}({{ person.address.country|country_name}}){% endif %}
                                            {% else %}
                                                <em>Aucune</em>
                                            {% endif %}
                                        </td>
                                        {% set first = false %}
                                    {% endfor %}
                                </tr>

                                <tr>
                                    <th colspan="{{ (people|length) + 1 }}" class="bg-secondary">Utilisateur</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="{{ (people|length) }}">
                                        <p class="alert alert-light">
                                            Utilisateur associé au contact fusionné
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    {% for person in people %}
                                        <td>
                                            {% if person.user %}
                                                {{ person.user.username }}<br>
                                                 {{ include('security/_badge_roles.html.twig', {user: person.user}) }}
                                            {% else %}
                                                <em>Aucun</em>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>

                                <tr>
                                    <th colspan="{{ (people|length) + 1 }}" class="bg-secondary">Organisations associées</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="{{ (people|length) }}">
                                        <p class="alert alert-light">
                                            Le contact fusionné sera associé aux organisations suivantes
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    {% for person in people %}
                                        <td>
                                            {% if person.associatedOrganizations.count %}
                                                <ul>
                                                    {% for associatedOrganization in  person.associatedOrganizations %}
                                                        <li>
                                                            <a href="{{ path("organization.show", {id: associatedOrganization.organization.id}) }}">
                                                                <i class="fa fa-{{ associatedOrganization.type.icon }}"></i>
                                                                {{ associatedOrganization.organization }}
                                                            </a>
                                                            <em>{{ associatedOrganization.type }}</em>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <em>Aucune</em>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>

                                <tr>
                                    <th colspan="{{ (people|length) + 1 }}" class="bg-secondary">Groupes et rôles dans l’association</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="{{ (people|length) }}">
                                        <p class="alert alert-light">
                                            Le contact fusionné sera ajouté aux groupes suivants et aura les rôles suivants
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    {% for person in people %}
                                        <td>
                                            {% if caMembers[person.id] is not empty or person.memberGroups is not empty %}
                                                {% if caMembers[person.id] is not empty %}
                                                    {% for caMember in caMembers[person.id] %}
                                                        <p class="ms-4">
                                                            {% if not caMember.active %}
                                                                Ancien membre du CA <em>{{ caMember.role }}</em>
                                                                du {{ caMember.begin|date('d/m/Y') }} au {{ caMember.end|date('d/m/Y') }}
                                                            {% else %}
                                                                <strong>Membre du CA</strong> <em>{{ caMember.role }}</em>
                                                                depuis  {{ caMember.begin|date('d/m/Y') }}
                                                            {% endif %}
                                                        </p>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if person.memberGroups is not empty and is_granted('ROLE_BASIC_SHOW') %}
                                                    <p class="ms-4">
                                                        {% for group in person.memberGroups %}
                                                            <a href="{{ path('volunteer.group.show', {id: group.id}) }}" class="badge bg-secondary">{{ group }}</a>
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                            {% else %}
                                                <em>Aucun</em>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>

                                <tr>
                                    <th colspan="{{ (people|length) + 1 }}" class="bg-secondary">Assemblées Générales</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="{{ (people|length) }}">
                                        <p class="alert alert-light">
                                            Le contact fusionné sera indiqué comme participant aux assemblées générales suivantes
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    {% for person in people %}
                                        <td>
                                            {% if person.generalMeetings is not empty %}
                                                <p class="ms-4">
                                                    {% for generalMeeting in person.generalMeetings %}
                                                        <a
                                                            href="{{ path('general_meeting.show', {id: generalMeeting.id}) }}"
                                                            class="badge bg-secondary"
                                                        >AG{{ generalMeeting.type|trans([], 'forms')|first }}
                                                            {{ generalMeeting.datetime|date('Y-m-d')|date('d/m/Y') }}</a>
                                                    {% endfor %}
                                                </p>
                                            {% else %}
                                                <em>Aucune</em>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>

                                <tr>
                                    <th colspan="{{ (people|length) + 1 }}" class="bg-secondary">Adhésions</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="{{ (people|length) }}">
                                        <p class="alert alert-light">
                                            Les adhésions suivantes seront conservées
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    {% for person in people %}
                                        <td>
                                            {% if person.memberships is not empty %}
                                                {{ include('membership/_history.html.twig', {memberships: person.memberships}) }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>

                                <tr>
                                    <th colspan="{{ (people|length) + 1 }}" class="bg-secondary">Demande de paiements</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="{{ (people|length) }}">
                                        <p class="alert alert-light">
                                            Les demandes de paiement suivantes seront conservées
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    {% for person in people %}
                                        {% set membershipPaymentRequests = [] %}
                                        {% for membership in person.memberships %}
                                            {% set membershipPaymentRequests = membershipPaymentRequests|merge([membership.paymentRequest]) %}
                                        {% endfor %}
                                        {% set paymentRequests = person.paymentRequests|merge(membershipPaymentRequests)|sort((a, b) => a.datetime <=> b.datetime) %}
                                        <td>
                                            {% if paymentRequests is not empty %}
                                                <table>
                                                    <tbody>
                                                    {% for paymentRequest in paymentRequests %}
                                                        <tr>
                                                            <td>
                                                                {{ paymentRequest.datetime|date('d/m/Y') }}
                                                            </td>
                                                            <td>
                                                                {{ paymentRequest.description }}
                                                            </td>
                                                            <td>
                                                                <span class="text-{%
                                                                    if paymentRequest.amount <= paymentRequest.amountPaid
                                                                %}success{% else %}danger{% endif %}">{{ paymentRequest.amount|format_currency('EUR') }}</span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <em>Aucune</em>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>

                                <tr>
                                    <th colspan="{{ (people|length) + 1 }}" class="bg-secondary">Paiements</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="{{ (people|length) }}">
                                        <p class="alert alert-light">
                                            Les paiements suivants seront conservés
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    {% for person in people %}
                                        <td>
                                            {% if person.payments is not empty %}
                                                <table>
                                                    <tbody>
                                                    {% for payment in person.payments|sort((a, b) => a.datetime <=> b.datetime) %}
                                                        <tr>
                                                            <td>
                                                                #{{ payment.id }}
                                                                {% if payment.receipt %}
                                                                    <i class="fa fa-receipt"></i>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {{ payment.datetime|date('d/m/Y') }}
                                                            </td>
                                                            <td>
                                                                {{ include('accounting/payment/_type.html.twig') }}
                                                            </td>
                                                            <td>
                                                                <span class="text-{% if payment.amount > payment.amountAllocated %}danger{% else %}success{% endif %}">
                                                                    {{ payment.amount|format_currency('EUR') }}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <em>Aucun</em>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="text-end">
                        <button class="btn btn-primary">
                            <i class="fa-solid fa-code-merge"></i> Fusionner
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
