{% extends 'base.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-address-book"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Liste des personnes</h1>
                            </div>
                            {% if is_granted('ROLE_PERSON_EDIT') %}
                                <div class="media-btn-group">
                                    <a href="{{ path('person.new') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Ajouter</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_PERSON_EDIT') or is_granted('ROLE_ADMIN') %}
        <div class="row">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col">
                    <p class="text-center">
                        <a href="{{ path('person.duplicates') }}" class="btn btn-outline-secondary">
                            <i class="fa-solid fa-people-arrows"></i> Détection des doublons
                        </a>
                    </p>
                </div>
            {% endif %}
            {% if is_granted('ROLE_PERSON_EDIT') %}
                <div class="col">
                    <p class="text-center">
                        <a href="{{ path('person.deletable') }}" class="btn btn-outline-danger">
                            <i class="fa-solid fa-trash"></i> Liste des personnes supprimables
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    {{ include('person/_list.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script defer>
        {{ include('person/_list.js.twig') }}
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
