{% extends 'base.html.twig' %}

{% block title %}Ajouter une personne{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-address-book"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Ajouter une personne</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('person/_form.html.twig') }}
{%  endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('intl-tel-input') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('intl-tel-input') }}
    <script defer>
        intlTelInput(document.querySelector('#person_phone'), intlTelOptions);
        {{ include('person/_form.js.twig') }}
    </script>
{% endblock %}
