{% extends 'base.html.twig' %}

{% block title %}{{ person }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-address-book"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Détail d’une personne&nbsp;: <em>{{ person.getFullname(true, true) | raw }}</em></h1>
                            </div>
                            <div class="media-btn-group">
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <a href="{{referer }}" class="btn btn-secondary">
                                        <i class="fas fa-arrow-left"></i>
                                        Retour
                                    </a>
                                    {% if is_granted('ROLE_BASIC_SHOW') %}
                                        <a href="{{ path('person.index') }}" class="btn btn-primary">
                                            <i class="fas fa-address-book"></i>
                                            Liste
                                        </a>
                                    {% endif %}
                                    {% if is_granted('ROLE_PERSON_EDIT') %}
                                        <a href="{{ path('person.edit', {'id': person.id}) }}" class="btn btn-warning">
                                            <i class="fas fa-edit"></i>
                                            Modifier
                                        </a>
                                        <a href="{{ path('person.new') }}" class="btn btn-success">
                                            <i class="fas fa-plus"></i>
                                            Ajouter
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set memberGroups = [] %}
    {% if is_granted('ROLE_BASIC_SHOW') %}
        {% set memberGroups = person.memberGroups %}
    {% else %}
        {% for group in person.memberGroups %}
            {% if is_granted('basic_show', group) %}
                {% set memberGroups = memberGroups|merge([group]) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <p class="text-center font-large-5">
                                {{ include('person/_avatar.html.twig') }}
                            </p>
                        </div>
                        <div class="col-lg-8">
                            {{ include('person/_details.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-clone"></i> Organisations auxquelles est associée cette personne</h2>
                    {% if person.associatedOrganizations.count %}
                        <table class="table table-striped table-bordered">
                            {% for associatedOrganization in  person.associatedOrganizations %}
                                <tr>
                                    <td>
                                        <a href="{{ path("organization.show", {id: associatedOrganization.organization.id}) }}">
                                            <i class="fa fa-{{ associatedOrganization.type.icon }}"></i>
                                            {{ associatedOrganization.organization }}
                                        </a>
                                        <em>{{ associatedOrganization.type }}</em>
                                    </td>
                                    {% if is_granted('ROLE_ORGANIZATION_EDIT') %}
                                        <td class="text-center">
                                            <a href="{{ path('organization.associate.edit', {id: associatedOrganization.id}) }}" class="btn btn-warning btn-sm" rel="tooltip" title="Modifier l’association"><i class="fa fa-edit"></i></a>
                                            <form id="delete_form_{{ associatedOrganization.id }}" class="d-inline-block" method="post" action="{{ path('organization.associate.delete', {id: associatedOrganization.id}) }}">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ associatedOrganization.id) }}">
                                                <a class="btn btn-danger btn-sm" rel="tooltip" title="Supprimer l’association">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </form>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p class="text-center"><em>Aucune</em></p>
                    {% endif %}
                    {% if is_granted('ROLE_ORGANIZATION_EDIT') %}
                        <p class="text-end">
                            <a href="{{ path('person.associate', {id: person.id}) }}" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                                Associer à une organisation
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>

            {% if is_granted('ROLE_VOLUNTEER_EDIT') or caMembers is not empty or memberGroups is not empty  or (is_granted('ROLE_GENERAL_MEETING_SHOW') and person.generalMeetings is not empty) %}
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa fa-user-tie"></i> Rôle dans l’association</h2>
                        {% if caMembers is not empty %}
                            {% for caMember in caMembers %}
                                <p class="ms-4">
                                    {% if not caMember.active %}
                                        Ancien membre du CA <em>{{ caMember.role }}</em>
                                        du {{ caMember.begin|date('d/m/Y') }} au {{ caMember.end|date('d/m/Y') }}
                                    {% else %}
                                        <strong>Membre du CA</strong> <em>{{ caMember.role }}</em>
                                        depuis  {{ caMember.begin|date('d/m/Y') }}
                                    {% endif %}
                                </p>
                            {% endfor %}
                        {% endif %}
                        {% if memberGroups is not empty %}
                            <p class="ms-4">
                                <strong>Appartient aux groupes</strong>
                                {% for group in memberGroups %}
                                    <a href="{{ path('volunteer.group.show', {id: group.id}) }}" class="badge bg-secondary">{{ group }}</a>
                                {% endfor %}
                                {% if is_granted('ROLE_VOLUNTEER_EDIT') %}
                                    <a id="addToVolunteerGroupButton" href="#" class="badge bg-success"><i class="fa fa-plus"></i></a>
                                {% endif %}
                            </p>
                        {% endif %}
                        {% if is_granted('ROLE_VOLUNTEER_EDIT') %}
                            {% if memberGroups is empty %}
                                <p class="ms-4">
                                    <em>Ajouter à un groupe</em>
                                    <a id="addToVolunteerGroupButton" href="#" class="badge bg-success"><i class="fa fa-plus"></i></a>
                                </p>
                            {% endif %}
                            <p class="ms-4 d-none" id="addToVolunteerGroupList">
                                {% for group in groups %}
                                    {% if group not in memberGroups %}
                                        <a
                                            href="{{ path('volunteer.group.add.quick', {group: group.id, person: person.id}) }}"
                                            class="badge bg-light"
                                        >{{ group }}</a>
                                    {% endif %}
                                {% endfor %}
                                <a id="addToVolunteerGroupCancel" href="#" class="badge bg-warning">
                                    <i class="fa fa-undo"></i> Annuler
                                </a><br>
                                <small class="fst-italic secondary">Vous ne pouvez pas ajouter une personne à un groupe lié à un agrégat</small>
                            </p>
                        {% endif %}
                        {% if is_granted('ROLE_GENERAL_MEETING_SHOW') and person.generalMeetings is not empty %}
                            <p class="ms-4">
                                <strong>A participé aux Assemblées Générales</strong>
                                {% for generalMeeting in person.generalMeetings %}
                                    <a
                                        href="{{ path('general_meeting.show', {id: generalMeeting.id}) }}"
                                        class="badge bg-secondary"
                                    >AG{{ generalMeeting.type|trans([], 'forms')|first }}
                                        {{ generalMeeting.datetime|date('Y-m-d')|date('d/m/Y') }}</a>
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if person.memberships is not empty %}
            <div class="{% if is_granted('membership_show', actualMembership) %}col-12{% else %}col-lg-6{% endif %}">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa fa-users"></i> Membre</h2>
                        <div class="row">
                            <div class="{% if is_granted('membership_show', actualMembership) %}col-lg-6{% endif %}">
                                <p>
                                    Cette personne est membre ou a été membre pour les périodes suivantes&nbsp;:
                                </p>
                                {{ include('membership/_history.html.twig', {memberships: person.memberships}) }}
                                {% if actualMembership %}
                                    <p class="mt-3 text-center">
                                        {% if actualMembership.token %}
                                            <a href="{{ path('membership_public.show', {'token': actualMembership.token}) }}" class="btn btn-outline-primary">
                                                <i class="fa fa-link"></i> Lien vers la page de suivi d’adhésion
                                            </a>
                                        {% else %}
                                            <em>Le lien vers la page de suivi d’adhésion n’a pas encore été généré</em>
                                        {% endif %}
                                    </p>
                                    {% if actualMembership.status == 'canceled' and is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                                        <h3 class="mt-3 text-danger">Processus de restitution des données</h3>
                                        <div class="ms-2 me-2 ms-lg-5 me-lg-5">
                                            {{ include('membership/_process_cancellation.html.twig', {membership: actualMembership}) }}
                                            <p class="mt-1 text-center">
                                                <a href="{{ path('membership.cancel.edit', {id: actualMembership.id}) }}" class="btn btn-warning">
                                                    <i class="fa-solid fa-edit"></i> Mettre à jour le processus
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if is_granted('membership_show', actualMembership) %}
                                <div class="col-lg-6">
                                    <p>
                                        État pour la période en cours :
                                    </p>
                                    <div class="ms-2 me-2 ms-lg-5 me-lg-5">
                                        {% if actualMembership %}
                                            <p class="text-center">
                                                {% if actualMembership.type != 'member' %}
                                                    <span class="badge bg-info">{{ actualMembership.type|trans([], 'membership') }}</span>
                                                {% endif %}
                                                {% if actualMembership.status == 'in_progress' %}
                                                    <span class="badge bg-primary">Adhésion en cours</span>
                                                {% elseif actualMembership.status == 'canceled' %}
                                                    <span class="badge bg-danger">Adhésion annulée</span>
                                                {% elseif actualMembership.status == 'validated' %}
                                                    <span class="badge bg-success">Membre</span>
                                                {% endif %}
                                                {% if not actualMembership.first %}
                                                    <span class="badge bg-light text-secondary">Renouvellement</span>
                                                {% endif %}
                                            </p>
                                            {{ include('membership/_state.html.twig', {membership: actualMembership}) }}
                                        {% else %}
                                            <p><em>Pas de processus d’adhésion</em></p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if is_granted('accounting_show', person) %}
        {{ include('accounting/_showList.html.twig') }}
    {% endif %}

    {% if person.updatedAt|date("Y") != '-0001' and (person.address is null or (person.address is not null and person.updatedAt > person.address.updatedAt)) %}
        <p class="small">
            <em>
                Dernière modification
                {% if person.updatedBy %}
                    par <strong>{{ person.updatedBy.person.fullname(false, true)|raw }}</strong>
                {% else %}
                    par le lien public
                {% endif %}
                le {{ person.updatedAt|date("d/m/Y à H:i") }}
            </em>
        </p>
    {% elseif person.address is not null and person.address.updatedAt|date("Y") != '-0001' %}
        <p class="small">
            <em>
                Dernière modification
                {% if person.address.updatedBy %}
                    par <strong>{{ person.address.updatedBy.person.fullname(false, true)|raw }}</strong>
                {% else %}
                    par le lien public
                {% endif %}
                le {{ person.address.updatedAt|date("d/m/Y à H:i") }}
            </em>
        </p>
    {% endif %}
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        {% for associatedOrganization in  person.associatedOrganizations %}
        deleteAlert('#delete_form_{{ associatedOrganization.id }}');
        {% endfor %}

        {% if is_granted('accounting_show', person) %}
        {{ include('accounting/_showList.js.twig') }}
        {% endif %}

        {% if is_granted('ROLE_VOLUNTEER_EDIT') %}
        let addToVolunteerGroupButton = document.getElementById('addToVolunteerGroupButton');
        let addToVolunteerGroupList = document.getElementById('addToVolunteerGroupList');
        let addToVolunteerGroupCancel = document.getElementById('addToVolunteerGroupCancel');
        if (addToVolunteerGroupButton !== null && addToVolunteerGroupList !== null && addToVolunteerGroupCancel !== null) {
            addToVolunteerGroupButton.addEventListener('click', e => {
                e.preventDefault();
                addToVolunteerGroupList.classList.toggle('d-none');
                addToVolunteerGroupButton.classList.toggle('d-none');
            });
            addToVolunteerGroupCancel.addEventListener('click', e => {
                e.preventDefault();
                addToVolunteerGroupList.classList.toggle('d-none');
                addToVolunteerGroupButton.classList.toggle('d-none');
            });
        }
        {% endif %}
    </script>
{% endblock %}
