<h2>Avancement</h2>
<p align="center">
    {% if membership.first %}Adhésion{% else %}Renouvellement de cotisation{% endif %}
    <span class="badge bg-{% if membership.status == 'canceled' %}danger{% elseif membership.status == 'validated' %}success{% else %}primary{% endif %}">
        {% if membership.status == 'canceled' %}annulée{% elseif membership.status == 'validated' %}validée{% else %}en cours{% endif %}
    </span>
</p>
<p align="center">
    <em>{% if membership.person %}{{ membership.person.getFullname(false, true) | raw }}{% else %} {{ membership.organization }}{% endif %}</em>
    ({{ membership.period }})
</p>
<div align="center">
    <table width="70%" class="membership">
        {% if membership.organization %}
            <tr>
                <th>Entité</th>
                <td>
                    {% if membership.hosting == 'self' %}
                        <span class="badge bg-success">Auto-hébergement</span>
                    {% elseif membership.entity %}
                        <span class="badge bg-success">Entité créée</span>
                    {% else %}
                        <span class="badge bg-danger">Entité à créer</span>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Informations</th>
            <td>
                {% if membership.informationValidated %}
                    <span class="badge bg-success">Validées</span>
                {% elseif membership.informationSubmitted %}
                    <span class="badge bg-warning">À valider par le secrétariat</span>
                {% else %}
                    <span class="badge bg-danger">Non saisies</span><br>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Fiche</th>
            <td>
                {% if membership.sheet %}
                    {% if membership.sheetValidated %}
                        <span class="badge bg-success">Transmise</span>
                    {% else %}
                        <span class="badge bg-warning">À valider par le secrétariat</span>
                    {% endif %}
                {% else %}
                    <span class="badge bg-danger">Non transmise</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Aide</th>
            <td>
                {% if membership.helpRequest %}
                    {% if membership.helpStatus == 'await_info' %}
                        <span class="badge bg-danger">En attente d’informations</span>
                    {% elseif membership.helpStatus == 'await_ca' %}
                        <span class="badge bg-warning">En attente de décision</span>
                    {% elseif membership.helpStatus == 'accepted' %}
                        <span class="badge bg-success">Acceptée</span>
                    {% elseif membership.helpStatus == 'refused' %}
                        <span class="badge bg-dark">Refusée</span>
                    {% else %}
                        <span class="badge bg-danger">Non traitée</span>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Cotisation</th>
            <td>
                {% if membership.membershipFee > membership.paymentRequest.amountPaid %}
                    <span class="text-danger">
                        {{ membership.membershipFee|format_currency('EUR', locale='fr') }}<br>
                        Reste&nbsp;: {{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR', locale='fr') }}
                    </span>
                {% else %}
                    <span class="text-success">{{ membership.paymentRequest.amountPaid|format_currency('EUR', locale='fr') }}</span>
                    <span class="badge bg-success">Réglée</span>
                {% endif %}
            </td>
        </tr>
    </table>
</div>

<p class="btn-container">
    <a class="btn bg-primary" href="{% if domain is defined %}{{ domain }}{{ path('membership_public.show', {'token': membership.token}) }}{% else %}{{ url('membership_public.show', {'token': membership.token}) }}{% endif %}">
        Pour suivre et compléter votre adhésion
    </a>
</p>
