

** AVANCEMENT **
--------------------------------

{% if membership.first %}Adhésion {% else %}Renouvellement de cotisation {% endif %}
({% if membership.status == 'canceled' %}annulée{% elseif membership.status == 'validated' %}validée{% else %}en cours{% endif %})

{% if membership.person %}{{ membership.person.getFullname(false, true) | raw }}{% else %} {{ membership.organization }}{% endif %} ({{ membership.period }})

{% if membership.organization %}
 - Entité : {% if membership.hosting == 'self' %}Auto-hébergement{% elseif membership.entity %}Entité créée{% else %}Entité à créer{% endif %}
{% endif %}

 - Informations : {% if membership.informationValidated %}Validées{% elseif membership.informationSubmitted %}À valider par le secrétariat{% else %}Non saisies{% endif %}

 - Fiche : {% if membership.sheet %}{% if membership.sheetValidated %}Transmise{% else %}À valider par le secrétariat{% endif %}{% else %}Non transmise{% endif %}

 - Aide : {% if membership.helpRequest %}{% if membership.helpStatus == 'await_info' %}En attente d’informations{% elseif membership.helpStatus == 'await_ca' %}En attente de décision{% elseif membership.helpStatus == 'accepted' %}Acceptée{% elseif membership.helpStatus == 'refused' %}Refusée{% else %}Non traitée{% endif %}{% endif %}

 - Cotisation : {% if membership.membershipFee > membership.paymentRequest.amountPaid %}{{ membership.membershipFee|format_currency('EUR', locale='fr') }} Reste : {{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR', locale='fr') }}{% else %}{{ membership.paymentRequest.amountPaid|format_currency('EUR', locale='fr') }} Réglée{% endif %}


Pour suivre et compléter votre adhésion : {% if domain is defined %}{{ domain }}{{ path('membership_public.show', {'token': membership.token}) }}{% else %}{{ url('membership_public.show', {'token': membership.token}) }}{% endif %}
