-------------------------------------------------

Ce mail a été envoyé aux destinataires suivants :

{% for to in toList %}
 - {{ to }}
{% endfor %}

-------------------------------------------------
