{% apply inline_css(source('@styles/email.css')) %}
<body>
<table align="center">
    <tbody>
    <tr>
        <td>
            <table class="card" width="600px">
                <tbody class="card-body">
                <tr>
                    <td align="center">
                        <img src="{% if domain is defined %}{{ domain }}/assets/images/new-logo.png{% else %}{{ absolute_url('/assets/images/new-logo.png')}}{% endif %}" class="" alt="Logo" width="50%">
                        <h1>{% block title %}{% endblock %}</h1>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="card" width="600px">
                <tbody class="card-body">
                <tr>
                    <td>
                        {% block body %}{% endblock %}

                        <p class="signature">
                            Pour toute communication<br>
                            Association Enoria - 43 rue Duguay 95100 Argenteuil<br>
                            <a href="mailto:secretariat@association-enoria.org">secretariat@association-enoria.org</a>
                            <a href="tel:+33185451761">01 85 45 17 61</a>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

{% endapply %}
