{% extends 'emails/base.txt.twig' %}

{% block title %}Déclaration en préfecture{% endblock %}

{% block body %}
    Bonjour {{ caMember.person.getFullName(true, false) }},

    Afin de compléter la déclaration en préfecture du Conseil d’administration, nous avons besoin d’informations complémentaires.

    Vous pouvez les saisir via le lien suivant : {{ url('ca-member.public-form', {'token': caMember.token}) }}

    Cordialement,
    {{ include('emails/_fromBureau.txt.twig') }}
{% endblock %}
