{% extends 'emails/base.html.twig' %}

{% block title %}Déclaration en préfecture{% endblock %}

{% block body %}
    <p>Bonjour <strong>{{ caMember.person.getFullName(true, false) }}</strong>,</p>
    <p>
        Afin de compléter la déclaration en préfecture du Conseil d’administration, nous avons besoin d’informations complémentaires. Vous pouvez les saisir via le lien suivant&nbsp;:
    </p>
    <p class="btn-container">
        <a class="btn bg-primary" href="{{ url('ca-member.public-form', {'token': caMember.token}) }}">Saisie des informations</a>
    </p>

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromBureau.txt.twig') }}
    </p>
{% endblock %}
