{% extends 'emails/base.txt.twig' %}

{% block title %}{% if membership.first %}Bienvenue dans l’aventure Enoria !{% else %}L’aventure Enoria continue !{% endif %}{% endblock %}

{% block body %}
    Vous pouvez suivre le processus {% if membership.first %}d’adhésion{% else %}de renouvellement de votre adhésion{% endif %}.

    {{ include('emails/_membership.txt.twig') }}

    {{ include('emails/_toList.txt.twig') }}

    Cordialement,
    {{ include('emails/_fromBureau.txt.twig') }}
{% endblock %}
