{% extends 'emails/base.html.twig' %}

{% block title %}{% if membership.first %}Bienvenue dans l’aventure Enoria !{% else %}L’aventure Enoria continue !{% endif %}{% endblock %}

{% block body %}
    <p>
        Vous pouvez suivre le processus {% if membership.first %}d’adhésion{% else %}de renouvellement de votre adhésion{% endif %}.
    </p>

    {{ include('emails/_membership.html.twig') }}

    {{ include('emails/_toList.html.twig') }}

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromBureau.txt.twig') }}
    </p>
{% endblock %}
