{% extends 'emails/base.txt.twig' %}

{% block title %}On n’attend plus que vous pour compléter votre adhésion{% endblock %}

{% block body %}
    Bonjour,

    Pour valider définitivement votre adhésion, il manque encore une action de votre part.

    CECI EST UN MAIL AUTOMATIQUE

    {{ include('emails/_membership.txt.twig') }}

    {{ include('emails/_toList.txt.twig') }}

    Cordialement,
    {{ include('emails/_fromBureau.txt.twig') }}
{% endblock %}
