{% extends 'emails/base.html.twig' %}

{% block title %}On n’attend plus que vous pour compléter votre adhésion{% endblock %}

{% block body %}
    <p>Bonjour,</p>
    <p>
        Pour valider définitivement votre adhésion, il manque encore une action de votre part.
    </p>
    <p align="center" class="text-danger"><strong>Ceci est un mail automatique</strong></p>

    {{ include('emails/_membership.html.twig') }}

    {{ include('emails/_toList.html.twig') }}

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromBureau.txt.twig') }}
    </p>
{% endblock %}
