{% extends 'emails/base.txt.twig' %}

{% block title %}L’aventure Enoria continue !{% endblock %}

{% block body %}
    Madame, Monsieur, Monsieur l’Abbé,

    Afin d’assurer le bon fonctionnement de l’association Enoria, et comme le prévoient les statuts nous vous proposons de régler votre cotisation pour la période du {{ membership.period.start|format_date(pattern='d MMMM') }} au {{ membership.period.end|format_date(pattern='dd MMMM y') }}.


    Le montant annuel de la cotisation fixé en Assemblée Générale est de 600&nbsp;€. En cas d'adhésion de votre diocèse, il se peut que la cotisation dont vous devez vous acquitter soit différente.

    POUR VOTRE ENTITÉ, LE MONTANT DE L’ADHÉSION RESTANT À NOUS RÉGLER EST DE {{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR') }}.

    EN CAS DE DIFFICULTÉ RÉELLE AU PLAN FINANCIER : merci de nous adresser une demande argumentée de réduction de cotisation, celle-ci sera alors étudiée par le bureau du Conseil d’Administration.

    Vous pouvez procéder sans tarder au règlement, et au plus tard 1 mois à compter de la réception du présent courrier, de préférence par virement bancaire ou par chèque libellé à l’ordre de l’association. Vous trouverez ci-dessous les informations nécessaires.

    En cliquant sur le lien sous l’état d’avancement, vous pourrez vérifier les coordonnées de contact de votre entité, ainsi que celles de la personne responsable, les modifier si nécessaire et les valider.
    CETTE ÉTAPE EST OBLIGATOIRE AFIN DE VALIDER VOTRE ADHÉSION POUR L’ANNÉE {{ membership.period.name }}.

    {{ include('emails/_membership.txt.twig') }}

    À réception du règlement de votre cotisation, un reçu vous sera adressé.

    Notre secrétariat est à votre disposition par mail : secretariat@association-enoria.org ou par téléphone sur rendez-vous pour toute question.

    {{ include('emails/_toList.txt.twig') }}

    Cordialement,
    {{ include('emails/_fromTreasurer.txt.twig') }}

   NOS COORDONNÉES BANCAIRES :
        Pour les virements, en indiquant dans l’intitulé du virement CODE POSTAL ET NOM de votre paroisse :
        BIC : AGRIFRPP887
        IBAN : FR76 1870 6000 0097 5392 8672 683

        Pour un règlement par chèque, à l’ordre de ASSOCIATION ENORIA, et à adresser à :
        Association Enoria - 43 Rue Duguay 95100 Argenteuil<br>
{% endblock %}
