{% extends 'emails/base.html.twig' %}

{% block title %}L’aventure Enoria continue !{% endblock %}

{% block body %}
    <p>Madame, Monsieur, Monsieur l’Abbé,</p>
    <p>
        Afin d’assurer le bon fonctionnement de l’association Enoria, et
        comme le prévoient les statuts nous vous proposons de régler votre
        cotisation pour la période du {{ membership.period.start|format_date(pattern='d MMMM') }} au {{ membership.period.end|format_date(pattern='dd MMMM y') }}.
    </p>

    <p>
        Le montant annuel de la cotisation fixé en Assemblée Générale est de 600&nbsp;€. En cas d'adhésion de votre diocèse, il se peut que la cotisation dont vous devez vous acquitter soit différente.<br>
        <strong> Pour votre entité, le montant de l’adhésion restant à nous régler est de {{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR') }}.</strong>
    </p>
    <p>
        <span style="font-weight: bold;">En cas de difficulté réelle au plan financier :</span>
        merci de nous adresser une demande argumentée de réduction de cotisation, celle-ci sera alors
        étudiée par le bureau du Conseil d’Administration.
    </p>
    <p>
        Vous pouvez procéder sans tarder au règlement, et au plus tard 1&nbsp;mois à compter de la réception du présent courrier, de préférence par
        virement bancaire ou par chèque libellé à l’ordre de l’association. Vous trouverez ci-dessous les informations nécessaires.
    </p>
    <p>
        En cliquant sur le lien sous l’état d’avancement, vous pourrez vérifier
        les coordonnées de contact de votre entité, ainsi que celles de la
        personne responsable, les modifier si nécessaire et les valider.
        <strong>Cette étape est obligatoire afin de valider votre adhésion pour l’année {{ membership.period.name }}.</strong>
    </p>

    {{ include('emails/_membership.html.twig') }}

    <p>À réception du règlement de votre cotisation, un reçu vous sera adressé.</p>
    <p>
        Notre secrétariat est à votre disposition par mail&nbsp;:
        <a href="mailto:secretariat@association-enoria.org" target="_blank">secretariat@association-enoria.org</a>
        ou par téléphone sur rendez-vous pour toute question.
    </p>

    {{ include('emails/_toList.html.twig') }}

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromTreasurer.txt.twig') }}
    </p>

    <p>
        <strong>Nos coordonnées bancaires&nbsp;:</strong><br>
        Pour les virements, en indiquant dans l’intitulé du virement <span style="font-weight: bold; text-decoration: underline;">code postal et nom</span> de votre paroisse&nbsp;:<br>
        BIC : AGRIFRPP887<br>
        IBAN : FR76 1870 6000 0097 5392 8672 683<br>
        <br>
        Pour un règlement par chèque, à l’ordre de <em>Association Enoria</em>, et à adresser à&nbsp;:<br>
        Association Enoria - 43 Rue Duguay 95100 Argenteuil<br>
    </p>
{% endblock %}
