{% extends 'emails/base.html.twig' %}

{% block title %}Test de la configuration{% endblock %}

{% block body %}
    <p>
        Ceci est un mail de test de la configuration SMTP de l’application.
    </p>

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromAdmin.txt.twig') }}
    </p>
{% endblock %}
