{% extends 'emails/base.txt.twig' %}

{% block title %}Test de la configuration{% endblock %}

{% block body %}
    Ceci est un mail de test de la configuration SMTP de l’application.

    Cordialement,
    {{ include('emails/_fromAdmin.txt.twig') }}
{% endblock %}
