<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
        <meta name="robots" content="noindex, nofollow">

        <title>{% block title %}Zachée{% endblock %} - Association Enoria</title>

        <link rel="apple-touch-icon" href="/assets/images/new-logo-sans-texte.png">
        <link rel="icon" sizes="192x192" href="/assets/images/new-logo-sans-texte.png">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('main') }}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body class="sidebar-large">
        <div class="layout-overlay"></div>
        <div class="top-blur"></div>

        <nav id="headerbar"
             class="navbar navbar-expand-lg fixed-top navbar-light bg-white"
        >
            <div id="searchbar-form">
                <i class="fa-solid fa-search"></i>
                <input type="text" class="form-control" autocomplete="off" placeholder="Rechercher" tabindex="0">
                <div id="searchbar-spinner" class="spinner-border d-none" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <ul class="d-none"></ul>
            </div>

            <div class="container-fluid">
                <span class="headerbar-elem">
                    <a href="{{ path('home') }}">
                        <img src="/assets/images/new-logo-sans-texte.png" class="brand-logo brand-logo-small" alt="" loading="lazy">
                    </a>
                    <a id="sidebarShow" class="mt-auto btn d-lg-none">
                        <span class="fas fa-bars"></span>
                    </a>
                    <a id="backJs" class="mt-auto btn d-lg-none">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>

                <a id="searchbar-link" href="#">
                    <i class="fa-solid fa-search"></i>
                    <span>Rechercher (Ctrl+/)</span>
                </a>

                <a class="headerbar-elem mt-auto btn d-lg-none" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Affiche le menu">
                    <i class="fa-solid fa-ellipsis-v"></i>
                </a>

                <div id="navbarNavDropdown" class="headerbar-elem collapse navbar-collapse">
                    <ul class="navbar-nav d-flex align-items-center justify-content-end w-100 text-center">
                        {# <li class="d-none">
                            <a href="{{ path('doc.help') }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-question-circle"></i> Aide
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link username dropdown-toggle" id="navbarUserMenu" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                Favoris <i class="fa-solid fa-star"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserMenu">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Todo
                                    </a>
                                </li>
                                <li>
                            </ul>
                        </li> #}
                        <li class="nav-item dropdown">
                            <a class="nav-link username dropdown-toggle" id="navbarUserMenu" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if is_granted('IS_IMPERSONATOR') %}
                                    <span class="btn btn-sm btn-teal white">
                                    <i class="fas fa-user-secret"></i> <em>Connecté en tant que</em> {{ app.user }}
                                </span>
                                {% else %}
                                    {{ app.user.person.getFullname(false, true) | raw }}
                                    <i class="fas fa-user-circle"></i>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserMenu">
                                <li>
                                    <a class="dropdown-item" href="{{ path("users.profile") }}">
                                        <i class="fas fa-user"></i>
                                        Mon profil
                                    </a>
                                </li>
                                {% if is_granted('IS_IMPERSONATOR') %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path("home", {"_switch_user": "_exit"}) }}">
                                            <i class="fas fa-user-secret"></i> Redevenir soi-même
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('logout') }}">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Se déconnecter
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            {{ render(controller('App\\Controller\\PeriodController::periodMenu')) }}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <nav id="sidebar">
            <header class="bg-white {% if is_granted('IS_IMPERSONATOR') %} bg-gradient-striped-teal{% elseif app.environment == 'dev' %}bg-gradient-striped-yellow bg-lighten-4{% endif %}">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="/assets/images/new-logo.png" class="brand-logo brand-logo-full" alt="" loading="lazy">
                    <img src="/assets/images/new-logo-sans-texte.png" class="brand-logo brand-logo-small" alt="" loading="lazy">
                    <h3 class="brand-text">Zachée</h3>
                </a>
                <a class="mt-auto btn" id="sidebarCollapse">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </header>

            <div class="menu-content">
                {% if is_granted('ROLE_BASIC_SHOW') %}
                    <ul class="nav justify-content-center nav-inside">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}" title="Accueil">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('person.index') }}" title="Toutes les personnes">
                                <i class="fa fa-address-book"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('organization.index') }}" title="Organisations">
                                <i class="fa fa-clone"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('diocese.index') }}" title="Diocèses">
                                <i class="fa fa-church"></i>
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav flex-column nav-inside">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}" title="Accueil">
                                <i class="fa fa-home"></i>
                                <span class="menu-title">Accueil</span>
                            </a>
                        </li>
                    </ul>
                {% endif %}
                <ul class="flex-column">
                    {% if is_granted('group_list_show') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('volunteer.index') }}" title="Bénévoles">
                            <i class="fa-solid fa-handshake-angle"></i>
                            <span class="menu-title">Bénévoles</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('membership_request.index') }}" title="Adhésions en cours">
                                <i class="fa fa-clipboard-list"></i>
                                <span class="menu-title">Adhésions en cours</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_BASIC_SHOW') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('membership.index') }}" title="Membres">
                                <i class="fa fa-users"></i>
                                <span class="menu-title">Membres</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('aggregate.index') }}" title="Agrégats">
                                <i class="fa-solid fa-list-alt"></i>
                                <span class="menu-title">Agrégats</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('doc.index') }}" title="Base documentaire">
                            <i class="fa fa-book"></i>
                            <span class="menu-title">Base documentaire</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_ACCOUNTING') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accounting.index') }}" title="Comptabilité">
                            <i class="fa fa-cash-register"></i>
                            <span class="menu-title">Comptabilité</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('general_meeting.index') }}" title="Assemblées Générales">
                            <i class="fa-solid fa-people-roof"></i>
                            <span class="menu-title">Assemblées Générales</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ca-member.index') }}" title="Conseil d’Administration">
                            <i class="fa fa-user-tie"></i>
                            <span class="menu-title">Conseil d’Administration</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_STATS_SHOW') %}
                        <li class="nav-separator">
                            Statistiques
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('stats.index') }}" title="Statistiques Enoria">
                                <i class="fa fa-chart-bar"></i>
                                <span class="menu-title">Statistiques Enoria</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('stats.internal.index') }}" title="Stats administratives">
                                <i class="fa fa-chart-bar"></i>
                                <span class="menu-title">Stats administratives</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_APPLICATION_SHOW') %}
                        <li class="nav-separator">
                            Divers
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('newsletter.index') }}" title="Newsletters">
                                    <i class="fa-solid fa-paper-plane"></i>
                                    <span class="menu-title">Newsletters</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_APPLICATION_SHOW') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('application.index') }}" title="Newsletters">
                                    <i class="fa-solid fa-window-restore"></i>
                                    <span class="menu-title">Applications</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER_SHOW') or is_granted('show_log') %}
                        <li class="nav-separator">
                            Zachée
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('config.index') }}" title="Configuration">
                                <i class="fa fa-cog"></i>
                                <span class="menu-title">Configuration</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER_SHOW') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('users.index') }}" title="Utilisateurs">
                                <i class="fa fa-users-cog"></i>
                                <span class="menu-title">Utilisateurs</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('show_log') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('log.index') }}" title="Journal des actions">
                                <i class="fa fa-coins"></i>
                                <span class="menu-title">Journal des actions</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cron.index') }}" title="Tâches cron">
                                <i class="fa-regular fa-clock"></i>
                                <span class="menu-title">Tâches cron</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main role="main">
            <div class="container-fluid p-1 p-lg-2">
                {% if is_granted('ROLE_ADMIN') and not app.user.isEmailAuthEnabled and not app.user.isTextAuthEnabled and not app.user.isGoogleAuthenticatorEnabled %}
                    <p class="alert alert-warning">
                        <i class="fa-solid fa-lock"></i> Il est vivement recommandé d’activer l’authentification à deux facteurs (2FA)
                    </p>
                {% endif %}
                {{ include('_part/_alerts.html.twig') }}
                {% block body %}{% endblock %}
                <div class="mt-1 text-center">
                    <p class="mt-auto">
                        <a href="{{ path('legal') }}">Mentions légales</a>
                        –
                        <a href="{{ path('privacy-policy') }}">Politique de confidentialité</a>
                        –
                        <a href="{{ path('cgu') }}">Conditions Générales d’Utilisation</a>
                    </p>
                </div>
            </div>
        </main>

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
    </body>
    <!--
      @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
      @license AGPL-3.0

      This file is part of Zachée Association Enoria.

      Zachée Association Enoria is free software: you can redistribute it and/or
      modify it under the terms of the GNU Affero Public License as
      published by the Free Software Foundation, either version 3 of the
      License, or any later version.

      Zachée Association Enoria is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero Public License for more details.

      You should have received a copy of the GNU Affero Public License
      along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
     -->
</html>
