<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    <title>{% block title %}Zachée{% endblock %} - Association Enoria</title>

    <link rel="apple-touch-icon" href="/assets/images/new-logo-sans-texte.png">
    <link rel="icon" sizes="192x192" href="/assets/images/new-logo-sans-texte.png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('main') }}
    {{ encore_entry_link_tags('empty') }}
    {{ encore_entry_link_tags('empty-card') }}

    {% block stylesheets %}
    {% endblock %}
</head>

<body>
<main role="main">
    <div class="content-center card">
        {{ include('_part/_alerts.html.twig') }}
        {% block body %}{% endblock %}
    </div>

    <footer class="copyright">
        <p class="text-center text-white">
            <a href="mailto:support@enoria.app?subject=[Zachée] Demande de support">
                <i class="fas fa-envelope"></i> Contacter le support
            </a>
        </p>
        <p class="text-center text-white">
            <a href="{{ path('public.legal') }}">Mentions légales</a>
            –
            <a href="{{ path('public.privacy-policy') }}">Politique de confidentialité</a>
            –
            <a href="{{ path('public.cgu') }}">Conditions Générales d’Utilisation</a>
        </p>
        <p class="text-center text-white">
            Association Enoria <em>Zachée {{ include('_part/_version_app.html.twig') }}</em> {{ 'now'|date('Y') }}
        </p>
    </footer>
</main>

{{ encore_entry_script_tags('app') }}

{% block javascripts %}
{% endblock %}
</body>
<!--
  @copyright Copyright (c) 2020 Grégoire OLIVEIRA SILVA <gregoire@theo-net.org>
  @license AGPL-3.0

  This file is part of Zachée Association Enoria.

  Zachée Association Enoria is free software: you can redistribute it and/or
  modify it under the terms of the GNU Affero Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or any later version.

  Zachée Association Enoria is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero Public License for more details.

  You should have received a copy of the GNU Affero Public License
  along with Enoria.  If not, see <https://www.gnu.org/licenses/>.
 -->
</html>
