{% extends 'base.html.twig' %}

{% block title %}Associer une facturation SMS à une demande de paiement{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-sms"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Associer une facturation SMS à une demande de paiement</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('accounting.sms.index') }}" class="btn btn-primary">
                                    <i class="fa-solid fa-rotate-left"></i> Revenir à la facturation des SMS
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <p class="text-bold-700">Associez une facturation SMS à une demande de paiement existante</p>
                <p>
                    Vous pouvez choisir une demande de paiement respectant les critères suivants&nbsp;:
                </p>
                <ul>
                    <li>appartenant à la période en cours</li>
                    <li>associée à aucune autre facturation SMS</li>
                    <li>associée à aucune adhésion ou demande de complément</li>
                </ul>
            </div>
        </div>

        <div class="col">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            <div class="card border-success">
                <div class="card-body">
                    <h2 class="card-title">{{ smsBilling.ref }}</h2>
                    <p>
                        <span class="badge bg-secondary">{{ smsBilling.entity.instance }}</span> {{ smsBilling.entity }}
                    </p>
                    <div class="row">
                        <p class="col">
                            le {{ smsBilling.date|date('d/m/Y') }}
                        </p>
                        <p class="col">
                            pour {{ smsBilling.total }} SMS
                        </p>
                        <p class="col">
                            {{ (smsBilling.total * 0.07)|format_currency('EUR') }}<br>
                            {% if smsBilling.paid %}
                                <span class="badge bg-success">Payé</span>
                            {% else %}
                                <span class="badge bg-danger">Non payé</span>
                            {% endif %}
                        </p>
                    </div>
                    {{ form_row(form.paymentRequest) }}
                </div>
            </div>

            <p class="text-center">
                <a href="{{ path('accounting.sms.index') }}" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Annuler
                </a>
                <button class="btn btn-success">
                    <i class="fa-solid fa-link"></i>
                    Associer
                </button>
            </p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
