{% extends 'base.html.twig' %}

{% block title %}Créer une demande de paiement pour une facturation SMS{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-sms"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Créer une demande de paiement pour une facturation SMS</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('accounting.sms.index') }}" class="btn btn-primary">
                                    <i class="fa-solid fa-rotate-left"></i> Revenir à la facturation des SMS
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <p class="text-bold-700">Créer une demande de paiement pour une facturation SMS</p>
                <p>
                    En validant la création, une demande de paiement sera créée et associée à la facturation SMS. À
                    l’étape suivante, en générant le PDF, la référence sera mise-à-jour.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="card border-success">
                <div class="card-body">
                    <h2 class="card-title">{{ smsBilling.ref }}</h2>
                    <p>
                        <span class="badge bg-secondary">{{ smsBilling.entity.instance }}</span> {{ smsBilling.entity }}
                    </p>
                    <div class="row">
                        <p class="col">
                            le {{ smsBilling.date|date('d/m/Y') }}
                        </p>
                        <p class="col">
                            pour {{ smsBilling.total }} SMS
                        </p>
                        <p class="col">
                            {{ (smsBilling.total * 0.07)|format_currency('EUR') }}<br>
                            {% if smsBilling.paid %}
                                <span class="badge bg-success">Payé</span>
                            {% else %}
                                <span class="badge bg-danger">Non payé</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <form class="d-inline-block" method="post" action="{{ path('accounting.sms.create', {id: smsBilling.id}) }}">
                <p class="text-center">
                    <a href="{{ path('accounting.sms.index') }}" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Annuler
                    </a>
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="_token" value="{{ csrf_token('create' ~ smsBilling.id) }}">
                    <button class="btn btn-success">
                        <i class="fa-solid fa-plus"></i>
                        Créer
                    </button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
