{% extends 'base.html.twig' %}

{% block title %}Facturation des SMS{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-solid fa-sms"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Facturation des SMS</h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('accounting.index') }}" class="btn btn-primary text-white"><i class="fa-solid fa-rotate-left"></i> Revenir à la comptabilité</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div>
                        <p class="float-start mb-0">
                            <strong>Instances dont l’association gère la refacturation des SMS&nbsp;:</strong>
                            {% for instance in instances %}
                                <span class="badge bg-secondary">{{ instance.name }}</span>
                            {% else %}
                                <em>Aucune</em>
                            {% endfor %}
                        </p>
                        <p class="float-end mb-0">
                            <a href="{{ path('accounting.sms.sync') }}" class="btn btn-outline-success">
                                <i class="fa-solid fa-rotate"></i>
                                Synchroniser
                            </a>
                        </p>
                    </div>
                    <p class="mt-2 mb-0 text-info">
                        Si une demande de paiement est associée, la référence côté Enoria sera mise-à-jour, ainsi que son état (payé / non payé)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table" id="smsBilling">
                        <thead>
                            <tr>
                                <th class="text-center">Date</th>
                                <th>Entité</th>
                                <th>Réf.</th>
                                <th>Nombre SMS</th>
                                <th>Montant<br><small><em>État dans Enoria</em></small></th>
                                <th>Demande de paiement</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sms in smsBilling %}
                                <tr>
                                    <td data-order="{{ sms.date|date('Y-m-d') }}">
                                        {% if sms.exist %}
                                            {{ sms.date|date('d/m/Y') }}
                                        {% else %}
                                            <del>{{ sms.date|date('d/m/Y') }}</del>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if sms.exist %}
                                            <span class="badge bg-secondary">{{ sms.entity.instance }}</span> {{ sms.entity }}
                                        {% else %}
                                            <del><span class="badge bg-secondary">{{ sms.entity.instance }}</span> {{ sms.entity }}</del>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if sms.exist %}
                                            {{ sms.ref }}
                                        {% else %}
                                            <del>{{ sms.ref }}</del>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if sms.exist %}
                                            {{ sms.total }}
                                        {% else %}
                                            <del>{{ sms.total }}</del>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {{ (sms.total * 0.07)|format_currency('EUR') }}<br>
                                        {% if sms.paid %}
                                            <span class="badge bg-success">Payé</span>
                                        {% else %}
                                            <span class="badge bg-danger">Non payé</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if sms.paymentRequest is null %}
                                            <a href="{{ path('accounting.sms.create', {id: sms.id}) }}">
                                                <em>créer</em>
                                            </a> /
                                            <a href="{{ path('accounting.sms.associate', {id: sms.id}) }}">
                                                <em>associer</em>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('accounting.payment_request.show', {id: sms.paymentRequest.id}) }}">
                                                {% if sms.paymentRequest.amount > sms.paymentRequest.amountPaid %}
                                                    <span class="text-danger">{{ sms.paymentRequest.amount|format_currency('EUR') }}<br>
                                                        Reste&nbsp;: {{ (sms.paymentRequest.amount - sms.paymentRequest.amountPaid)|format_currency('EUR') }}
                                                    </span>
                                                {% else %}
                                                    <span class="text-success">{{ sms.paymentRequest.amount|format_currency('EUR') }}</span><br>
                                                    <span class="badge bg-success">Réglée</span>
                                                {% endif %}
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </a>
                                            <form id="dissociate_form_{{ sms.id }}" class="d-inline-block" method="post" action="{{ path('accounting.sms.dissociate', {id: sms.id}) }}">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sms.id) }}">
                                                <a class="btn p-0 text-danger" rel="tooltip" title="Dissocier la demande de paiement">
                                                    <i class="fa-solid fa-link-slash"></i>
                                                </a>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        new DataTable('#smsBilling', {
            'pageLength': 50,
            'responsive': true,
            'searching': true,
            'order': [0, 'desc'],
        });

        {% for sms in smsBilling %}
        deleteAlert(
            '#dissociate_form_{{ sms.id }}',
            'Êtes-vous sûr de vouloir dissocier cette demande de paiement ?',
            'La demande de paiement ne sera ni supprimée ni annulée'
        );
        {% endfor %}
    </script>
{% endblock %}
