{{ name }}<br>
{% if address is not null %}
    {{ address.addressLineA }}<br>
    {% if address.addressLineB %}
        {{ address.addressLineB }}<br>
    {% endif %}
    {{ address.postalCode }} {{ address.city|upper }}<br>
    {% if address.country != 'FR' %}{{ address.country|country_name|upper}}{% endif %}
{% endif %}
