<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Association Enoria{% endblock %}</title>
    <style>
        @page {
            margin: 2cm;
        }

        html {
            box-sizing: border-box;
            font-size: 12pt;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }

        #header {
            position: absolute;
            top: -1cm;
            left: -1cm;
        }
        #header img {
            float: left;
            width: 4.50cm;
            height: 1.81cm
        }
        #header .asso-address {
            margin-top: 1cm;
        }
        #header .grey em {
            font-size: 8pt;
        }

        #address {
            position: absolute;
            z-index: 100;
            top: 2.5cm;
            left: 7.8cm;
            width: 8.8cm;
            height: 3.30cm;
            padding: 0.5cm;
            border: 1pt solid #669966;
            font-size: 14pt;
        }

        #date {
            margin-top: 7.5cm;
            margin-left: 7.8cm;
        }

        #object {
            margin-top: 1.5cm;
        }

        main {
            margin-left: 1.5cm;
            margin-right: 1.5cm;
            text-align: justify;
            word-break: break-all;
        }
        main a {
            color: #505050 !important;
        }
        main p {
            margin-top: 0.5cm;
            text-align: justify;
        }
        main ul {
            list-style: none;
        }
        main ul > li:before {
            content: "–";
            margin-right: 1em;
        }

        #signature {
            margin-top: 1cm;
            margin-left: 11cm;
            page-break-inside: avoid !important;
        }

        #signature img {
            margin-top: 0.5cm;
        }

        #line {
            position: fixed;
            top: 8cm;
            left: -2cm;
            width: 1.5cm;
            height: 1pt;
            background-color: #669966;
        }

        footer {
            position: fixed;
            bottom: 0;
            text-align: center;
        }

        .grey {
            color: #808080!important;
        }
        .center {
            text-align: center;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="line"></div>
<div id="header">
    <img src="{{ rootDirectory }}/public/assets/images/new-logo.png" alt="Logo de l’Association Enoria">
    <p class="asso-address">
        43 rue Duguay<br>
        95100 Argenteuil
    </p>
    <p class="grey">
        Association loi 1901<br>
        <em>enregistrée sous le n<sup>o</sup> W772009489</em>
    </p>
</div>

<div id="address">
    {% block address %}{% endblock %}
</div>

<div id="date">
    {% block date %}{% endblock %}
</div>

<div id="object">
    {% block object %}{% endblock %}
</div>

<main>
    {% block body %}
    {% endblock %}
</main>

<div id="signature">
    {% block signature %}{% endblock %}
</div>

<footer>
    <p>
        <a class="grey" href="https://www.association-enoria.org">https://www.association-enoria.org</a>
    </p>
</footer>
</body>
</html>
