{% extends 'pdf/letter.pdf.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .receiptNumber {
            font-size: 20pt;
        }

        .receipt_lines {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .receipt_lines th {
            border: 1px solid black;
            text-align: center;
            padding: 10px;
        }

        .receipt_lines td {
            border: 1px solid black;
            padding: 10px;
        }

        .receipt_lines .description {
            text-align: left;
        }

        .receipt_lines .amount {
            text-align: right;
        }
    </style>
{% endblock %}

{% block address %}
    {% if receipt.payment.organization %}
        {{ include('pdf/_address_block.pdf.twig', {name: receipt.payment.organization.name, address: receipt.payment.organization.address}) }}
    {% else %}
        {{ include('pdf/_address_block.pdf.twig', {name: receipt.payment.person.title ~ ' ' ~ receipt.payment.person.lastname|upper ~ ' ' ~ receipt.payment.person.firstname, address: receipt.payment.person.address}) }}
    {% endif %}
{% endblock %}

{% block date %}Argenteuil, le {{ receipt.payment.datetime|format_date(pattern="d MMMM Y") }}{% endblock %}

{% block object %}
    <strong class="receiptNumber">Reçu n<sup>o</sup> {{ receipt.ref }}</strong>
{% endblock %}

{% block body %}
    {% if receipt.payment.organization %}
        {% set organization_name = receipt.payment.organization.name %}
    {% else %}
        {% set organization_name = receipt.payment.person.title ~ ' ' ~ receipt.payment.person.lastname|upper ~ ' ' ~ receipt.payment.person.firstname %}
    {% endif %}

    <p>
        Nous reconnaissons avoir reçu de <b>{{ organization_name }}</b> la somme de <b>{{ receipt.payment.amount|format_currency('EUR') }}</b>
        ({{ ('payment.type.' ~ receipt.payment.type)|trans([], 'accounting')|lower }}
        {%- if receipt.payment.type == 'check' -%}
            <em>
                {{ receipt.payment.checkBank }}
                n<sup>o</sup>{{ receipt.payment.checkNumber }}
            </em>
        {%- endif -%}
        ) le {{ receipt.payment.datetime|format_date(pattern="d MMMM y") }}.
    </p>
    <p>
        <i>En règlement de :</i>

    <table class="receipt_lines" style="width:100%">
        <thead>
        <tr>
            <th>Dénomination</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        {% for paymentAllocation in receipt.payment.paymentAllocations %}
        <tr>
            {% if paymentAllocation.paymentRequest.membership
                and (
                    (receipt.payment.person is not null and receipt.payment.person == paymentAllocation.paymentRequest.membership.person)
                    or (receipt.payment.organization is not null and receipt.payment.organization == paymentAllocation.paymentRequest.membership.organization)
                )
            %}
                <td class="description">Cotisation annuelle {{ paymentAllocation.paymentRequest.membership.period.start|format_date(pattern="y") }}</td>
            {% else %}
                <td class="description">{{ paymentAllocation.paymentRequest.description }}</td>
            {% endif %}
            <td class="amount">{{ paymentAllocation.amount|format_currency('EUR') }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td class="amount"><strong>Total</strong></td>
            <td class="amount"><strong>{{ receipt.payment.amount|format_currency('EUR') }}</strong></td>
        </tr>
        </tbody>
    </table>
    </p>
{% endblock %}

{% block signature %}
    {{ include('pdf/_signatureTreasurer.twig') }}
{% endblock %}

