{% if membership.helpRequest %}
    {% if membership.helpStatus == 'await_info' %}
        <span class="badge bg-danger">En attente d’informations</span>
    {% elseif membership.helpStatus == 'await_ca' %}
        <span class="badge bg-warning">En attente de décision</span>
    {% elseif membership.helpStatus == 'accepted' %}
        <span class="badge bg-success">Acceptée</span>
    {% elseif membership.helpStatus == 'refused' %}
        <span class="badge bg-dark">Refusée</span>
    {% else %}
        <span class="badge bg-danger">Non traitée</span>
    {% endif %}
{% endif %}
