{% extends 'base.html.twig' %}

{% block title %}Adhésions {% if cancel %}annulées{% else %}en cours{% endif %}{% endblock %}

{% block body %}
    <div class="row" id="top-header">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-{% if cancel %}danger{% else %}blue{% endif %}">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clipboard-list"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Adhésions {% if cancel %}annulées{% else %}en cours{% endif %}</h1>
                            </div>
                            <div class="media-btn-group">
                                {% if cancel %}
                                    <a href="{{ path('membership_request.index') }}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Retourner à la liste des adhésions</a>
                                {% else %}
                                    {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
                                        <a href="{{ path('membership_request.new') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Nouvelle adhésion</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="text-center">
                <a href="#legal-list" class="btn btn-outline-primary"><i class="fa fa-clone"></i> Personnes morales</a>
            </p>
        </div>
        {% if naturalPersons|length > 0 %}
            <div class="col">
                <p class="text-center">
                    <a href="#natural-list" class="btn btn-outline-primary"><i class="fa fa-address-book"></i> Personnes physiques</a>
                </p>
            </div>
        {% endif %}
        <div class="col">
            <p class="text-center">
                <a href="{{ path('membership_request.cancel_list') }}" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Voir les adhésions annulées</a>
            </p>
        </div>
        {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
            <div class="col">
                <p class="text-center">
                    <a href="{{ path('membership_request.renew.index') }}" class="btn btn-outline-warning"><i class="fas fa-paste"></i> Renouvellement</a>
                </p>
            </div>
            {% if form is defined %}
            <div class="col">
                <p class="text-center">
                    <a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#collapseUpdateStatus" role="button" aria-expanded="false" aria-controls="collapseUpdateStatus">
                        <i class="fa-solid fa-server"></i> Mettre à jour le statut d’une entité
                    </a>
                </p>
            </div>
            {% endif %}
        {% endif %}
    </div>

    {% if form is defined %}
    <div class="row collapse" id="collapseUpdateStatus">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Mettre à jour le statut d’une entité</h2>
                    {{ include('entity/_formUpdateStatus.html.twig') }}
                    <p class="text-info">
                        Toutes les nuits, le statut des entités est mis à jour selon les conditions suivantes&nbsp;:
                    </p>
                    <ul class="text-info">
                        <li>Si non payé et demande supérieure à un mois&nbsp;: <code>Retard de paiement</code></li>
                        <li>Sinon, si non payé&nbsp;: <code>Attente de paiement</code></li>
                        <li>Sinon, si informations non validées&nbsp;: <code>Attente infos</code></li>
                        <li>Sinon&nbsp;: <code>Actif</code></li>
                    </ul>
                    <p class="info">
                        Les entités avec le statut <code>Désactivé</code> ne sont pas mises à jour.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row" id="legal-list">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <h2 class="card-title col-12 col-lg-5"><i class="fa fa-clone"></i> Demandes d’adhésion <em>Personnes morales</em></h2>
                        <div class="col-12 col-lg-7 text-end">
                            <button id="mailRenewLegal" class="btn btn-outline-info"><i class="fas fa-at"></i> Mail auto aux renouvelants sélectionnés</button>
                            <a href="{{ path('membership_request.mailall', {type: 'legal'}) }}" id="mailRenewAllLegal" class="btn btn-outline-success me-1"><i class="fas fa-shipping-fast"></i> Mail auto aux renouvelants</a>
                            <div data-enoria-type="organization" data-enoria-for="legalList" class="toolbar float-end"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                Filtres
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <select class="form-select legal-list-filter" data-target-column="0" aria-label="Primo-adhésion">
                                            <option value=""><i>Primo-adhésion</i></option>
                                            <option value="membership-first">Oui</option>
                                            <option value="membership-renew">Non</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-select legal-list-filter" data-target-column="2" aria-label="Entité créée">
                                            <option value=""><i>Entité créée</i></option>
                                            <option value="1">Oui</option>
                                            <option value="0">Non</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-select legal-list-filter" data-target-column="3" aria-label="Informations saisies">
                                            <option value=""><i>Informations saisies</i></option>
                                            <option value="1">Validées</option>
                                            <option value="2">À valider</option>
                                            <option value="0">Non saisies</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-select legal-list-filter" data-target-column="4" aria-label="Fiche transmise">
                                            <option value=""><i>Fiche</i></option>
                                            <option value="3">Validée</option>
                                            <option value="1">À valider</option>
                                            <option value="2">Non transmise</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-select legal-list-filter" data-target-column="6" aria-label="Payé intégralement">
                                            <option value=""><i>Payé intégralement</i></option>
                                            <option value="yes">Oui</option>
                                            <option value="no">Non</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-select legal-list-filter" data-target-column="1" aria-label="Relances activées">
                                            <option value=""><i>Relances activées</i></option>
                                            <option value="reminder-on">Oui</option>
                                            <option value="reminder-off">Non</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="legalList" class="table table-striped table-bordered table-middle text-center" data-order="[[1, &quot;desc&quot;]]">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Notes</th>
                            <th>Entité</th>
                            <th>Info.</th>
                            <th>Fiche</th>
                            <th>Aide</th>
                            <th>Cotisation</th>
                            {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}<th>Actions</th>{% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for membership in legalPersons %}
                            <tr data-organization-id="{{ membership.organization.id }}" data-membership-id="{{ membership.id }}">
                                <td class="text-start"
                                    data-order="{{ membership.organization.name }}"
                                    data-search="{{ membership.organization.name }} {% if membership.first %}membership-first{% else %}membership-renew{% endif %}"
                                >
                                    <a href="{{ path('organization.show', {id: membership.organization.id}) }}">{{ membership.organization.name }}</a>
                                    {% if membership.type != 'member' %}
                                        <br><span class="badge bg-info">{{ membership.type|trans([], 'membership') }}</span>
                                    {% endif %}
                                    {% if not membership.first %}
                                        <br><span class="badge bg-light text-secondary">Renouvellement</span>
                                    {% endif %}
                                </td>
                                <td
                                    data-order="{{ membership.createdAt|date("Y") != '-0001' ? membership.createdAt|date("Y/m/d") : membership.updatedAt|date("Y/m/d") }}"
                                    data-search="{% if membership.lastReminder is not null and membership.lastReminder|date("Y") != '-0001' and membership.reminderEnabled %}reminder-on{% else %}reminder-off{% endif %}"
                                >
                                    {% if membership.createdAt|date("Y") != '-0001' %}
                                        <span class="text-success">Créée le {{ membership.createdAt|date("d/m/Y") }}</span><br>
                                    {% endif %}
                                    {% if membership.updatedAt|date("Y") != '-0001' %}
                                        <span class="text-info">Maj le {{ membership.updatedAt|date("d/m/Y") }}</span><br>
                                    {% endif %}
                                    {% if membership.lastReminder is not null and membership.lastReminder|date("Y") != '-0001' %}
                                        <span class="text-warning">Relance le {{ membership.lastReminder|date("d/m/Y") }}</span>
                                        {% if not membership.reminderEnabled %}
                                        <i class="fa-solid fa-pause text-warning"></i>
                                        {% endif %}<br>
                                    {% endif %}
                                    {{ membership.notes|nl2br }}
                                </td>
                                <td data-name="request_entity_created" data-search="{% if membership.entity %}1{% else %}0{%endif%}">
                                    {% if membership.hosting == 'self' %}
                                        <span class="badge bg-info"><i class="fa-solid fa-server"></i></span>
                                    {% elseif membership.entity %}
                                        <span class="badge bg-success" title="{{ membership.entity.instance }} : {{ membership.entity }}">
                                            <i class="fa-solid fa-clipboard-check"></i>
                                        </span>
                                        {% if membership.entity.status != 'A' %}
                                            {{ include('entity/_status.html.twig', {status: membership.entity.status}) }}
                                        {% endif %}
                                    {% else %}
                                        <span class="badge bg-danger"><i class="fa-solid fa-clipboard"></i></span>
                                    {% endif %}
                                </td>
                                <td data-search="{% if membership.informationValidated %}1{% elseif membership.informationSubmitted %}2{% else %}0{%endif%}"
                                    data-order="{% if membership.informationValidated %}1{% elseif membership.informationSubmitted %}2{% else %}0{%endif%}"
                                >
                                    {% if membership.informationValidated %}
                                      <i class="fa-solid fa-square-check fa-2x success"></i>
                                    {% elseif membership.informationSubmitted %}
                                        <i class="fa-solid fa-magnifying-glass-plus warning fa-2x"></i>
                                    {% else %}
                                        <i class="fa-solid fa-square-xmark danger fa-2x"></i>
                                    {% endif %}
                                </td>
                                <td data-order="{% if membership.sheet %}{% if membership.sheetValidated %}3{% else %}1{% endif %}{% else %}2{% endif %}"
                                    data-search="{% if membership.sheet %}{% if membership.sheetValidated %}3{% else %}1{% endif %}{% else %}2{% endif %}">
                                    {% if membership.sheet %}
                                        <a href="{{ path('show_uploads.sheet', {sheet: membership.sheet}) }}" target="_blank">
                                            {% if membership.sheetValidated %}
                                                <i class="fa-solid fa-square-check fa-2x success"></i>
                                            {% else %}
                                                <i class="fa-solid fa-magnifying-glass-plus warning fa-2x"></i>
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <i class="fa-solid fa-square-xmark danger fa-2x"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ include('membership/request/_help_status_badge.html.twig') }}
                                </td>
                                <td data-order="{{ membership.membershipFee > membership.paymentRequest.amountPaid ? (membership.membershipFee - membership.paymentRequest.amountPaid) : 0 }}"
                                    data-search="{{ membership.membershipFee - membership.paymentRequest.amountPaid }} {{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR') }} {% if membership.membershipFee > membership.paymentRequest.amountPaid %}no{% else %}yes{% endif %}"
                                >
                                    {% if is_granted('ROLE_ACCOUNTING') %}<a href="{{ path('accounting.payment_request.show', {id: membership.paymentRequest.id}) }}">{% endif %}
                                    {% if membership.membershipFee > membership.paymentRequest.amountPaid %}
                                        <span class="badge bg-danger">{{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR') }}</span>
                                    {% else %}
                                        <span class="badge bg-success"><i class="fa-solid fa-euro-sign"></i></span>
                                    {% endif %}
                                    {% if is_granted('ROLE_ACCOUNTING') %} <i class="fa-solid fa-magnifying-glass"></i></a>{% endif %}
                                </td>
                                {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
                                    <td>
                                        <a class="btn btn-warning btn-sm" rel="tooltip" title="Modifier une demande d’adhésion" href="{{ path('membership_request.edit', {'id': membership.id}) }}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-info btn-sm" rel="tooltip" title="Envoyer le mail de suivi d’adhésion" href="{{ path('membership_request.mail', {'id': membership.id}) }}">
                                            <i class="fa fa-envelope"></i>
                                        </a>

                                        {% if membership.token %}
                                            <a class="btn btn-info btn-sm" rel="tooltip" title="Voir la page de suivi d’adhésion" href="{{ path('membership_public.show', {'token': membership.token}) }}">
                                                <i class="fa fa-external-link-alt"></i>
                                            </a>
                                        {% endif %}
                                        {% if cancel %}
                                            <a class="btn btn-success btn-sm" rel="tooltip" title="Réactiver l’adhésion" href="{{ path('membership_request.uncancel', {'id': membership.id}) }}">
                                                <i class="fa fa-trash-restore"></i>
                                            </a>
                                        {% else %}
                                            {% if membership.canValidate %}
                                                <a class="btn btn-success btn-sm" rel="tooltip" title="Valider l’adhésion" href="{{ path('membership_request.validate', {'id': membership.id}) }}">
                                                    <i class="fa fa-clipboard-check"></i>
                                                </a>
                                            {% endif %}
                                            <a class="btn btn-danger btn-sm" rel="tooltip" title="Annuler l’adhésion" href="{{ path('membership_request.cancel', {'id': membership.id}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            {% if membership.lastReminder is not null and membership.lastReminder|date("Y") != '-0001' %}
                                                {% if membership.reminderEnabled %}
                                                    <a class="text-warning" rel="tooltip" title="Mettre en pause les relances" href="{{ path('membership_request.toggle-reminder', {'id': membership.id}) }}">
                                                        <i class="fa-solid fa-rotate-right"></i> <i class="fa-solid fa-pause"></i>
                                                    </a>
                                                {% else %}
                                                    <a class="text-success" rel="tooltip" title="Réactiver les relances" href="{{ path('membership_request.toggle-reminder', {'id': membership.id}) }}">
                                                        <i class="fa-solid fa-rotate-right"></i> <i class="fa-solid fa-play"></i>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="mb-0"><a href="#top-header" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-up"></i> Revenir en haut</a></p>
                </div>
            </div>
        </div>
    </div>

    {% if naturalPersons|length > 0 %}
        <div class="row" id="natural-list">
            <div class="col">
                <div class="card">
                    <div class="card-body table-responsive">
                        <div class="row">
                            <h2 class="card-title col-12 col-lg-5"><i class="fa fa-address-book"></i> Demandes d’adhésion <em>Personnes physiques</em></h2>
                            <div class="col-12 col-lg-7 text-end">
                                <button id="mailRenewNatural" class="btn btn-outline-info"><i class="fas fa-at"></i> Mail auto aux renouvelants sélectionnés</button>
                                <a href="{{ path('membership_request.mailall', {type: 'natural'}) }}" id="mailRenewAllNatural" class="btn btn-outline-success me-1"><i class="fas fa-shipping-fast"></i> Mail auto aux renouvelants</a>
                                <div data-enoria-type="person" data-enoria-for="naturalList" class="toolbar float-end"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="card-header">
                                    Filtres
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-select natural-list-filter" data-target-column="0" aria-label="Primo-adhésion">
                                                <option value=""><i>Primo-adhésion ?</i></option>
                                                <option value="membership-first">Oui</option>
                                                <option value="membership-renew">Non</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select class="form-select natural-list-filter" data-target-column="2" aria-label="Informations saisies">
                                                <option value=""><i>Informations saisies</i></option>
                                                <option value="1">Validées</option>
                                                <option value="2">A valider</option>
                                                <option value="0">Non saisies</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select class="form-select natural-list-filter" data-target-column="3" aria-label="Fiche transmise">
                                                <option value=""><i>Fiche</i></option>
                                                <option value="3">Validée</option>
                                                <option value="1">À valider</option>
                                                <option value="2">Non transmise</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select class="form-select natural-list-filter" data-target-column="5" aria-label="Payé intégralement">
                                                <option value=""><i>Payé intégralement</i></option>
                                                <option value="yes">Oui</option>
                                                <option value="no">Non</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select class="form-select natural-list-filter" data-target-column="1" aria-label="Relances activées">
                                                <option value=""><i>Relances activées</i></option>
                                                <option value="reminder-on">Oui</option>
                                                <option value="reminder-off">Non</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="naturalList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Notes</th>
                                <th>Informations</th>
                                <th>Fiche</th>
                                <th>Aide</th>
                                <th>Cotisation</th>
                                {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}<th>Actions</th>{% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for membership in naturalPersons %}
                                <tr data-person-id="{{ membership.person.id }}" data-membership-id="{{ membership.id }}">
                                    <td class="text-start"
                                        data-order="{{ membership.person.lastname }} {{ membership.person.firstname }}"
                                        data-search="{{ membership.person.getFullname() }} {% if membership.first %}membership-first{% else %}membership-renew{% endif %}"
                                    >
                                        <a href="{{ path('person.show', {id: membership.person.id}) }}">{{ membership.person.getFullname(false, true) | raw }}</a>
                                        {% if membership.type != 'member' %}
                                            <br><span class="badge bg-info">{{ membership.type|trans([], 'membership') }}</span>
                                        {% endif %}
                                        {% if not membership.first %}
                                            <br><span class="badge bg-light text-secondary">Renouvellement</span>
                                        {% endif %}
                                    </td>
                                    <td
                                        data-order="{{ membership.createdAt|date("Y") != '-0001' ? membership.createdAt|date("Y/m/d") : membership.updatedAt|date("Y/m/d") }}"
                                        data-search="{% if membership.lastReminder is not null and membership.lastReminder|date("Y") != '-0001' and membership.reminderEnabled %}reminder-on{% else %}reminder-off{% endif %}"
                                    >
                                        <p class="m-0">
                                            {% if membership.createdAt|date("Y") != '-0001' %}
                                                <span class="text-success">Créée le {{ membership.createdAt|date("d/m/Y") }}</span><br>
                                            {% endif %}
                                            {% if membership.updatedAt|date("Y") != '-0001' %}
                                                <span class="text-info">Maj le {{ membership.updatedAt|date("d/m/Y") }}</span><br>
                                            {% endif %}
                                            {% if membership.lastReminder is not null and membership.lastReminder|date("Y") != '-0001' %}
                                                <span class="text-warning">Relance le {{ membership.lastReminder|date("d/m/Y") }}</span>
                                                {% if not membership.reminderEnabled %}
                                                    <i class="fa-solid fa-pause text-warning"></i>
                                                {% endif %}<br>
                                            {% endif %}
                                            {{ membership.notes|nl2br }}
                                        </p>
                                        {% if is_granted('ROLE_BASIC_SHOW') %}
                                            {% if membership.person.memberGroups|length > 0 %}
                                                <p class="mt-1 mb-0">
                                                    {% for group in membership.person.memberGroups %}
                                                        <span class="badge bg-secondary">{{ group }}</span>
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td data-search="{% if membership.informationValidated %}1{% elseif membership.informationSubmitted %}2{% else %}0{%endif%}"
                                        data-order="{% if membership.informationValidated %}1{% elseif membership.informationSubmitted %}2{% else %}0{%endif%}"
                                    >
                                        {% if membership.informationValidated %}
                                            <span class="badge bg-success">Validées</span>
                                        {% elseif membership.informationSubmitted %}
                                            <span class="badge bg-warning">Informations à valider</span>
                                        {% else %}
                                            <span class="badge bg-danger">Non saisies</span><br>
                                        {% endif %}
                                    </td>
                                    <td data-order="{% if membership.sheet %}{% if membership.sheetValidated %}3{% else %}1{% endif %}{% else %}2{% endif %}"
                                        data-search="{% if membership.sheet %}{% if membership.sheetValidated %}3{% else %}1{% endif %}{% else %}2{% endif %}">
                                        {% if membership.sheet %}
                                            <a href="{{ path('show_uploads.sheet', {sheet: membership.sheet}) }}" target="_blank">
                                                {% if membership.sheetValidated %}
                                                    <i class="fa-solid fa-square-check fa-2x success"></i>
                                                {% else %}
                                                    <i class="fa-solid fa-magnifying-glass-plus warning fa-2x"></i>
                                                {% endif %}
                                            </a>
                                        {% else %}
                                            <i class="fa-solid fa-square-xmark danger fa-2x"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ include('membership/request/_help_status_badge.html.twig') }}
                                    </td>
                                    <td data-order="{{ membership.membershipFee > membership.paymentRequest.amountPaid ? (membership.membershipFee - membership.paymentRequest.amountPaid) : 0 }}"
                                        data-search="{{ membership.membershipFee - membership.paymentRequest.amountPaid }} {{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR') }} {% if membership.membershipFee > membership.paymentRequest.amountPaid %}no{% else %}yes{% endif %}"
                                    >
                                        {% if is_granted('ROLE_ACCOUNTING') %}<a href="{{ path('accounting.payment_request.show', {id: membership.paymentRequest.id}) }}">{% endif %}
                                            {% if membership.membershipFee > membership.paymentRequest.amountPaid %}
                                                <span class="badge bg-danger">{{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR') }}</span>
                                            {% else %}
                                                <span class="badge bg-success"><i class="fa-solid fa-euro-sign"></i></span>
                                            {% endif %}
                                            {% if is_granted('ROLE_ACCOUNTING') %} <i class="fa-solid fa-magnifying-glass"></i></a>{% endif %}
                                    </td>
                                    {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
                                        <td>
                                            <a class="btn btn-warning btn-sm" rel="tooltip" title="Modifier une demande d’adhésion" href="{{ path('membership_request.edit', {'id': membership.id}) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-info btn-sm" rel="tooltip" title="Envoyer le mail de suivi d’adhésion" href="{{ path('membership_request.mail', {'id': membership.id}) }}">
                                                <i class="fa fa-envelope"></i>
                                            </a>

                                            {% if membership.token %}
                                                <a class="btn btn-info btn-sm" rel="tooltip" title="Voir la page de suivi d’adhésion" href="{{ path('membership_public.show', {'token': membership.token}) }}">
                                                    <i class="fa fa-external-link-alt"></i>
                                                </a>
                                            {% endif %}
                                            {% if cancel %}
                                                <a class="btn btn-success btn-sm" rel="tooltip" title="Réactiver l’adhésion" href="{{ path('membership_request.uncancel', {'id': membership.id}) }}">
                                                    <i class="fa fa-trash-restore"></i>
                                                </a>
                                            {% else %}
                                                {% if membership.canValidate %}
                                                    <a class="btn btn-success btn-sm" rel="tooltip" title="Valider l’adhésion" href="{{ path('membership_request.validate', {'id': membership.id}) }}">
                                                        <i class="fa fa-clipboard-check"></i>
                                                    </a>
                                                {% endif %}
                                                <a class="btn btn-danger btn-sm" rel="tooltip" title="Annuler l’adhésion" href="{{ path('membership_request.cancel', {'id': membership.id}) }}">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                                {% if membership.lastReminder is not null and membership.lastReminder|date("Y") != '-0001' %}
                                                    {% if membership.reminderEnabled %}
                                                        <a class="text-warning" rel="tooltip" title="Mettre en pause les relances" href="{{ path('membership_request.toggle-reminder', {'id': membership.id}) }}">
                                                            <i class="fa-solid fa-rotate-right"></i> <i class="fa-solid fa-pause"></i>
                                                        </a>
                                                    {% else %}
                                                        <a class="text-success" rel="tooltip" title="Réactiver les relances" href="{{ path('membership_request.toggle-reminder', {'id': membership.id}) }}">
                                                            <i class="fa-solid fa-rotate-right"></i> <i class="fa-solid fa-play"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    <p class="mb-0"><a href="#top-header" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-up"></i> Revenir en haut</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script defer>
        const legal = new DataTable('#legalList', {
            'pageLength': 50,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
        });
        const natural = new DataTable('#naturalList', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
        });

        document.getElementById('mailRenewLegal').addEventListener('click', () => {
            if (!legal.rows({ selected: true }).nodes().length){
                alert('Vous devez choisir des lignes.');
            } else {
                let url = '{{ path('membership_request.mailall', {type: 'legal'}) }}?m=';
                legal.rows('.selected').nodes().map(item => {
                    url += item.getAttribute('data-membership-id')+',';
                });
                window.location.href = url;
            }
        });
        document.getElementById('mailRenewNatural').addEventListener('click', () => {
            if (!natural.rows({ selected: true }).nodes().length){
                alert('Vous devez choisir des lignes.');
            } else {
                let url = '{{ path('membership_request.mailall', {type: 'natural'}) }}?m=';
                natural.rows('.selected').nodes().map(item => {
                    url += item.getAttribute('data-membership-id')+',';
                });
                window.location.href = url;
            }
        });

        const legalFilters = document.querySelectorAll('.legal-list-filter');
        const naturalFilters = document.querySelectorAll('.natural-list-filter');
        legalFilters.forEach(legalFilter => {
            legalFilter.addEventListener('change', () => {
                legalListFilter();
            });
        });
        naturalFilters.forEach(naturalFilter => {
            naturalFilter.addEventListener('change', () => {
                naturalListFilter();
            });
        });
        function legalListFilter(){
            legalFilters.forEach(legalFilter => {
                legal.column(legalFilter.getAttribute('data-target-column')).search(legalFilter.value);
            });
            legal.draw();
        }
        function naturalListFilter(){
            naturalFilters.forEach(naturalFilter => {
                natural.column(naturalFilter.getAttribute('data-target-column')).search(naturalFilter.value);
            });
            natural.draw();
        }
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
