{% extends 'base.html.twig' %}

{% block title %}Nouvelle adhésion{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-success">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-clipboard-list"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Nouvelle adhésion</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(form) }}

    {% if form.vars.errors is defined %}
        {% for error in form.vars.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error.message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            <div class="card border-success">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-users"></i> Le membre</h2>
                    <p class="alert alert-info">
                        Sélectionner une personne ou une organisation. Cela déterminera également le type de membre
                        (personne physique ou personne morale).
                    </p>
                    {{ form_row(form.person) }}
                    {{ form_row(form.organization) }}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-success">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-cogs"></i> Configuration</h2>
                    <p class="alert alert-info">
                        Le type d’hébergement ne sera pris en compte que pour les personnes morales.
                    </p>
                    {{ form_row(form.type) }}
                    {{ form_row(form.hosting) }}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-success">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-sticky-note"></i> Notes</h2>
                    {{ form_widget(form.notes) }}
                </div>
            </div>
        </div>

        <div class="col-12 text-center">
            <a href="{{ path('membership_request.index') }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-plus"></i> Ajouter
            </button>
        </div>
    </div>
    {{  form_end(form) }}
{% endblock %}
