{% extends 'base.html.twig' %}

{% block title %}Renouvellement des cotisations{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-paste"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Renouvellement des cotisations pour <em>{{ app.user.period }}</em></h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('membership_request.index') }}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Retourner à la liste des adhésions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="renew-membership"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('Renew') }}

    {% if alert %}
    <script defer>
        Swal.fire({
            title: 'Êtes vous-sûr de vouloir faire ceci ?',
            text: 'Vous vous apprêtez à renouveler des adhésions pour une période qui n’a pas encore commencé. Habituellement, nous attendons que l’année débute pour lancer les campagnes de renouvellement.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Oui',
            cancelButtonText: 'Non',
        }).then((result) => {
            if (!result.isConfirmed) {
                window.location = {{ path('membership_request.index') }};
            }
        });
    </script>
    {% endif %}
{% endblock %}
