{% extends 'base.html.twig' %}

{% block title %}Tâches cron{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Tâches cron</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Dernière tâche cron</h2>
                    {% if cronLogs|length > 0 %}
                        <div class="row mb-1">
                            <div class="col-8">
                                <p>{% set finalResult = 'success' %}
                                {% for task, result in cronLogs[0].result %}
                                    <span class="badge bg-{% if result == 'success' %}success{% elseif result == 'skip' %}light{% else %}danger{% endif %}">{{ task }}</span>
                                    {% if result != 'success' and result != 'skip' %}{% set finalResult = 'danger' %}{% endif %}
                                {% endfor %}</p>
                                <p class="text-center display-6">
                                    Exécutée le {{ cronLogs[0].datetime|date('d/m/Y à H:i') }}
                                </p>
                            </div>
                            <div class="col-4">
                                <div class="p-2 m-auto text-white" style="width: 7em">
                                    <i class="fa-solid fa-square-{% if finalResult == 'success' %}check{% else %}xmark{% endif %} fa-6x {{ finalResult }}"></i>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p class="text-center"><em>Aucune tâche exécutée</em></p>
                    {% endif %}
                </div>
            </div>
            <p class="text-center">
                Légende&nbsp;: <span class="badge bg-success">Tâche réussie</span> <span class="badge bg-light">Tâche non exécutée</span> <span class="badge bg-danger">Tâche échouée</span>
            </p>
        </div>

        <div class="col col-lg-8">
            <div class="card">
                <div class="card-body table-responsive">
                    <h2 class="card-title">État des dernières tâches cron</h2>
                    <div class="datatable-wide">
                        <table id="cronLogList" class="table table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th class="text-center">Date</th>
                                <th>Tâches</th>
                                <th>Statut</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in cronLogs  %}
                                <tr>
                                    <td data-order="{{ log.datetime|date("U") }}" class="text-center">
                                        <a href="#">{{ log.datetime|date("d/m/Y H:i") }}</a>
                                    </td>
                                    <td>
                                        {% set finalResult = 'success' %}
                                        {% for task, result in log.result %}
                                            <span class="badge bg-{% if result == 'success' %}success{% elseif result == 'skip' %}light{% else %}danger{% endif %}">{{ task }}</span>
                                            {% if result != 'success' and result != 'skip' %}{% set finalResult = 'danger' %}{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td data-order="{{ finalResult }}">
                                        <i class="fa-solid fa-square-{% if finalResult == 'success' %}check{% else %}xmark{% endif %} fa-2x {{ finalResult }}"></i>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h2 class="card-title">Actions réalisées</h2>
                    <div class="datatable-wide">
                        <table id="taskLogList" class="table table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Tâche</th>
                                <th>Objet affecté</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in taskLogs  %}
                                <tr>
                                    <td data-order="{{ log.cron.datetime|date("U") }}" class="text-center">
                                        <a href="#">{{ log.cron.datetime|date("d/m/Y H:i") }}</a>
                                    </td>
                                    <td{% if log.object == 'Exception' or log.object == 'Proxies\\__CG__\\Exception' %} class="text-danger"{% endif %}>
                                        {{ log.task }}
                                    </td>
                                    <td>
                                        {{ include('log/_iconObject.html.twig', {object: log.object}) }}
                                    </td>
                                    <td{% if log.object == 'Exception' or log.object == 'Proxies\\__CG__\\Exception' %} class="text-danger"{% endif %}>
                                        {{ include('log/_object.html.twig') }}
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        new DataTable('#cronLogList', {
            'pageLength': 8,
            'select': false,
            'responsive': true,
            'searching': true,
            'order': [[0, 'desc']],
        });
        new DataTable('#taskLogList', {
            'pageLength': 50,
            'select': false,
            'responsive': true,
            'searching': true,
            'order': [[0, 'desc']],
        });
    </script>
{% endblock %}
