{% extends 'base.html.twig' %}

{% block title %}Statistiques de l’instance {{ instance }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-chart-bar"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Statistiques de l’instance <em>{{ instance }}</em></h1>
                            </div>
                            <div class="media-btn-group">
                                <a href="{{ path('stats.index') }}" class="btn btn-primary text-white">
                                    <i class="fas fa-arrow-left"></i>
                                    Retour
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stats" data-enoria-instance="{{ instance.id }}"></div>
{%  endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Stats') }}
    {{ encore_entry_link_tags('Stats') }}
{% endblock %}
