{% extends 'base.html.twig' %}

{% block title %}Statistiques des instances{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-chart-bar"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Statistiques des instances</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stats" data-enoria-instance="0" data-enoria-instances="{{ instances|json_encode }}"></div>
{%  endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Stats') }}
    {{ encore_entry_link_tags('Stats') }}
{% endblock %}
