{% extends 'base.html.twig' %}

{% block title %}Modifier un titre{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-address-book"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier un titre</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('config/title/_form.html.twig', {button: 'Modifier'}) }}
{%  endblock %}
