<ul>
    {% for membership in memberships %}
        {% if membership.status == 'in_progress' and is_granted('membership_show', membership) %}
        <li>
            {% if membership.period == app.user.period %}
                <strong>{{ membership.period }}</strong> (période en cours)
                {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
                    <a href="{{ path('membership_request.edit', {id: membership.id}) }}" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i> Modifier l’adhésion
                    </a>
                {% endif %}
            {% else %}
                {{ membership.period }}
            {% endif %}
            <span class="badge bg-primary">Adhésion en cours</span>
        </li>
        {% elseif membership.status == 'canceled' and is_granted('membership_show', membership) %}
        <li>
            {% if membership.period == app.user.period %}
                <strong>{{ membership.period }}</strong> (période en cours)
            {% else %}
                {{ membership.period }}
            {% endif %}
            <span class="badge bg-danger">Adhésion annulée</span>
        </li>
        {% elseif membership.status == 'validated' %}
            <li>
                {% if membership.period == app.user.period %}
                    <strong>{{ membership.period }}</strong> (période en cours)
                    {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
                        <a href="{{ path('membership.edit', {id: membership.id}) }}" class="btn btn-warning btn-sm">
                            <i class="fa fa-edit"></i> Modifier l’adhésion
                        </a>
                    {% endif %}
                {% else %}
                    {{ membership.period }}
                {% endif %}
                {% if is_granted('membership_show', membership) %}
                    <span class="badge bg-success">Adhésion validée</span>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>