<ul class="list-group">
    <li class="list-group-item">
        <span class="float-end">
            {% if membership.cancellationDate is not null and membership.cancellationDate|date("Y") != '-0001' %}
                {{ membership.cancellationDate|date("d/m/Y") }}
            {% else %}
                <em>Aucune</em>
            {% endif %}
        </span>
        Date d’annulation d’adhésion
    </li>
    <li class="list-group-item">
        <span class="float-end">
            {% if membership.accessDeactivationDate is not null and membership.accessDeactivationDate|date("Y") != '-0001' %}
                {{ membership.accessDeactivationDate|date("d/m/Y") }}
            {% else %}
                <em>Aucune</em>
            {% endif %}
        </span>
        Date de désactivation des accès
    </li>
    <li class="list-group-item">
        <span class="float-end">
            {% if membership.requestDataRestitutionDate is not null and membership.requestDataRestitutionDate|date("Y") != '-0001' %}
                {{ membership.requestDataRestitutionDate|date("d/m/Y") }}
            {% else %}
                <em>Aucune</em>
            {% endif %}
        </span>
        Date de demande de restitution des données
    </li>
    <li class="list-group-item">
        <span class="float-end">
            {% if membership.dataRestitutionDate is not null and membership.dataRestitutionDate|date("Y") != '-0001' %}
                {{ membership.dataRestitutionDate|date("d/m/Y") }}
            {% else %}
                <em>Aucune</em>
            {% endif %}
        </span>
        Date de la restitution des données
    </li>
    <li class="list-group-item">
        <span class="float-end">
            {% if membership.deletionDataDate is not null and membership.deletionDataDate|date("Y") != '-0001' %}
                {{ membership.deletionDataDate|date("d/m/Y") }}
            {% else %}
                <em>Aucune</em>
            {% endif %}
        </span>
        Date d’effacement des données sur la prod
    </li>
</ul>
