<ul class="list-group">
    {% if membership.createdAt|date("Y") != '-0001' %}
        <li class="list-group-item">
            <span class="float-end text-center text-success">
                le {{ membership.createdAt|date("d/m/Y à H:i") }}
            </span>
            Demande enregistrée
        </li>
    {% endif %}
    <li class="list-group-item">
        <span class="float-end">
            {% if membership.informationValidated %}
                <span class="badge bg-success">Validées</span>
            {% elseif membership.informationSubmitted %}
                <span class="badge bg-warning">À valider par le secrétariat</span>
                {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
                    <a href="{{ path('membership.validate-infos', {id: membership.id}) }}" class="btn btn-sm btn-success" title="Valider les informations">
                        <i class="fa-solid fa-check"></i>
                    </a>
                {% endif %}
            {% else %}
                <span class="badge bg-danger">Non saisies</span><br>
            {% endif %}
        </span>
        Informations
    </li>
    <li class="list-group-item">
        <span class="float-end text-center">
            {% if membership.sheet %}
                <a href="{{ path('show_uploads.sheet', {sheet: membership.sheet}) }}" target="_blank">Voir la fiche</a>
                <br>
                {% if membership.sheetValidated %}
                <span class="badge bg-success">Transmise</span>
                {% else %}
                <span class="badge bg-warning">À valider par le secrétariat</span>
            {% endif %}
            {% else %}
                <span class="badge bg-danger">Non transmise</span>
            {% endif %}
        </span>
        Fiche
    </li>
    <li class="list-group-item">
        <span class="float-end">
            {{ include('membership/request/_help_status_badge.html.twig') }}
        </span>
        Aide
    </li>
    <li class="list-group-item">
        <span class="float-end text-center">
            {% if is_granted('ROLE_ACCOUNTING') %}<a href="{{ path('accounting.payment_request.show', {id: membership.paymentRequest.id}) }}">{% endif %}
                {% if membership.membershipFee > membership.paymentRequest.amountPaid %}
                    <span class="text-danger">{{ membership.membershipFee|format_currency('EUR') }}<br>
                    Reste&nbsp;: {{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR') }}
                </span>
            {% else %}
                    <span class="text-success">{{ membership.paymentRequest.amountPaid|format_currency('EUR') }}</span><br>
                    <span class="badge bg-success">Réglée</span>
                {% endif %}
                {% if is_granted('ROLE_ACCOUNTING') %} <i class="fa-solid fa-magnifying-glass"></i></a>{% endif %}
        </span>
        Cotisation
    </li>
    {% if membership.updatedAt|date("Y") != '-0001' %}
        <li class="list-group-item">
            <span class="float-end text-center text-info">
                le {{ membership.updatedAt|date("d/m/Y à H:i") }}
            </span>
            Mis à jour
        </li>
    {% endif %}
    {% if is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') and membership.lastReminder is not null and membership.lastReminder|date("Y") != '-0001' %}
        <li class="list-group-item">
            <span class="float-end text-center text-warning">
                le {{ membership.lastReminder|date("d/m/Y") }}
                {% if not membership.reminderEnabled %}
                    <i class="fa-solid fa-pause text-warning"></i>
                {% endif %}
            </span>
            Relance
        </li>
    {% endif %}
    {% if membership.organization %}
        <li class="list-group-item">
            <span class="float-end text-end">
                {% if membership.hosting == 'self' %}
                    <span class="badge bg-success">Auto-hébergement</span>
                {% elseif membership.entity %}
                    <a href="{{ membership.entity.instance.url }}" target="_blank">
                        {{ membership.entity }} @ {{ membership.entity.instance }}
                    </a><br>
                    <span class="badge bg-success">Entité créée</span>
                {% else %}
                    <span class="badge bg-danger">Entité à créer</span>
                {% endif %}
            </span>
            Entité
        </li>
    {% endif %}
    {% if membership.notes and is_granted('ROLE_MEMBERSHIP_REQUEST_SHOW') %}
        <li class="list-group-item">
            {{ membership.notes|nl2br }}
        </li>
    {% endif %}
</ul>
