{% extends 'base.html.twig' %}

{% block title %}Processus de restitution des données{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-danger">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Processus de restitution des données
                                    <em>{% if membership.person %}{{ membership.person.getFullname(false, true) | raw }}{% else %} {{ membership.organization }}{% endif %}</em>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            <div class="card border-danger">
                <div class="card-body">
                    {{ form_row(form.cancellationDate) }}
                    {{ form_row(form.accessDeactivationDate) }}
                    {{ form_row(form.requestDataRestitutionDate) }}
                    {{ form_row(form.dataRestitutionDate) }}
                    {{ form_row(form.deletionDataDate) }}
                </div>
            </div>
        </div>

        <div class="col text-center">
            <a
                href="{% if membership.person %}{{ path('person.show', {id: membership.person.id}) }}{% else %}{{ path('organization.show', {id: membership.organization.id}) }}{% endif %}"
                class="btn btn-warning"
            >
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-edit"></i> Modifier
            </button>
        </div>
    </div>
    {{  form_end(form) }}
{% endblock %}
