{% extends 'base.html.twig' %}

{% block title %}Modification d’une adhésion{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>
                                    Modification d’une adhésion
                                    <em>{% if membership.person %}{{ membership.person.getFullname(false, true) | raw }}{% else %} {{ membership.organization }}{% endif %}</em>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="alert alert-warning">
                À part le champ <strong>Notes</strong>, il y a a priori peu de raisons de modifier une adhésion validée&nbsp;!
            </p>
        </div>
    </div>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            <div class="card border-warning">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-users"></i> Le membre</h2>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.membershipFee) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.sheet) }}</div>
                        <div class="col-md-6">{{ form_row(form.sheet_actions) }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-warning">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-cogs"></i> Configuration</h2>
                    {% if membership.person %}
                        <p class="alert alert-info">
                            Cette partie ne concerne que les personnes morales.
                        </p>
                    {% else %}
                        {{ form_row(form.hosting) }}
                        <p class="alert alert-info">
                            Le champ suivant ne sera pris en compte que pour les entités que l’association héberge.
                        </p>
                        {{ form_row(form.entity) }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-warning">
                <div class="card-body">
                    <h2 class="card-title"><i class="fa fa-sticky-note"></i> Notes</h2>
                    {{ form_widget(form.notes) }}
                </div>
            </div>
        </div>

        <div class="col-12 text-center">
            <a href="{{ path('membership.index') }}" class="btn btn-warning">
                <i class="fas fa-undo"></i> Annuler
            </a>
            <button class="btn btn-success">
                <i class="fas fa-edit"></i> Modifier
            </button>
        </div>
    </div>
    {{  form_end(form) }}
{% endblock %}
