{% extends 'base.html.twig' %}

{% block title %}Membres de l’association{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Membres de l’association</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <h2 class="card-title col-12 col-lg-6"><i class="fa fa-clone"></i> Membres <em>Personnes morales</em></h2>
                        <div class="col-12 col-lg-6 row pe-0">
                            <div class="col">
                                <select class="form-select legal-list-filter" data-target-column="0" aria-label="Primo-adhésion?">
                                    <option value=""><i>Primo-adhésion ?</i></option>
                                    <option value="membership-first">Oui</option>
                                    <option value="membership-renew">Non</option>
                                </select>
                            </div>
                            <div data-enoria-type="organization" data-enoria-for="legalList" class="toolbar col pe-0"></div>
                        </div>
                    </div>
                    <div class="datatable-wide">
                        <table id="legalList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Notes</th>
                                <th class="text-center">Maj</th>
                                <th class="text-center">Fiche</th>
                                <th class="text-center">Cotisation</th>
                                <th class="text-center">Entité</th>
                                {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}<th class="text-center">Actions</th>{% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for membership in legalPersons %}
                                <tr data-organization-id="{{ membership.organization.id }}">
                                    <td class="text-start"
                                        data-order="{{ membership.organization.name }}"
                                        data-search="{{ membership.organization.name }} {% if membership.first %}membership-first{% else %}membership-renew{% endif %}"
                                    >
                                        <a href="{{ path('organization.show', {id: membership.organization.id}) }}">{{ membership.organization.name }}</a>
                                        {% if membership.type != 'member' %}
                                            <br><span class="badge bg-info">{{ membership.type|trans([], 'membership') }}</span>
                                        {% endif %}
                                        {% if not membership.first %}
                                            <br><span class="badge bg-light text-secondary">Renouvellement</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ membership.notes|nl2br }}</td>
                                    <td data-order="{{ membership.updatedAt|date("Ymd") }}" class="text-center">
                                        {{ membership.updatedAt|date("d/m/Y") }}
                                    </td>
                                    <td>
                                        {% if membership.sheet %}
                                            <a href="{{ path('show_uploads.sheet', {sheet: membership.sheet}) }}" target="_blank">Voir la fiche</a>
                                        {% else %}
                                            <span class="badge bg-danger">Non transmise</span>
                                        {% endif %}
                                    </td>
                                    <td data-order="{{ membership.paymentRequest.amountPaid }}" data-search="{{ membership.paymentRequest.amountPaid }} {{ membership.paymentRequest.amountPaid|format_currency('EUR') }}">
                                        {% if is_granted('ROLE_ACCOUNTING') %}<a href="{{ path('accounting.payment_request.show', {id: membership.paymentRequest.id}) }}">{% endif %}
                                            {% if membership.membershipFee > membership.paymentRequest.amountPaid %}
                                                <span class="text-danger">{{ membership.membershipFee|format_currency('EUR') }}<br>
                                        Reste&nbsp;: {{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR') }}</span>
                                            {% else %}
                                                <span class="text-success">{{ membership.paymentRequest.amountPaid|format_currency('EUR') }}</span>
                                            {% endif %}
                                            {% if is_granted('ROLE_ACCOUNTING') %} <i class="fa-solid fa-magnifying-glass"></i></a>{% endif %}
                                    </td>
                                    <td data-order="{{ membership.hosting }} {% if membership.entity %}{{ membership.entity.status }}{% endif %}">
                                        {% if membership.hosting == 'self' %}
                                            <span class="badge bg-info"><i class="fa-solid fa-server"></i></span>
                                        {% elseif membership.entity %}
                                            <span class="badge bg-success"><i class="fa-solid fa-clipboard-check"></i></span>
                                            {% if membership.entity.status != 'A' %}
                                                {{ include('entity/_status.html.twig', {status: membership.entity.status}) }}
                                            {% endif %}
                                        {% else %}
                                            <span class="badge bg-danger"><i class="fa-solid fa-clipboard"></i></span>
                                        {% endif %}
                                    </td>
                                    {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
                                        <td>
                                            <a class="btn btn-warning btn-sm" rel="tooltip" title="Modifier une adhésion" href="{{ path('membership.edit', {'id': membership.id}) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            {% if membership.token %}
                                                <a class="btn btn-info btn-sm" rel="tooltip" title="Voir la page de suivi d’adhésion" href="{{ path('membership_public.show', {'token': membership.token}) }}">
                                                    <i class="fa fa-external-link-alt"></i>
                                                </a>
                                            {% endif %}
                                            <a class="btn btn-danger btn-sm" rel="tooltip" title="Annuler l’adhésion" href="{{ path('membership_request.cancel', {'id': membership.id}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <h2 class="card-title col-12 col-lg-6"><i class="fa fa-address-book"></i> Membres <em>Personnes physiques</em></h2>
                        <div class="col-12 col-lg-6 row pe-0">
                            <div class="col">
                                <select class="form-select natural-list-filter" data-target-column="0" aria-label="Primo-adhésion?">
                                    <option value=""><i>Primo-adhésion ?</i></option>
                                    <option value="membership-first">Oui</option>
                                    <option value="membership-renew">Non</option>
                                </select>
                            </div>
                            <div data-enoria-type="person" data-enoria-for="naturalList" class="toolbar col pe-0"></div>
                        </div>
                    </div>
                    <div class="datatable-wide">
                        <table id="naturalList" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Notes</th>
                                <th class="text-center">Maj</th>
                                <th class="text-center">Fiche</th>
                                <th class="text-center">Cotisation</th>
                                {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}<th class="text-center">Actions</th>{% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for membership in naturalPersons %}
                                <tr data-person-id="{{ membership.person.id }}">
                                    <td class="text-start"
                                        data-order="{{ membership.person.lastname }} {{ membership.person.firstname }}"
                                        data-search="{{ membership.person.getFullname() }} {% if membership.first %}membership-first{% else %}membership-renew{% endif %}"
                                    >
                                        <a href="{{ path('person.show', {id: membership.person.id}) }}">{{ membership.person.getFullname(false, true) | raw }}</a>
                                        {% if membership.type != 'member' %}
                                            <br><span class="badge bg-info">{{ membership.type|trans([], 'membership') }}</span>
                                        {% endif %}
                                        {% if not membership.first %}
                                            <br><span class="badge bg-light text-secondary">Renouvellement</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <p class="m-0">{{ membership.notes|nl2br }}</p>
                                        {% if is_granted('ROLE_BASIC_SHOW') %}
                                            {% if membership.person.memberGroups|length > 0 %}
                                                <p class="mt-1 mb-0">
                                                    {% for group in membership.person.memberGroups %}
                                                        <span class="badge bg-secondary">{{ group }}</span>
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td data-order="{{ membership.updatedAt|date("Ymd") }}" class="text-center">
                                        {{ membership.updatedAt|date("d/m/Y") }}
                                    </td>
                                    <td>
                                        {% if membership.sheet %}
                                            <a href="{{ path('show_uploads.sheet', {sheet: membership.sheet}) }}" target="_blank">Voir la fiche</a>
                                        {% else %}
                                            <span class="badge bg-danger">Non transmise</span>
                                        {% endif %}
                                    </td>
                                    <td data-order="{{ membership.paymentRequest.amountPaid }}" data-search="{{ membership.paymentRequest.amountPaid }} {{ membership.paymentRequest.amountPaid|format_currency('EUR') }}">
                                        {% if is_granted('ROLE_ACCOUNTING') %}<a href="{{ path('accounting.payment_request.show', {id: membership.paymentRequest.id}) }}">{% endif %}
                                            {% if membership.membershipFee > membership.paymentRequest.amountPaid %}
                                                <span class="text-danger">{{ membership.membershipFee|format_currency('EUR') }}<br>
                                        Reste&nbsp;: {{ (membership.membershipFee - membership.paymentRequest.amountPaid)|format_currency('EUR') }}</span>
                                            {% else %}
                                                <span class="text-success">{{ membership.paymentRequest.amountPaid|format_currency('EUR') }}</span>
                                            {% endif %}
                                            {% if is_granted('ROLE_ACCOUNTING') %} <i class="fa-solid fa-magnifying-glass"></i></a>{% endif %}
                                    </td>
                                    {% if is_granted('ROLE_MEMBERSHIP_EDIT') %}
                                        <td>
                                            <a class="btn btn-warning btn-sm" rel="tooltip" title="Modifier une adhésion" href="{{ path('membership.edit', {'id': membership.id}) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            {% if membership.token %}
                                                <a class="btn btn-info btn-sm" rel="tooltip" title="Voir la page de suivi d’adhésion" href="{{ path('membership_public.show', {'token': membership.token}) }}">
                                                    <i class="fa fa-external-link-alt"></i>
                                                </a>
                                            {% endif %}
                                            <a class="btn btn-danger btn-sm" rel="tooltip" title="Annuler l’adhésion" href="{{ path('membership_request.cancel', {'id': membership.id}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}*
    <script defer>
        const legal = new DataTable('#legalList', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
        });
        const natural = new DataTable('#naturalList', {
            'pageLength': 20,
            'select': {style: 'multi'},
            'responsive': true,
            'searching': true,
        });

        const legalFilter = document.querySelector('.legal-list-filter');
        const naturalFilter = document.querySelector('.natural-list-filter');
        legalFilter.addEventListener('change', () => {
            legalListFilter();
        });
        naturalFilter.addEventListener('change', () => {
            naturalListFilter();
        });

        function legalListFilter(){
            legal.column(legalFilter.getAttribute('data-target-column')).search(legalFilter.value);
            legal.draw();
        }
        function naturalListFilter(){
            natural.column(naturalFilter.getAttribute('data-target-column')).search(naturalFilter.value);
            natural.draw();
        }
    </script>
    {{ encore_entry_script_tags('Toolbar') }}
{% endblock %}
