{% extends 'empty.html.twig' %}

{% block body %}
    <div class="container mt-1">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-8 text-center">
                <img src="{{ asset('assets/images/new-logo.png') }}" class="w-50">
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col-md-8">
                {% block error_message %}{% endblock %}
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <a href="{{ path('home') }}" class="btn btn-light btn-block text-black-50 w-100">
                    <i class="fas fa-home"></i> Accueil
                </a>
            </div>
            <div class="col-md-4">
                <a href="mailto:support@enoria.app" class="btn btn-light btn-block text-black-50 w-100">
                    <i class="fas fa-envelope"></i> Contacter le support
                </a>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row mt-5">
            <p class="text-muted text-center col-12">
                Association Enoria <em>Zachée {{ include('_part/_version_app.html.twig') }}</em> {{ 'now'|date('Y') }}</p>
        </div>
    </div>
{% endblock %}
