{% extends 'bundles/TwigBundle/Exception/_error.html.twig' %}

{% block title %}Erreur interne à l’application (500){% endblock %}

{% block error_message %}
    <h3 class="card-title text-uppercase text-center danger text-bold"><i class="fas fa-times-circle"></i> Erreur interne à l’application<br/> (500)</h3>
    <p>L’application a rencontré une erreur. Lors de la création de la page, le serveur n’a pas réussi à collecter toutes les données dont il a besoin, ou à traiter votre demande (envoi d’un formulaire, ...).
        La page ne peut donc pas être affichée. Il n’est pas utile de rééssayer plusieurs fois.</p>
{% endblock %}
