{% extends 'bundles/TwigBundle/Exception/_error.html.twig' %}

{% block title %}Accès refusé (403){% endblock %}

{% block error_message %}
    <h3 class="card-title text-uppercase text-center danger text-bold"><i class="fas fa-hand-paper"></i> Accès refusé<br/> (403)</h3>
    <p class="text-center">Soit vous n’êtes pas authentifié, soit vous n’êtes pas autorisé à accéder à cette page.</p>
{% endblock %}