{% extends 'bundles/TwigBundle/Exception/_error.html.twig' %}

{% block title %}Page non trouvée (404){% endblock %}

{% block error_message %}
    <h3 class="card-title text-uppercase text-center warning text-bold"><i class="fas fa-exclamation-triangle"></i> Page non trouvée<br/> (404)</h3>
    <p>L’application n’a pas pu trouver la page à laquelle vous souhaitez accéder. Cela peut provenir du lien sur lequel
        vous avez cliqué ou du favori que vous avez utilisé qui n’est plus à jour.</p>
{% endblock %}