{% extends 'emails/base.html.twig' %}

{% block title %}{% if isRefund %}Remboursement{% else %}Demande de paiement{% endif%}{% endblock %}

{% block body %}
    <p>Bonjour,</p>
    <p>
        Veuillez trouver ci-joint la {% if isRefund %}reconnaissance de dette de{% else %}demande de paiement à{% endif%} l’Association Enoria.
    </p>
    {% if not isRefund %}
        <p>
            Vous trouverez les informations pratiques concernant le règlement dans la deuxième pièce jointe.
        </p>
    {% endif %}

    {% if update %}<p align="center" class="text-danger"><strong>Annule et remplace l’ancien</strong></p>{% endif %}

    {{ include('emails/_toList.html.twig') }}

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromTreasurer.txt.twig') }}
    </p>
{% endblock %}
