{% extends 'emails/base.html.twig' %}

{% block title %}Relance - Demande de paiement{% endblock %}

{% block body %}
    <p>Bonjour,</p>
    <p>
        Nous n’avons pas encore reçu votre règlement pour la demande de paiement ci-jointe.
    </p>
    <p align="center" class="text-info">
        <strong>
            Si vous avez envoyé votre paiement récemment, il se peut juste qu’il n’ait pas encore été traité.
        </strong>
    </p>
    <p>
        Vous trouverez les informations pratiques concernant le règlement dans la deuxième pièce jointe.
    </p>

    {{ include('emails/_toList.html.twig') }}

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromTreasurer.txt.twig') }}
    </p>
{% endblock %}
