{% extends 'emails/base.txt.twig' %}

{% block title %}RELANCE - DEMANDE DE PAIEMENT{% endblock %}

{% block body %}
    Bonjour,

    Nous n’avons pas encore reçu votre règlement pour la demande de paiement ci-jointe.

    SI VOUS AVEZ ENVOYÉ VOTRE PAIEMENT RÉCEMMENT, IL SE PEUT JUSTE QU’IL N’AIT PAS ENCORE ÉTÉ TRAITÉ.

    Vous trouverez les informations pratiques concernant le règlement dans la deuxième pièce jointe.

{{ include('emails/_toList.txt.twig') }}

    Cordialement,
    {{ include('emails/_fromTreasurer.txt.twig') }}
{% endblock %}
