{% extends 'emails/base.txt.twig' %}

{% block title %}{% if isRefund %}REMBOURSEMENT{% else %}DEMANDE DE PAIEMENT{% endif%}{% endblock %}

{% block body %}
    Bonjour,

    Veuillez trouver ci-joint la {% if isRefund %}reconnaissance de dette de{% else %}demande de paiement à{% endif%} l’Association Enoria.

    {% if not isRefund %}Vous trouverez les informations pratiques concernant le règlement dans la deuxième pièce jointe.{% endif %}

    {% if update %}ANNULE ET REMPLACE L’ANCIEN{% endif %}

{{ include('emails/_toList.txt.twig') }}

    Cordialement,
    {{ include('emails/_fromTreasurer.txt.twig') }}
{% endblock %}
