{% extends 'emails/base.html.twig' %}

{% block title %}Reçu{% endblock %}

{% block body %}
    <p>Bonjour,</p>
    <p>
        Veuillez trouver ci-joint le reçu de paiement à l’Association Enoria.
    </p>
    {% if update %}<p align="center" class="text-danger"><strong>Annule et remplace l’ancien</strong></p>{% endif %}

    {% for allocation in receipt.payment.paymentAllocations %}
        {% if allocation.paymentRequest.membership and allocation.paymentRequest.membership.token %}
            {{ include('emails/_membership.html.twig', {membership: allocation.paymentRequest.membership}) }}
        {% endif %}
    {% endfor %}

    {{ include('emails/_toList.html.twig') }}

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromTreasurer.txt.twig') }}
    </p>
{% endblock %}
