{% extends 'emails/base.txt.twig' %}

{% block title %}REÇU{% endblock %}

{% block body %}
    Bonjour,

    Veuillez trouver ci-joint le reçu de paiement à l’Association Enoria.

    {% if update %}ANNULE ET REMPLACE L’ANCIEN{% endif %}

    {% for allocation in receipt.payment.paymentAllocations %}
        {% if allocation.paymentRequest.membership and allocation.paymentRequest.membership.token %}
            {{ include('emails/_membership.txt.twig', {membership: allocation.paymentRequest.membership}) }}
        {% endif %}
    {% endfor %}

{{ include('emails/_toList.txt.twig') }}

    Cordialement,
    {{ include('emails/_fromTreasurer.txt.twig') }}
{% endblock %}
