{% extends 'emails/base.html.twig' %}

{% block title %}Votre code à usage unique{% endblock %}

{% block body %}
    <p>Bonjour <strong>{{ user.person.getFullName(true, false) }}</strong></p>
    <p>
        Pour valider votre connexion via la double authentification, merci de saisir le code ci-dessous&nbsp;:
    </p>
    <p class="btn-container text-big">
        <strong>{{ authCode }}</strong>
    </p>
    <p>
        Ce code ne peut être saisi que sur un site web ou une application officielle. Ne le partagez avec personne. Nous
        ne vous le demanderons jamais en dehors d’une plateforme officielle.
    </p>
    <p>
        En cas de blocage, merci de <a href="mailto:support@enoria.app">contacter le support national de l’application</a>.
    </p>
    <p>
        Cordialement,<br/>
        {{ include('emails/_fromAdmin.txt.twig') }}
    </p>
{% endblock %}
