{% extends 'emails/base.txt.twig' %}

{% block title %}Votre code à usage unique{% endblock %}

{% block body %}
    Bonjour {{ user.person.getFullName(true, false) }}

    Pour valider votre connexion via la double authentification, merci de saisir le code ci-dessous :

        {{ authCode }}

    Ce code ne peut être saisi que sur un site web ou une application officielle. Ne le partagez avec personne. Nous
    ne vous le demanderons jamais en dehors d’une plateforme officielle.

    En cas de blocage, merci de contacter le support national de l’application : support@enoria.app

    Cordialement,
    {{ include('emails/_fromAdmin.txt.twig') }}
{% endblock %}
