{% extends 'emails/base.html.twig' %}

{% block title %}Activation du compte{% endblock %}

{% block body %}
    <p>Bonjour <strong>{{ user.person.getFullName(true, false) }}</strong></p>
    <p>
        Pour valider votre compte utilisateur, merci de cliquer sur le lien&nbsp;:
    </p>
    <p class="btn-container">
        <a class="btn bg-primary" href="{{ confirmation_url }}">Activation du compte</a>
    </p>
    <p>
        Ce lien ne peut être utilisé qu’une seule fois pour valider votre compte.
    </p>

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromAdmin.txt.twig') }}
    </p>
{% endblock %}
