{% extends 'emails/base.txt.twig' %}

{% block title %}Activation du compte{% endblock %}

{% block body %}
    Bonjour {{ user.person.getFullName(true, false) }}

    Pour valider votre compte utilisateur, merci de cliquer d’aller sur {{ confirmation_url }}

    Ce lien ne peut être utilisé qu’une seule fois pour valider votre compte.

    Cordialement,
    {{ include('emails/_fromAdmin.txt.twig') }}
{% endblock %}
