{% extends 'emails/base.txt.twig' %}

{% block title %}Votre code d’authentification{% endblock %}

{% block body %}
    Bonjour {{ person.getFullName(true, false) }}

    Pour vous authentifier sur la plateforme Zachée, voici votre code:

    {{  code }}

    Ce code ne peut être saisi que sur un site web ou une application officielle. Ne le partagez avec personne. Nous
    ne vous le demanderons jamais en dehors d’une plateforme officielle.

    En cas de blocage, merci de contacter le support national de l’application : support@enoria.app

    Cordialement,
    {{ include('emails/_fromAdmin.txt.twig') }}
{% endblock %}
