{% extends 'emails/base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    <p>Bonjour <strong>{{ user.person.getFullName(true, false) }}</strong>,</p>
    <p>
        Vous avez demandé à réinitialiser votre mot de passe sur Zachée, l’application de gestion de l’Association Enoria.<br/><br/>
        Pour ce faire, veuillez utiliser le lien ci-dessous&nbsp;:
    </p>
    <p class="btn-container">
        <a class="btn bg-primary" href="{{ url('users.reset_password') }}?username={{ user.username }}&token={{ token }}">Réinitialisation de votre mot de passe</a>
    </p>

    <p>
        Cordialement,<br/>
        {{ include('emails/_fromAdmin.txt.twig') }}
    </p>
{% endblock %}
