{% extends 'emails/base.txt.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    Bonjour {{ user.person.getFullName(true, false) }},

    Vous avez demandé à réinitialiser votre mot de passe sur Zachée, l’application de gestion de l’Association Enoria.

    Pour ce faire, veuillez utiliser le lien : {{ url('users.reset_password') }}?username={{ user.username }}&token={{ token }}

    Cordialement,
    {{ include('emails/_fromAdmin.txt.twig') }}
{% endblock %}
