{{ form_row(form.addressLineA) }}
{{ form_row(form.addressLineB) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.postalCode) }}
    </div>
    <div class="col-6">
        {{ form_row(form.city) }}
    </div>
</div>
{{ form_row(form.country) }}