{{ form_start(form) }}
<div class="row">
    <div class="col-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                {{ form_row(form.datetime) }}
                {{ form_row(form.description) }}
                {{ form_row(form.amount) }}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                <p class="alert alert-info">Vous devez choisir une personne ou une organisation.</p>
                {{ form_row(form.person) }}
                {{ form_row(form.organization) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% if form.lastReminder is defined %}
    <div class="col-6">
        <div class="card border-warning">
            <div class="card-body">
                {{ form_row(form.lastReminder) }}
            </div>
        </div>
    </div>
    <div class="col-6 text-center">
    {% else %}
    <div class="col-12 text-end">
    {% endif %}
        <a href="{{ path('accounting.index') }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{ form_end(form) }}

