<table id="{{ table ?? '' }}" class="table table-striped table-bordered table-middle text-center">
    <thead>
    <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Organisation / Personne</th>
        <th class="text-center">Description</th>
        <th>Montant</th>
        {% if (showBalance is defined and showBalance != false) or showBalance is not defined %}
            <th>Solde</th>
        {% endif %}
        <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for payment_request in payment_requests %}
        <tr>
            <td
                data-order="{{ payment_request.datetime|date('Y-m-d H:i:s') }}"
                data-search="{{ payment_request.datetime|date('d/m/Y') }}"
                class="text-center"
            >
                <a href="{{ path('accounting.payment_request.show', {'id': payment_request.id}) }}">
                    {{ payment_request.datetime|date('d/m/Y') }}
                    {% if payment_request.membership is null and payment_request.lastReminder is not null %}
                        <br><span class="text-warning">{{ payment_request.lastReminder|date('d/m/Y') }}</span>
                    {% elseif payment_request.membership is not null and payment_request.membership.lastReminder is not null %}
                        <br><span class="text-warning">{{ payment_request.membership.lastReminder|date('d/m/Y') }}</span>
                    {% endif %}
                </a>
            </td>
            {% if payment_request.organization %}
            <td data-order="{{ payment_request.organization.name }}" data-search="{{ payment_request.organization.name }} {{ payment_request.organization.diocese.deptCode }}">
                <a href="{{ path('organization.show', { id: payment_request.organization.id }) }}">{{ payment_request.organization.name }}</a>
            </td>
            {% elseif payment_request.person %}
            <td data-order="{{ payment_request.person.fullname }}" data-search="{{ payment_request.person.fullname }}">
                <a href="{{ path('person.show', { id: payment_request.person.id }) }}">{{ payment_request.person.fullname }}</a>
            </td>
            {% elseif payment_request.membership %}
                {% if payment_request.membership.organization %}
                    <td data-order="{{ payment_request.membership.organization.name }}" data-search="{{ payment_request.membership.organization.name }} {{ payment_request.membership.organization.diocese.deptCode }}">
                        <a href="{{ path('organization.show', { id: payment_request.membership.organization.id }) }}">{{ payment_request.membership.organization.name }}</a>
                    </td>
                {% elseif payment_request.membership.person %}
                    <td data-order="{{ payment_request.membership.person.fullname }}" data-search="{{ payment_request.membership.person.fullname }}">
                        <a href="{{ path('person.show', { id: payment_request.membership.person.id }) }}">{{ payment_request.membership.person.getFullname(false, true) | raw }}</a>
                    </td>
                {% endif %}
            {% elseif payment_request.dioceseMembershipSupplement %}
                <td data-order="{{ payment_request.dioceseMembershipSupplement.diocese.associatedOrganization.name }}" data-search="{{ payment_request.dioceseMembershipSupplement.diocese.associatedOrganization.name }} {{ payment_request.dioceseMembershipSupplement.diocese.associatedOrganization.diocese.deptCode }}">
                    <a href="{{ path('organization.show', { id: payment_request.dioceseMembershipSupplement.diocese.associatedOrganization.id }) }}">{{ payment_request.dioceseMembershipSupplement.diocese.associatedOrganization.name }}</a>
                </td>
            {% else %}
            <td>
                Erreur&nbsp;: aucune organisation ou personne associée
            </td>
            {% endif %}
            <td>
                <a href="{{ path('accounting.payment_request.show', {'id': payment_request.id}) }}">{{ payment_request.description }}</a>
            </td>
            <td data-order="{{ payment_request.amount }}" data-search="{{ payment_request.amount }} {{ payment_request.amount|format_currency('EUR') }}">
                <span class="text-{%
                    if payment_request.amount|abs <= payment_request.amountPaid
                %}success{% else %}danger{% endif %}">{{ payment_request.amount|format_currency('EUR') }}</span>
            </td>
            {% if (showBalance is defined and showBalance != false) or showBalance is not defined %}
                <td data-order="{{ payment_request.amount|abs - payment_request.amountPaid }}" data-search="{{ payment_request.amount|abs - payment_request.amountPaid }} {{ (payment_request.amount|abs - payment_request.amountPaid)|format_currency('EUR') }}">
                    <span class="text-{%
                        if payment_request.amount|abs <= payment_request.amountPaid
                    %}success{% else %}danger{% endif %}">{{ (payment_request.amount|abs - payment_request.amountPaid)|format_currency('EUR') }}</span>
                </td>
            {% endif %}
            <td>
                <a class="btn btn-primary btn-sm" rel="tooltip" title="Voir une demande de paiement" href="{{ path('accounting.payment_request.show', {'id': payment_request.id}) }}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <a class="btn btn-warning btn-sm" rel="tooltip" title="Modifier une demande de paiement" href="{{ path('accounting.payment_request.edit', {'id': payment_request.id}) }}">
                    <i class="fa fa-edit"></i>
                </a>
                {% if payment_request.status != 'canceled' %}
                    <a class="btn btn-danger btn-sm" rel="tooltip" title="Annuler une demande de paiement" href="{{ path('accounting.payment_request.cancel', {'id': payment_request.id}) }}">
                        <i class="fa fa-trash"></i>
                    </a>
                {% else %}
                    <a class="btn btn-success btn-sm" rel="tooltip" title="Restaurer une demande de paiement" href="{{ path('accounting.payment_request.restore', {'id': payment_request.id}) }}">
                        <i class="fa fa-trash-restore"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                {% if emptyMessage is defined %}{{ emptyMessage }}{% else %}Aucun paiement trouvé{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
