{% extends 'base.html.twig' %}

{% block title %}Demande de paiement {{ payment_request }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-{%
                if payment_request.status == 'completed'
            %}success{%
                elseif payment_request.status == 'canceled'
            %}danger{%
                elseif payment_request.status == 'in_progress'
            %}warning{%
                else
            %}blue{% endif %}">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-hand-holding-dollar"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Demande de paiement <em>{{ payment_request }}</em></h1>
                            </div>
                            {% if is_granted('ROLE_ACCOUNTING') %}
                                <div class="media-btn-group">
                                    <a href="{{ path('accounting.index') }}" class="btn btn-primary text-white"><i class="fas fa-undo"></i> Revenir à la liste</a>
                                    <a href="{{ path('accounting.payment_request.edit', {'id': payment_request.id}) }}" class="btn btn-warning text-white"><i class="fa fa-edit"></i> Modifier</a>
                                    {% if payment_request.status != 'canceled' %}
                                        <a href="{{ path('accounting.payment_request.cancel', {'id': payment_request.id}) }}" class="btn btn-danger text-white"><i class="fas fa-trash"></i> Annuler la demande</a>
                                    {% else %}
                                        <a href="{{ path('accounting.payment_request.restore', {'id': payment_request.id}) }}" class="btn btn-success text-white"><i class="fas fa-trash-restore"></i> Restaurer la demande</a>
                                    {% endif %}
                                    <a href="{{ path('accounting.payment.new') }}" class="btn btn-success text-white"><i class="fas fa-plus"></i> Saisir un paiement</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <h2 class="card-title"><i class="fa-solid fa-magnifying-glass"></i> Détail de la demande de paiement</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="float-end">
                                {% if payment_request.status == 'completed' %}
                                    <span class="badge bg-success">Soldée</span>
                                {% elseif payment_request.status == 'in_progress' %}
                                    <span class="badge bg-warning">En cours</span>
                                {% elseif payment_request.status == 'canceled' %}
                                    <span class="badge bg-danger">Annulée</span>
                                {% endif %}
                            </span>
                            {{ payment_request.description }}
                        </li>
                        <li class="list-group-item">
                            <span class="float-end">
                                <i class="fa fa-calendar fa-lg"></i>
                            </span>
                            {{ payment_request.datetime ? payment_request.datetime|date('d/m/Y') : '' }}
                        </li>
                        <li class="list-group-item">
                            <span class="float-end">
                                <i class="fa fa-euro-sign fa-lg"></i>
                            </span>
                            <span class="text-{%
                                if payment_request.amount|abs <= payment_request.amountPaid
                            %}success{% else %}danger{% endif %}">
                                {{ payment_request.amount|format_currency('EUR') }}
                                {% if payment_request.amount|abs > payment_request.amountPaid %}
                                    reste {{ (payment_request.amount|abs - payment_request.amountPaid)|format_currency('EUR') }}
                                {% elseif payment_request.amount|abs < payment_request.amountPaid %}
                                    trop perçu de {{ (payment_request.amountPaid - payment_request.amount|abs)|format_currency('EUR') }}
                                {% endif %}
                            </span>
                        </li>
                        {% if payment_request.smsBilling %}
                            <li class="list-group-item">
                                <span class="float-end">
                                    <i class="fa-solid fa-sms fa-lg"></i>
                                </span>
                                <span class="badge bg-secondary">{{ payment_request.smsBilling.entity.instance }}</span>
                                {{ payment_request.smsBilling.entity }}
                                — <code><a href="{{ path('accounting.sms.index') }}">{{ payment_request.smsBilling.ref }}</a></code>
                            </li>
                        {% endif %}
                        {% if payment_request.membership %}
                        <li class="list-group-item">
                            <span class="float-end">
                                <i class="fa fa-clipboard-list fa-lg"></i>
                            </span>
                            {% if payment_request.membership.status == 'validated' %}
                                <a href="{{ path('membership.index') }}">{{ payment_request.membership }}</a>
                            {% elseif payment_request.membership.status == 'in_progress' %}
                                <a href="{{ path('membership_request.index') }}">{{ payment_request.membership }}</a>
                            {% elseif payment_request.membership.status == 'canceled' %}
                                <a href="{{ path('membership_request.cancel_list') }}">{{ payment_request.membership }}</a>
                            {% endif %}
                        </li>
                        {% elseif payment_request.dioceseMembershipSupplement %}
                            <li class="list-group-item">
                                <span class="float-end">
                                    <i class="fa-solid fa-church fa-lg"></i>
                                </span>
                                <a href="{{ path('diocese.show', {id: payment_request.dioceseMembershipSupplement.diocese.id}) }}">{{ payment_request.dioceseMembershipSupplement.diocese.associatedOrganization.name }}</a>
                            </li>
                        {% elseif payment_request.organization %}
                        <li class="list-group-item">
                            <span class="float-end">
                                <i class="fa fa-clone fa-lg"></i>
                            </span>
                            <a href="{{ path('organization.show', {id: payment_request.organization.id}) }}">{{ payment_request.organization }}</a>
                        </li>
                        {% elseif payment_request.person %}
                        <li class="list-group-item">
                            <span class="float-end">
                                <i class="fa fa-address-book fa-lg"></i>
                            </span>
                            <a href="{{ path('person.show', {id: payment_request.person.id}) }}">{{ payment_request.person.getFullname(false, true) | raw }}</a>
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <span class="float-end">
                                <i class="fa-solid fa-bell"></i>
                            </span>
                            {% if payment_request.status == 'in_progress' and payment_request.lastReminder is not null %}
                                <span class="text-warning">{{ payment_request.lastReminder|date('d/m/Y') }}</span>
                                <span class="badge bg-warning">Rappel activé</span>
                            {% elseif payment_request.membership is not null and payment_request.membership.status == 'in_progress' and payment_request.membership.lastReminder is not null %}
                                <span class="text-warning">{{ payment_request.membership.lastReminder|date('d/m/Y') }}</span>
                                <span class="badge bg-warning">
                                    Rappel
                                    {% if not payment_request.membership.reminderEnabled %}en pause{% else %}activé{% endif %}
                                    avec l’adhésion</span>
                            {% else %}
                                <span class="badge bg-secondary">Aucun rappel activé</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row">
                        <h2 class="card-title"><i class="fa fa-file-invoice-dollar"></i> Paiements affectés</h2>
                    </div>
                    <div class="datatable-wide">
                        <table id="allocations" class="table table-striped table-bordered table-middle text-center">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">Date</th>
                                <th>Organisation / Personne</th>
                                <th class="text-center">Type</th>
                                <th>Montant</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for paymentAllocation in payment_request.paymentAllocations %}
                                <tr>
                                    <td>
                                        <a class="btn btn-primary btn-sm" rel="tooltip" title="Voir un paiement" href="{{ path('accounting.payment.show', {'id': paymentAllocation.payment.id}) }}">
                                            <i class="fa-solid fa-magnifying-glass"></i> #{{ paymentAllocation.payment.id }}
                                        </a>
                                    </td>
                                    <td
                                        data-order="{{ paymentAllocation.payment.datetime|date('Y-m-d H:i:s') }}"
                                        data-search="{{ paymentAllocation.payment.datetime|date('d/m/Y') }}"
                                        class="text-center"
                                    >
                                        <a href="{{ path('accounting.payment.show', {'id': paymentAllocation.payment.id}) }}">{{ paymentAllocation.payment.datetime|date('d/m/Y') }}</a>
                                    </td>
                                    {% if paymentAllocation.payment.organization %}
                                        <td data-order="{{ paymentAllocation.payment.organization.name }}" data-search="{{ paymentAllocation.payment.organization.name }} {{ paymentAllocation.payment.organization.diocese.deptCode }}">
                                            <a href="{{ path('organization.show', { id: paymentAllocation.payment.organization.id }) }}">{{ paymentAllocation.payment.organization.name }}</a>
                                        </td>
                                    {% elseif paymentAllocation.payment.person %}
                                        <td data-order="{{ paymentAllocation.payment.person.fullname }}" data-search="{{ paymentAllocation.payment.person.fullname }}">
                                            <a href="{{ path('person.show', { id: paymentAllocation.payment.person.id }) }}">{{ paymentAllocation.payment.person.getFullname(false, true) | raw }}</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            Erreur&nbsp;: aucune organisation ou personne associée
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ include('accounting/payment/_type.html.twig', {payment: paymentAllocation.payment}) }}
                                    </td>
                                    <td>
                                    <span class="text-success">
                                        {{ paymentAllocation.amount|format_currency('EUR') }}
                                    </span>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">
                                        Aucun paiement affecté
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="payment-request-file" data-enoria-payment-request="{{ payment_request.id }}" data-enoria-can-edit="{{ is_granted('ROLE_ACCOUNTING') }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
        {% if payment_request.paymentAllocations|length > 0 %}
        new DataTable('#allocations', {
            'info' : false,
            'paging': false,
            'topStart': null,
            'topEnd': null,
            'order': [[1, 'desc']],
        });
        {% endif %}
    </script>
    {{ encore_entry_script_tags('PaymentRequestFile') }}
{% endblock %}
