<li class="d-flex">
    <a href="{{ path('show_uploads.doc', {file: doc.file}) }}" target="_blank" class="flex-grow-1">
        {% if is_granted('ROLE_DOC_EDIT') %}
            <i class="fa fa-file"></i> <code class="d-none">{{ doc.ref }}</code>
        {% endif %}
        {{ doc.name }}
        {% if is_granted('ROLE_DOC_EDIT') %}
            {% for tag in doc.tags %}
                <span class="doc-tag d-none badge rounded-pill bg-info">{{ tag }}</span>
            {% endfor %}
            {% for generalMeeting in doc.generalMeetingsSummons %}
                <span class="doc-tag d-none badge rounded-pill bg-light">
                        AG{{ generalMeeting.type == 'ordinary' ? 'O' : 'E' }}
                    {{ generalMeeting.datetime|date('d/m/Y') }}
                    </span>
            {% endfor %}
            {% for generalMeeting in doc.generalMeetingsReport %}
                <span class="doc-tag d-none badge rounded-pill bg-light">
                        AG{{ generalMeeting.type == 'ordinary' ? 'O' : 'E' }}
                    {{ generalMeeting.datetime|date('d/m/Y') }}
                    </span>
            {% endfor %}
        {% endif %}
    </a>
    {% if is_granted('ROLE_DOC_EDIT') %}
        <div class="doc-action d-none">
            <a href="{{ path('doc.edit', {id: doc.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
        </div>
    {% endif %}
</li>
