<li class="folder">
    <h4 class="d-flex">
        <a class="folder-expend btn btn-lg btn-{% if not root %}outline-{% endif %}light text-dark flex-grow-1"
           data-bs-toggle="collapse"
           href="#folder{{ tree.folder.id }}"
           role="button"
           aria-expanded="true">
            <i class="fa fa-folder"></i>
            {% if is_granted('ROLE_DOC_EDIT') %}
                <code class="d-none">{{ tree.folder.ref }}</code>
            {% endif %}
            {{ tree.folder.name }}
            {% if is_granted('ROLE_DOC_EDIT') %}
                {% for tag in tree.folder.tags %}
                    <span class="doc-tag d-none badge rounded-pill bg-info">{{ tag }}</span>
                {% endfor %}
            {% endif %}
        </a>
        {% if is_granted('ROLE_DOC_EDIT') %}
            <div class="doc-action d-none px-1 align-self-center">
                <a href="{{ path('doc.folder.edit', {id: tree.folder.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
            </div>
        {% endif %}
    </h4>
    <ul class="collapse show" id="folder{{ tree.folder.id }}">
        {% if tree.subFolders|length or tree.docs|length %}
            {% for doc in tree.docs|sort((a, b) => a.ref <=> b.ref) %}
                {{ include('doc/_doc_in_tree.html.twig') }}
            {% endfor %}
            {% for subTree in tree.subFolders|sort((a, b) => a.folder.ref <=> b.folder.ref) %}
                {{ include('doc/_folder_tree.html.twig', {tree: subTree, root: false}) }}
            {% endfor %}
        {% else %}
            <li><em>Vide</em></li>
        {% endif %}
    </ul>
</li>
