{{ form_start(form) }}
<div class="row">
    <div class="col-12">
        <div class="card border-{% if button is defined and (button == 'Modifier') %}warning{% else %}success{% endif %}">
            <div class="card-body">
                {{ form_errors(form) }}

                <p class="alert alert-info">
                    Le nom sera visible pour tout le monde, mais seuls les utilisateurs pouvant gérer les documents verront la
                    référence qui sera utilisée pour trier les dossiers.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.ref) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_widget(form.tags) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.parent) }}
                        <p class="alert alert-info">
                            Laissez vide pour un dossier racine
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        {{ include('doc/_help_tags.html.twig') }}
    </div>
    <div class="col-12 col-md-6 text-center">
        <a href="{{ referer }}" class="btn btn-warning">
            <i class="fas fa-undo"></i> Annuler
        </a>
        <button class="btn btn-success">
            <i class="fas fa-{% if button is defined and (button == 'Modifier') %}edit{% else %}plus{% endif %}"></i>
            {{ button|default('Ajouter') }}
        </button>
    </div>
</div>
{{  form_end(form) }}
