<div class="card border-info">
    <div class="card-body">
        <p class="alert alert-info">
            Les tags, uniquement visibles par les utilisateurs pouvant gérer les documents, servent à déterminer
            qui peut les voir ou à quels endroits ils peuvent apparaître.
        </p>
        <ul>
            <li>
                <code>public</code>
                document visible par toute personne ayant le lien.
            </li>
            <li>
                <code>membership_public_*</code>
                document disponible via la page publique de suivi d’adhésion en fonction du type du membre
                (<em>personne morale</em> ou <em>personne légale</em>). <span class="text-warning">Accorde automatiquement
                une visibilité publique au document.</span>
            </li>
            <li>
                <code>organization_*</code>
                document disponible via la page publique de suivi d’adhésion en fonction du type de l’organisation.
                <span class="text-warning">Accorde automatiquement une visibilité publique au document.</span>
            </li>
            <li>
                <code>ag</code>
                document pouvant être associé à une assemblée générale. <span class="text-warning">Accorde automatiquement
                une visibilité publique au document.</span>
            </li>
            <li>
                <code>ag-multi</code>
                comme le tag <code>ag</code>, mais le document peut être associé à plusieurs assemblées générales.
            </li>
            <li>
                <code>role_*</code>
                document visible par tout utilisateur authentifié ayant ce droit.
            </li>
        </ul>
        <p>
            Les tags sont héritables&nbsp;: tous les fichiers d’un dossier hériteront des tags de ce dernier.
        </p>
        <p>
            Si un document n’a aucun tag et que ses dossiers parents n’en n’ont pas non plus, alors sa visibilité sera nulle.
        </p>
        <p>
            Les utilisateurs pouvant éditer la base documentaire peuvent voir tous les documents sans exceptions.
        </p>
    </div>
</div>
