{% extends 'base.html.twig' %}

{% block title %}Modifier un dossier{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-folder"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier le dossier <em>{{ folder }}</em></h1>
                            </div>
                            <form id="delete_form" method="post" action="{{ path('doc.folder.delete', {id: folder.id}) }}" class="d-none">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ folder.id) }}">
                                <a class="btn btn-danger text-white"><i class="fas fa-trash"></i> Supprimer</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('doc/_form_folder.html.twig', {button: 'Modifier'}) }}
{%  endblock %}

{% block javascripts %}
    <script defer>
        deleteAlert('#delete_form');
        document.getElementById('delete_form').classList.toggle('d-none');
    </script>
{% endblock %}
