{% extends 'base.html.twig' %}

{% block title %}Modifier un document{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-warning">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>Modifier le document <em>{{ doc }}</em></h1>
                            </div>
                            <form id="delete_form" method="post" action="{{ path('doc.delete', {id: doc.id}) }}" class="d-none">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doc.id) }}">
                                <a class="btn btn-danger text-white"><i class="fas fa-trash"></i> Supprimer</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if doc.generalMeetingsSummons|length > 0 %}
        <div class="row">
            <div class="col">
                <div class="alert alert-warning">
                    <p>
                        <strong>Attention</strong> ce document est associé à la <em>convocation</em> d’une ou plusieurs
                        assemblées générales.
                    </p>
                    <ul class="mb-0">
                        {% for generalMeeting in doc.generalMeetingsSummons %}
                            <li>
                                <a class="alert-link" href="{{ path('general_meeting.show', {id: generalMeeting.id}) }}"
                                >Assemblée Générale
                                    {{ generalMeeting.type|trans([], 'forms') }} du
                                    {{ generalMeeting.datetime|date('d/m/Y') }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if doc.generalMeetingsReport|length > 0 %}
        <div class="row">
            <div class="col">
                <div class="alert alert-warning">
                    <p>
                        <strong>Attention</strong> ce document est associé au <em>compte rendu</em> d’une ou plusieurs
                        assemblées générales.
                    </p>
                    <ul class="mb-0">
                        {% for generalMeeting in doc.generalMeetingsReport %}
                            <li>
                                <a class="alert-link" href="{{ path('general_meeting.show', {id: generalMeeting.id}) }}"
                                >Assemblée Générale
                                    {{ generalMeeting.type|trans([], 'forms') }} du
                                    {{ generalMeeting.datetime|date('d/m/Y') }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {{ include('doc/_form_doc.html.twig', {button: 'Modifier'}) }}
{%  endblock %}

{% block javascripts %}
    <script defer>
        deleteAlert('#delete_form');
        document.getElementById('delete_form').classList.toggle('d-none');
    </script>
{% endblock %}
