{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card main-card bg-gradient-directional-blue">
                <div class="card-content">
                    <div class="media">
                        <div class="main-card-logo">
                            <i class="fa fa-{{ icon }}"></i>
                        </div>
                        <div class="media-body d-md-flex">
                            <div>
                                <h1>{{ title }}</h1>
                            </div>
                            {% if is_granted('ROLE_DOC_EDIT') %}
                                <div class="media-btn-group">
                                    <a href="{{ path('doc.new') }}" class="btn btn-success text-white"><i class="fas fa-file-upload"></i> Ajouter un document</a>
                                    <a href="{{ path('doc.folder.new') }}" class="btn btn-success text-white"><i class="fas fa-folder-plus"></i> Ajouter un dossier</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if is_granted('ROLE_DOC_EDIT') %}
                        <div class="row d-none" id="role_doc_edit_toolbar">
                            <div class="col-md-6">
                                <button id="showRef" class="btn btn-outline-info btn-sm">Afficher/masquer les références</button>
                                <button id="showTag" class="btn btn-outline-info btn-sm">Afficher/masquer les tags</button>
                                <button id="showAction" class="btn btn-outline-info btn-sm">Afficher/masquer les actions</button>
                            </div>
                            {% if form %}
                                <div class="col-md-6">
                                    {{ form_start(form) }}
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">{{ form_widget(form.tags) }}</div>
                                        <button class="ms-1 btn btn-info btn-sm">Filtrer</button>
                                    </div>
                                    {{  form_end(form) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <ul class="folder-root">
                        {% for tree in rootTree|sort((a, b) => a.folder.ref <=> b.folder.ref) %}
                            {{ include('doc/_folder_tree.html.twig', {root: true}) }}
                        {% else %}
                            <li><em>Vide</em></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script defer>
        document.getElementById('showRef').addEventListener('click', () => {
            document.querySelectorAll('.folder-root code').forEach((elem) => {
                elem.classList.toggle('d-none');
            });
        });

        document.getElementById('showAction').addEventListener('click', () => {
            document.querySelectorAll('.folder-root .doc-action').forEach((elem) => {
                elem.classList.toggle('d-none');
            });
        });

        document.getElementById('showTag').addEventListener('click', () => {
            document.querySelectorAll('.folder-root .doc-tag').forEach((elem) => {
                elem.classList.toggle('d-none');
            });
        });

        document.getElementById('role_doc_edit_toolbar').classList.toggle('d-none');
    </script>
{% endblock %}
